{% load i18n %} {% load video_filters static %} {% if elements.count >= 1 %}
<div class="pod-inner edito-carousel">
  <h2>{{ title |capfirst|truncatechars:43 }}</h2>
  <div id="carousel_{{ container.slug }}_{{ uniq_id }}" class="carousel slide" data-bs-ride="{% if auto_slide %}carousel{% else %}false{% endif %}">
    {% if elements.count > 1 %}
    <div class="carousel-indicators">
      {% for element in elements %} {% with video_number=forloop.counter0 %} {% if forloop.first %}
      <button
        type="button"
        data-bs-target="#carousel_{{ container.slug }}_{{ uniq_id }}"
        data-bs-slide-to="{{ video_number }}"
        class="active"
        aria-current="true"
        title="{% blocktrans %}Video {{ video_number }}{% endblocktrans %}"></button>
      {% else %}
      <button
        type="button"
        data-bs-target="#carousel_{{ container.slug }}_{{ uniq_id }}"
        data-bs-slide-to="{{ video_number }}"
        title="{% blocktrans %}Video {{ video_number }}{% endblocktrans %}"></button>
      {% endif %} {% endwith %} {% endfor %}
    </div>
    {% endif %}
    <div class="carousel-inner">
      {% for element in elements %} {% if forloop.first %}
      <div class="carousel-item active carrousel-video-{{ element.id }}">
        {% else %}
        <div class="carousel-item carrousel-video-{{ element.id }}">
          {% endif %}
          <a href="{{ element.get_absolute_url }}" title="{{ element.title }}">
            {% if type == "video" or type == 'last' %}
              <img
                src="{{ element.get_thumbnail_url }}"
                class="img-fluid d-block w-100"
                alt=""/>
            {% elif type == "event" %}
              {% if element.thumbnail %}
                <img
                  src="{{ element.get_thumbnail_card }}"
                  class="img-fluid d-block w-100"
                  alt=""/>
              {% elif element.broadcaster.poster %}
                <img
                  src="{{ element.broadcaster.get_poster_url }}"
                  class="img-fluid d-block w-100"
                  alt=""/>
              {% else %}
                <img
                  src="{{ element.get_thumbnail_card }}"
                  class="img-fluid d-block w-100"
                  alt=""/>
              {% endif %}
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
              <h3 class="video-title">
                {{ element.title|capfirst|truncatechars:43 }}
              </h3>
              <p class="video_desc mt-2 text-white">
                {{ element.description|metaformat|safe|striptags|truncatechars:250 }}
              </p>
              {% if type == "video" or type == "last" %}
              <small class="video-time text-muted time d-none d-md-block">{{ element.duration_in_time }}</small>
              {% endif %}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% if elements.count > 1 %}
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel_{{ container.slug }}_{{ uniq_id }}"
        data-bs-slide="prev"
        title="{% trans 'Previous thumbnail' %}">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel_{{ container.slug }}_{{ uniq_id }}"
        data-bs-slide="next"
        title="{% trans 'Next thumbnail' %}">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
      {% endif %}
    </div>
    {% if type == "last" %}
    <div class="highlight">
      <div class="d-flex justify-content-end mt-2">
        <p>
          <a class="btn btn-lg btn-primary btn-sm"
            href="{% url 'videos:videos' %}">{% trans "Show all videos" %}&nbsp;<i class="bi bi-arrow-right-circle"
              aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
