"""
Esup-Pod - Completion Configuration.

Use this file to customize the completion behavior of your Pod instance.
Values defined here override the default values.

To enable an option, uncomment the line and change the value.
The configuration prefix (e.g., POD_ or COMPLETION_), previously required in older versions, is no longer necessary.
"""