{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'live:directs_all' %}">{% trans "Lives" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
{% endblock %}

{% block main_page_title %}
  <h1 class="page_title">
    <i class="bi bi-broadcast" aria-hidden="true"></i>&nbsp;{{page_title|capfirst}}
  </h1>
{% endblock main_page_title %}

{% block page_content %}
  {% if building.headband %}
    <img class="rounded mx-auto d-block img-fluid img-responsive img-thumbnail" src="{{building.get_headband_url}}" alt="{{building.name}}" loading="lazy">
  {% endif %}

  <div class="row">
    {% for broadcaster in building.broadcaster_set.all %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="card pod-card">
          <div class="card-body" style="height:24em">
            <iframe class="w-100 h-100" title="{{broadcaster.name}}" loading="lazy"
              src="{% url 'live:direct' slug=broadcaster.slug %}?is_iframe=true"></iframe>
          </div>
          <div class="card-footer">
            <h2 class="h5 card-title pod-card__title"><a href="{% url 'live:direct' slug=broadcaster.slug %}" target="_blank">{{broadcaster.name}}</a></h2>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="alert alert-info" role="alert">{% trans "Sorry, no lives found." %}</p>
    {% endfor %}
  </div>
{% endblock page_content %}
