{% extends 'base.html' %}
{% load i18n event_tags %}
{% load static %}

{% block page_extra_head %}
    {% include 'videos/video-header.html' %}
    {% if broadcaster.enable_viewer_count %}
        <script>let heartbeat_delay = {{ heartbeat_delay }}</script>
        <script src="{% static 'js/viewcounter.js' %}?ver={{ VERSION }}"></script>
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'live:directs_all' %}">{% trans "Lives" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ broadcaster.name }}</li>
{% endblock %}

{% block page_title %}{% trans "Live" %} {{broadcaster.name}}{% endblock %}

{% block page_content %}
  {% csrf_token %}

  {% if form %}
    {% include 'live/event-form.html' %}
  {% else %}
      <h3 id="livename" data-broadcasterid={{ broadcaster.id }}><i
              class="bi bi-cast pe-2"></i> {% trans "Live" %} {{ broadcaster.name }}</h3>

      {% if display_event_btn %}
          <div class="d-flex infinite-container mb-2" id="event_add">
              <a class="btn btn-primary"
                 href="{% url 'live:event_edit' %}?broadcaster_id={{ broadcaster.id }}&building_id={{ broadcaster.building.id }}"
                 title="{% trans 'Plan an event' %}">
                  <i class="bi bi-plus pod-add" aria-hidden="true"></i>
                  <span>{% trans "Plan an event" %}</span>
              </a>
          </div>
      {% endif %}

      <div class="row">
          <div class="col">
              <video id="podvideoplayer"
                     class="video-js vjs-default-skin{% if request.GET.is_iframe %} vjs-16-9{% endif %} vjs-big-play-centered"
                     controls height="360" poster="{{ broadcaster.get_poster_url }}" muted autoplay>
                  <source src="{{ broadcaster.url }}" type="application/x-mpegURL">
              </video>

          </div>
      </div>
      <div id="viewers-list">
          <ul id="viewers-ul"></ul>
      </div>

      <p>{{ broadcaster.description|safe }}</p>

      {% if display_chat %}
          {% include "bbb/bbb_form.html" %}
      {% endif %}

      <div id="info-video" style="display:none" class="pod-info-video">
          <button type="button" class="btn-close" aria-label="{% trans 'Close' %}"></button>
      </div>
      {% if broadcaster.is_recording %}
          <div class="card text-white bg-danger mb-3">
              <div class="card-body">
                  <i class="bi bi-exclamation-octagon" aria-hidden="true"></i>{% blocktrans %}Recording in progress{% endblocktrans %}
              </div>
          </div>
      {% else %}
          <div class="card  mb-3">
              <div class="card-body">
                  {% blocktrans %}No recording in progress{% endblocktrans %}
              </div>
          </div>
      {% endif %}

      {% get_next_events broadcaster.id 8 as NEXT_EVENTS %}

      {% if NEXT_EVENTS %}
          <div id="last_videos">
              <h3>{% trans "Next events" %}</h3>
              {% include "live/events_list.html" with events=NEXT_EVENTS %}
          </div>
      {% endif %}
  {% endif %}

{% endblock page_content %}

<!--Bloc aside-->
{% block page_aside %}
    {% if request.user.is_superuser %}
        <div class="card" id="card-managevideo">
            <h2 class="card-header card-title pod-card__title h4">
                <i class="bi bi-gear" aria-hidden="true"></i>{% trans "Manage broadcaster" %}
            </h2>
            <div class="card-body card-text text-center">
                <a href="{% url 'admin:live_broadcaster_change' broadcaster.id %}" title="{% trans 'Edit' %}"
                   class="btn pod-btn-social p1 m-0 ms-1">
                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    {% endif %}

    <div class="card card-body p-2 mt-1" id="card-livebuilding">
        <h2 class="card-title pod-card__title h4">
            <i class="bi bi-broadcast" aria-hidden="true"></i>
            <span class="ms-1 broadcaster-name">
                {{ broadcaster.building.name }}
            </span>
        </h2>
    </div>

    <div class="card-text">
        {% if broadcaster.building.headband %}
            <p class="card-text broadcaster-headband">
                <img src="{{ broadcaster.building.headband.file.url }}"
                     alt="{% trans 'Headband' %} {{ broadcaster.building.name }}"
                     class="rounded mx-auto d-block img-fluid img-responsive img-thumbnail"
                     loading="lazy">
            </p>
        {% endif %}
        {% for otherbroadcaster in broadcaster.building.broadcaster_set.all %}
            {% if otherbroadcaster != broadcaster and otherbroadcaster.public %}
                <p class="card-text broadcaster-status">
                    {% if otherbroadcaster.status %}
                        <a href="{% url 'live:direct' slug=otherbroadcaster.slug %}" class="live_on">
                            <i class="bi bi-cast pe-2" aria-hidden="true"></i>
                            {{ otherbroadcaster.name }}
                        </a>
                    {% else %}
                        <span class="live_off">
                          <i class="bi bi-cast pe-2" aria-hidden="true"></i>
                          {{ otherbroadcaster.name }} ({% trans "no broadcast in progress" %})
                        </span>
                    {% endif %}
                </p>
            {% endif %}
        {% empty %}
            <p class="card-text not-found">{% trans "Sorry, no lives found." %}</p>
        {% endfor %}

        {% if broadcaster.building.gmapurl %}
            <p class="card-text">
                <small class="text-muted">
                    <a href='{{ broadcaster.building.gmapurl }}' title="{% trans 'access map' %}" target="_blank">
                        <i class="bi bi-gear pe-2" aria-hidden="true"></i>
                        <span class="access-map">{% trans "access map" %}</span>
                    </a>
                </small>
            </p>
        {% endif %}
    </div>

    {% include 'aside.html' %}
{% endblock page_aside %}

{% block more_script %}
<script>
  // Debug if necessary, depends on the settings_local
  {% if debug %}
    var debug = true;
  {% else %}
    var debug = false;
  {% endif %}
  // Live started
  var started = false;
  // Number of loop until we are sure the live is stopped
  // See video state (cf. https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/readyState)
  var nbLoop = 0;
  // Live seems stopped
  var stopped = false;

  //videojs.options.flash.swf = "video-js.swf"
  var options = {
    notSupportedMessage: "{% trans 'Please use different browser' %} (Mozilla Firefox, Google Chrome, Safari, Microsoft Edge)",
    language: "fr", //en or nl
    {% if request.GET.is_iframe %}
      fluid: false,
    {% else %}
      fluid: true,
    {% endif %}
    playbackRates: [0.5, 1, 1.5, 2],
    errorDisplay: false,
    loop: false
  }

  // Management of the end of the stream (for Firefox, Chrome... not working for Edge, Safari)
  videojs.Hls.xhr.beforeRequest = function(options) {
    // Reset counter if video state is ok
    if (started && player.readyState() > 2) { nbLoop = 0; }
    if (started && player.readyState() <= 2) {
      // Check if .m3u8 exists, to be sure that live is stopped
      $.ajax({ url: '{{broadcaster.url}}',
        type: 'GET',
        crossDomain: true,
        dataType: 'html',
        success: function(html, status){
          stopped = false;
        },
        error: function(result, status, error){
          stopped = true;
        },
        complete: function(result, status){
        }
      });
      if (stopped) {
        nbLoop = nbLoop + 1;
        // We're waiting a bit to make sure it's not a network / data flow issue...
        if (debug) { console.info("The streaming live stopped? Video state: " + player.readyState() + ". It's been " + nbLoop + " times that there is no more video stream. After 4 times, we stop."); }
        if (nbLoop > 3) {
          // Display of a message of end of live and reload of the page in 9 seconds
          let modal = player.createModal('{% trans "Thank you for watching this streaming live with us. The page will reload automatically within a few seconds to display the video on hold." %}');
          setTimeout(function(){ location.reload(); }, 9000);
        }
      }
    }
    return options;
  }

  // Management of the streaming live
  var player = videojs('podvideoplayer', options, function(){});

  {% if broadcaster.enable_viewer_count%}
  player.videoJsViewerCount();
  {% endif %}
  player.videoJsLogo({
    imgsrc: '{% static LOGO_PLAYER %}',
    linktitle: '{{ TITLE_SITE }} - {% if LINK_PLAYER_NAME %}{{ LINK_PLAYER_NAME }}{% else %}{% trans "Home" %}{% endif %} - {% trans "New window" %}',
    link: '{{ LINK_PLAYER }}'
  });
  player.on('error', function() {
    // Handle successives errors to avoid multiple reload
    if (typeof(errored) == 'undefined' || !errored) {
    var errored = true;
    let modal = player.createModal('{% trans "Live not found, retry in 10 seconds" %}');
    setTimeout(function() {
      errored = false;
      modal.close();
      player.src({
      src: player.currentSrc(),
      type: player.currentType(),
      overrideNative: true
      });
    }, 10000)
    }
  })


  // Fire this event when live started
  player.on('loadedmetadata', function() {
    if(debug) { console.info("Streaming live starts."); }
    // Display the streaming live
    started = true;
    if ($("#divvideoonhold")) { $("#divvideoonhold").html("");}
    if ($("#divvideoplayer")) { $("#divvideoplayer").css("display", "block"); }
  })
</script>
{% if display_chat %}
  <script>
  // Send question for BBB live
  $(document).ready(function () {
    $('.send-message').click(function (e) {
    e.preventDefault();
    var message = $('#message').val();
    $.ajax
    ({
      type: "GET",
      url: "{% url 'bbb:live_publish_chat' id=broadcaster.id %}",
      data: { "message": message },
      success: function (data) {
      $('#live_bbb_chat_form')[0].reset();
      if (data.is_sent) {
         // message_sent
        displayReturnMessage("info", data.message_return);
      }
      else {
        // error_no_broadcaster_found: Message not sent: no broadcaster found
        // error_no_connection: Message not sent: no connection to REDIS
        displayReturnMessage("error", data.message_return);
      }
      }
    });
    });
  });
  function displayReturnMessage(level, returnCode) {
    let returnMessage = "";
    if (level == "info"){
    $("#message_return").attr('class', 'alert alert-info');
    } else {
    $("#message_return").attr('class', 'alert alert-warning');
    }
    if (returnCode == "message_sent") { returnMessage = "{% trans 'Message sent' %}";}
    if (returnCode == "error_no_broadcaster_found") { returnMessage = "{% trans 'Message not sent: no broadcaster found' %}";}
    if (returnCode == "error_no_connection") { returnMessage = "{% trans 'Message not sent: connection problem (REDIS)' %}";}
    $("#message_return").html(returnMessage);
    $("#message_return").show("slow").delay(3000).hide("slow");
  }
  </script>
{% endif %}

{% endblock more_script %}
