{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}
<script>
window.setInterval("location.reload(true)",30000);
</script>
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{% trans "Lives" %}</li>
{% endblock %}

{% block page_title %}{% trans "Lives" %}{% endblock %}

{% block page_content %}
<h3><i class="bi bi-broadcast" aria-hidden="true"></i>&nbsp;{% trans "Lives" %}</h3>
<div class="row">

{% for building in buildings %}
  <div class="card-group col-12 col-md-6 col-lg-3 mb-2 pod-card-group">
    <div class="card mb-4 box-shadow pod-card">
      <img class="card-img-top" src="{{building.get_headband_url}}" alt="{{building.name}}" loading="lazy">
      <div class="card-body">
        <h5 class="card-title pod-card__title">
          <span class="building-name">
            {{building.name}}
          </span>
          <a href="{% url 'live:directs' building_id=building.id %}"><i class="bi bi-eye" aria-hidden="true"></i></a>
        </h5>
        <div class="card-text">
          {% for broadcaster in building.broadcaster_set.all %}
            <p class="card-text-item">
              {% if broadcaster.status %}<a href="{% url 'live:direct' slug=broadcaster.slug %}" class="live_on"><i class="bi bi-lock" aria-hidden="true"></i>&nbsp;{{broadcaster.name}} </a>
              {% else %}<span class="live_off"><i class="bi bi-cast" aria-hidden="true"></i>&nbsp;{{broadcaster.name}} ({% trans "no broadcast in progress" %})</span>{% endif %}
            </p>
          {% empty %}
            <p class="card-text-item">{% trans "Sorry, no lives found." %}</p>
          {% endfor %}
        </div>
        {% if building.gmapurl %}
          <p class="card-text building-gmapurl"><small class="text-muted"><a href='{{building.gmapurl}}' title="{% trans 'access map' %}" target="_blank"><i class="bi bi-geo-alt" aria-hidden="true"></i> <span class="ms-1 access-map">
            {% trans "access map" %}
          </span></a></small></p>
        {% endif %}
      </div>
    </div>
  </div>
{% empty %}
  <p class="not-found">{% trans "Sorry, no buildings found." %}</p>
{% endfor %}

</div>
{% endblock page_content %}
