{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block more_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{ VERSION }}">
  <style>
    .select2-container {
      display: block !important;
    }
  </style>
{% endblock %}
{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'live:my_events' %}">{% trans 'My events' %}</a></li>
  {% if form.instance.title and form.instance.slug != '' %}
    <li class="breadcrumb-item">
      <a href="{% url 'live:event' slug=form.instance.slug %}"
         title="{{ form.instance.title }}">{{ form.instance.title|title|truncatechars:45 }}</a>
    </li>
  {% endif %}
  <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
{% endblock %}

{% block collapse_page_aside %}
  {% if access_not_allowed != True %}
    {{block.super}}
  {% endif %}
{% endblock collapse_page_aside %}

{% block page_content %}

  {% if access_not_allowed == True %}
    <p class="text-info-emphasis">
      <i class="bi bi-info-circle" aria-hidden="true"></i>&nbsp;{% trans "Access to adding event has been restricted. If you want to add events on the platform, please" %}
      <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
    </p>
  {% else %}

    {% if form.instance.slug and form.instance.slug != '' %}
      <form action="{% url 'live:event_edit' slug=form.instance.slug %}"
            method="post" class='needs-validation' novalidate>
    {% else %}
      <form action="{% url 'live:event_edit' %}"
            method="post" class='needs-validation' novalidate>
    {% endif %}

    {% csrf_token %}
    {% if form.instance.slug and form.instance.slug != '' and form.instance.is_current %}
      <div class="alert alert-warning" role="alert">
        {% trans "The event is currently in progress. Editing options are limited." %}
      </div>
    {% endif %}
    <div class="list-group">
      {% if form.errors %}
        <div class="text-danger">
          {% trans "One or more errors have been found in the form." %}
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% for field_hidden in form.hidden_fields %}
        {{field_hidden}}
      {% endfor %}
      {% for fieldset in form.fieldsets %}
        {% with last=fieldset|last %}
          {% if "collapse" in last.classes %}
            <div class="mb-3">
                <a class="btn btn-link" data-bs-toggle="collapse" href="#event_form_{{fieldset|first}}{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="">
                    {% trans "Advanced options" %} &nbsp;<i class="bi bi-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
          {% endif %}
          <fieldset class="{{ last.classes }} " id="event_form_{{fieldset|first}}{{forloop.counter}}" >
            {% if last.legend %}
              <legend>{{ last.legend }}</legend>
            {% endif %}
            {% for field in form.visible_fields %}
              {% if field.name in last.fields %}
                {% spaceless %}
                <div class="mb-3 field_{{ field.name }}
                  {% with 'password is_restricted' as res %}{% if field.name in res.split %} collapse draft_access hide{% endif %}{% endwith %}
                  {% with 'restrict_access_to_groups' as res %}{% if field.name in res.split %} collapse groups_access hide{% endif %}{% endwith %}"
                >
                  <div class="list-group-item" >
                    <div class="form-group {% if field.field.required %}form-group-required {% endif %}">
                      {{ field.errors }}
                      {% if "form-check-input" in field.field.widget.attrs.class %}
                        <div class="form-check">
                          {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                        </div>
                      {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                      {% endif %}
                      {% if field.help_text %}
                        <small id="{{ field.id_for_label }}Help"
                          class="form-text">{{ field.help_text|safe }}</small>
                      {% endif %}
                      {% if field.field.required %}
                        <div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endspaceless %}
              {% endif %}
            {% endfor %}
          </fieldset>
        {% endwith %}
      {% endfor %}
    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
    </div>

    </form>
  {% endif %}
{% endblock page_content %}

{% block page_aside %}
  {% if access_not_allowed != True %}
    {% if form.instance.title  and form.instance.slug != '' %}
      <div class="card mt-1" id="card-managevideo">
        <h2 class="h4 card-header card-title pl-2"><i class="bi bi-gear" aria-hidden="true"></i>&nbsp;{% trans "Manage event" %}
        </h2>
        <div class="card-body card-text text-center">
          {% if event.owner == request.user or request.user.is_superuser %}
            <a href="{% url 'live:event_edit' slug=form.instance.slug %}" title="{% trans 'Edit the event' %}"
               class="btn pod-btn-social p-1 m-0 ms-1">
                <i class="bi bi-pencil-square" aria-hidden="true"></i>
            </a>
          {% endif %}
          <a href="{% url 'live:event_delete' slug=form.instance.slug %}"
             class="btn pod-btn-social p-1 m-0 ms-1"
             title="{% trans 'Delete the event' %}">
              <i class="bi bi-trash" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    {% endif %}
    <div class="card mt-1" id="card-sharedraftversion">
      <h2 class="h4 card-header card-title pl-2">{% trans "Event planning" %}</h2>
      <div class="card-body card-text">
        <p>{% trans "You can schedule a live event by selecting a building and a room or recording device." %}</p>
        <p>{% trans "You will then need to specify a date, a start time and an end time." %}</p>
        <p>{% trans "Please note that 2 events cannot be scheduled in the same room simultaneously." %}<p>
        <p>{% trans "Finally, remember to provide as precise a description as possible." %}<p>
      </div>
    </div>
    <div class="card mt-1" id="card-mandatoryfields">
      <h2 class="h4 card-header card-title pl-2">{% trans "Mandatory fields" %}</h2>
      <div class="card-body card-text">
          <p>
            <span class="required_star">*</span>
            {% trans "Fields marked with an asterisk are mandatory." %}
          </p>
        </div>
    </div>
  {% endif %}
{% endblock page_aside %}

{% block more_script %}
  <script src="/admin/jsi18n/"></script>
  <script src="{% static 'admin/js/core.js' %}?ver={{ VERSION }}"></script>
  <script src="{% static 'js/broadcaster_from_building.js' %}?ver={{ VERSION }}"></script>

  {{ form.media }}

  <script>

    if (document.getElementById("event_is_draft")){
      document.getElementById("event_is_draft").addEventListener("click", () => showRestrictions());
    }
    if (document.getElementById("event_is_restricted")){
      document.getElementById("event_is_restricted").addEventListener("click", () => showGroups());
    }
    {# fields selectable only if not draft #}
    let showRestrictions = () => {
      document.querySelectorAll(".draft_access, .groups_access").forEach((draft_access) => {
        if (document.getElementById("event_is_draft").checked) {
          draft_access.classList.remove("show");
          draft_access.classList.add("hide");
        } else {
          draft_access.classList.remove("hide")
          draft_access.classList.add("show");
          showGroups();
        }
      })

    };

    {# groups field available only if restricted #}
    let showGroups = () => {
     document.querySelectorAll(".groups_access").forEach((gp_access) => {
        if (document.getElementById("event_is_restricted").checked) {
          gp_access.classList.remove("hide");
          gp_access.classList.add("show");
        } else {
          gp_access.classList.remove("show");
          gp_access.classList.add("hide");
        }
      })

    };

    document.addEventListener("DOMContentLoaded",function () {
      DateTimeShortcuts.overrideTimeOptions = function () {
        var clockCount = 0;
        document.querySelectorAll('.clockbox').forEach( (e) => {
          var $this = e;
          console.log('clockbox');
          $this.querySelector('h2').remove();
        });
        document.querySelectorAll('ul.timelist').forEach( (e) => {
          var $this = e;
          var originalHref = $this.querySelector('a').getAttribute('href');
          console.log(originalHref);
          $this.querySelector('li').remove();
          for (i=8; i <= 20; i++) {
            var newLink = '<li><a href="javascript:DateTimeShortcuts.handleClockQuicklink('+ clockCount + ', ' + i
                + ');"> ' + i + ':00</a></li>';
            // Plan B : forcer le format au lieu de changer TIME_INPUT_FORMATS dans settings.py
            // var newLink = '<li><a href="javascript:settime('+ clockCount + ', ' + i
            //    + ');"> ' + i + ':00</a></li>';
            $this.append(newLink);
          }

          clockCount++;
        });
      };
      DateTimeShortcuts.overrideTimeOptions();

    });

  </script>

{% endblock more_script %}
