{% load i18n %}

<div class="video-info_duration-view-share">
  <div class="pod-info-video__view">
    <i class="bi bi-eye" aria-hidden="true"></i> {% trans 'Number of views' %}
   {{ event.max_viewers }}
  </div>
    <div class="pod-info-video__buttons">
     {% if event.is_draft == False or event.owner == request.user or request.user in event.additional_owners.all or request.user.is_superuser %}
        <button type="button" class="btn btn-link btn-lg pod-btn-share" data-bs-toggle="modal" data-bs-target="#share">
          <i class="bi bi-share" aria-hidden="true"></i><span class="visually-hidden">{% trans 'Embed/Share' %}</span>
        </button>
      {% endif %}
  </div>
</div>

{% include 'live/event-info.html' %}
