{% load i18n event_tags %}

{% get_next_events as NEXT_EVENTS %}

{% if NEXT_EVENTS %}
  <div  id="last_videos">
    <h3>{% trans "Next events" %}</h3>
    {% include "live/events_list.html" with events=NEXT_EVENTS hide_counter=True %}

    <div class="highlight">
      <div class="d-flex justify-content-end">
        <p><a class="btn btn-primary btn-sm" href="{% url 'live:events' %}"
              role="button">{% trans "Show all events" %} &raquo;</a></p>
      </div>
    </div>
  </div>
{% endif %}
