{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block more_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{ VERSION }}"/>
{% endblock %}
{% block breadcrumbs %}{{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'live:my_events' %}">{% trans 'My events' %}</a></li>
    {% if form.instance.title and form.instance.slug != '' %}
        <li class="breadcrumb-item"><a href="{% url 'live:event' slug=form.instance.slug %}"
                                       title="{{ form.instance.title }}">{{ form.instance.title|title|truncatechars:45 }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Editing the event" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Plan an event" %}</li>
    {% endif %}
{% endblock %}

{% block page_title %}{% if form.instance.title %}{% trans "Editing the event" %} "{{ form.instance.title }}"{% else %}
    {% trans "Plan an event" %}{% endif %}{% endblock %}

{% block collapse_page_aside %}
  {% if access_not_allowed == True %}

  {% else %}
    {{block.super}}
  {% endif %}
{% endblock collapse_page_aside %}

{% block page_content %}
    <h3>
        {% if form.instance.slug and form.instance.slug != '' %}
            {% trans "Editing the event" %}
        {% else %}
            {% trans "Plan an event" %}
        {% endif %}
    </h3>

    {% if access_not_allowed == True %}
        <p class="text-info">
            <i data-feather="info"></i>&nbsp;{% trans "Access to adding event has been restricted. If you want to add events on the platform, please" %}
            <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
        </p>
    {% else %}
        {% if form.instance.slug and form.instance.slug != '' %}
            <form action="{% url 'live:event_edit' slug=form.instance.slug %}"
                  method="post" class='needs-validation' novalidate>
        {% else %}
            <form action="{% url 'live:event_edit' %}"
                  method="post" class='needs-validation' novalidate>
        {% endif %}
        {% csrf_token %}
        {% if form.instance.slug and form.instance.slug != '' and form.instance.is_current %}
            <div class="alert alert-warning" role="alert">
                {% trans "The event is currently in progress. Editing options are limited." %}
            </div>
        {% endif %}

        {% for field_hidden in form.hidden_fields %}
            {{field_hidden}}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% spaceless %}
                <div class="field_{{ field.name }} {% with 'description owner additional_owners type is_draft is_auto_start is_restricted thumbnail' as res %}{% if field.name in res.split %}collapse advanced_options{% endif %}{% endwith %}">
                    <div class="form-group {% if field.field.required %}form-group-required {% endif %}">
                        {{ field.errors }}
                        {% if "form-check-input" in field.field.widget.attrs.class %}
                            <div class="form-check">
                                {{ field }} <label for="{{ field.id_for_label }}"
                                                   class="form-check-label">{{ field.label }}</label>
                            </div>
                        {% else %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        {% endif %}

                        {% if field.help_text %}
                            <small id="{{ field.id_for_label }}Help"
                                   class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% if field.field.required %}
                            <div class="invalid-feedback">{% trans "Please provide a valid value for this field" %}.</div>
                        {% endif %}
                    </div>
                </div>
            {% endspaceless %}
        {% endfor %}
        <button type="button" class="btn btn-primary btn-sm m-1"
            id="display_advanced_options" data-display="0">{% trans "Display advanced options" %}</button>
        <div class="text-center mt-1">
            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </div>

        </form>
    {% endif %}
{% endblock %}

{% block page_aside %}
    {% if access_not_allowed == True %}
    {% else %}
        {% if form.instance.title  and form.instance.slug != '' %}
            <div class="card mt-1" id="card-managevideo">
                <h5 class="card-header card-title pl-2"><i data-feather="settings"></i>&nbsp;{% trans "Manage event" %}
                </h5>
                <div class="card-body card-text text-center">
                    {% if event.owner == request.user or request.user.is_superuser %}
                        <a href="{% url 'live:event_edit' slug=form.instance.slug %}" title="{% trans "Edit the event" %}"
                           class="btn btn-light btn-sm p-0 pb-1 m-0 ml-1">
                            <i data-feather="edit"></i>
                        </a>
                    {% endif %}
                    <a href="{% url 'live:event_delete' slug=form.instance.slug %}"
                       class="btn btn-light btn-sm p-0 pb-1 m-0 ml-1"
                       title="{% trans "Delete the event" %}">
                        <i data-feather="trash-2"></i>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="card mt-1" id="card-sharedraftversion">
            <h5 class="card-header card-title pl-2">{% trans "Event planning" %}</h5>
            <div class="card-body card-text">
                <p>{% trans "You can schedule a live event by selecting a building and a room or recording device." %}</p>
                <p>{% trans "You will then need to specify a date, a start time and an end time." %}</p>
                <p>{% trans "Please note that 2 events cannot be scheduled in the same room simultaneously." %}<p>
                <p>{% trans "Finally, remember to provide as precise a description as possible." %}<p>
            </div>
        </div>
        <div class="card mt-1" id="card-mandatoryfields">
            <h5 class="card-header card-title pl-2">{% trans "Mandatory fields" %}</h5>
            <div class="card-body card-text">
                <p>{% trans "Fields marked with an asterisk are mandatory." %}</p>
            </div>
        </div>
    {% endif %}
{% endblock page_aside %}


{% block more_script %}
    <script src="/admin/jsi18n/"></script>
    <script src="{% static 'admin/js/core.js' %}?ver={{ VERSION }}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}?ver={{ VERSION }}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}?ver={{ VERSION }}"></script>
    <script src="{% static 'js/broadcaster_from_building.js' %}?ver={{ VERSION }}"></script>

    {{ form.media }}

    <script>
        $("#display_advanced_options").on("click",function(){
            if ($(this).data("display")){
                $(".advanced_options").addClass("collapse");
                $(this).text("{% trans 'Display advanced options' %}");
                $(this).data("display", 0)
            } else {
                $(".advanced_options").removeClass("collapse");
                $(this).text("{% trans 'Hide advanced options' %}");
                $(this).data("display", 1)
            }
        })
        $('document').ready(function () {
            DateTimeShortcuts.overrideTimeOptions = function () {
                var clockCount = 0;
                $('.clockbox').each(function () {
                    var $this = $(this);
                    console.log('clockbox');
                     $this.find('h2').remove();
                });
                $('ul.timelist').each(function () {
                    var $this = $(this);
                    var originalHref = $this.find('a').attr('href');
                    console.log(originalHref);
                    $this.find('li').remove();
                    for (i=8; i <= 20; i++) {
                        var newLink = '<li><a href="javascript:DateTimeShortcuts.handleClockQuicklink('+ clockCount + ', ' + i
                            + ');"> ' + i + ':00</a></li>';
                        // Plan B : forcer le format au lieu de changer TIME_INPUT_FORMATS dans settings.py
                        // var newLink = '<li><a href="javascript:settime('+ clockCount + ', ' + i
                        //    + ');"> ' + i + ':00</a></li>';
                        $this.append(newLink);
                    }

                    clockCount++;
            });
        };
        DateTimeShortcuts.overrideTimeOptions();
    });
    {% comment %}function settime(num, val) {
      var d;
      if (val == -1) {
          d = DateTimeShortcuts.now();
       }
       else {
           d = new Date(1970, 1, 1, val, 0, 0, 0)
       }
       DateTimeShortcuts.clockInputs[num].value = d.strftime("%H:%M");
       DateTimeShortcuts.clockInputs[num].focus();
       DateTimeShortcuts.dismissClock(num);
    }{% endcomment %}
    </script>

{% endblock more_script %}