{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block page_extra_head %}
{% include 'videos/video-header.html' %}
{% if event.broadcaster.enable_viewer_count %}
    <script>let heartbeat_delay = {{ heartbeat_delay }}</script>
    <script src="{% static 'js/viewcounter.js' %}?ver={{ VERSION }}"></script>
{% endif %}
{% endblock %}

{% block breadcrumbs %}{{ block.super }}

    <li class="breadcrumb-item">
    {% if event.owner == request.user or request.user in event.additional_owners.all  %}
        <a href="{% url 'live:my_events' %}">{% trans 'My events' %}</a>
    {% else %}
        <a href="{% url 'live:events' %}">{% trans 'Events' %}</a>
    {% endif %}
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'live:event' slug=event.slug %}" title="{{ event.title }}">{{ event.title|title|truncatechars:45 }}</a>
    </li>

{% endblock %}

{% block page_title %}{{ event.title|title|truncatechars:45 }}{% endblock %}

{% block page_content %}
    {% csrf_token %}
    <h3 id="livename" data-liveid="{{ event.broadcaster.id }}"><i class="bi bi-cast" aria-hidden="true"></i>&nbsp;{{ event.title|title }}</h3>

    {% if form %}
      {% include 'live/event-form.html' %}
    {% else %}
        {% if event.is_past %}
            <div class="p-3 mb-2 bg-warning text-dark">
                {% trans "Event is finished at:" %} {{ event.end_date }}
                <br>
            </div>
        {% elif event.is_coming %}
            <div class="p-3 mb-2 bg-warning text-dark">
                {% trans "The event is scheduled from:" %} {{ event.start_date }} {% trans 'to' %} {{ event.end_date }}
            </div>
        {% endif %}

        {# video d'attente #}
        {% if event.broadcaster.video_on_hold.is_video and not event.is_past %}
            <div id="divvideoonhold" style="display: none;">
                <video id="podvideoonholdplayer"
                       class="video-js vjs-default-skin vjs-big-play-centered"
                       controls height="360" muted autoplay>
                </video>
            </div>
        {% else %}
            <div id="divvideoonhold" style="display: none;">
                <video id="podvideoonholdplayer"></video>
            </div>
        {% endif %}

        {% if event.is_current %}
            <div id="divvideoplayer" style="display: none;">
                <div class="row">
                    <div class="col">
                        <video id="podvideoplayer"
                               class="video-js vjs-default-skin vjs-big-play-centered"
                               controls height="360" muted autoplay>
                            <source src="{{ event.broadcaster.url }}" type="application/x-mpegURL">
                        </video>
                    </div>
                    {% if event.aside_iframe_url %}
                        <div class="col">
                            <iframe id="inlineFrameExample" style="padding: 0; margin: 0; border:0; width: 100%;"
                                    title="Inline Frame Example" loading="lazy"
                                    height="100%"
                                    src="{{ event.aside_iframe_url }}">
                            </iframe>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if event.iframe_url != "" and event.iframe_url != None %}
                <iframe id="inlineFrameExample" style="padding: 0; margin: 0; border:0; width: 100%;"
                        title="Inline Frame Example" loading="lazy"
                        height="{{ event.iframe_height }}"
                        src="{{ event.iframe_url }}">
                </iframe>
            {% endif %}

            <div id="recordingduration"></div>
            {% if need_piloting_buttons %}
                <div id="control">
                    <button type="button" class="btn btn-primary btn-sm m-1 d-none"
                            id="startrecord">{% trans "Start record" %}</button>
                    <button type="button" class="btn btn-primary btn-sm m-1 d-none"
                            id="stoprecord">{% trans "Stop record" %}</button>
                    <button type="button" class="btn btn-primary btn-sm m-1 d-none"
                            id="splitrecord">{% trans "Split record" %}</button>
                </div>
            {% endif %}

            {% if USE_BBB and USE_BBB_LIVE and display_chat %}
                {% include "bbb/bbb_form.html" %}
            {% endif %}

            <div id="info-video" style="display:none">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="viewers-list"><ul id="viewers-ul"></ul></div>

        {% else %}
            <div id="divvideoplayer" style="display: none;">
                <video id="podvideoplayer"></video>
            </div>
        {% endif %}

        {% if not request.GET.is_iframe %}
            <div id="list_videos_of_event" {% if event.videos.count == 0 %} class="d-none" {% endif %}>
                <div class="pl-0" id="event_videos">
                    <h4>{% trans "Current event videos" %}</h4>
                    <div id="event_videos_list"></div>
                </div>
            </div>

            <div id="info-video">{% include 'live/event-all-info.html' %}</div>
        {% endif %}

    {% endif %}

{% endblock %}

{% if not request.GET.is_iframe %}
    {% block page_aside %}

        {% include 'aside.html' with HIDE_DISCIPLINES=True HIDE_TAGS=True %}

        {% if event.owner == request.user or request.user in event.additional_owners.all or request.user.is_superuser or perms.live.delete_event or perms.live.change_event %}
            <div class="card mt-1" id="card-managevideo">
                <h2 class="h4 card-header card-title pl-2"><i class="bi bi-gear"></i>&nbsp;{% trans "Manage event" %}
                </h2>
                <div class="card-body card-text text-center">
                    <a href="{% url 'live:event_edit' slug=event.slug %}" title="{% trans 'Edit the event' %}"
                       class="btn btn-light btn-sm p-0 pb-1 m-0 ml-1">
                       <i class="bi bi-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'live:event_delete' slug=event.slug %}"
                       class="btn btn-light btn-sm p-0 pb-1 m-0 ml-1"
                       title="{% trans 'Delete the event' %}">
                       <i class="bi bi-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        {% endif %}

    {% endblock page_aside %}
{% endif %}

{% block more_script %}
{% include 'live/event-script.html' %}
{% endblock more_script %}