{% load i18n %}
{% load static %}
{% load tagging_tags %}
{% load thumbnail %}

<div class="tab-content w-100" id="video-meta">
  {% if event.description %}
    <div class="tab-pane fade active show" id="summary" role="tabpanel" aria-labelledby="summary-tab">
      <h2 class="tab-title"><i class="bi bi-justify" aria-hidden="true"></i>&nbsp;{% trans 'Summary' %}</h2>
      <hr>
      <p>{{ event.description|safe }}</p>
    </div>
  {% endif %}

  <div id="info" role="tabpanel" aria-labelledby="info-tab"
    {% if not event.description %}
      class="tab-pane fade active show pod-live-info"
    {% else %}
      class="tab-pane fade"
    {% endif %}
  >

    <!-- <hr> -->
    <ul class="list-inline d-flex flex-wrap">
      <li class="col-6 col-md-4">
        <h3 class="meta-title">{% trans 'Broadcasted on:' %}</h3>
        <div>
          {% if event.start_date__date == event.end_date__date %}
            {% blocktrans with start_date=event.start_date|date:"d/m/Y" start_time=event.start_date|time:"H:i" end_time=event.end_date|time:"H:i" %}{{start_date}} from {{start_time}} to {{end_time}}{% endblocktrans %}
          {% else %}
            {% blocktrans with start_date=event.start_date end_date=event.end_date %}{{start_date}} to {{end_date}}{% endblocktrans %}
          {% endif %}
        </div>
      </li>
      <li class="col-6 col-md-4">
        <h3 class="meta-title">{% trans 'Location:' %}</h3>
        <div>{{ event.broadcaster.building.name }} - {{ event.broadcaster.name }}
        </div>
      </li>
      <li class="col-6 col-md-4">
        <h3 class="meta-title">{% trans 'Added by:' %}</h3>
        <div>
          <a class="btn btn-link btn-sm" href="{% url 'videos:videos' %}?owner={{ event.owner.get_username }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>
          {% if event.owner.owner.userpicture.file %}
            {% thumbnail event.owner.owner.userpicture.file "x34" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='userpicture rounded' alt="" loading="lazy">
            {% endthumbnail %}
          {% endif %}
          {{ event.owner }}
          </a>
        </div>
      </li>
      <li class="col-6 col-md-4">
        <h3 class="meta-title">{% trans 'Type:' %}</h3>
        <div><a href="{% url 'videos:videos' %}?type={{ event.type.slug }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>{{ event.type.title }}</a></div>
      </li>
    </ul>
  </div>

  {% if event.is_draft == False or event.owner == request.user or request.user in event.additional_owners.all or request.user.is_superuser %} <!-- Début modale -->
    <div class="modal fade" id="share" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true" {% if event.is_draft %}style="border:1px solid red"{% endif %}>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h5" id="shareLabel">
              <i class="bi bi-share" aria-hidden="true"></i>&nbsp;{% if event.is_draft %}{% trans 'Embed/Share (Draft Mode)' %}{% else %}{% trans 'Embed/Share' %}{% endif %}
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
          </div>
            <div class="modal-body">

              {% if event.is_draft %}
                <div class="card text-white bg-danger mb-3">
                  <div class="card-body">
                  {% blocktrans %}Please note that your event is in draft mode.<br>The following links contain a key allowing access. Anyone with this links can access it.{% endblocktrans %}
                  </div>
                </div>
               {% endif %}

              <fieldset class="pod-share-fieldset">
                <legend><i class="bi bi-code" aria-hidden="true"></i>&nbsp;{% trans 'Embed in a web page' %}</legend>
                <div class="form-group ">
                  <label for="txtintegration">{% trans 'Copy the content of this text box and paste it in the page:'%}</label>
                  <textarea name="txtintegration" id="txtintegration" class="form-control" rows="4">&lt;iframe src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'live:event' slug=event.slug %}{% if event.is_draft == True %}{{ event.get_hashkey }}/{% endif %}?is_iframe=true" width="640" height="360" style="padding: 0; margin: 0; border:0" allowfullscreen &gt;&lt;/iframe&gt;</textarea>
                </div>
              </fieldset>

              {% if not event.is_draft and not event.broadcaster.is_restricted %}
                <dl class="row">
                  <dt class="col-sm-3 text-right visually-hidden">{% trans 'Social Networks' %}</dt>
                  <dd class="col-sm-9 mb-0">
                    <ul class="list-inline mb-0 social_links">
                      <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} Facebook" data-bs-toggle="tooltip" data-bs-placement="bottom">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                          <span class="visually-hidden">{% trans 'Share on Facebook' %}</span>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a target="_blank" href="https://twitter.com/share?url={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} X (Twitter)" data-bs-toggle="tooltip" data-bs-placement="bottom">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                          <span class="visually-hidden">{% trans 'Share on X (Twitter)' %}</span>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} LinkedIn" data-bs-toggle="tooltip" data-bs-placement="bottom">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                          <span class="visually-hidden">{% trans 'Share on LinkedIn' %}</span>
                        </a>
                      </li>
                    </ul>
                  </dd>
                </dl>
                <hr>
              {% endif %}

              <fieldset class="pod-share-fieldset">
                <legend><i class="bi bi-link-45deg" aria-hidden="true"></i>&nbsp;{% trans 'Share the link' %}</legend>
                  <div class="form-group">
                    <label for="txtpartage">{% trans 'Use this link to share the video:' %}</label>
                    <input class="form-control" type="text" name="txtpartage" id="txtpartage" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'live:event' slug=event.slug %}{% if event.is_draft == True %}{{ event.get_hashkey }}/{% endif %}">
                  </div>
                <div class="form-group">
                  <label>{% trans 'QR code for this link:' %}&nbsp;
                    <a href="#" class="btn pod-btn pod-btn-social m-1" title="{% trans 'Warning, it use google API' %}" role="button" data-bs-toggle="collapse" data-bs-target="#qrcode" aria-expanded="false" aria-controls="qrcode">
                      <i class="bi bi-eye" aria-hidden="true"></i>
                    </a>
                  </label>
                  <img src="//chart.apis.google.com/chart?cht=qr&amp;chs=200x200&amp;chl={% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'live:event' slug=event.slug %}{% if event.is_draft == True %}{{ event.get_hashkey }}/{% endif %}" alt="qrcode" id="qrcode" loading="lazy">
                </div>
              </fieldset>
            </div> <!-- End modal body-->
        </div> <!-- End modal content-->
      </div> <!-- End modal dialog-->
    </div> <!-- End modal -->
  {% endif %}
</div>
