<div class="pod-infinite-container infinite-container" id="videos_list">
  {% for video in event.videos.all %}
    {# we do not display the video in draft unless the event is also draft (or for authorized people) #}
    {% if not video.is_draft or event.is_draft or video.owner == request.user or request.user.is_superuser or request.user in video.additional_owners.all %}
      <div class="infinite-item"
           style="min-width: 12rem; min-height: 11rem;">
        {% with fromEvent=True %}
          {% include "videos/card.html" %}
        {% endwith %}
      </div>
    {% endif %}
  {% endfor %}
</div>
