{% load custom_tags %}
{% load i18n %}
{% load static %}
<script>
    // Debug if necessary, depends on the settings_local
    const debug = "{% get_setting "DEBUG" False %}" === "True";

    // Live started
    let started = false;
    // Number of loop until we are sure the live is stopped
    // See video state (cf. https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/readyState)
    let nbLoop = 0;
    // Live seems stopped
    let stopped = false;


    let options = {
        notSupportedMessage: "{% trans 'Please use different browser' %} (Mozilla Firefox, Google Chrome, Safari, Microsoft Edge)",
        language: "fr", //en or nl
        fluid: !{{ request.GET.is_iframe|yesno:"true,false" }},
        playbackRates: [0.5, 1, 1.5, 2],
        errorDisplay: false,
        loop: false
    }

    // Management of the end of the stream (for Firefox, Chrome... not working for Edge, Safari)
    videojs.Hls.xhr.beforeRequest = function (options) {

        if ('{{event.is_past }}' === 'False') {

            // Reset counter if video state is ok
            if (started && player.readyState() > 2) {
                nbLoop = 0;
            }
            if (started && player.readyState() <= 2) {
                // Check if .m3u8 exists, to be sure that live is stopped
                $.ajax({
                    url: '{{event.broadcaster.url}}',
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'html',
                    success: function (html, status) {
                        stopped = false;
                    },
                    error: function (result, status, error) {
                        stopped = true;
                    },
                    complete: function (result, status) {
                    }
                });
                if (stopped) {
                    nbLoop = nbLoop + 1;
                    // We're waiting a bit to make sure it's not a network / data flow issue...
                    if (debug) {
                        console.info("The streaming live stopped? Video state: " + player.readyState() + ". It's been " + nbLoop + " times that there is no more video stream. After 4 times, we stop.");
                    }
                    if (nbLoop > 3) {
                        // Display of a message of end of live and reload of the page in 9 seconds
                        let modal = player.createModal('{% trans "Thank you for watching this streaming live with us. The page will reload automatically within a few seconds to display the video on hold." %}');
                        setTimeout(function () {
                            location.reload();
                        }, 9000);
                    }
                }
            }
        }
        return options;
    }

    // Management of the video on hold
    {% if event.broadcaster.video_on_hold.is_video and not event.is_past %}
        // In this case, loop is necessary
        options["loop"] = true;
        let playerOnHold = videojs('podvideoonholdplayer', options, function () {
        });

        playerOnHold.videoJsLogo({
            imgsrc: '{% static LOGO_PLAYER %}',
            linktitle: '{{TITLE_ETB}} - {{TITLE_SITE}}',
            link: '{{LINK_PLAYER}}'
        });
        let mp4_sources = {{event.broadcaster.video_on_hold.get_video_mp4_json|safe}};
        playerOnHold.src(mp4_sources);
        let modalOnHold = playerOnHold.createModal('{% trans "Live not found, displaying the video on hold, retry every 10 seconds" %}');
        setTimeout(function () {
            modalOnHold.close();
        }, 10000);

        $("#divvideoonhold").css("display", "block");
    {% endif %}

    // Management of the streaming live
    let player = videojs('podvideoplayer', options, function () {
    })

    {% if event.broadcaster.enable_viewer_count %}
        player.videoJsViewerCount();
    {% endif %}

    player.videoJsLogo({
        imgsrc: '{% static LOGO_PLAYER %}',
        linktitle: '{{TITLE_ETB}} - {{TITLE_SITE}}',
        link: '{{LINK_PLAYER}}'
    });
    player.on('error', function () {
        // Handle successives errors to avoid multiple reload
        if (typeof (errored) == 'undefined' || !errored) {
            let errored = true;
            let modal = player.createModal('{% trans "Live not found, retry in 10 seconds" %}');
            setTimeout(function () {
                errored = false;
                modal.close();
                player.src({
                    src: player.currentSrc(),
                    type: player.currentType(),
                    overrideNative: true
                });
            }, 10000)
        }
    })

    // Fire this event when live started
    player.on('loadedmetadata', function () {
        if (debug) {
            console.info("Streaming live starts.");
        }
        // Display the streaming live
        started = true;
        $("#divvideoonhold").css("display", "none");
        $("#divvideoplayer").css("display", "block");
     })

    // Recording actions on the stream
    $(document).on('click', '#startrecord', function () {
        $.ajax({
            url: "{% url 'live:ajax_event_startrecord' %}",
            method: 'POST',
            dataType: 'json',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                "idevent": "{{ event.id }}",
                "idbroadcaster": "{{ event.broadcaster.id }}",
            },
            success: function (data) {
                if (data.success) {
                    $("#startrecord").addClass("d-none")
                    $("#stoprecord").removeClass("d-none")
                    $("#splitrecord").removeClass("d-none")
                    recordingduration = 0
                    $("#recordingduration").html('').removeClass("d-none")
                } else {
                    console.warn('Start not done : ' + data.message)
                }
            },
            error: function (data) {
                $("#recordingduration").addClass("d-none")
                console.error('Error calling startrecord')
            }
        })
    })

    $(document).on('click', '#stoprecord', function () {
        $.ajax({
            url: "{% url 'live:ajax_event_stoprecord' %}",
            method: 'POST',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                "idevent": "{{ event.id }}",
                "idbroadcaster": "{{ event.broadcaster.id }}",
            },
            success: function (data) {
                if (data.success) {
                    $("#startrecord").removeClass("d-none")
                    $("#stoprecord").addClass("d-none")
                    $("#splitrecord").addClass("d-none")
                    $("#recordingduration").addClass("d-none")
                    getEventVideos();
                } else {
                    console.warn('Stop not done ')
                    $("#recordingduration").addClass("d-none")
                }
            },
            error: function (xhr) {
                const err = JSON.parse(xhr.responseText)
                $("#recordingduration").addClass("d-none")
                console.error('Error calling stop record : ' + err.error)
            }
        })
    })

    $(document).on('click', '#splitrecord', function () {
        $("#stoprecord").prop('disabled', true)
        $("#splitrecord").prop('disabled', true)
        $.ajax({
            url: "{% url 'live:ajax_event_splitrecord' %}",
            method: 'POST',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                "idevent": "{{ event.id }}",
                "idbroadcaster": "{{ event.broadcaster.id }}",
            },
            success: function (data) {
                if (data.success) {
                    recordingduration = 0;
                    getEventVideos();
                } else {
                    console.warn('Split not done ')
                    $("#recordingduration").addClass("d-none")
                }
            },
            error: function (xhr) {
                const err = JSON.parse(xhr.responseText)
                console.error('Error calling splitrecord : ' + err.error)
                $("#recordingduration").addClass("d-none")
            },
            complete: function () {
                $("#stoprecord").prop('disabled', false)
                $("#splitrecord").prop('disabled', false)
            }
        })
    })

    // display the event's videos
    function getEventVideos() {
        $.ajax({
            url: "{% url 'live:event_get_video_cards' %}",
            method: 'GET',
            dataType: 'json',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                "idevent": "{{ event.id }}",
            },
            success: function (data) {
                if (data.content !== "") {
                    $("#list_videos_of_event").removeClass('d-none')
                    $("#event_videos_list").html(data.content)
                }
            },
            error: function () {
                $("#list_videos_of_event").addClass('d-none')
                console.error('error calling event_get_video_cards')
            },
        })
    }

    // Status of the stream + display action buttons
    function updateStreamStatus() {
        $.ajax({
            url: "{% url 'live:event_isstreamavailabletorecord' %}",
            method: 'GET',
            dataType: 'json',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                "idbroadcaster": "{{ event.broadcaster.id }}",
            },
            success: function (data) {
                if (data.recording) {
                    $("#startrecord").addClass("d-none")
                    $("#stoprecord").removeClass("d-none")
                    $("#splitrecord").removeClass("d-none")
                    getInfoCurrentRecord()
                } else {
                    if (data.available) {
                        $("#startrecord").removeClass("d-none")
                    }
                    $("#stoprecord").addClass("d-none")
                    $("#splitrecord").addClass("d-none")
                    $("#recordingduration").addClass("d-none")
                }
            },
            error: function (data) {
                $("#startrecord").addClass("d-none")
                $("#stoprecord").addClass("d-none")
                $("#splitrecord").addClass("d-none")
                $("#recordingduration").addClass("d-none")
                console.error('error calling isstreamavailabletorecord')
            },
        })
    }

    let recordingduration = 0;

    function displayRecordingDuration() {
        let minutes = parseInt(recordingduration/60, 10)
        let seconds = recordingduration - minutes * 60
        minutes = minutes<10 ? "0"+minutes : minutes
        seconds = seconds<10 ? "0"+seconds : seconds
        $("#recordingduration").html('{% trans "Recording duration" %} : ' + minutes + ':' + seconds)
        recordingduration++
    }

    function getInfoCurrentRecord() {
        $.ajax({
            url: "{% url 'live:ajax_event_info_record' %}",
            method: 'POST',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            data: {
                "idevent": "{{ event.id }}",
                "idbroadcaster": "{{ event.broadcaster.id }}",
            },
            success: function (data) {
                if (data.success && data.duration) {
                    recordingduration = data.duration
                    $("#recordingduration").removeClass("d-none")
                } else {
                    $("#recordingduration").addClass("d-none")
                    console.error('Recording Info not done')
                }
            },
            error: function (xhr) {
                const err = JSON.parse(xhr.responseText)
                console.error('Error calling info record : ' + err.error)
            },
        })
    }

    // if event has started or ended while viewing, the page is reloaded
    function reloadIfNeeded() {
        const start = new Date("{{ event.get_start.isoformat }}")
        const end = new Date("{{ event.get_end.isoformat }}")
        {% if event.is_coming %}
            setInterval(() => {
                if (new Date() >= start) {
                    location.reload()
                }
            }, 1000);

        {% elif event.is_current %}
            setInterval(() => {
                if (new Date() >= end) {
                    location.reload()
                }
            }, 1000);
        {% endif %}
    }

    // BBB message sending
    {% if USE_BBB and USE_BBB_LIVE and display_chat %}
        function displayReturnMessage(level, returnCode) {
            let toReturn = "";
            let returnElement = $("#message_return");
            if (level === "info") {
                returnElement.attr('class', 'alert alert-info');
            } else {
                returnElement.attr('class', 'alert alert-warning');
            }
            if (returnCode === "message_sent") {
                toReturn = "{% trans 'Message sent' %}";
            }
            if (returnCode === "error_no_broadcaster_found") {
                toReturn = "{% trans 'Message not sent: no broadcaster found' %}";
            }
            if (returnCode === "error_no_connection") {
                toReturn = "{% trans 'Message not sent: connection problem (REDIS)' %}";
            }
            returnElement.html(toReturn).show("slow").delay(3000).hide("slow");
        }

        function sendBBBMessage(e) {
            e.preventDefault();
            let message = $('#message').val();
            $.ajax
            ({
                type: "GET",
                url: "{% url 'bbb:live_publish_chat' id=event.broadcaster.id %}",
                data: {"message": message},
                success: function (data) {
                    $('#live_bbb_chat_form')[0].reset();
                    if (data.is_sent) {
                        // message_sent
                        displayReturnMessage("info", data.message_return);
                    } else {
                        // error_no_broadcaster_found : Message not sent : no broadcaster found
                        // error_no_connection : Message not sent : no connection to REDIS
                        displayReturnMessage("error", data.message_return);
                    }
                }
            });
        }

        $(document).on('click', '.send-message', sendBBBMessage);
    {% endif %}

    // On load
    $(function () {
        getEventVideos()

        {% if event.is_current %}
            {% if event.owner == request.user or request.user in event.additional_owners.all or request.user.is_superuser %}
                updateStreamStatus()
                setInterval(updateStreamStatus, 60000) // every 60 sec
                setInterval(displayRecordingDuration, 1000) // every sec
            {% endif %}
        {% endif %}

        reloadIfNeeded()
    })

</script>