{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load event_tags %}

{% if event.description%}
  <div class="pod-info-video__summary my-3" id="summary">
      <div class="pod-video-description">
        {{ event.description|safe }}
      </div>
  </div>
{% endif %}

<div id="video-meta">
  <div id="info" class="pod-info-video__info">
    <h2 class="tab-title visually-hidden"><i class=" bi bi-info-circle"></i>&nbsp;{% trans 'Infos' %}</h2>
    <ul class="list-inline d-flex flex-wrap">
      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Broadcasted on:' %}</span>
        <div>
          {% if event.start_date__date == event.end_date__date %}
            {% blocktrans with start_date=event.start_date|date:"d/m/Y" start_time=event.start_date|time:"H:i" end_time=event.end_date|time:"H:i" %}{{start_date}} from {{start_time}} to {{end_time}}{% endblocktrans %}
          {% else %}
            {% blocktrans with start_date=event.start_date end_date=event.end_date %}{{start_date}} to {{end_date}}{% endblocktrans %}
          {% endif %}
        </div>
      </li>
      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Location:' %}</span>
          <div>{{ event.broadcaster.building.name }} - {{ event.broadcaster.name }}</div>
      </li>
      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Added by:' %}</span>
          <a class="btn btn-link btn-sm px-0" href="{% url 'videos:videos' %}?owner={{ event.owner.get_username}}" {% if request.GET.is_iframe %}target="_blank" {% endif %} title="{% blocktrans with video_user_name=video.owner %}Show video list of user “{{ video_user_name }}”{% endblocktrans %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
          {% if event.owner.owner.userpicture.file %}
            {% thumbnail event.owner.owner.userpicture.file "x34" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='userpicture rounded' alt="" loading="lazy">
            {% endthumbnail %}
          {% endif %}
          {{ event.owner }}
          </a>
      </li>
      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Type:' %}</span>
        <a class="btn btn-link btn-sm px-0" href="{% url 'videos:videos' %}?type={{ event.type.slug }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>{{ event.type.title }}</a>
      </li>
    </ul>
  </div>
</div>

  {% if event.is_draft == False or event.owner == request.user or request.user in event.additional_owners.all or request.user.is_superuser %}
    <!-- Start modal -->
    <div class="modal fade" id="share" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h5" id="shareLabel">
              <i class="bi bi-share" aria-hidden="true"></i>&nbsp;{% if event.is_draft %}{% trans 'Embed/Share (Draft Mode)' %}{% else %}{% trans 'Embed/Share' %}{% endif %}
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
          </div>
          <div class="modal-body">

            {% if event.is_draft %}
              <div class="alert alert-warning mb-3 d-flex align-items-center" role="alert">
                <i class="bi bi-incognito" aria-hidden="true"></i>
                <div class="ms-2">{% blocktrans %}Please note that your event is in draft mode.<br>The following links contain a key allowing access. Anyone with this links can access it.{% endblocktrans %}</div>
              </div>
            {% endif %}

            <fieldset class="pod-share-fieldset">
              <legend><i class="bi bi-code" aria-hidden="true"></i>&nbsp;{% trans 'Embed in a web page' %}</legend>
              <div class="form-group ">
                <label for="txtintegration">{% trans "Copy the content of this text box and paste it in the page:" %}</label>
                <textarea name="txtintegration" id="txtintegration" class="form-control" rows="4">&lt;iframe src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'live:event' slug=event.slug %}{% if event.is_draft == True %}{{ event.get_hashkey }}/{% endif %}?is_iframe=true" width="640" height="360" style="padding: 0; margin: 0; border:0" allowfullscreen &gt;&lt;/iframe&gt;</textarea>
              </div>
            </fieldset>

            {% if not event.is_draft and not event.broadcaster.is_restricted %}
              <dl class="row">
                <dt class="col-sm-3 text-right visually-hidden">{% trans 'Social Networks' %}</dt>
                <dd class="col-sm-9 mb-0">
                  <ul class="list-inline mb-0 social_links">
                    <li class="list-inline-item">
                      <a target="_blank" href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} Facebook" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a target="_blank" href="https://twitter.com/share?url={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} X (Twitter)" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="bi bi-twitter-x" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} LinkedIn" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </dd>
              </dl>
              <hr>
            {% endif %}

            <fieldset class="pod-share-fieldset">
              <legend><i class="bi bi-link-45deg" aria-hidden="true"></i>&nbsp;{% trans 'Share the link' %}</legend>
                <div class="form-group">
                  <label for="txtpartage">{% trans 'Use this link to share the event:' %}</label>
                  <input class="form-control" type="text" name="txtpartage" id="txtpartage" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'live:event' slug=event.slug %}{% if event.is_draft == True %}{{ event.get_hashkey }}/{% endif %}">
                </div>
                <div class="form-group m-2">
                  {% get_event_qrcode event.id as qrcode %}
                  <label>{% trans 'QR code for this link:' %}</label><br>
                  {{ qrcode }}
                  <br>
                  <button id="btn-download-qr-code" type="submit" data-slug="{{ event.slug }}"
                          class="btn btn-primary my-2"
                          title="{% trans 'Download this QR code' %}">{% trans 'Download' %}</button>
                </div>
            </fieldset>
          </div> <!-- End modal body-->
        </div> <!-- End modal content-->
      </div> <!-- End modal dialog-->
    </div> <!-- End modal -->
  {% endif %}
