{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
<script type="text/javascript">window.setInterval("location.reload(true)",30000);</script>
{% endblock %}


{% block breadcrumbs %}
{{ block.super }} 
<li class="breadcrumb-item active" aria-current="page">{% trans "Lives" %}</li>
{% endblock %}

{% block page_title %}{% trans "Lives" %}{% endblock %}

{% block page_content %}
<h3><i data-feather="radio"></i>&nbsp;{% trans "Lives" %}</h3>

<div class="card-group">
{% for building in buildings %}
    <div class="card">
    <img class="card-img-top" src="{{building.get_headband_url}}" alt="{{building.name}}">
    <div class="card-body">
      <h5 class="card-title">{{building.name}}</h5>
      {% for broadcaster in building.broadcaster_set.all %}
      <p class="card-text">
        {%if broadcaster.status %}<a href="{% url "live:video_live" slug=broadcaster.slug %}" class="live_on">{%if broadcaster.password%}<i data-feather="lock"></i>{%else%}<i data-feather="airplay"></i>{%endif%}&nbsp;{{broadcaster.name}} </a>
        {%else%}<span class="live_off"><i data-feather="airplay"></i>&nbsp;{{broadcaster.name}} ({% trans "no broadcast in progress" %})</span>{%endif%}</p>      
      {% empty %}
      <p class="card-text">{% trans "Sorry, no lives found" %}.</p>
      {% endfor %}
      {% if building.gmapurl %}
      <p class="card-text"><small class="text-muted"><a href='{{building.gmapurl}}' title="{% trans "access map" %}" target="_blank"><i data-feather="map-pin"></i>&nbsp;{% trans "access map" %}</a></small></p>
      {% endif %}
    </div>
    </div>
{% empty %}
    <p>{% trans "Sorry, no buildings found" %}.</p>
{% endfor %}
</div>

{% endblock page_content %}