{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
<link href="{% static 'video-js-6.8.0/video-js.min.css' %}" rel="stylesheet">
<script src="{% static 'video-js-6.8.0/ie8/videojs-ie8.min.js' %}"></script>
<script src="{% static 'video-js-6.8.0/video.min.js' %}"></script>
<script src="{% static 'js/videojs-http-streaming.min.js' %}"></script>
<script src="{% static 'js/videojs-logo-controlbar.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item" ><a href="{% url 'live:lives'%}" title="{% trans "Lives" %}">{% trans "Lives" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{broadcaster.name}}</li>
{% endblock %}

{% block page_title %}{% trans "Lives" %}{% endblock %}

{% block page_content %}


{% if form %}
{% include 'live/live-form.html' %}
{% else %}


<h3><i data-feather="airplay"></i>&nbsp;{{broadcaster.name}}</h3>




{% if broadcaster.video_on_hold.is_video %}
	<div id="divvideoonhold" style="display: block;">
		<video id="podvideoonholdplayer" class="video-js vjs-default-skin{% if request.GET.is_iframe %} vjs-16-9{% endif %} vjs-big-play-centered" controls height="360" muted autoplay>
		</video>
	</div>
	<div id="divvideoplayer" style="display: none;">
		<video id="podvideoplayer" class="video-js vjs-default-skin{% if request.GET.is_iframe %} vjs-16-9{% endif %} vjs-big-play-centered" controls height="360" poster="{{broadcaster.get_poster_url}}" muted autoplay>
			<source
			 src="{{broadcaster.url}}" 
			 type="application/x-mpegURL">
		</video>
	</div>
{% else %}
	<video id="podvideoplayer" class="video-js vjs-default-skin{% if request.GET.is_iframe %} vjs-16-9{% endif %} vjs-big-play-centered" controls height="360" poster="{{broadcaster.get_poster_url}}" muted autoplay>
		<source
		 src="{{broadcaster.url}}" 
		 type="application/x-mpegURL">
		 <!-- https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8 -->
	</video>
{% endif %}

<p>{{ broadcaster.description|safe }}</p>

{% if broadcaster.iframe_url != "" and broadcaster.iframe_url != None  %}
<iframe id="inlineFrameExample" style="padding: 0; margin: 0; border:0; width: 100%;"
    title="Inline Frame Example"
	height="{{broadcaster.iframe_height}}"
    src="{{broadcaster.iframe_url}}">
</iframe>
{% endif %}


{%endif%}


{% endblock page_content %}

{% block page_aside %}
<div class="card card-body p-2 mt-1" id="card-livebuilding">
<h5 class="card-title pl-2">
  <i data-feather="radio"></i>&nbsp;{{broadcaster.building.name}}
</h5>
<div class="card-text">
    {% if broadcaster.building.headband %}
    <p class="card-text">
        <img src="{{ broadcaster.building.headband.file.url }}" alt="{% trans 'Headband' %} {{ broadcaster.building.name }}" class="rounded mx-auto d-block img-fluid img-responsive img-thumbnail" />
    </p>
    {% endif %}
    {% for otherbroadcaster in broadcaster.building.broadcaster_set.all%}
    {% if otherbroadcaster != broadcaster and otherbroadcaster.public %}
      <p class="card-text">
        {%if otherbroadcaster.status %}<a href="{% url "live:video_live" slug=otherbroadcaster.slug %}" class="live_on">{%if otherbroadcaster.password%}<i data-feather="lock"></i>{%else%}<i data-feather="airplay"></i>{%endif%}</i>&nbsp;{{otherbroadcaster.name}}</a>
        {%else%}<span class="live_off"><i data-feather="airplay"></i>&nbsp;{{otherbroadcaster.name}} ({% trans "no broadcast in progress" %})</span>{%endif%}</p>
    {% endif %}
    {% empty %}
    <p class="card-text">{% trans "Sorry, no lives found" %}.</p>
    {% endfor %}
    {% if broadcaster.building.gmapurl %}
    <p class="card-text"><small class="text-muted"><a href='{{broadcaster.building.gmapurl}}' title="{% trans "access map" %}" target="_blank"><i data-feather="map-pin"></i>&nbsp;{% trans "access map" %}</a></small></p>  
    {% endif %}
</div>
</div>
{% include 'aside.html'%}
{% endblock page_aside %}

{% block more_script %}
<script>
	// Debug if necessary, depends on the settings_local
	{% if debug %}
		var debug = true;
	{% else %}
		var debug = false;
	{% endif %}
	// Live started
	var started = false;
	// Number of loop until we are sure the live is stopped
	// See video state (cf. https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/readyState)
	var nbLoop = 0;
	// Live seems stopped
	var stopped = false;
	
    //videojs.options.flash.swf = "video-js.swf"
    var options = {
      notSupportedMessage: "Please use different browser (Mozilla Firefox, Google Chrome, Safari, Microsoft Edge)",
      language: "fr", //en or nl
      {% if request.GET.is_iframe %}
		fluid: false,
      {% else %}
		fluid: true, 
      {% endif %}
      playbackRates: [0.5, 1, 1.5, 2],
      errorDisplay: false,
	  loop: false
    }

	// Management of the end of the stream (for Firefox, Chrome... not working for Edge, Safari)
	videojs.Hls.xhr.beforeRequest = function(options) {
		// Reset counter if video state is ok
		if (started && player.readyState() > 2) { nbLoop = 0; }
		if (started && player.readyState() <= 2) {
			// Check if .m3u8 exists, to be sure that live is stopped
			$.ajax({ url: '{{broadcaster.url}}',
				type : 'GET',
				crossDomain: true,
				dataType : 'html',
				success: function(html, status){
					stopped = false;
				},
				error : function(result, status, error){
					stopped = true;
				},
				complete : function(result, status){
				}
			});
			if (stopped) {
				nbLoop = nbLoop + 1;
				// We're waiting a bit to make sure it's not a network / data flow issue...
				if (debug) { console.info("The streaming live stopped ? Video state : " + player.readyState() + ". It's been " + nbLoop + " times that there is no more video stream. After 4 times, we stop."); }
				if (nbLoop > 3) {
					// Display of a message of end of live and reload of the page in 9 seconds
					let modal = player.createModal('{% trans "Thank you for watching this streaming live with us. The page will reload automatically within a few seconds to display the video on hold." %}');
					setTimeout(function(){ location.reload(); }, 9000);
				}
			}
		} 
		return options;
	}

	// Management of the video on hold
	{% if broadcaster.video_on_hold.is_video %}
		// In this case, loop is necessary
		options["loop"] = true;
		var playerOnHold = videojs('podvideoonholdplayer', options, function(){});
		playerOnHold.videoJsLogo({imgsrc: '{% static LOGO_PLAYER %}', linktitle:'{{TITLE_ETB}} - {{TITLE_SITE}}', link:'{{LINK_PLAYER}}'});
		var mp4_sources = {{broadcaster.video_on_hold.get_video_mp4_json|safe}};
		playerOnHold.src(mp4_sources);
		let modalOnHold = playerOnHold.createModal('{% trans "Live not found, displaying the video on hold, retry every 10 seconds" %}');
		setTimeout(function(){ modalOnHold.close(); }, 10000);
	{% endif %}

	// Management of the streaming live
	var player = videojs('podvideoplayer', options, function(){});
	player.videoJsLogo({imgsrc: '{% static LOGO_PLAYER %}', linktitle:'{{TITLE_ETB}} - {{TITLE_SITE}}', link:'{{LINK_PLAYER}}'});
	player.on('error', function() {
	  // Handle successives errors to avoid multiple reload
	  if (typeof(errored) == 'undefined' || !errored) {
		var errored = true;
		let modal = player.createModal('{% trans "Live not found, retry in 10 seconds" %}');
		setTimeout(function() {
		  errored = false;
		  modal.close();
		  player.src({
			src: player.currentSrc(),
			type: player.currentType(),
			overrideNative: true
		  });
		}, 10000)
	  }
	})

	// Fire this event when live started
    player.on('loadedmetadata', function() {
		if(debug) { console.info("Streaming live starts."); }
		// Display the streaming live
		started = true;
		if ($("#divvideoonhold")) { $("#divvideoonhold").html("");}
		if ($("#divvideoplayer")) { $("#divvideoplayer").css("display", "block"); }
    })
</script>
{% endblock more_script %}
