{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}
	<link href="{% static 'css/playlist.css' %}" rel="stylesheet">
	<script src="{% static 'js/playlist.js' %}"></script>
{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My playlists" %}</li>{% endblock %}

{% block page_title %}
	{% blocktrans count counter=playlists.paginator.count %}{{ counter }} playlist found{% plural %}{{ counter }} playlists found{% endblocktrans %}
{% endblock %}

{% block page_content %}
	<h2 class="text-center">{% trans 'My playlists' %}</h2>
	{% if playlists.paginator.count == 0 %}
		<h3>{% trans 'No playlist found' %}</h3>
		<p class="alert alert-info">{% trans 'You have not created any playlists yet, please use the "Add a new playlist" button to add one.' %}</p>
		<a href="{% url 'playlist' %}" class="btn btn-primary">{% trans 'Add a new playlist' %}</a>
	{% else %}
		<h3>{% blocktrans count counter=playlists.paginator.count %}{{ counter }} playlist found{% plural %}{{ counter }} playlists found{% endblocktrans %}</h3>
		{% include 'playlist/playlist_list.html' %}
	{% endif %}
	<hr/>
	<p>{% trans 'This is the page of your playlists. Here you can create, edit or delete them.' %}</p>
	<p>{% trans 'A playlist with the eye symbol means that this playlist is visible to authenticated users when they view this page.' %}</p>
{% endblock page_content %}

{% block collapse_page_aside %}{% endblock collapse_page_aside %}
{% block page_aside %}{% endblock page_aside %}
