/**
 * Esup-Pod Meeting styles
 */

.meeting-card-inactive {
  border: 1px solid #f5a391;
}

.meeting-card-personal {
  border: 1px solid #91a3f5;
}

.link-meeting {
  right: 1rem;
  border-radius: 0.375rem;
}

.meeting-text-copied {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
}

#recordings.table {
  --bs-table-color: var(--pod-font-color);
  --bs-table-striped-color: var(--pod-font-color);
}

/* Loading while uploading */
.recording-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 350px;
  height: 160px;
  background-color: var(--pod-background);
  border: 1px solid var(--pod-primary);
  text-align: center;
  color: var(--pod-font-color);
  padding: 10px;
  display: none;
}

.recording-loading {
  margin: auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--pod-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: recording-spin 3s linear infinite;
}

@keyframes recording-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Message error */
i.bi.bi-exclamation-circle.me-2 {
  color: #c82630;
}

i.bi.bi-exclamation-triangle.me-2 {
  color: #f9af2c;
}

i.bi.bi-check-circle.me-2 {
  color: #00986a;
}

i.bi.bi-info-circle.me-2 {
  color: #00b3c8;
}

div.alert .proposition {
  color: #000;
  font-weight: bold;
}

div.alert .proposition::before {
  content: "\F137";
  margin-right: 15px;
  font-family: bootstrap-icons;
  vertical-align: -0.125em;
}

/* Max 16rem for meeting card */
.pod-infinite-container {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.meeting-nowrap {
  white-space: nowrap !important;
}

.meeting-header-card {
  min-height: 4rem;
}
