.meeting-card-inactive{
  border: 1px solid #f5a391;
}

.link-meeting {
  right: 1rem;
  border-radius: 0.375rem;
}

.meeting-text-copied {
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 170px;
}

.meeting-infos {
  background-color: #CFE2FF ;
  border: 1px solid #000000;
}

#recordings.table {
  --bs-table-color: var(--pod-font-color);
}

/* Loading while uploading */
.recording-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 350px;
  height: 160px;
  background-color: var(--pod-background);
  border: 1px solid var(--pod-primary);
  text-align: center;
  color: var(--pod-font-color);
  padding: 10px;
  display: none;
}
.recording-loading {
  margin: auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--pod-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: recording-spin 3s linear infinite;      
}

@-webkit-keyframes recording-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes recording-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}