.main{margin-top: 2em;}

.list_videos
{
    max-height: 250px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
}
.list_videos .form-group{
    margin-bottom: 5px;
}
.list_videos .form-group label{
    cursor: pointer;
}
.all_video
{
    text-align: center;
    margin: 5px;
}
.label-control{font-weight: 700;}
input[type="checkbox"]
{
    transform: translateY(2px);
    margin-right: 5px;
}
input[type="text"]{
    padding: .5em;
    padding-bottom: .3em;
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 1em 0 ;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    box-shadow: none;
    border-radius: none !important;
    outline: none;
    margin-top: 0;
}
.hidden{
    display: none !important;
}
.row {
    margin-left: 0;
}

.message{
    position: absolute;
    left: 0;
    right: 0;
    background:rgb(22, 23, 24);
    color: #fff;
    height: 75px;
    border-radius: 4px;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    font-size: 17px;
    margin: 0 auto;
    padding: .5em;
    flex-wrap: wrap;

}
.message span.login{ font-weight: 700; margin-left: 5px;}
.info{ background:rgb(81,144,195); }
.error{
    background:  rgb(209, 81, 72);
}
.success{
    background: rgb(61, 167, 110);
}
.required{
    font-weight: 700;
    color: rgb(209, 81, 72);
    font-size: 20px;
    margin-left: 3px;
}
input::before:not(.hidden)
{
    content: "*";
    font-weight: 900;
    color: red;
}
.check_all_video{text-align: center;}
.text-center .btn.max100{max-width: 100% !important ;}
label[for='all_videos']
{
    font-weight: 700;
}
/* video List */
.form-group.list_videos__data{
	margin-bottom: 1em ;
	background: rgba(0,0,0,.1);
	border-radius: 4px;
	padding: .5em 1em;
	display: flex;
}
.form-group.list_videos__data img{
	max-width: 100px;
	width: 75px !important;
	border-radius: 20%;
	margin: 0 .5em;
	cursor: pointer;
}
.list_videos__data_container{
	display: flex;
	align-items: center;
}
.list_videos__data_container label{
	word-break: break-word;
}

/* Override footer fixe on bottom */

footer.text-muted{ position:absolute; bottom: 0; width: 100%;}

