
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
  color: #4d8197 !important;
}

html,body{
  font-weight: 300 !important;
  color: #3c3c3b;
  font-family: 'Open Sans', sans-serif !important;
}

.fixebottom{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

a{
  color: inherit !important;
}
a:hover{
  color: #4d8197 !important;
  text-decoration: none;
}
.carousel-caption .title{
  color: #fff !important;
}
.navbar{
  background-color: #102636 !important;
  color: #fff;
}
.navbar-items-pod{
  background-color: inherit !important;
}
.navbar-light .navbar-brand{
  margin-right: 30px !important;
}
.navbar-brand.mr-0.mr-sm-1 img{
  height: auto;
  width: 250px;
}

.navbar a, .navbar .nav-link{
  color: inherit ! important;
  transition: color .3s;
}

.navbar .nav-link-icone{
  color:  #fff !important;
  margin-right: 5px;
}
.btn-primary{
  background-color: #102636 !important;
  border: none !important;
  color: #fff !important;
}

.btn-primary:hover{
  background: #4d8197 !important;
  color: #fff !important;
}

.btn-success {
    color: #fff !important;
    background-color: #bf0000;
    border: none !important;
}
.btn-success:hover {
    color: #fff !important;
    background-color: #e20917;
    border: none !important;
}
.btn-success:hover{

}
#navbarDropdown {
    background-color: transparent !important;
    border-radius: 5px !important;
    transition: background-color .3s;
}
#navbarDropdown:hover{
  color: #fff;
  background-color: #4d8197;
}
.btn-outline-primary{
  border-color: #102636 !important;
  color: #4d8197 !important;
  background: transparent !important;
}
.btn-outline-primary:hover{
  background-color: #4d8197 !important;
  color: #fff !important;
}
.btn-outline-primary .feather {
    color: #4d8197 !important;
}
.btn-outline-primary b{
  font-size: 20px;
}
.btn-outline-primary:hover .feather, .btn-outline-primary:hover b {
    color: #fff;
}

.btn.btn-primary.btn-sm.collapseAside svg:not(:root) {
    color: #fff;
}
.navbar a:hover,
.navbar .nav-link:hover,
.navbar .nav-link:hover .nav-link-icone
{
  color: #4d8197 !important;
}
.nav-link.btn-connexion {
    background: #fff;
    color: #102636 !important;
    transition: background-color .3s, color .3s;
}
.btn.btn-connexion.nav-link.pl-2.pr-2.d-flex.justify-content-center:hover {
    background-color: #4d8197 !important;
    color: #fff !important;
}



/* CONTENT */

main.mt-3{
  margin-top: 2rem !important;
}
.border-secondary {
    border-color: #4d8197 !important;
    color: #fff !important;
}
.card-header .align-items-center{
    padding: 0 .1px 0 0;
}
/* .video-thumb.col-xs-6.col-md-4 {
    border: 1px solid #4d8197;
    border-radius: 5px;
    margin: 0.1em;
    box-sizing: border-box;
    max-width: calc( ( 100% / 3 ) - 0.3em );
}
.video-thumb.col-xs-6.col-md-4  img{
  max-width: 100%;
}
h5, .h5{
  font-size: 1em;
} */

main.mt-3 .nav-tabs .nav-link{
  background-color: #102636 !important;
  border:none !important;
}
main.mt-3 .nav-tabs .nav-link:hover, main.mt-3 .nav-tabs .nav-link.active{
  border:none !important;
}

main.mt-3 .navbar{
  overflow: hidden;
}


/* FOOTER */

footer.bg-dark {
    background-color: #102636 !important;
}
footer.text-muted{
  color: #fff !important;
  height: auto !important;
}

footer a, footer p{
  color: inherit !important;
}

@media only screen and ( max-width: 992px )
{
  .navbar-nav{
    background-color: #102636;
    padding: 1em
  }
  .langs .active{
    background-color: #fff;
    color: #102636;
    border-radius: 5px;
  }

  .btn-lang{
    color: #fff;
  }
  .btn-lang:hover{
    color: #4d8197;
  }

  .navbar-light .navbar-toggler{
    color: inherit;
    border: none;
    outline: none;
  }
  #s:focus{
    background: #102636 !important;
    height: 60px;
    margin: 0 10px;
    border-bottom: 1px solid #fff;
  }

}

@media only screen and (max-width: 700px)
{
  /* NAVBAR MoBILE ORGANISATION */
  .navbar-brand.mr-0.mr-sm-1
  {
    position: relative;
  }
  .navbar-brand.mr-0.mr-sm-1 img{
    position: absolute;
    width: 150px;
    transform: translateY(-20px);
  }

  .navbar.navbar-expand-lg .form-inline .d-lg-none{
    position: absolute;
    left: 54%;
    transform: translateY(-5px);
  }
  .navbar.navbar-expand-lg .navbar-nav li:first-child{
    transform: translateX(8px);
  }
  .navbar.navbar-expand-lg .navbar-nav {
    transform: translateX(10px);
  }

}
