.loader-container{
	position: absolute;
	z-index: 999;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color: rgba(0,0,0,.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader-circle{
	display:inline-block;
	position:relative;
	width:64px;
	height:64px;
}
.loader-circle div{
	box-sizing:border-box;
	display:block;
	position:absolute;
	width:51px;
	height:51px;
	margin:6px;
	border:6px solid #102636;
	border-radius: 50%;
	animation: loader-circle 1.2s cubic-bezier(0.5,0,0.5,1) infinite;
	border-color: #102636 transparent transparent transparent;
}
.loader-circle div:nth-child(1){
	animation-delay: -0.45s;
}
.loader-circle div:nth-child(2){
	animation-delay: -0.3s;
}
.loader-circle div:nth-child(3){
	animation-delay: -0.15s;
}
@keyframes loader-circle{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
