{% block block_1_stats %}
  <div class="row">
    <div class="col-xl-6 col-12">{% block graph_1_block_1 %}{% endblock graph_1_block_1 %}</div>
    <div class="col-xl-6 col-12">{% block graph_2_block_1 %}{% endblock graph_2_block_1 %}</div>
  </div>
{% endblock block_1_stats %}

{% block block_2_stats %}
  <div class="row">
    <div class="col-xl-4 col-12">{% block graph_1_block_2 %}{% endblock graph_1_block_2 %}</div>
    <div class="col-xl-4 col-12">{% block graph_2_block_2 %}{% endblock graph_2_block_2 %}</div>
    <div class="col-xl-4 col-12">{% block graph_3_block_2 %}{% endblock graph_3_block_2 %}</div>
  </div>
{% endblock block_2_stats %}
