{% load static i18n %}

<div class="form-group row stat-form-group mb-1">
    <label for="start-year-{{ graph_id }}">{% trans "Start year" %}</label>
    <input type="number" id="start-year-{{ graph_id }}" name="start-year">
    <label for="end-year-{{ graph_id }}">{% trans "End year" %}</label>
    <input type="number" id="end-year-{{ graph_id }}" name="end-year">
</div>
<canvas id="{{ graph_id }}"></canvas>
<button class="btn btn-primary btn-sm ps-2 pe-2 mb-3 d-flex" id="export-btn-{{ graph_id }}" type="button">{% trans "Export to CSV" %}</button>
<div id="pager"></div>

{% block more_script %}
<script>
    var graph_title="{{ graph_title }}";
    var graph_id="{{ graph_id }}";
</script>

<script src="{% static 'chart.js/dist/chart.umd.js' %}?ver={{VERSION}}" charset="utf-8"></script>
<script src="{% static 'stats/js/utils-stats.js' %}?ver={{VERSION}}" charset="utf-8"></script>
<script src="{% static 'stats/js/video_stats_view_global.js' %}?ver={{VERSION}}" charset="utf-8"></script>

{% endblock %}
