{# HTML for enrichment form. Don't use this file alone it must be integrated into another template! #}
{% load i18n %}
{% load static %}
{{form_enrichment.media}}
<div class="panel-heading">
    <h4 class="card-title pod-card__title">{% trans 'Create / Edit enrichment' %}</h4>
</div>
<form id="form_enrich" class="form_save" action="{% url 'enrichment:edit_enrichment' slug=video.slug %}" method="POST">
    {% csrf_token %}
    <div class="form-container">
        {% if form_enrichment.errors or form_enrichment.non_field_errors %}
            <div class="alert alert-danger">
                {% trans 'One or more errors have been found in the form:' %}
                <ul>{% for error in form_enrichment.non_field_errors %}
                    <li>{{error}}</li>
                {% endfor %}</ul>
            </div>
        {% endif %}
        {% for field_hidden in form_enrichment.hidden_fields %}
            {{field_hidden}}
        {% endfor %}
        {% for field in form_enrichment.visible_fields %}
            <div class="form-group input-group row mb-3">
                <label for="{{field.auto_id}}" class="col-sm-2 col-form-label">{{field.label}}</label>
                <div class="col-sm-10">
                    {{field}}
                    {% if field.help_text %}
                      <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if form_enrichment.instance %}
            <input type="hidden" id="id_enrich" name="enrich_id" value="{{form_enrichment.instance.id}}">
        {% endif %}
        <input type="hidden" name="action" value="save">
        <input type="submit" id="save_enrichment" value="{% trans 'Save' %}" class="btn btn-primary btn-sm">
        <input type="reset" action="cancel" id="cancel_enrichment" value="{% trans 'Cancel' %}" class="btn btn-secondary btn-sm">
    </div>
</form>
