{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}

{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'video:my_videos' %}">{% trans 'My videos' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Editing group for the enrichment of the video" %}</li>
{% endblock %}

{% block page_title %}{% trans "Editing group for the enrichment of the video" %} "{{video.title}}"{% endblock %}


{% block page_content %}
{% spaceless %}
<h3>{% trans "Editing group for the enrichment of the video" %} "{{video.title}}"
</h3>

<form id="enrichment_group_form" method="post"
  action="{% url 'enrichment:group_enrichment' slug=video.slug %}"
  accept-charset="utf-8" class="needs-validation" novalidate>
  {% csrf_token %}
  <div class="list-group">
    <fieldset>
      {% if form.errors %}
        <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p>
        {{form.errors}}
      {% endif %}
      {% if form.instance.encoding_in_progress %}
        <div class="alert alert-warning" role="alert">
          {% trans "The video is currently being encoded." %}
        </div>
      {% endif %}
      {% for field_hidden in form.hidden_fields %}
        {{field_hidden}}
      {% endfor %}
      {% for field in form.visible_fields %}
        {% spaceless %}
        <div class="{% if "description_" in field.name or "title_"  in field.name %}collapse{% else %}{% endif %}{% if "description_" in field.name %} description{% endif %}{% if "title_" in field.name %} title{% endif %}">
          <div class="list-group-item">
            <div class="{% if field.name == "groups"%}form-row {% endif %}form-group {% if field.field.required %}form-group-required{% endif %}">
              {{ field.errors }}
              <label for="{{ field.id_for_label }}">{{ field.label }}&nbsp;</label>
              {{ field }}
              {% if field.help_text %}
                <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
              {% endif %}
              {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>{% endif %}
            </div>
          </div>
        </div>
        {% endspaceless %}
      {% endfor %}
    </fieldset>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-sm" name="_continue" value="">{% trans 'Save' %}</button>
    <a href="{% url 'enrichment:edit_enrichment' slug=video.slug %}" class="btn btn-secondary btn-sm">{% trans 'back to editing enrichment' %}</a>
  </div>
</form>

{% endspaceless %}
{% endblock page_content %}

{% block page_aside %}
{% if video.owner == request.user or request.user.is_superuser or perms.video.change_video or request.user in video.additional_owners.all %}
  <div class="card" id="card-managevideo">
    <h2 class="card-header card-title pod-card__title h4"><i class="bi bi-gear"></i>&nbsp;{% trans "Manage video"%}</h2>
    <div class="card-body card-text text-center">
      {% include "videos/link_video.html" %}
    </div>
  </div>
{% endif %}
{% endblock page_aside %}

{% block more_script %}
  <script src="/admin/jsi18n/"></script>
  <script src="{% static 'admin/js/core.js' %}?ver={{VERSION}}"></script>
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}?ver={{VERSION}}"></script>
  <script src="{% static 'admin/js/jquery.init.js' %}?ver={{VERSION}}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{VERSION}}">
  {{form.media}}
{% endblock more_script %}
