{# HTML for enrichment list. Don't use this file alone it must be integrated into another template! #}
{% load i18n %}
<div class="container">
	<div class="panel-heading">
		<h4 class="card-title pod-card__title">{% trans 'List of the enrichments' %}&nbsp;({{list_enrichment|length}})</h4>
	</div>
	<table class="table table-striped table-condensed scroll" id="table_list_enrich">
		<thead>
			<tr>
				<th scope="col">{% trans 'Title' %}</th>
				<th scope="col">{% trans 'Type' %}</th>
				<th scope="col" class="enrich_start">{% trans 'Start' %}</th>
				<th scope="col" class="enrich_end">{% trans 'End' %}</th>
				<th scope="col">{% trans 'Actions' %}</th>
			</tr>
		</thead>
		<tbody>
			{% for enrich in list_enrichment %}
				<tr>
					<td class="enrich_title">{{enrich.title}}</td>
					<td class="enrich_type enrich_{{enrich.type}}">{% if enrich.type %}{% trans enrich.type %}{% endif %}</td>
					<td class="enrich_start">{{enrich.start}}</td>
					<td class="enrich_end">{{enrich.end}}</td>
					<td>
						<form class="get_form" action="{% url 'enrichment:video_enrichment' slug=video.slug %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="action" value="modify">
							<input type="hidden" name="id" value="{{enrich.id}}">
							<input type="submit" title="{% blocktrans with enrich_title=enrich.title %}Modify the enrichment “{{ enrich_title }}”{% endblocktrans %}" value="{% trans 'Modify' %}" class="btn btn-primary btn-sm">
						</form>
						<form class="get_form" action="{% url 'enrichment:video_enrichment' slug=video.slug %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="action" value="delete">
							<input type="hidden" name="id" value="{{enrich.id}}">
							<input type="submit" title="{% blocktrans with enrich_title=enrich.title %}Delete the enrichment “{{ enrich_title }}”{% endblocktrans %}" value="{% trans 'Delete' %}" class="btn btn-danger btn-sm">
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
