<!-- HTML for enrichment list. Don't use this file alone it must be integrated into another template ! -->
{% load i18n %}
<div class="container" overflow: auto>
	<div class="panel-heading">
		<h4 class="card-title">{% trans 'List of the enrichments' %}&nbsp;({{list_enrichment|length}})</h4>
	</div>
	<table class="table table-striped table-condensed scroll" id="table_list_enrich">
		<thead>
			<tr>
				<th>{% trans 'Title' %}</th>
				<th>{% trans 'Type' %}</th>
				<th class="enrich_start">{% trans 'Start' %}</th>
				<th class="enrich_end">{% trans 'End' %}</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for enrich in list_enrichment %}
				<tr>
					<td class="enrich_title">{{enrich.title}}</td>
					<td class="enrich_type">{% if enrich.type %}{{enrich.type}}{% endif %}</td>
					<td class="enrich_start">{{enrich.start}}</td>
					<td class="enrich_end">{{enrich.end}}</td>
					<td>
						<form class="get_form" action="{% url 'enrichment:video_enrichment' slug=video.slug %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="action" value="modify"/>
							<input type="hidden" name="id" value="{{enrich.id}}"/>
							<input type="submit" title="{% trans 'Edit the enrichment' %}" value="{% trans 'Modify' %}" class="btn btn-primary btn-sm"/>
						</form>
					</td>
					<td>
						<form class="get_form" action="{% url 'enrichment:video_enrichment' slug=video.slug %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="action" value="delete"/>
							<input type="hidden" name="id" value="{{enrich.id}}"/>
							<input type="submit" title="{% trans 'Delete the enrichment' %}" value="{% trans 'Delete' %}" class="btn btn-primary btn-sm"/>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>