{% extends 'videos/video.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}
  {% include 'videos/video-header.html' %}
  <link id="enrichment_style_id" href="{% static 'css/videojs-slides.css' %}?ver={{VERSION}}" rel="stylesheet">
  <script id="enrichment_script_id" src="{% static 'js/videojs-slides.js' %}?ver={{VERSION}}"></script>
{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }}
{% endblock %}

{% block page_title %}{%if channel %}{{channel.title}} - {%endif%}{%if theme %}{{theme.title}} - {%endif%}({% trans 'Enriched' %}) {{video.title}}{% endblock %}

{% block video-element %}

{% if form %}
    {% include 'videos/video-form.html' %}
{% else %}
  {% include 'enrichment/video-element-enrichment.html' %}
  <div id="info-video" class="pod-info-video">{% include 'videos/video-all-info.html' with third_app=True %}</div>
{%endif%}

{% endblock video-element %}

{% block page_aside %}
  <div class="card" id="card-enrichmentinformations">
    <h5 class="card-header card-title pod-card__title ps-2">
      <i class="bi bi-info-circle"></i>&nbsp;{% trans 'Informations' %}
    </h5>
    <div class="card-body card-text">
      <p>{% trans 'To help you, the different types of enrichments have specific colors:' %}</p>
      <p>
        <ul>
          <li class="enrich_image">{% trans 'Image' %}</li>
          <li class="enrich_document">{% trans 'Document' %}</li>
          <li class="enrich_richtext">{% trans 'Richtext' %}</li>
          <li class="enrich_weblink">{% trans 'Weblink' %}</li>
          <li class="enrich_embed">{% trans 'Embed' %}</li>
        </ul>
      </p>
      <p>{% trans 'They are visible on the video playback bar.' %}</p>
    </div>
  </div>
  {{ block.super }}
{% endblock page_aside %}

{% block more_script %}
{{block.super}}
{% include 'enrichment/video_enrichment-script.html' %}
{% endblock more_script %}
