{% extends 'videos/video-iframe.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
{% include 'videos/video-header.html' with enrichment=True %}
<link rel="stylesheet" href="{% static 'css/videojs-slides.css' %}"/>
<script src="{% static 'js/videojs-slides.js' %}"></script>
{% endblock page_extra_head %}

{% block page_title %}{%if channel %}{{channel.title}} - {%endif%}{%if theme %}{{theme.title}} - {%endif%}({% trans 'Enriched' %}) {{video.title}}{% endblock %}

{% block video-element %}
{% if form %}
{% include 'videos/video-form.html' %}
{% else %}
    <video id="podvideoplayer" class="video-js vjs-default-skin vjs-big-play-centered" preload="auto" height="360"
    poster="{{video.get_thumbnail_url}}" data-setup='{}' {% if request.GET.nocontrol and request.GET.nocontrol == 'false' %} autoplay {%else%} controls {% if request.GET.autoplay and request.GET.autoplay == 'true' %} autoplay{%endif%}{%endif%} {% if request.GET.loop and request.GET.loop == 'true' %} loop{%endif%}>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
      <track kind="metadata" src="{{video.enrichmentvtt.src.file.url}}?{% now "U" %}" label="enrichment">

    {% for track in video.track_set.all%}
      <track id= "track_{{ track.id }}" kind="{{ track.kind }}" src="{{ track.src.url }}?{% now "U" %}" srclang="{{ track.lang }}" label="{{track.get_label_lang}}">
    {%endfor%}
    </video>

    <form method="post" action="{% url 'video_count' id=video.id %}" id="video_count_form">
    {% csrf_token %}
    </form>
{% endif %}
{% endblock video-element %}


{% block more_script %}
{{block.super}}
<script>
{% if not video.is_video %}
slide_mode = 'video off';
{% endif %}
player.ready(function() {
    var tracks = player.textTracks();
    var metadataTrack, i;
    for (i = 0; i < tracks.length; i++) {
        var track = tracks[i];
        if (track.kind === 'metadata' && track.label === 'enrichment') {
            metadataTrack = track;
            metadataTrack.index = i;
            break;
        }
    }

    player.on('loadedmetadata', function() {
        var slide = [];
        if(!metadataTrack.cues) { //Safari do not get cues
            let tracksrc = player.el().getElementsByTagName('TRACK')[metadataTrack.index].src;
            loadEnrichmentVTTfile(tracksrc, function(cues) {
                if (typeof player.slides === "function") {
                    player.slides(cues);
                }
            });
        } else {
            for (i = 0; i < metadataTrack.cues.length; i++) {
                data = JSON.parse(metadataTrack.cues[i].text);
                console.log('Parsed '+data.title)
                slide.push({
                    title: data.title,
                    url: data.url,
                    type: data.type,
                    stop_video: data.stop_video,
                    start: metadataTrack.cues[i].startTime,
                    end: metadataTrack.cues[i].endTime
                });
            }
        }
        if (typeof player.slides === "function") {
            console.log('Call player.slides');
            player.slides(slide);
        }

    });

    $('.vjs-big-play-button').css('z-index', 2)
    $('.vjs-control-bar').css('z-index', 3);
});
</script>
{% endblock more_script %}
