[run]
source = src
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    manage.py
    src/config/*
    src/apps/core/management/commands/import_data_*
    src/apps/core/management/commands/export_data_*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
