
[report]
# Here you can exclude a file from coverage testing

# nb : you can also add a "# pragma: no cover"
# on each function you don't want to be covered
[run]
source = pod/
omit = pod/*settings*.py # pragma: no cover
       pod/*apps.py # pragma: no cover
       pod/wsgi.py # pragma: no cover
       */tests/* # pragma: no cover it's test !
       */commands/* # pragma: no cover
       */migrations/* # pragma: no cover
       */plugins/* # pragma: no cover
       */forms.py # no cover yet !
       pod/video/bbb.py
       scripts/bbb-pod-live/*.*
