[flake8]
exclude = 
    .git,
    pod/*/migrations/*,
    *_settings.py,
    node_modules,
    pod/static/*,
    pod/custom/tenants/*/*,
    venv,
    .venv

max-complexity = 9
max-line-length = 90

# See https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
ignore =
    # Black
    E501,
    E203,
    W503,

    # Pydocstyle
    D107,
    D105,

    # flake8-annotations
    ANN002,
    ANN003,
    ANN101,
    ANN102,
    ANN204
