# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.pyc

# --- Django ---
*.log
settings_local.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Environnement & Secrets ---
.env
.env.prod

.venv/
venv/
env/

# --- IDE & OS ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# --- Docker ---
mysql_data/src/config/settings/settings_local.py

# Custom files  #
#################
import_data/
log/
media/
pod/*/migrations/
pod/custom/*
pod/main/static/custom/img
!pod/custom/settings_local.py.example
settings_local.py
transcription/*
