# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.pyc

# --- Django ---
*.log
settings_local.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Environnement & Secrets ---
.env
.env.prod

.venv/
venv/
env/

# --- IDE & OS ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# --- Docker ---
mysql_data/

# --- Custom files ---
log/
media/
transcription/


# --- Tests & Coverage ---
.coverage
.pytest_cache/
htmlcov/