Django==1.11.29
django-ckeditor==5.3.1
Pillow==6.2.2
django-tagging==0.4.6
django-modeltranslation==0.12.2
webvtt-py==0.4.2
django-cas-client==1.5.2
ldap3==2.5
django-progressbarupload==0.1.7
django-simple-captcha==0.5.12
urllib3==1.25.9
elasticsearch==6.3.1
djangorestframework==3.9.1
django-filter==1.1.0
sorl-thumbnail==12.6.3
django-lti-provider==0.4.0
django-auth-mixins==1.0.1
celery==4.3.0
pandas
deepspeech==0.6.1
billiard<4.0,>=3.6.0
webrtcvad
django-select2-forms==2.1.0
django-shibboleth-remoteuser
django-chunked-upload==2.0.0