Django==1.11.10
django-ckeditor==5.3.1
sorl-thumbnail==12.4a1
Pillow==5.0.0
django-tagging==0.4.6
django-modeltranslation==0.12.2
webvtt-py==0.4.1
django-cas-sso==1.1.7
ldap3==2.5
django-progressbarupload==0.1.7