{% extends 'flatpages/default.html' %}
{% load i18n static carousel_tags channel_list_tags %}

{% block opengraph %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
{% endblock %}

{% block page_title %}{{ flatpage.title }}{% endblock %}

{% block page_content %}

{% get_carousel_playlist %}
{% get_official_channels %}

{% include 'custom/layouts/partials/_channel_list.html' %}

{% endblock page_content %}

{% block more_script %}
  toto va bien !
  <!-- <script src="{% static 'custom/assets/js/custom.js' %}"></script> -->
{% endblock %}
