{% extends 'flatpages/default.html' %}
{% load i18n static carousel_tags channel_list_tags %}

{% block opengraph %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
{% endblock %}

{% block page_title %}{{ flatpage.title }}{% endblock %}
{%block  content %}
<div class="container container-pod mt-5">
  <nav aria-label="breadcrumb" style="background-color: #102636 !important; color: #fff;padding: 1em !important; flex-direction: column;" class="breadcrumb d-flex justify-content-between p-0" id="mainbreadcrumb">          
    <h4 style="color: #e84e0f !important;">A l'attention de tous les personnels UGA.</h4>
    <p>
      <span style="display: block;">Bonjour,</span> 
      Au vu de la situation actuelle, vous trouverez ci dessous une série de tutoriels concernant l'usage des outils permettant de créer et diffuser des ressources pédagogiques en ligne.
      <span style="display: block;">Le lien se faisant via Intranet UGA.</span>
    </p>
    <p>
      <a style="text-decoration: underline; color: #e84e0f !important;"ref="https://intranet.univ-grenoble-alpes.fr/formation-et-vie-etudiante/pedagogie-et-innovation/plan-de-continuite-pedagogique-642818.kjsp?RH=1519212334231&ksession=019e6b63-405f-436c-9552-ac4ac526f4c9&ksession=712273bf-e8fa-4dcf-a0a0-47fce913d2cd&ksession=062af178-4be0-4dad-bbfb-c522c764a105" target="_blank" rel="noopener">Accès aux tutoriels</a>
    </p>
  </nav>
</div>
{{ block.super }}
{% endblock content %}
{% block page_content %}
{% get_carousel_playlist %}
{% get_official_channels %}

{% include 'custom/layouts/partials/_channel_list.html' %}

{% endblock page_content %}
