{% extends "base.html" %}
{% load staticfiles %}
    {% block opengraph %}
    	{{ block.super }}
    	<meta http-equiv="X-Frame-Options" content="sameorigin">
    {% endblock opengraph %}
    {% block page_title %} Mentions légales {% endblock page_title %}
    {% block page_extra_head %}
    <link rel="stylesheet" href="{% static 'custom/assets/css/mentions.css' %}">
    {% endblock page_extra_head %}
</head>
{% block content %}
    <div class="mention-container">
        <div class="mention-title">
            <h1 class="title">Mentions légales</h1>
        </div>
        <section>
            <div id="jsmentionslegales">
                <div class="section">
                    <h2 class="title">RGPD</h2>
                    <section>
                        <div class="content">
                            <div class="rgpd">
                                <p>
                                    L’Université Grenoble Alpes, ses établissements composantes (Grenoble INP, Sciences Po Grenoble) et l’Université Savoie Mont Blanc traitent vos données personnelles (nom, prénom, login, statut à l’université :
                                    enseignant, étudiant, visiteur) pour vous permettre de déposer des vidéos ou des fichiers audios sur la plateforme Podcast UGA 
                                </p>
                                <p>
                                    Ces informations sont nécessaires au dépôt et au traitement des ressources. Une fois la vidéo ou le fichier audio publiés, elles peuvent être accessibles à toute personne consultant le site si vous avez consenti à les rendre publiques. 
                                    Dans le cas contraire, seules les personnes habilitées (groupe d’enseignants-chercheurs et/ou d’étudiants) ont accès à la ressource et aux données personnelles citées ci-dessus via la plateforme Podcast UGA ou via les plateformes pédagogiques. 
                                </p> 
                                <p>
                                    Les données personnelles (nom et prénom) sont conservées en base active le temps de la mise en ligne en ligne du document puis archivées selon durée légale. 
                                </p>
                                <p> 
                                    Conformément au Règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. 
                                    Vous pouvez exercer ces droits auprès des référents :
                                    <a href="mailto:perform.moderation@grenoble-inp.fr">perform.moderation@grenoble-inp.fr</a>;  
                                    <a href="mailto:dapi-moderation@univ-grenoble-alpes.fr">dapi-moderation@univ-grenoble-alpes.fr</a>
                                </p>
                                <p> 
                                    Vous pouvez également contacter le Délégué à la protection des données : <a href="mailto:DPO@grenet.fr">DPO@grenet.fr</a>. 
                                    Le cas échéant, vous pouvez adresser une réclamation à la CNIL.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
               
    </div>
{% endblock content %}
{% block more_script %} <script>
    (function()
    {
        let titles = document.querySelectorAll('.section h2.title');
        titles.forEach(function(title)
        {
            title.addEventListener('click', function(event)
            {
                event.preventDefault();
		console.log("OK");
                let current_section = this.parentNode;
                current_section.classList.toggle('closed');
            })
        })
    })();
</script> {% endblock more_script %}
