{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tagging_tags %}

{% block breadcrumbs %}{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'video:dashboard' %}">{% trans 'Dashboard' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
{% endblock %}

{% block page_title %}{% if form.instance.title %}{% trans "Editing the video" %} "{{form.instance.title}}"{% else %}{% trans "Choose an audio or video file to upload" %}{% endif %}{% endblock %}

{% block collapse_page_aside %}
{% if access_not_allowed != True %}
{{block.super}}
{% endif %}
{% endblock collapse_page_aside %}


{% block page_content %}

{% if restricted_to_staff and not user.is_staff %}
<p class="text-info-emphasis">
  <i class="bi bi-broadcast" aria-hidden="true"></i>&nbsp;{% trans "Access to adding video has been restricted. If you want to add videos on the platform, please" %} <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
</p>
{% else %}

<div id="uploadblock">
  {% csrf_token %}
  <div class="mb-5">
    <h2><i class="bi bi-pin-angle" aria-hidden="true"></i>&nbsp;{% trans "Legal notice" %}</h2>
    <p>{% trans "Please note: make sure that you have the necessary authorizations signed by the speakers and that you respect the Intellectual Property Code before publishing a video." %}</p>
  </div>

  <h2><i class="bi bi-upload" aria-hidden="true"></i>&nbsp;{% trans "Uploading" %}</h2>
  <div class="form-group hide-on-processing py-3 px-2 px-md-5 mx-auto">
    <label for="chunked_upload">{% trans "Choose an audio or video file to upload" %}</label><br>
    <input id="chunked_upload" accept="{{allow_extension}}" type="file" name="the_file" class="form-control-file">
  </div>
  <div class="show-on-processing">
    <label for="progBar">{% trans "Upload progress:" %}</label>
    <progress id="progBar" value="0" max="100"></progress>
  </div>

  {% if TRANSCRIPT|length > 0 %}
  <div class="hide-on-processing">
    <select class="form-select" aria-label="{% trans 'Transcript' %}" id="select-transcript-lang">
      <option selected value="">{% trans "Transcript" %}</option>
      {% for lang in TRANSCRIPT %}
      <option value="{{lang|first}}">{{lang|last}}</option>
      {% endfor %}
    </select>
    <small class="form-text">{% trans "Select an available language if you want to transcribe the audio." %}</small>
  </div>
  {% endif %}

  <p class="pod-callout pod-callout-warning">{% trans "Do not leave the page if you encounter a connection problem during the upload, it will resume automatically when your connection is available again." %}</p>

</div>
{% if slug %}
<a href="{% url 'video:video_edit' slug=slug %}" class="btn btn-primary btn-sm m-2">
  <i class="bi bi-pencil-square" aria-hidden="true"></i>&nbsp;{% trans "Back to video edit"%}
</a>
{% endif %}

{% endif %}
{% endblock page_content %}

{% block page_aside %}
<div class="card" id="card-sharedraftversion">
  <h2 class="card-header card-title pod-card__title h4">{% trans "Uploading" %}</h2>
  <div class="card-body card-text">
    <p>{% blocktrans with max_size as video_max_upload_size %}The file size must be lower than {{video_max_upload_size}} Go.{% endblocktrans %}</p>
    <p>{% trans "The sending time depends on the size of your file and your upload speed. This can be quite long." %}</p>
    <p>{% trans "While sending your file, do not close your browser until you have received a message of success or failure." %}</p>
    <p>{% trans "An email will be sent to you when all encoding tasks are completed." %}
    <p>
  </div>
</div>

<div class="card" id="card-helpfields">
  <h2 class="card-header card-title pod-card__title h4">{% trans "Help for form fields"%}</h2>
  <div class="card-body" id="formfields">
    <div class="card">
      <button class="btn btn-link" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
        {% trans "File" %}
      </button>
      <div id="collapse-1" class="card-body collapse card-text small" aria-labelledby="heading-1" data-bs-parent="#formfields">
        <p> {% trans "You can send an audio or video file." %}</p>
        <p> {{allowed_text}} </p>
      </div>
    </div>

    {% if TRANSCRIPT|length > 0 %}
      <div class="card">
          <button class="btn btn-link" id="heading-2" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2" style="white-space:normal !important; word-wrap: break-word; word-break: normal;">
          {% trans "Transcript" %}
          </button>
          <div id="collapse-2" class="card-body collapse card-text small" aria-labelledby="heading-2" data-bs-parent="#formfields">
            <p> {% trans "Transcription is a speech recognition technology that transforms an oral speech into text in an automated way. By selecting language, it will generate a subtitle file automatically when encoding the video." %}</p>
            <p> {% trans "You will probably have to modify this file using the captioning tool in the completion page to improve it." %} </p>
          </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock page_aside %}


{% block more_script %}
<script src="{% static 'admin/js/core.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'blueimp-file-upload/js/jquery.iframe-transport.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'blueimp-file-upload/js/jquery.fileupload-process.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'blueimp-file-upload/js/jquery.fileupload-validate.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'blueimp-file-upload/js/jquery.fileupload-ui.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'spark-md5/spark-md5.min.js' %}?ver={{VERSION}}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{VERSION}}">


<script>
  /** formulaire **/
  var max_chunk_size = {{ CHUNK_SIZE }};
  var slug = "{{ slug }}";
  var max_size = {{ max_size }};
  var md5 = "",
    csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
    form_data = [{ "name": "csrfmiddlewaretoken", "value": csrf }];
  function calculate_md5(file, chunk_size) {
    var slice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
      chunks = chunks = Math.ceil(file.size / chunk_size),
      current_chunk = 0,
      spark = new SparkMD5.ArrayBuffer();
    function onload(e) {
      spark.append(e.target.result);  // append chunk
      current_chunk++;
      if (current_chunk < chunks) {
        read_next_chunk();
      } else {
        md5 = spark.end();
      }
    };
    function read_next_chunk() {
      var reader = new FileReader();
      reader.onload = onload;
      var start = current_chunk * chunk_size,
        end = Math.min(start + chunk_size, file.size);
      reader.readAsArrayBuffer(slice.call(file, start, end));
    };
    read_next_chunk();
  }
  $("#chunked_upload").fileupload({
    url: "{% url 'video:api_chunked_upload' %}",
    dataType: "json",
    maxChunkSize: max_chunk_size, // Chunks of 100 kB
    maxFileSize: 1,
    formData: form_data,
    add: function (e, data) { // Called before starting upload
      // If this is the second file you're uploading we need to remove the
      // old upload_id and just keep the csrftoken (which is always first).
      $(".hide-on-processing").hide();
      $(".show-on-processing").show();
      form_data.splice(1);
      calculate_md5(data.files[0], max_chunk_size);  // Again, chunks of 100 kB
      data.submit();
    },
    chunkdone: function (e, data) { // Called after uploading each chunk
      $(this).is(':checked')
      if (form_data.length < 2) {
        form_data.push(
          { "name": "upload_id", "value": data.result.upload_id }
        );
      }
      var progress = parseInt(data.loaded / data.total * 100.0, 10);
      $('#progBar').val(progress);
    },
    done: function (e, data) { // Called when the file has completely uploaded
      $.ajax({
        type: "POST",
        url: "{% url 'video:api_chunked_upload_complete' %}",
        data: {
          csrfmiddlewaretoken: csrf,
          upload_id: data.result.upload_id,
          md5: md5,
          slug: slug,
          transcript: $("#select-transcript-lang").val()
        },
        dataType: "json",
        success: function (data) {
          location.href = data.redirlink
        }
      });
    },
  });
</script>

{{form.media}}

<style>
  .file {
    position: relative;
    background: linear-gradient(to right, lightblue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
  }

  .file.done {
    background: lightgreen;
  }

  .file a {
    display: block;
    position: relative;
    padding: 5px;
    color: black;
  }

  #progBar {
    width: 100%;
  }

  .show-on-processing {
    display: none;
  }
</style>

{% endblock more_script %}
