{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
    <div class="list-group">
            <h1>{% trans "Archive Download" %}</h1>
            <div class="list-group-item">
                <div class="form-group form-group-required ">
                    <div>{% trans "Your archive download gonna start." %}</div>
                    <small id="id_agreeHelp" class="form-text">{% trans "Please Wait." %}</small>
                </div>
            </div>
    </div>

    <div class="text-center mt-1">
        <a href="/video/respit/{{ slug }}/" class="btn btn btn-secondary">
            {% trans "Back to choices" %}
        </a>
        <a href="/" class="btn btn btn-secondary">
            {% trans "Return to homepage" %}
        </a>
    </div>

    <meta http-equiv="refresh" content="0; URL={{ url }}" />
{% endblock page_content %}
