{% load i18n %}
{% load video_filters %}
<div id="manageCategoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal_title" id="modal_title">{% trans "Category" %}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="catTitle" class="form-label">
            {% trans "Category title" %}
            <span class="required_star">*</span>
          </label>
          <input type="text" placeholder="{% trans 'category title' %}" id="catTitle" name="catTitle" class="catTitle_input form-control" required>
        </div>
        <div class="form-group mt-3">
          <p class="form-label">{% trans "Check the videos to add in the category" %}</p>

          <div class="row infinite-modal-container category_modal_videos_list" id="cat_mod_vid_list">
            {% for video in videos_without_cat %}
              <div data-slug="{{ video.slug }}" class="infinite-item col-12 col-md-6 col-lg-3 mb-2 card-group">
                <div class="checked_overlay">
                  <span class="card_selected">
                    <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
                  </span>
                </div>
                {% include "videos/category_modal_card.html" %}
              </div>
            {% endfor %}
            <!-- Paginator -->
            <nav class="paginator">
              <div class="paginator-content">
                <button class="btn btn-lg btn-link previous_content" id="previous_content" title="{% trans 'Previous page' %}" role="nav">
                  <i class="bi bi-arrow-left-circle-fill"></i>
                </button>
                <span class="pages_infos" id="pages_infos"> </span>
                <button class="btn btn-lg btn-link next_content" id="next_content" title="{% trans 'Next page' %}">
                  <i class="bi bi-arrow-right-circle-fill"></i>
                </button>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="saveCategory" class="btn btn-primary">{% trans "Save category" %} </button>
        <button type="button" id="cancelDialog" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>
<!-- DELETE CATEGORY MODAL  -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Delete the category" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <span class="category_title"></span>
        {% trans "Permanently delete your category?" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close_modal" id="close_modal"  data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" class="btn btn-danger" id="confirm_remove_category_btn">{% trans "Delete" %}</button>
      </div>
    </div>
  </div>
</div>
