{% extends "base.html" %} {% load i18n %} {% load static %}

{% block opengraph %}
 {{block.super }}
  <link rel="stylesheet" href="{% static 'css/change_video_owner.css' %}" />
  <link
    rel="stylesheet"
    href="{% static 'css/paginator.css' %}?ver={{VERSION}}"
  />
{% endblock opengraph %}

{% block page_title %}
  {%trans "Change video owner" %}
{%endblock page_title %}
{% block more_script %}
  <script src="{% static 'js/change_video_owner.js' %}"></script>
{% endblock more_script %}
{% block content %}
<main>
  <div class="container change_video_owner">
    <div class="content">
      <h1 class="page_title">{% trans "Change video owner" %}</h1>
      <form class="form" autocomplete="off">
        {% csrf_token %}

        <div class="form-wrapper">
          <label for="oldlogin" class="form-label"
            >{% trans "Old owner" %}<i class="required">*</i></label
          >
          <input
            type="text"
            id="oldlogin"
            class="form-control"
            placeholder="{% trans 'FirstName/LastName' %}"
            required
          />
          <div class="oldlogin suggestions"></div>
        </div>

        <div class="form-wrapper">
          <label for="newlogin" class="form-label"
            >{% trans "New owner" %}<i class="required">*</i></label
          >
          <input
            type="text"
            id="newlogin"
            class="form-control"
            placeholder="{% trans 'FirstName/LastName' %}"
            required
          />
          <div class="newlogin suggestions"></div>
        </div>

        <div class="form-wrapper full-width">
          <label for="list_videos__search">{% trans "Filter" %}</label>
          <input
            name="all"
            placeholder="{% trans 'Filter by title' %}"
            type="text"
            id="list_videos__search"
            class="form-control"
          />
          <div class="filter suggestions semi-width"></div>
        </div>

        <div class="form-wrapper select_all_wrapper">
            <label class="label-control"
              >{% trans "Select video(s) to edit" %}<i class="required"
                >*</i
              ></label
            >
            <div class="flex">
              <label for="select_all" class="form-check-label"
                >{% trans "Select/Deselect all videos" %}</label
              >
              <input
                name="select_all"
                type="checkbox"
                id="select_all"
                class="select_all form-check-input"
              />
            </div>
        </div>
        <div class="form-wrapper__control select-videos form-control"></div>
        {% include "videos/paginator.html" with disable_next=True%}
        <div class="form-wrapper children-center">
          <button id="submitChanges" class="btn btn-primary">
            {% trans "Submit changes" %}
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
