{% load i18n video_tags thumbnail %}

{% spaceless %}
<div class="card card-body">
  <h2 class="card-title pod-card__title h4">
      <i class="bi bi-sliders2-vertical" aria-hidden="true"></i>&nbsp;{% trans 'Filters' %}
    <button type="button" id="resetFilters" class="btn btn-outline-primary" title="{% trans 'Reset the filters' %}" data-bs-toggle="tooltip">{% trans 'Reset' %}</button>
  </h2>
  <p class="filter-info">
    {% trans 'The videos on the left are automatically sorted according to the filters selected below. Check options to adjust results.' %}
  </p>
  <hr>

<form action="{% url 'videos:dashboard' %}" method="get" id="searchForm">
  {% if use_category %}
    {% include "videos/filter_aside_category.html" %}
  {% endif %}
</form>
</div>
{% endspaceless %}
