{% load i18n %}
{% load custom_tags %}

{% spaceless %}
<fieldset class="category_fieldset">
  <legend class="h5">
    <i class="bi bi-collection-fill" aria-hidden="true"></i>&nbsp;{% trans "Categories" %}
  </legend>
  <div class="align_flex">
    <button type="button" class="btn btn-outline-primary align_flex add-category-btn" id="add-category-btn">
      <i class="bi bi-plus-lg" aria-hidden="true"></i>
      {% trans "Add new category" %}
    </button>
  </div>
  <div>
    <div class="form-group my-3 {% if not categories %}hidden{% endif %}">
      <label for="search-categories-input" class="form-label">{% trans "Search" %}</label>
      <input id="search-categories-input" type="text" class="form-control" placeholder="{% trans 'Type at least 3 chars to filter categories' %}">
    </div>
    <div class="form-group navList categories" id="collapseFilterCategory">
      <ul id="categories-list" class="categories-list">
        {% include "videos/filter_aside_categories_list.html" %}
      </ul>
    </div>
  </div>
</fieldset>
{% endspaceless %}
