{% load i18n %}
{% load static %}

<form id="video_form" method="post" action="{% url 'video:dashboard_form' %}" accept-charset="utf-8">
    {% csrf_token %}
    {% if form.errors %}
        <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p>
            {{form.errors}}
    {% endif %}
    <div class="form-group">
        {% for field in form %}
            {% if "form-check-input" in field.field.widget.attrs.class %}
                <div class="form-check">
                    {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                </div>
                {% if field.name == "is_restricted"  %}
                    {{ form.restrict_access_to_groups }}
                {% endif %}
              {% else %}
              {% if "form-control-file" in field.field.widget.attrs.class and form.instance.video %}<br/>{% endif %}
                {{ field }}
            {% endif %}
          </div>
      {% endfor %}
      </div>
</form>
