{% load i18n video_tags %}

{% get_last_videos as LAST_VIDEOS %}

{% if LAST_VIDEOS %}
  <div class="pod-inner" id="last_videos">
    <h1 class="page_title">{% trans "Last videos" %}</h1>
    {# liste vignette vidéo 4 par ligne #}
    {% include "videos/video_list.html" with videos=LAST_VIDEOS %}

    <div class="highlight">
      <div class="d-flex justify-content-end">
        <p><a class="btn btn-lg btn-primary btn-sm" href="{% url 'videos:videos' %}">{% trans "Show all videos" %} <i class="bi bi-arrow-right-circle" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
{% endif %}
