{% load i18n %}
{% spaceless %}
<a href="{% url 'video_edit' slug=video.slug %}" title="{% trans "Edit the video"%}" class="p-0 m-0 btn btn-light btn-sm pl-1">
    <i data-feather="edit"></i></a>
<a href="{% url 'video_completion' slug=video.slug %}" title="{% trans "Complete the video"%}" class="p-0 m-0 btn btn-light btn-sm pl-1">
    <i data-feather="file-text"></i></a>
<a href="{% url 'video_chapter' slug=video.slug %}" title="{% trans "Chapter the video"%}" class="p-0 m-0 btn btn-light btn-sm pl-1">
<i data-feather="list"></i></a>
<a href="{% url 'video_delete' slug=video.slug %}" class="p-0 m-0 btn btn-light btn-sm pl-1" title="{% trans "Delete the video." %}">
    <i data-feather="trash-2"></i>
</a>
{%endspaceless%}