{% load i18n %}
{% load static %}
{% load playlist_list_modal %}
{% load favorites_playlist %}

{% block page_extra_head %}
{% endblock page_extra_head %}

<!-- Modal start LINK_VIDEO -->
<div class="modal fade" id="link-video-modal" tabindex="-1" aria-labelledby="link-video-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h3" id="link-video-label">
                    <i class="bi bi-sliders" aria-hidden="true"></i>&nbsp;{% trans "More options" %}
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans 'Close' %}">
                </button>
            </div>
            <div class="modal-body" id="link-video-modal-body">
                <div class="d-flex flex-row justify-content-start align-items-center mb-3 gap-4">
                    Hey !
                </div>
            </div>
        </div>
    </div>
</div> <!-- modal end LINK_VIDEO -->
{% block more_script %}
{% endblock more_script %}