{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block more_style %}
  {% if use_category %}
    <link rel="stylesheet" href="{% static 'css/video_category.css' %}?ver={{VERSION}}">
  {% endif %}
{% endblock more_style %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My videos" %}</li>{% endblock %}

{% block page_content %}
  {% comment %}
  <p class="debug">
    "types": request.GET.getlist('type'),
    "owners": request.GET.getlist('owner'),
    "disciplines": request.GET.getlist('discipline'),
    "tags_slug": request.GET.getlist('tag'),
  </p>
  {% endcomment %}
  {% if use_category %}
    {% include "videos/category_modal.html" %}
  {% endif %}
  <div class="row videos-list-header">
    {% if videos.paginator.count == 0 %}
      <p class="alert alert-info">{% trans 'You have not uploaded any videos yet, please use the "Add a new video" button to add one'%}</p>
    {% else %}
      <p class="alert alert-info">{% trans "Please use the thumbnails toolbar which is located under the video on which you want to work with." %}</p>
    {% endif %}
    <h2 id="video_count" class="page_title col-8">{% blocktrans count counter=count_videos %}{{ counter }} video found{% plural %}{{ counter }} videos found{% endblocktrans %}</h2>
    {% if count_videos > 1 %}
      <form id="sortForm" action="{% url 'video:my_videos' %}" method="get" class="filterSortForms col-4 mb-2">
        {% include "videos/video_sort_select.html" %}
      </form>
    {% endif %}
  </div>
  {% include 'loader.html' %}
  {% include "videos/video_list.html" %}
{% endblock page_content %}

{% block page_aside %}
  {% include 'videos/filter_aside.html' %}
{% endblock page_aside %}

{% block more_script %}
<script>
var page = 1;
var nextPage = false;
var ownerFilter = {{ owner_filter|yesno:'true,false'}};

{% if videos.has_next %}
  page = parseInt("{{videos.next_page_number}}")
  nextPage = true
{% endif %}
</script>
<script src="{% static 'js/infinite.js' %}?ver={{VERSION}}" ></script>
<script src="{% static 'js/filter-aside-element-list-refresh.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'js/filter_aside_video_list_refresh.js' %}?ver={{VERSION}}"></script>
{% if use_category %}
<script>
  const CATEGORIES_DATA = {{ categories | safe }};
  const BASE_URL = `${window.location.origin}${window.location.pathname}categories/`;
  {# create base url link for video management #}
  {% url 'video:video_edit' slug="abcd" as video_edit %}
  const EDIT_URL = `{{ video_edit|slice:"-5" }}`;
  {% url 'video:completion:video_completion' slug="abcd" as video_completion %}
  const COMPLETION_URL = `{{ video_completion|slice:"-5" }}`;
  {% url 'video:chapter:video_chapter' slug="abcd" as video_chapter %}
  const CHAPTER_URL = `{{ video_chapter|slice:"-5" }}`;
  {% url 'video:video_delete' slug="abcd" as video_delete %}
  const DELETE_URL = `{{ video_delete|slice:"-5" }}`;
  const VIDEO_URL = `${window.location.origin}/video/`;
</script>
<script defer src="{% static 'js/video_category.js' %}?ver={{VERSION}}"></script>
{% endif %}
{% endblock more_script %}
