{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block more_style %}
  {% if use_category %}
    <link rel="stylesheet" href="{% static 'css/video_category.css' %}?ver={{VERSION}}">
  {% endif %}
{% endblock more_style %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My videos" %}</li>{% endblock %}

{% block page_content %}
  {% if use_category %}
    <!-- Loader -->
    <div class="loader_wrapper">
      <div id="my_videos" class="lds-roller">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
    </div>
    <!-- End Loader -->
    {% include "videos/category_modal.html" %}
  {% endif %}
  {% if videos.paginator.count == 0 %}
    <h2 class="h4">{% trans "No video found"%}</h2>
    <p class="alert alert-info">{% trans 'You have not uploaded any videos yet, please use the "Add a new video" button to add one'%}</p>
  {% else %}
    <h2 class="h4">{% blocktrans count counter=videos.paginator.count %}{{ counter }} video found{% plural %}{{ counter }} videos found{% endblocktrans %}</h2>
    <p class="alert alert-info">{% trans "Please use the thumbnails toolbar which is located under the video on which you want to work with." %}</p>
    {% include "videos/video_list.html" %}
  {% endif %}
{% endblock page_content %}

{% block collapse_page_aside %}
  {% if use_category %}
    {{ block.super }}
  {% endif %}
{% endblock collapse_page_aside %}

{% block page_aside %}
  {% if use_category %}
    {% include 'videos/filter_aside_category.html' %}
  {% endif %}
{% endblock page_aside %}

{% block more_script %}
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}?ver={{VERSION}}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.infinite-loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.infinite-loading').hide();
      $('footer.static-pod').addClass('small');
      $('footer.static-pod').addClass('fixed-bottom');
      $('footer.static-pod').attr('style','height:80px; overflow-y:auto');
      $('footer.static-pod .hidden-pod').css('display','none');
      $(window).scroll(function () {
        if ($(window).height() + $(window).scrollTop() == $(document).height())
        {
           $('footer.static-pod .hidden-pod').css('display','block');
           $('footer.static-pod').attr('style','height:auto;');
           $('footer.static-pod').removeClass('fixed-bottom');
        }
      });
    }
  });
{% if use_category %}
  const CATEGORIES_DATA = {{ categories | safe }};
  </script>
  <script defer src="{% static 'js/video_category.js' %}?ver={{VERSION}}"></script>
{% else %}
  </script>
{% endif %}

{% endblock more_script %}
