<div class="paginator">
	<div class="paginator-content">
		<span
			class="previous_content disable"
			id="previous_content"
			title="Previous page"
		>
			<svg
				aria-hidden="true"
				focusable="false"
				data-prefix="fas"
				data-icon="arrow-alt-circle-left"
				class="svg-inline--fa fa-arrow-alt-circle-left fa-w-16"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
			>
				<path
					fill="currentColor"
					d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm116-292H256v-70.9c0-10.7-13-16.1-20.5-8.5L121.2 247.5c-4.7 4.7-4.7 12.2 0 16.9l114.3 114.9c7.6 7.6 20.5 2.2 20.5-8.5V300h116c6.6 0 12-5.4 12-12v-64c0-6.6-5.4-12-12-12z"
				></path>
			</svg>
		</span>
		<span
			class="pages_infos"
			id="pages_infos"
			title="{% if pages_info %}{{pages_info}}{% else %}0/0{% endif %}"
		>
			{% if pages_info %}{{pages_info}}{% else %}0/0{% endif %}
		</span>
		<span
			class="next_content {% if disable_next %} disable {% endif %}"
			id="next_content"
			title="Next page"
		>
			<svg
				aria-hidden="true"
				focusable="false"
				data-prefix="fas"
				data-icon="arrow-alt-circle-right"
				class="svg-inline--fa fa-arrow-alt-circle-right fa-w-16"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
			>
				<path
					fill="currentColor"
					d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
				></path>
			</svg>
		</span>
	</div>
</div>
