{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block opengraph %}
  {{ block.super }}
  <meta charset="utf-8">
{% endblock opengraph %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block page_extra_head %}
  <link rel="stylesheet" href="{% static 'css/video_stats_view.css' %}?ver={{VERSION}}">
{% endblock page_extra_head %}

{% block content %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<div class="row, stats_graph_per_day">
  <div class="col-sm-8 offset-sm-2 ">
    <canvas id="chart_view_per_day"></canvas>
    <script type="text/javascript">
      var ctx = $("#chart_view_per_day").get(0).getContext("2d");
      new Chart(ctx, {
          type: 'line', data: {{ data_day|safe }},
      });
    </script>
    <hr>
  </div>
</div>

<div class="row, stats_graph_cumulated">
  <div class="col-sm-8 offset-sm-2 ">
    <canvas id="chart_view_cumulated"></canvas>
    <script type="text/javascript">
      var ctx = $("#chart_view_cumulated").get(0).getContext("2d");
      new Chart(ctx, {
          type: 'line', data: {{ data_cumulated|safe }},
      });
    </script>
    <br/>
  </div>
</div>

{% endblock content %}

