{% load i18n %}
{% load tagging_tags %}
<h1 class="pt-2 h2">
  {% if video.licence %} {% include "videos/video_licencebox.html" %}{% endif %} {{video.title|capfirst}}
  {% if video.date_evt %}<small>[{{ video.date_evt }}]</small>{% endif %}
  <a href="{% url 'contact_us' %}?video={{video.id}}&subject=inappropriate_content" title="{% trans 'Report the video'%}" >
    <i data-feather="alert-octagon" aria-hidden="true"></i>
  </a>
</h1>

{% if video.chapter_set.all %}
  <div class="alert alert-info" role="alert">{% blocktrans %}This video is chaptered. Click the chapter button <span class="vjs-icon-chapters"></span> on the video player to view them.{% endblocktrans %}</div>
{%endif%}

<div class="pl-0 pr-0">
  <div class="navbar d-flex flex-row-reverse p-0" >
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% tags_for_object video as tag_list %}
    {% if video.description or tag_list or video.is_360 %}
    <li class="nav-item">
      <a class="nav-link active show" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-selected="true" title="{% trans 'Summary' %}">
        <i data-feather="align-justify" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" title="{% trans 'Infos' %}"
        {% if not video.description and not tag_list and not video.is_360 %}
          class="nav-link active show" aria-selected="true"
        {% else %}
          class="nav-link" aria-selected="false"
        {% endif %}
      ><i data-feather="info" aria-hidden="true"></i></a>
    </li>
    {% if video.allow_downloading or video.document_set.all %}
      <li class="nav-item">
        <a class="nav-link" id="downloads-tab" data-toggle="tab" href="#downloads" role="tab" aria-controls="downloads" aria-selected="false" title="{% trans 'Downloads' %}">
          <i data-feather="download" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if video.is_draft == False or video.owner == request.user or request.user in video.additional_owners.all %}
      <li class="nav-item">
        <a class="nav-link" id="share-tab" data-toggle="tab" href="#share" role="tab" aria-controls="share" aria-selected="false" title="{% trans 'Embed/Share' %}">
          <i data-feather="share-2" aria-hidden="true"></i>
        </a>
      </li>
    {%endif%}
    {% if third_app %}
    <li class="nav-item dropdown" id="list_third_apps">
      <a  href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{% trans 'Other versions' %}">
        <i data-feather="layers" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu" >
      {% if video.get_hashkey in request.get_full_path %}
        <a href="{% url 'video' slug=video.slug %}{{ video.get_hashkey }}/?redirect=false" title="{% trans 'Original version' %}" class="dropdown-item" target="_blank">{% trans 'Original version' %}</a>
        {% else %}
        <a href="{% url 'video' slug=video.slug %}?redirect=false" title="{% trans 'Original version' %}" class="dropdown-item" target="_blank">{% trans 'Original version' %}</a>
      {% endif %}
      </div>
    </li>
    {% else %}
      {% with video.get_other_version as versions %}
      {% if versions|length > 0 %}
        <li class="nav-item dropdown" id="list_third_apps">
          <a  href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{% trans 'Other versions' %}">
            <i data-feather="layers" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" >
            {% for version in versions %}
              {% if video.get_hashkey in request.get_full_path %}
                <a href="{{version.url}}{{ video.get_hashkey }}/?redirect=false" title="{{version.app}}" class="dropdown-item" >{{version.link}}</a>
              {% else %}
                <a href="{{version.url}}?redirect=false" title="{{version.app}}" class="dropdown-item" >{{version.link}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </li>
      {% endif %}
      {% endwith %}
    {%endif%}

    {% if request.user.playlist_set.all and video.is_draft == False %}
    <li class="nav-item dropdown dropright">
      <a  href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{% trans 'Add the video to a playlist'%}">
        <i data-feather="play-circle" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu">
      {% csrf_token %}
      <ul class="list-group">
      {% for playlist in request.user.playlist_set.all %}
        {% if video in playlist.videos %}
          <li class="dropdown-item py-0" >
            <a href="#" data-slug="{{playlist.slug}}" class="btn disabled p-0 m-0">{{playlist.title}}<i data-feather="check"></i></a>
          </li>
        {% else %}
          <li class="dropdown-item py-0" >
            <a href="#" data-slug="{{playlist.slug}}" class="btn playlist-item p-0 m-0">{{playlist.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      </div>
    </li>
    {% endif %}
  </ul>
  </div>
  {% include 'videos/video-info.html' %}
</div>
{% if active_video_comment %}
  {% include 'videos/video-comment.html' with is_auth=request.user.is_authenticated disable=video.disable_comment %}
{% endif %}
