{% extends 'base.html' %}
{% load static i18n %}
{% block opengraph %}
  {{ block.super }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
{% endblock opengraph %}

{% block page_extra_head %}
  <link type="text/css" rel="stylesheet" href="{% static 'jqGrid/css/ui.jqgrid-bootstrap5.css' %}?ver={{VERSION}}">
  <link rel="stylesheet" href="{% static 'css/video_stats_view.css' %}?ver={{VERSION}}">
  <style>
  .ui-jqgrid .ui-jqgrid-htable thead th div{
    height: 5em;
    text-wrap: auto;
    white-space: normal;
  }
  .table-responsive {
    max-width: 100%;
  }
  .table-success a{
    color: var(--pod-activelink-color);
  }
  {% if highlight %}
    #grid_{{highlight}} {
      background-color: var(--bs-highlight-bg);
    }
  {% endif %}
  </style>
{% endblock page_extra_head %}

{% block content %}
<div class="grid-container m-1">
  {% if form %}
    {% include "videos/video-form.html" %}
  {% else %}
    <h1 class="page_title h2">{{ page_title }}</h1>
    <div class="form-group row stat-form-group mb-1">
      <label for="jsperiode" class="col-7 col-form-label">{% trans "Change the date" %}</label>
      <div class="col-5 col-date">
        <input class="form-control" type="date" name="periode" id="jsperiode">
      </div>
    </div>
    <div class="table-responsive mb-4">
      <table id="grid"></table>
    </div>
    <div id="pager"></div>
  {% endif %}
</div>
{% endblock content %}

{% block more_script %}
  <script src="{% static 'jqGrid/js/i18n/grid.locale-'|add:LANGUAGE_CODE|add:'.js' %}?ver={{VERSION}}" charset="utf-8"></script>
  <script src="{% static 'jqGrid/js/jquery.jqGrid.min.js' %}?ver={{VERSION}}" charset="utf-8"></script>
  <script src="{% static 'js/video_stats_view.js' %}?ver={{VERSION}}" charset="utf-8"></script>
{% endblock %}
