{% load i18n %}
{% load staticfiles %}
{% load tagging_tags %}
{% load thumbnail %}

<div class="tab-content w-100" id="myTabContent">
  <div class="tab-pane fade active show" id="summary" role="tabpanel" aria-labelledby="summary-tab">
    <h5><i data-feather="align-justify"></i>&nbsp;{% trans 'Summary' %}</h5>
    {% if video.is_360 %}<p class="text-info">{% trans "This is a 360 degree video. To look around click and drag your mouse on the video."%}</p>{% endif %}
    {% tags_for_object video as tag_list %}
    {% if video.description or tag_list %}
    <p>{{ video.description|safe }}</p>
    {% if tag_list %}
    <p>{% trans 'Tags' %}:&nbsp;
      {% for tag in tag_list %}
       <a href="{% url 'videos' %}?tag={{ tag }}" title="{{ tag }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>
           <span class="label label-default">{{ tag }}</span>
       </a>
      {% endfor %}
    </p>
    {% endif %}
    {% else %}
    <p>[... {% trans "No information available" %} ...]</p>
    {% endif %}
  </div>
  <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <h5><i data-feather="info"></i>&nbsp;{% trans 'Infos' %}</h5>
    <p>
      {% trans 'Added by' %}: <a href="{% url 'videos' %}?owner={{ video.owner.username }}" title="{{ video.owner.get_full_name }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>
      {% thumbnail video.owner.owner.userpicture.file "x34" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='rounded' alt="{{user}}">
      {% endthumbnail %}
      {{ video.owner.get_full_name }}</a><br/>
      {% trans 'Updated on' %}: <strong>{{ video.date_added }}</strong><br/>
      {% trans 'Duration' %}: <strong>{{ video.duration_in_time }}</strong><br/>
      {% trans 'Number of view(s)' %}: <strong>{{ video.get_viewcount }}</strong>{% if USE_STATS_VIEW %} <a rel="noopener" target="_blank" href="{% url 'video_stats_view' video.slug %}?from=video">({% trans 'view detail' %})</a>{% endif %}<br/>
      {% trans 'Type' %}: <a href="{% url 'videos' %}?type={{ video.type.slug }}" title="{{ video.type.title }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>{{ video.type.title }}</a><br/>
      {% trans "Main language" %}: <strong>{{video.get_main_lang}}</strong>
      {% if video.cursus and video.cursus != '0' %}<br/>{% trans 'Audience' %}:{{video.get_cursus}}{%endif%}
      {% if video.discipline.all %}<br/>{% trans 'Disciplines' %}:&nbsp;
        {% for disc in video.discipline.all %}
        <a href="{% url 'videos' %}?discipline={{ disc.slug }}" title="{{ disc.title }}" {% if request.GET.is_iframe %}target="_blank"{% endif %}>
            {{ disc.title }}
        </a>
        {% endfor %}
      {%endif%}
    </p>
    {% if video.contributor_set.all %}
    <p><strong><u>{% trans 'Contributor' %} : </u></strong><br/>
      {% for contrib in video.contributor_set.all %}
      - {{ contrib.name }} ({% trans contrib.role %})
      {% if contrib.email_address %}
      <a href="javascript:linkTo_UnCryptMailto('{{ contrib.get_base_mail }}');" title="{% trans "send an email" %}">
        <i data-feather="mail"></i>
      </a>
      {% endif %}
      {% if contrib.weblink %}
        <a href="{{ contrib.weblink }}" target="_blank" title="{% trans "go to his web link" %} : {{ contrib.weblink }}">
            <i data-feather="external-link"></i>
        </a>
      {% endif %}
       <br/>
      {% endfor %}
    </p>
    {% endif %}
  </div>
  <div class="tab-pane fade" id="downloads" role="tabpanel">
    <h5 ><i data-feather="download"></i>&nbsp;{% trans 'Downloads' %}</h5>
    {% if video.allow_downloading %}
    <div><u>{% trans 'Video file(s)' %} :</u><br/>
      {% for vid in video.get_video_mp4 %}
      <form method="post" action="{% url 'download_file' %}">
        {% csrf_token %}
        <input type="hidden" value="{{vid.source_file.name}}" name="filename" />
        <input type="submit" class="btn btn-link btn-sm" value="{{vid.name}} ({{vid.encoding_format}} - {{ vid.source_file.size|filesizeformat }})">
      </form>
      {% endfor %}
      {% if video.get_video_mp3 %}
      <form method="post" action="{% url 'download_file' %}">
        {% csrf_token %}
        <input type="hidden" value="{{video.get_video_mp3.source_file.name}}" name="filename" />
        <input type="submit" class="btn btn-link btn-sm" value="{{video.get_video_mp3.name}} ({{video.get_video_mp3.encoding_format}} - {{ video.get_video_mp3.source_file.size|filesizeformat }})">
      </form>
      {% endif %}
    </div>
    {%endif%}
    {% if video.document_set.all %}
    <div><u>{% trans 'Document' %} :</u><br/>
      {% for doc in video.document_set.all %}
      <form method="post" action="{% url 'download_file' %}">
        {% csrf_token %}
        <input type="hidden" value="{{doc.document.file.name}}" name="filename" />
        <input type="submit" class="btn btn-link btn-sm" value="{{doc.document.name}} ({{doc.document.file_type}} - {{ doc.document.file.size|filesizeformat }})">
      </form>
      {% endfor%}
    </div>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="share" role="tabpanel" aria-labelledby="share-tab">
    <h5><i data-feather="share-2"></i>&nbsp;{% trans 'Embed/Share' %}</h5>
    {% if not video.is_restricted and video.password != '' %}
      <p>
          <label>{% trans 'Social Networks' %}</label>
          <a target="_blank" href="http://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode}}" class="btn btn-outline-primary btn-sm m-1" title="{% trans "Share on" %} Facebook"><i data-feather="facebook"></i></a>
          <a target="_blank" href="http://twitter.com/share?url={{request.build_absolute_uri|urlencode}}" class="btn btn-outline-primary btn-sm m-1" title="{% trans "Share on" %} Twitter"><i data-feather="twitter"></i></a>
          <a target="_blank" href="https://plus.google.com/share?url={{request.build_absolute_uri|urlencode}}" class="btn btn-outline-primary btn-sm m-1" title="{% trans "Share on" %} Google+" style="line-height: 24px;"> G+ </a>
      </p>
      <hr />
    {% endif %}
    <div class="list-group">
      <fieldset>
      <div class="list-group-item">
        <div class="form-group">
        <div class="form-check">
        <input type="checkbox" id="autoplay" class="form-check-input" /><label for="autoplay" class="form-check-label" >{% trans 'Autoplay' %}</label>
        <small id="autoplayHelp" class="form-text text-muted">{% trans 'Check the box to autoplay the video.' %}</small>
        </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="form-group">
        <div class="form-check">
        <input type="checkbox" id="loop" class="form-check-input" /><label for="loop" class="form-check-label" >{% trans 'Loop' %}</label>
        <small id="loopHelp" class="form-text text-muted">{% trans 'Check the box to loop the video.' %}</small>
        </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="form-group ">
          <div class="form-check">
            <input name="displaytime" class="form-check-input " id="displaytime" type="checkbox">
            <label for="displaytime" class="form-check-label">{% trans 'Start video' %}</label>
            <input type="text" class="start-at input-sm" name="txtposition" id="txtposition" readonly />
          </div>
          <small id="displaytimeHelp" class="form-text text-muted">{% trans 'Check the box to indicate the beginning of playing desired.' %}</small>
        </div>
      </div>
      <div class="list-group-item">
        <div class="form-group ">
          <label for="txtintegration">{% trans 'Copy the content of this text box and paste it in the page' %}:</label>
          <textarea name="txtintegration" id="txtintegration" class="form-control" rows="4">&lt;iframe src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'video' slug=video.slug %}?is_iframe=true" width="640" height="360" style="padding: 0; margin: 0; border:0" allowfullscreen &gt;&lt;/iframe&gt;</textarea>
        </div>
      </div>
      <div class="list-group-item">
        <div class="form-group">
          <label for="txtpartage">{% trans 'Use this link to share the video' %} :</label>
          <input class="form-control" type="text" name="txtpartage" id="txtpartage" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'video' slug=video.slug %}" />
        </div>
      </div>
      <div class="list-group-item">
        <div class="form-group">
          <label>{% trans 'QR code for this link' %} :</label>
          <img src="//chart.apis.google.com/chart?cht=qr&chs=200x200&chl={% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'video' slug=video.slug %}" alt="qrcode" id="qrcode"/>
        </div>
      </div>
      </fieldset>
    </div>
  </div>
</div>
