<div class="input-group-prepend">
  <label class="input-group-text custom_input_group_text" for="sort">Tri</label>
  <label id="sort_direction_label" class="input-group-text custom_input_group_text" for="sort_direction" style="cursor:pointer">&#8600;</label>
  <input id="sort_direction" type="checkbox" name="sort_direction" class="input-group-text form-control" style="display:none;">
</div>
<select id="sort" name="sort" class="form-control sort-select">
  <option value="title">Titre</option>
  <option selected value="date_added">Date d'ajout</option>
  <option value="duration">Durée</option>
</select>