{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'video:dashboard' %}">{% trans 'Dashboard' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'video:video' slug=video.slug %}">{{video.title}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Delete" %}</li>
{% endblock %}


{% block page_content %}
  <p>{% trans 'To delete the video, please checked in and click send.' %}</p>
  <form method="post" action="{{ request.get_full_path }}" id="video_delete_form" class='needs-validation' novalidate>
    {% csrf_token %}
    <div class="list-group">
      <fieldset>
        <legend>{% trans 'Agreement required' %}</legend>
        {% if form.errors %}
          <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p>
        {% endif %}
        {% for field_hidden in form.hidden_fields %}
          {{field_hidden}}
        {% endfor %}
        {% for field in form.visible_fields %}
          {% spaceless %}
          <div class="list-group-item">
            <div class="form-group {% if field.field.required %}form-group-required {% endif %}" >
              {{ field.errors }}
              {% if "form-check-input" in field.field.widget.attrs.class %}
                <div class="form-check">
                  {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label" >{{ field.label }}</label>
                </div>
              {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if "form-control-file" in field.field.widget.attrs.class and form.instance.video %}<br>{% endif %}
                {{ field }}
              {% endif %}
              {% if field.help_text %}
                <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
              {% endif %}
              {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>{% endif %}
            </div>
          </div>
          {% endspaceless %}
        {% endfor %}
        <div class="text-center mt-1">
          <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
          <a href="{% url 'video:video' slug=video.slug %}" title="{% blocktrans with video_title=video.title %}Back to the video “{{ video_title }}”{% endblocktrans %}" class="btn btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="bi bi-film" aria-hidden="true"></i>&nbsp;{% trans "Back to the video"%}
          </a>
        </div>
      </fieldset>
    </div>
  </form>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
{% endblock more_script %}
