<div class="input-group">
  <span class="input-group-text" for="sort">Tri</span>
  <button id="sort_direction_label" class="btn btn-primary" style="cursor:pointer">&#8600;</button>
  <input id="sort_direction" type="checkbox" name="sort_direction" class="form-control" style="display:none;">
  <select id="sort" name="sort" class="form-select sort-select">
    <option value="title">Titre</option>
    <option selected value="date_added">Date d'ajout</option>
    <option value="duration">Durée</option>
  </select>
</div>