{% load static i18n %}

{% if messages %}
  <div id="base-message-alert">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
    </div>
  {% endfor %}
  </div>
{% endif %}

<h2 class="card-header card-title pod-card__title h4">
  <i class="bi bi-journals"></i>&nbsp;{% trans "Take Note"%}
</h2>
<div class="card-body">
  {% if not listNotes %}
    <p class="noNotes"> {% trans "There is no note available for you for this video." %} </p>
    {% if request.user.is_authenticated %}
      <p class="noNotes"> {% trans "You can create a new one with the + icon." %} </p>
    {% else %}
      <p class="noNotes"> {% trans "Log in to create a new one." %} </p>
    {% endif %}
  {% endif %}
  {% if request.user.is_authenticated or listNotes %}
    <div class="mgtNotes mb-2 text-center">
      {% if request.user.is_authenticated %}
        {% comment %}
        <a class="p-0 m-0 btn btn-outline-primary btn-sm open" href="{% url 'video_collaborate' slug=video.slug %}" title="{% trans 'Large columns interface' %}"><i class="bi bi-arrows-angle-expand"></i></a>
        {% endcomment %}
        <form method="post" action="{% url 'video:video_notes' slug=video.slug %}" class="add_video_notes_form mt-1" role="menuitem">
          {% csrf_token %}
          <input type="hidden" name="action" value="form_note">
          <button class="btn btn-link pod-btn-social p-0 m-0" type="submit" action="create" title="{% trans 'Create a note' %}"> <i class="bi bi-journal-plus" aria-hidden="true"></i> </button>
        </form>
      {% endif %}
      {% if listNotes %}
        <form method="post" action="{% url 'video:video_notes' slug=video.slug %}" class="download_video_notes_form  mt-1" role="menuitem">
          {% csrf_token %}
          <input type="hidden" name="action" value="download">
          <button class="btn btn-link pod-btn-social p-0 m-0" type="submit" action="download" title="{% trans 'Download the notes' %}"> <i class="bi bi-download" aria-hidden="true"></i></button>
        </form>
      {% endif %}
    </div>
  {% endif %}

  <div id="id_notes" class="card-text">
    {% for note in listNotes %}
      <div id="note-{{ note.id }}" class="pod-note-wrapper">

        {% include "videos/video_note_display.html" %}

        {% if listComments and note == noteToDisplay or note_form and note == noteToDisplay %}
          <div class="comments">
            {% for com in listComments %}
              {% include "videos/video_note_comments_display.html" %}
            {% endfor %}

            {# Form used to create a comment #}
            {% if note_form and noteToDisplay and not comToDisplay and not noteToEdit and not comToEdit %}
              <form method="post" action="{% url 'video:video_notes' slug=video.slug %}" class="view_video_note_coms_form d-none">
                {% csrf_token %}
                <input type="hidden" name="action" value="get">
                <input type="hidden" name="idNote" value="{{ note.id }}">
              </form>
              <form method="post" action="{% url 'video:video_notes' slug=video.slug %}" id="video_notes_form">
              {% csrf_token %}
                {% if note_form.errors %} <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p> {% endif %}
                {% for field_hidden in note_form.hidden_fields %} {{field_hidden}} {% endfor %}
                {% for field in note_form.visible_fields %}
                  {% spaceless %}
                  <div class="form-group mb-2">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %} <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small> {% endif %}
                    {% if field.field.required %} <div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div> {% endif %}
                  </div>
                  {% endspaceless %}
                {% endfor %}
                <input type="hidden" name="idNote" value="{{ note.id }}">
                <input type="hidden" name="action" value="save_com">

                <div class="mt-3">
                  <input type="submit" name="submit" value="{% trans 'Save' %}" class="btn btn-sm btn-primary">
                  <input type="button" name="cancel" id="cancel_save_com" value="{% trans 'Cancel' %}" class="btn btn-sm btn-secondary">
                </div>
              </form>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {# Form used to create a note #}
    {% if request.user.is_authenticated and note_form and not noteToDisplay and not noteToEdit and not comToEdit %}
      <form method="post" action="{% url 'video:video_notes' slug=video.slug %}" class="view_video_notes_form d-none">
        {% csrf_token %}
        <input type="hidden" name="action" value="get">
      </form>
      <form method="post" action="{% url 'video:video_notes' slug=video.slug %}" id="video_notes_form">
      {% csrf_token %}
        {% if note_form.errors %} <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p> {% endif %}
        {% for field_hidden in note_form.hidden_fields %} {{field_hidden}} {% endfor %}
        <fieldset>
          <legend>{% trans "New note" %}</legend>
        {% for field in note_form.visible_fields %}
          {% spaceless %}
          <div class="form-group mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %} <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small> {% endif %}
            {% if field.field.required %} <div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div> {% endif %}
          </div>
          {% endspaceless %}
        {% endfor %}
        </fieldset>
        <input type="hidden" name="action" value="save_note">
        <div class="mt-2">
          <input type="submit" value="{% trans 'Save' %}" class="btn btn-sm btn-primary" id="video_notes_form_save">
          <input type="button" name="cancel" id="cancel_save" value="{% trans 'Cancel' %}" class="btn btn-sm btn-secondary">
        </div>
      </form>
    {% endif %}
  </div>
</div>
