{% load i18n %}
{% load static %}
{% spaceless %}

{% if videos %}
  <div
    id="videos_list"
    class="pod-infinite-container pod-infinite-grid-container-dashbord infinite-container dashboard-container"
    data-nextpage="{{ videos.has_next|yesno:'true,false' }}"
    data-countvideos="{{ count_videos }}"
  >
    {% for video in videos %}
      <div class="infinite-item" data-slug="{{ video.slug }}" tabindex="0">
        {% include "videos/card_select.html" %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <ul
    id="videos_list"
    class="pod-infinite-list-container-dashboard infinite-container list-group list-group-action dashboard-container"
    data-nextpage="false"
    data-countvideos="0"
  >
  {% if error_message %}
    <li class="list-group-item p-0 border-0">
      <div class="alert alert-info d-flex align-items-center mt-4 mb-0" role="alert">
        <i class="bi bi-info-circle-fill me-2 fs-3"></i>
        <div>
          <p class="mb-0">{% trans error_message.main %}</p>
          <small class="text-muted">{% trans error_message.types %}</small>
        </div>
        {% if error_message.types %}
          <a href="{% url 'video:video_add' %}" class="btn btn-primary btn-sm ms-auto">
            <i class="bi bi-plus-lg me-1"></i> {% trans "Add a video" %}
          </a>
        {% endif %}
      </div>
    </li>
  {% endif %}
  </ul>
{% endif %}

{% if videos.has_next %}
  <a
    style="display:none"
    class="infinite-more-link"
    href="{{ full_path }}{% if '?' in full_path %}&{% else %}?{% endif %}page={{ videos.next_page_number }}"
    data-nextpagenumber = "{% if videos.has_next %}{{ videos.next_page_number }}{% else %}null{% endif %}">{% trans "More" %}
  </a>
{% endif %}

<div class="infinite-loading" style="display: none;">
  {% trans "Loading…" %}
</div>
{% endspaceless %}
<script src="{% static 'js/video_select.js' %}?ver={{VERSION}}"></script>
{% if USE_PLAYLIST and USE_FAVORITES %}
  <script src="{% static 'playlist/js/utils-playlist.js' %}?ver={{VERSION}}"></script>
  <script src="{% static 'playlist/js/video-list-favorites-card.js' %}?ver={{VERSION}}"></script>
{% endif %}
