{% load i18n %}
{% load static %}
{% spaceless %}

<div id="videos_list" class="pod-infinite-container pod-infinite-grid-container infinite-container" data-nextpage="{{ videos.has_next|yesno:'true,false' }}" data-countvideos="{{ count_videos }}">
  {% for video in videos %}
  <div class="infinite-item card-group" data-slug={{video.slug}} onclick="toggleSelectedVideo(this)" onkeydown="toggleSelectedVideo(this)" tabindex="0">
    {% include "videos/card_select.html" %}
  </div>
  {% empty %}
  <div>
    <p>{% trans "Sorry, no video found." %}</p>
  </div>
  {% endfor %}
</div>
{% if videos.has_next %}
  <a
    style="display:none"
    class="infinite-more-link"
    href="{{ full_path }}{% if '?' in full_path %}&{% else %}?{% endif %}page={{ videos.next_page_number }}"
    data-nextpagenumber = "{% if videos.has_next %}{{ videos.next_page_number }}{% else %}null{% endif %}" >{% trans "More" %}
  </a>
{% endif %}

<div class="infinite-loading" style="display: none;">
  {% trans "Loading..." %}
</div>
{% endspaceless %}
<script src="{% static 'playlist/js/utils-playlist.js' %}?ver={{VERSION}}"></script>
<script defer src="{% static 'js/video_select.js' %}?ver={{VERSION}}"></script>
