{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "Videos" %}</li>{% endblock %}

{% block page_title %}{% trans "Videos" %}{% endblock %}


{% block page_content %}
  <h3>{% trans "Videos" %}</h3>
  <div class="row infinite-container">
    {% include "videos/video_list.html" %}
  </div>

  {% if videos.has_next %}
    <a class="infinite-more-link" href="?page={{ videos.next_page_number }}">More</a>
  {% endif %}

  <div class="loading" style="display: none;">
    Loading...
  </div>

{% endblock page_content %}

{% block page_aside %}
    {% include 'videos/filter_aside.html'%}
{% endblock page_aside %}


{% block more_script %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock more_script %}