{% load i18n %}
{% load static %}
{% load tagging_tags %}
{% load thumbnail %}
{% load video_tags %}
{% load playlist_stats %}
{% load favorites_playlist %}

<div class="video-info_duration-view-share">
  <div class="video-info__duration">
    <i class="bi bi-clock"></i>
    <span class="visually-hidden">{% trans 'Duration:' %}</span>
    {{ video.duration_in_time }}
  </div>
  <div class="pod-info-video__view">
    <i class="bi bi-eye"></i> {% trans 'Number of views' %}
    {% if USE_STATS_VIEW and not video.encoding_in_progress %}<a rel="noopener" target="_blank" title="{% trans 'Show details of view statistics' %}" href="{% url 'video:video_stats_view' video.slug %}?from=video">
      {{ video.get_viewcount }}</a>
    {% else %}
      {{ video.get_viewcount }}
    {% endif %}
  </div>
  {% if USE_PLAYLIST %}
    <div class="pod-info-video__playlists">
      <i class="bi bi-list-ul"></i> {% trans 'Addition in a playlist' %}
      {% if USE_STATS_VIEW and not video.encoding_in_progress %}<a rel="noopener" target="_blank" title="{% trans 'Show details of view statistics' %}" href="{% url 'video:video_stats_view' video.slug %}?from=video">
        <span id="addition_playlists_count">{% get_count_video_added_in_playlist video %}</span></a>
      {% else %}
        <span id="addition_playlists_count">{% get_count_video_added_in_playlist video %}</span>
      {% endif %}
    </div>
  {% endif %}
  {% if USE_PLAYLIST and USE_FAVORITES %}
    <div class="pod-info-video__favorites">
      <i class="bi bi-stars"></i> {% trans 'Number of favorites' %}
      {% if USE_STATS_VIEW and not video.encoding_in_progress %}<a rel="noopener" target="_blank" title="{% trans 'Show details of view statistics' %}" href="{% url 'video:video_stats_view' video.slug %}?from=video">
        <span id="favorites_count">{% get_total_favorites_video video %}</span></a>
      {% else %}
        <span id="favorites_count">{% get_total_favorites_video video %}</span>
      {% endif %}
    </div>
  {% endif %}
  <div class="pod-info-video__buttons">
    {% if USE_PLAYLIST and user.is_authenticated and not video.is_draft %}
      <button type="button" class="btn btn-link btn-lg pod-btn-share" title="{% trans 'Add the video to a playlist'%}" data-bs-toggle="modal" data-bs-target="#playlist-modal">
        <i class="bi bi-list-ul" aria-hidden="true"></i>
      </button>
      {% include "playlist/playlist-list-modal.html" %}

      {% is_favorite user video as is_favorite %}
      {% get_favorite_playlist user as fav_playlist %}
      {% if USE_PLAYLIST and USE_FAVORITES and video.is_draft is False and not hide_favorite_link is True %}
        {% if is_favorite %}
        <a href="{% url 'playlist:remove-video' fav_playlist.slug video.slug %}" title="{% trans 'Remove from favorite' %}" class="btn btn-link btn-lg pod-btn-share favorite-btn-link" id="favorite-button" aria-pressed="true">
          <i class="bi-star-fill" aria-hidden="true"></i>
        </a>
        {% else %}
        <a href="{% url 'playlist:add-video' fav_playlist.slug video.slug %}" title="{% trans 'Add in favorite' %}" class="btn btn-link btn-lg pod-btn-share favorite-btn-link" id="favorite-button" aria-pressed="false">
          <i class="bi-star" aria-hidden="true"></i>
        </a>
        {% endif %}

      {% endif %}
    {% endif %}
    {% if video.is_draft == False or video.owner == request.user or request.user in video.additional_owners.all %}
      <button type="button" class="btn btn-link btn-lg pod-btn-share" title="{% trans 'Embed/Share' %}" data-bs-toggle="modal" data-bs-target="#share">
        <i class="bi bi-share" aria-hidden="true"></i>
      </button>
    {% endif %}
    {% if video.allow_downloading or video.document_set.all %}
      <button type="button" class="btn btn-link btn-lg pod-btn-share" title="{% trans 'Downloads' %}" data-bs-toggle="modal" data-bs-target="#downloads">
        <i class="bi bi-download" aria-hidden="true"></i>
      </button>
    {% endif %}
  </div>
</div>

{% if video.description or tag_list or video.is_360 %}
<div class="pod-info-video__summary my-3" id="summary">
  {% if video.is_360 %}
    <p class="alert">{% trans 'This is a 360 degree video. To look around click and drag your mouse on the video.' %}</p>
  {% endif %}
  {% tags_for_object video as tag_list %}
  {% if video.description or tag_list %}
    <p>{{ video.description|safe }}</p>
    {% if tag_list %}
      <p>{% trans 'Tags:' %}
        {% for tag in tag_list %}
        <a href="{% url 'videos:videos' %}?tag={{ tag }}"
           {% if request.GET.is_iframe %} target="_blank" {% endif %}
           class="btn btn-link btn-sm">
          {{ tag }}
        </a>
        {% endfor %}
      </p>
    {% endif %}
  {% elif not video.is_360 %}
    <p>[... {% trans 'No information available' %} ...]</p>
  {% endif %}
</div>
{% endif %}

<div id="video-meta">

  <div id="info" class="pod-info-video__info">
    <h2 class="tab-title visually-hidden"><i class=" bi bi-info-circle"></i>&nbsp;{% trans 'Infos' %}</h2>
    <ul class="list-inline d-flex flex-wrap">
      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Added by:' %}</span>
        {% if owner_filter %}
            <a class="btn btn-link" href="{% url 'videos:videos' %}?owner={{ video.owner.get_username }}" {% if request.GET.is_iframe %}target="_blank" {% endif %}>
        {% endif %}
          {% if video.owner.owner.userpicture.file %}
            {% thumbnail video.owner.owner.userpicture.file "x34" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="userpicture rounded" alt="" loading="lazy">
            {% endthumbnail %}
          {% endif %}
          {{ video.owner }}
        {% if owner_filter %}
          </a>
        {% endif %}
      </li>
      {% if video.additional_owners.all %}
      <li class="col-6 col-md-4">
        <span class="pod-meta-title pod-meta-title-additional-owners">{% trans 'Additional owner(s):' %}</span>

        <ul class="list-unstyled">
          {% for additionalOwner in video.additional_owners.all %}
            <li>
            {% if owner_filter %}
                <a href="{% url 'videos:videos' %}?owner={{ additionalOwner.get_username }}" {% if request.GET.is_iframe %}target="_blank" {% endif %}>
            {% endif %}
            {% if additionalOwner.owner.userpicture.file %}
              {% thumbnail additionalOwner.owner.userpicture.file "x50" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='rounded' alt="{{user}}" loading="lazy">
              {% endthumbnail %}
            {% endif %}
            {{ additionalOwner }}
            {% if owner_filter %}
                </a>
            {% endif %}
            </li>
          {% endfor %}
        </ul>

      </li>
      {% endif %}

      {% if video.contributor_set.all %}
      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Contributor(s):' %}</span>
        <div>
          <ul>
            {% for contrib in video.contributor_set.all %}
            <li>
              {{ contrib.name }} ({% trans contrib.role %})
              {% if contrib.email_address %}
              <a href="javascript:linkTo_UnCryptMailto('{{ contrib.get_base_mail }}');" title="{% trans 'send an email' %}">
                <i class="bi bi-envelope"></i>
              </a>
              {% endif %}
              {% if contrib.weblink %}
              <a href="{{ contrib.weblink }}" target="_blank" title="{% trans 'contributor web link' %}">
                <i class="bi bi-box-arrow-up-right"></i>
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endif %}

      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Updated on:' %}</span>
        {{ video.date_added }}
      </li>
      <!--
      <li class="col-6 col-md-4">
        <h3 class="pod-meta-title">{% trans 'Duration:' %}</h3>
        <div>{{ video.duration_in_time }}</div>

      </li>-->

      {% if video.channel.all %}
        <li class="col-6 col-md-4">
          <span class="pod-meta-title">{% blocktrans count counter=video.channel.all|length %}Channel:{% plural %} Channels:{% endblocktrans %}</span>
          <ul class="list-unstyled">{% for channel in video.channel.all %}
            <li><a href="{% url 'channel-video:channel' slug_c=channel.slug%}"
                   {% if request.GET.is_iframe %}target="_blank" {% endif %}
                   class="btn btn-link btn-sm px-0">
                  {{ channel.title }}
            </a></li>
          {% endfor %}</ul>
        </li>
      {% endif %}

      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Type:' %}</span>
        <a href="{% url 'videos:videos' %}?type={{ video.type.slug }}"
           {% if request.GET.is_iframe %}target="_blank" {% endif %}
           class="btn btn-link btn-sm px-0"
        >{{ video.type.title }}</a>
      </li>

      <li class="col-6 col-md-4">
        <span class="pod-meta-title">{% trans 'Main language:' %}</span>
        {{video.get_main_lang}}
      </li>

      {% if video.cursus and video.cursus != '0' %}
        <li class="col-6 col-md-4">
          <span class="pod-meta-title">{% trans 'Audience:' %}</span>
          {{video.get_cursus}}
        </li>
      {% endif %}

      {% if video.discipline.all %}
        <li class="col-6 col-md-4">
          <span class="pod-meta-title">{% trans 'Discipline(s):' %}</span>
          <ul>
            {% for disc in video.discipline.all %}
            <li><a href="{% url 'videos:videos' %}?discipline={{ disc.slug }}" {% if request.GET.is_iframe %}target="_blank" {% endif %}>{{ disc.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}

      {% if request.GET.is_iframe and video.licence %}
        <li class="col-6 col-md-4">
          <span class="pod-meta-title">{% trans 'Licence:' %}</span>
          {% include "videos/video_licencebox.html" %}
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="modal fade" id="downloads" tabindex="-1" aria-labelledby="downloadsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title h3" id="downloadsLabel"><i class="bi bi-download"></i>&nbsp;{% trans 'Downloads' %}</h2>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
        </div>
        <div class="modal-body">
          {% if video.allow_downloading %}
          <!-- <div class="col-4"> -->
            <h3 class="h4">
              <i class="bi bi-camera-video"></i>
              {% trans 'Video file(s):' %}
            </h3>
            <ul>{% for vid in video.get_video_mp4 %}
              {% if vid.source_file|file_exists %}
              <li>
                <form method="post" action="{% url 'download_file' %}">
                  {% csrf_token %}
                  <input type="hidden" value="{{vid.source_file.name}}" name="filename">
                  <input type="submit" class="btn btn-link" value="{{vid.name}} ({{vid.encoding_format}} - {{ vid.source_file.size|filesizeformat }})">
                </form>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          <!-- </div> -->
          <!-- <div class="col-4"> -->
            {% if video.get_video_mp3 %}
              <span class="meta-title pod-meta-title pod-download-title"><i class="bi bi-soundwave"></i>{% trans 'Audio file:' %}</span>
              <ul>
                <li>
                  <form method="post" action="{% url 'download_file' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{video.get_video_mp3.source_file.name}}" name="filename">
                    <input type="submit" class="btn btn-link btn-sm" value="{{video.get_video_mp3.name}} ({{video.get_video_mp3.encoding_format}} - {{ video.get_video_mp3.source_file.size|filesizeformat }})">
                  </form>
                </li>
              </ul>
            {% endif %}

         <!--  </div> -->
          {% endif %}

          <!-- <div class="col-4"> -->
            {% if video.document_set.all %}
              <span class="meta-title pod-meta-title pod-download-title"><i class="bi bi-files"></i>{% trans 'Document:' %}</span>
                <ul>{% for doc in video.document_set.all %}
                  <li>
                    <form method="post" action="{% url 'download_file' %}">
                      {% csrf_token %}
                      <input type="hidden" value="{{doc.document.file.name}}" name="filename">
                      <input type="submit" class="btn btn-link btn-sm" value="{{doc.document.name}} ({{doc.document.file_type}} - {{ doc.document.file.size|filesizeformat }})">
                    </form>
                  </li>
                  {% endfor%}
                </ul>
            {% endif %}
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% if video.is_draft == False or video.owner == request.user or request.user in video.additional_owners.all%} <!-- Début modale PARTAGE-->
<div class="modal fade" id="share" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title h3" id="shareLabel">
          <i class="bi bi-share"></i>&nbsp;{% if video.is_draft %}{% trans 'Embed/Share (Draft Mode)' %}{% else %}{% trans 'Embed/Share' %}{% endif %}
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">

        <div {% if video.is_draft %}style="border:1px solid red" {% endif %}>

          {% if not video.is_draft and not video.is_restricted and video.password != '' %}
            <dl class="row">
              <dt class="col-sm-3 text-right visually-hidden">{% trans 'Social Networks' %}</dt>
              <dd class="col-sm-9 mb-0">
                <ul class="list-inline mb-0 social_links">
                  <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} Facebook" data-bs-toggle="tooltip" data-bs-placement="bottom">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                      <span class="visually-hidden">{% trans 'Share on Facebook' %}</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/share?url={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} X (Twitter)" data-bs-toggle="tooltip" data-bs-placement="bottom">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                      <span class="visually-hidden">{% trans 'Share on X (Twitter)' %}</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri|urlencode}}" class="btn pod-btn pod-btn-social  m-1" title="{% trans 'Share on' %} LinkedIn" data-bs-toggle="tooltip" data-bs-placement="bottom">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                      <span class="visually-hidden">{% trans 'Share on LinkedIn' %}</span>
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
            <hr>
          {% endif %}
          {% if video.is_draft %}
          <div class="card text-white bg-danger mb-3">
            <div class="card-body">
              {% blocktrans %}Please note that your video is in draft mode.<br>
The following links contain a key allowing access.
Anyone with this links can access it.{% endblocktrans %}
            </div>
          </div>
          {% endif %}

          <div>
            <fieldset class="pod-share-fieldset">
              <legend><i class="bi bi-gear"></i>&nbsp;{% trans 'Options' %}</legend>
              <div class="form-check mb-2">
                <input type="checkbox" id="autoplay" class="form-check-input"><label for="autoplay" class="form-check-label">{% trans 'Autoplay' %}</label>
                <div id="autoplayHelp" class="form-text">{% trans 'Check the box to autoplay the video.' %}</div>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" id="loop" class="form-check-input"><label for="loop" class="form-check-label">{% trans 'Loop' %}</label>
                <div id="loopHelp" class="form-text">{% trans 'Check the box to loop the video.' %}</div>
              </div>
              <div class="form-check mb-2">
                <input name="displaytime" class="form-check-input" id="displaytime" type="checkbox">
                <label for="displaytime" class="form-check-label">{% trans 'Customize start of the video' %}</label>
                <label for="txtposition" class="visually-hidden">{% trans 'Start at' %}</label>
                <input type="text" class="form-control start-at input-sm" name="txtposition" id="txtposition" readonly>
                <div id="displaytimeHelp" class="form-text">{% trans 'Check the box to indicate the beginning of playing desired.' %}</div>
              </div>

            </fieldset>

            <fieldset class="pod-share-fieldset">
              <legend><i class="bi bi-code"></i>&nbsp;{% trans 'Embed in a web page' %}</legend>
              <div class="form-group ">
                <label for="txtintegration">{% trans 'Copy the content of this text box and paste it in the page:'%}</label>
                <textarea name="txtintegration" id="txtintegration" class="form-control" rows="4" readonly>&lt;iframe src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% if enrichment%}{% url 'enrichment:video_enrichment' slug=video.slug %}{% else %}{% url 'video:video' slug=video.slug %}{% endif %}{% if video.is_draft == True %}{{ video.get_hashkey }}/{% endif %}?is_iframe=true" width="640" height="{{video.get_player_height}}" style="padding: 0; margin: 0; border:0" allowfullscreen title="{{ video.title }}" &gt;&lt;/iframe&gt;</textarea>
              </div>
            </fieldset>

            {% if request.user == video.owner or request.user in video.additional_owners.all%}
              <fieldset class="pod-share-fieldset">
                <legend><i class="bi bi-cloud-upload"></i>&nbsp;{% trans 'BigBlueButton/H5P Integration' %}</legend>
                <p>{% trans 'Use these links in a BigBlueButton meeting or an interactive H5P video activity:' %}</p>
                <div class="form-group">
                  {% for vid in video.get_video_mp4 %}
                    <div class="input-group mb-1">
                      <label class="input-group-text" for="vid_url_{{vid.name}}">{{vid.name}}</label><input id="vid_url_{{vid.name}}" class="form-control" type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{{vid.source_file.url}}" readonly>
                    </div>
                  {% endfor %}
                  {% if video.is_video == False and video.get_video_mp3 %}
                    <div class="input-group mb-1">
                      <label class="input-group-text" for="vid_url_{{video.get_video_mp3.name}}">{{video.get_video_mp3.name}}</label>
                      <input class="form-control" id="vid_url_{{video.get_video_mp3.name}}" type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{{video.get_video_mp3.source_file.url}}" readonly>
                    </div>
                  {% endif %}
                </div>
              </fieldset>
            {% endif %}

            <fieldset class="pod-share-fieldset">
              <legend><i class="bi bi-link-45deg"></i>&nbsp;{% trans 'Share the link' %}</legend>
              <div class="form-group">
                <label for="txtpartage">{% trans 'Use this link to share the video:' %}</label>
                <input class="form-control" type="text" name="txtpartage" id="txtpartage" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% if enrichment%}{% url 'enrichment:video_enrichment' slug=video.slug %}{% else %}{% url 'video:video' slug=video.slug %}{% endif %}{% if video.is_draft == True %}{{ video.get_hashkey }}/{% endif %}" readonly>
              </div>
              <div class="form-group">
                <label>{% trans 'QR code for this link:' %}&nbsp;
                  <a href="#" class="btn pod-btn pod-btn-social m-1" title="{% trans 'Warning, it use google API' %}" role="button" data-bs-toggle="collapse" data-bs-target="#qrcode" aria-expanded="false" aria-controls="qrcode">
                    <i class="bi bi-eye"></i>
                  </a>
                </label>
                <img src="" data-src="//chart.apis.google.com/chart?cht=qr&amp;chs=200x200&amp;chl={% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% if enrichment%}{% url 'enrichment:video_enrichment' slug=video.slug %}{% else %}{% url 'video:video' slug=video.slug %}{% endif %}{% if video.is_draft == True %}{{ video.get_hashkey }}/{% endif %}" alt="{% trans 'QR code' %}" id="qrcode" loading="lazy" class="collapse">
              </div>
            </fieldset>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- modal end -->
{% endif %}
