{% load i18n %}
<div class="input-group">
  <label for="sort" class="input-group-text" aria-label="{% trans 'Sort' %}">{% trans 'Sort' %}</label>
  <button id="sort_direction_label" class="btn btn-primary" title="{% trans 'Descending sort' %}" style="cursor:pointer">&#8600;</button>
  <label for="sort_direction" class="visually-hidden">{% trans 'Sort Direction' %}</label>
  <input id="sort_direction" type="checkbox" name="sort_direction" class="form-control" style="display:none;">
  <select id="sort" name="sort" class="form-select sort-select">
    <option value="title">{% trans 'Title' %}</option>
    <option selected value="date_added">{% trans 'Date added' %}</option>
    <option value="duration">{% trans 'Duration' %}</option>
  </select>
</div>
