
{% load static custom_tags video_tags %}
{% load i18n %}
{% get_setting "VIDEO_PLAYBACKRATES" '[0.5, 1, 1.5, 2]' as video_playbackrates %}
{% get_setting "USE_VIDEO_EVENT_TRACKING" False as video_event_tracking %}
{% get_setting "USE_VIDEO_P2P" False as use_video_p2p %}
{% get_setting "P2P_TRACKERS" "" as p2p_trackers %}
{% get_setting "P2P_STUNS" "" as p2p_stuns %}

<script id="id_video_script">
  var seektime = 10;
  var options = {};
  var player;
  var engineHlsJs;
  {% if use_video_p2p %}
  var downloadTotals = { http: 0, p2p: 0 };
  var uploadTotal = 0;
  var nb_peers = 0;
  {% endif %}
  var initialized_player = function() {

    window.onmessage = function(event) {
      var evt = event || window.event;
      {# maybe use request.get_host to protect it... #}
        if(evt.data.type == 'player:play') {
          player.play();
          evt.source.postMessage({paused: player.paused(), data: {}}, evt.origin);
        }
        if(evt.data.type == 'player:pause') {
          player.pause();
          evt.source.postMessage({paused: player.paused(), data: {}}, evt.origin);
        }
        if(evt.data.type == 'player:mute') {
          player.muted(true);
          evt.source.postMessage({muted: player.muted(), data: {}}, evt.origin);
        }
        if(evt.data.type == 'player:unmute') {
          player.muted(false);
          evt.source.postMessage({muted: player.muted(), data: {}}, evt.origin);
        }
    };
    
    var VideoHlsjsConfig = {
        maxBufferSize: 0,
        maxBufferLength: 10,
        liveSyncDurationCount: 10,
    }
    {% if use_video_p2p %}
    const p2p_config = {
      segments:{
        // number of segments to pass for processing to P2P algorithm
        forwardSegmentCount:50, // usually should be equal or greater than p2pDownloadMaxPriority and httpDownloadMaxPriority
        swarmId: '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{{video.get_playlist_master.source_file.url}}',
      },
      loader:{
        /** configure personal tracker and STUN servers */
        trackerAnnounce: [
          {% for tracker in p2p_trackers %}
          "{{tracker}}"{% if not forloop.last %},{%endif%}
          {% endfor %}
        ],
        rtcConfig: {
          iceServers: [
          {% for stun in p2p_stuns %}
          { urls: "{{stun}}" }{% if not forloop.last %},{%endif%}
          {% endfor %}
          ]
        },
        // how long to store the downloaded segments for P2P sharing
        cachedSegmentExpiration:86400000,
        // count of the downloaded segments to store for P2P sharing
        cachedSegmentsCount:1000,

        // first 4 segments (priorities 0, 1, 2 and 3) are required buffer for stable playback
        requiredSegmentsPriority:3,

        // each 1 second each of 10 segments ahead of playhead position gets 6% probability for random HTTP download
        httpDownloadMaxPriority:9,
        httpDownloadProbability:0.06,
        httpDownloadProbabilityInterval: 1000,

        // disallow randomly download segments over HTTP if there are no connected peers
        httpDownloadProbabilitySkipIfNoPeers: true,

        // P2P will try to download only first 51 segment ahead of playhead position
        p2pDownloadMaxPriority: 50,

        // 1 second timeout before retrying HTTP download of a segment in case of an error
        httpFailedSegmentTimeout:1000,

        // number of simultaneous downloads for P2P and HTTP methods
        simultaneousP2PDownloads:20,
        simultaneousHttpDownloads:3,

        // enable mode, that try to prevent HTTP downloads on stream start-up
        httpDownloadInitialTimeout: 120000, // try to prevent HTTP downloads during first 2 minutes
        httpDownloadInitialTimeoutPerSegment: 17000, // try to prevent HTTP download per segment during first 17 seconds

        // allow to continue aborted P2P downloads via HTTP
        httpUseRanges: true,
      }
    };

    if (p2pml.hlsjs.Engine.isSupported()) {
      downloadTotals = { http: 0, p2p: 0 };
      uploadTotal = 0;
      nb_peers = 0;
      engineHlsJs = new p2pml.hlsjs.Engine(p2p_config);
      VideoHlsjsConfig["loader"] = engineHlsJs.createLoaderClass();
      engineHlsJs.on(p2pml.core.Events.PeerConnect, onPeerConnect.bind(this));
      engineHlsJs.on(p2pml.core.Events.PeerClose, onPeerClose.bind(this));
      engineHlsJs.on(p2pml.core.Events.PieceBytesDownloaded, onBytesDownloaded.bind(this));
      engineHlsJs.on(p2pml.core.Events.PieceBytesUploaded, onBytesUploaded.bind(this));
      //engineHlsJs.on("segment_loaded", (segment, peerId) => console.log("segment_loaded from", peerId ? `peer ${peerId}` : "HTTP", segment.url));
    }
    {% endif %}
    options = {
      notSupportedMessage: "{% trans 'Please use different browser' %} (Mozilla Firefox, Google Chrome, Safari, Microsoft Edge)",
      //language: "fr", //en or nl
      {% if video.is_video and request.GET.is_iframe %}
        fluid: false,
      {% else %}
        fluid: true,
      {% endif %}
      responsive: true,
      playbackRates: {{video_playbackrates}},
      html5: {
          hlsjsConfig: VideoHlsjsConfig
      },
      controlBar: {
        {% if event is None %}
        skipButtons: {
          forward: seektime,
          backward: seektime
        }
        {% endif %}
      },
      userActions: {
        hotkeys: function(event) {
          // `this` is the player in this context
          if (event.code === 'Space') {
            event.preventDefault();
            if(!this.paused()) this.pause();
            else this.play();
          }
          if (event.key === 'm') {
            event.preventDefault();
            this.muted(!this.muted());
          }
          if (event.key === 'f') {
            event.preventDefault();
            this.requestFullscreen();
          }
          // `arrow left`
          if (event.code === 'ArrowLeft') {
            event.preventDefault();
            this.currentTime(Math.floor(this.currentTime())-seektime);
          }
          // `arrow right`
          if (event.code === 'ArrowRight') {
            event.preventDefault();
            this.currentTime(Math.floor(this.currentTime())+seektime);
          }
          if( event.code === "ArrowUp" ) {
            event.preventDefault();
            this.volume(this.volume()+0.1);
          }
          if( event.code === "ArrowDown" ) {
            event.preventDefault();
            this.volume(this.volume()-0.1);
          }
        }
      },
      plugins: {
        {% if not video.is_video and event is None %}
        // enable videojs-wavesurfer plugin
        wavesurfer: {
          backend: 'MediaElement',
          displayMilliseconds: true,
          debug: false,
          waveColor: 'grey',
          progressColor: 'black',
          cursorColor: 'var(--pod-primary)',
          hideScrollbar: false
        }
        {% endif %}
      }
    }

    player = videojs('podvideoplayer', options, function(){});
    {% if use_video_p2p %}
    if (p2pml.hlsjs.Engine.isSupported()) {
      p2pml.hlsjs.initVideoJsContribHlsJsPlayer(player);
    }
    {% endif %}
    player.on('firstplay', function(){
      var data_form = $( "#video_count_form" ).serializeArray();
      jqxhr = $.post(
        $( "#video_count_form" ).attr("action"),
        data_form
      );
    });

  {% if video.is_video %}
    /** get all mp4 format **/
    var mp4_sources = {{ video.get_video_mp4_json|safe }};

    {% if video.get_playlist_master %}
      var srcOptions = {
        src: '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{{video.get_playlist_master.source_file.url}}',
        type: '{{video.get_playlist_master.encoding_format}}',
      };
      player.on('loadedmetadata', function() {
        {% if request.GET.start and request.GET.start != '0' %}
          player.currentTime({{request.GET.start}});
        {% endif %}
      });
      //Add source to player
      player.src(srcOptions);
      //add quality selector to player
      player.qualitySelectorHls({
          displayCurrentQuality: true,
      });
      player.on("error", function(e) {
        e.stopImmediatePropagation();
        var error = player.error();
        //alert(error.code+" "+error.type+" "+error.message);
        if(error.code == 3 || error.code == 4) {
          //console.log('error!', error.code, error.type , error.message);
          if(player.src()=="" || player.src().indexOf("m3u8")!=-1){
            //player.controlBar.addChild('QualitySelector');
            player.play();
          }
        }
      });
    {% else %}
      player.src(mp4_sources);
      //player.controlBar.addChild('QualitySelector');
    {% endif %}
    {% if video.overview %}
      //add overview
      player.vttThumbnails({
        src: '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{{video.overview.url}}?date={{video.overview|file_date_created}}'
      });
    {% endif %}

    {% if video.overlay_set.all %}
      var list_overlays = [];
      $('ul#overlays li').each(function() {
        list_overlays.push({
          content: $(this).attr('data-content'),
          align: $(this).attr('data-position'),
          showBackground: ($(this).attr('data-background') === 'true'),
          start: parseInt($(this).attr('data-timestart')),
          end: parseInt($(this).attr('data-timeend'))
        });
      });
      if (typeof player.overlay === "function") {
        player.overlay({
          overlays: list_overlays
        });
      }
    {% endif %}

    {% if video.is_360 %}
      player.vr({projection: '360'});
    {% endif %}
    //add logo to the player
    player.videoJsLogo({
      imgsrc: '{% static LOGO_PLAYER %}',
      linktitle: '{{ TITLE_SITE }} - {% if LINK_PLAYER_NAME %}{{ LINK_PLAYER_NAME }}{% else %}{% trans "Home" %}{% endif %} - {% trans "New window" %}',
      link: '{{ LINK_PLAYER }}'
    });
    {% else %}
    {% if video.get_video_m4a %}
      var srcOptions = {
        src: '{{video.get_video_m4a.source_file.url}}',
        type: '{{video.get_video_m4a.encoding_format}}',
      };
      //Add source to player
      player.src(srcOptions);
      //add logo to the player
      player.videoJsLogo({
        imgsrc: '{% static LOGO_PLAYER %}',
        linktitle: '{{ TITLE_SITE }} - {% if LINK_PLAYER_NAME %}{{ LINK_PLAYER_NAME }}{% else %}{% trans "Home" %}{% endif %} - {% trans "New window" %}',
        link: '{{ LINK_PLAYER }}'
      });
      player.on('loadedmetadata', function() {
        {% if request.GET.start and request.GET.start != '0' %}
        player.currentTime({{request.GET.start}});
        {% endif %}
      });
    {% endif %}
  {% endif %}

  {% if video_event_tracking %}
    {# Be sure to define _paq in a tracking script in TEMPLATE_VISIBLE_SETTINGS:TRACKING_TEMPLATE pref. #}
    player.on('play', function() {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'play', player.currentTime()]);
    });
    player.on('pause', function() {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'pause', player.currentTime()]);
    });
    player.on("seeked", function (e) {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'seeked', player.currentTime()]);
    });
    player.on("ended", function (e) {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'ended', player.currentTime()]);
    });
    player.on("ratechange", function (e) {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'ratechange', player.playbackRate()]);
    });
    player.on("fullscreenchange", function (e) {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'fullscreen :'+ player.isFullscreen(), player.currentTime()]);
    });
    player.on("error", function (e) {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'error', player.error()]);
    });
    player.on("loadedmetadata", function (e) {
      _paq.push(['trackEvent', 'Videos', '{{video.slug}}', 'loadedmetadata']);
    });
  {% endif %}

  /* --- PLAYLIST --- */
  {% if playlist_in_get.autoplay %}
    player.on('ended', function (e) {
      {% if COUNTDOWN_PLAYLIST_PLAYER >= 3 %}
        const playButtonElement = document.querySelector('.vjs-big-play-button');
        if (playButtonElement) {
            playButtonElement.remove();
        }
        asyncStartCountDown().then(function () {
          player.dispose();
          switchToNextVideo();
        });
      {% else %}
        player.dispose();
        switchToNextVideo();
      {% endif %}
    });
  {% endif %}

  {% if not video.is_video and event is None %}
    window.addEventListener('resize', function(){
      // Auto resize Waves on window resize.
      player.wavesurfer().surfer && player.wavesurfer().surfer.drawer.fireEvent('redraw');
    });
  {% endif %}
  {% if request.GET.is_iframe %}
  var ModalDialog = videojs.getComponent('ModalDialog');
  var modal = new ModalDialog(player, {
    // We don't want this modal to go away when it closes.
    temporary: false,
    fillAlways: true,
    content: document.querySelector('#info-video') //.cloneNode(true)
  });
  modal.on('modalclose', function() {
    player.play();
  });
  player.addChild(modal);
  //modal.setAttribute('style', 'background-color:#fff');
  var button = player.getChild('ControlBar').addChild('button', {
    clickHandler: function(event) {
      modal.open();
    },
    controlText: 'Information',
    className: 'vjs-info-button'
  });
  button.setAttribute("aria-label", "Information");
  {% endif %}
}

initialized_player()

function updateStats() {
  let httpMb = downloadTotals.http / 1048576;
  let p2pMb = downloadTotals.p2p / 1048576;
  let totalMb = httpMb + p2pMb;
  let uploadMb = uploadTotal / 1048576;
  let statInfo = "";
  if (totalMb != 0) {
      statInfo += '<i class="bi bi-person-fill-down"></i> '
          + Number(totalMb).toFixed(1) + " MiB ";
      statInfo += '[ <i class="bi bi-server"></i> : '
          + Number(httpMb).toFixed(1) + " MiB / "
          + Number((httpMb * 100) / totalMb).toFixed(0) + "%";
      statInfo +=  ' - <i class="bi bi-people"></i> : '
          + Number(p2pMb).toFixed(1) + " MiB / "
          + Number((p2pMb * 100) / totalMb).toFixed(0) + "% ]";
      statInfo +=  ' - <i class="bi bi-person-fill-up"></i> '
          + Number(uploadMb).toFixed(1) + " MiB";
  }
  var stat_info = document.querySelector("#stat-info");
  if(stat_info) {
    stat_info.innerHTML = statInfo;
  }
}

function updatePeers() {
  let statPeer = '<i class="bi bi-people-fill"></i> ' + nb_peers;
  document.querySelector("#stat-peers").innerHTML = statPeer;
}

function onBytesDownloaded(method, segment, bytes) {
  // console.log("onBytesDownloaded", method, size)
  downloadTotals[method] += bytes;
  updateStats();
}

function onBytesUploaded(method, segment, bytes) {
  // console.log("onBytesUploaded", method, size)
  uploadTotal += bytes;
  updateStats();
}

function onPeerConnect(peer) {
  nb_peers += 1;
  // console.log("peer_connect", peer.id, peer.remoteAddress);
  updatePeers()
}

function onPeerClose(peerId) {
  nb_peers -= 1;
  // console.log("peer_close", peerId);
  updatePeers();
}

</script>
<script src="{% static 'js/video-show.js' %}?ver={{VERSION}}"></script>
