{% load i18n %}
{% load static %}
{% load tagging_tags %}
{% load thumbnail %}
{% load video_filters %}

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/MediaObject">
<head>
  <meta charset="utf-8">

  <title>{{ TITLE_SITE }} - {% block page_title %}{{page_title|capfirst}}{% endblock page_title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

  {% block page_extra_head %}
    {% include 'videos/video-header.html' %}
  {% endblock page_extra_head %}

  <script src="{% static 'js/videojs-info-controlbar.js' %}?ver={{VERSION}}"></script>

  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}?ver={{VERSION}}" crossorigin="anonymous">
  <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}?ver={{VERSION}}"></script>
  <script src="{% url 'javascript-catalog' %}"></script>

  <link rel="stylesheet" href="{% static 'css/video-iframe.css' %}?ver={{VERSION}}">

  <meta itemprop="duration" content="{{ video.duration }}" />
  <meta itemprop="thumbnailUrl" content="{{ video.get_thumbnail_url }}" />
  <meta itemprop="contentURL" content="{% if request.is_secure %}https{% else %}http{% endif %}: //{{ request.META.HTTP_HOST }}{% url 'video:video' slug=video.slug %}" />
  <meta itemprop="embedURL" content="{% if request.is_secure %}https{% else %}http{% endif %}: //{{ request.META.HTTP_HOST }}{% url 'video:video' slug=video.slug %}?is_iframe=true" />

</head>
<body>
{% block page_content %}
<div class="overlay" id="div-video-wrapper">

  {% block video-element %}
    {% include 'videos/video-element.html' %}
  {% endblock video-element %}

  <div id="info-video-wrapper" class="pod-inner">
    <div class="iframe-header bg-dark text-white">
      <h2 class="video-title">{{ video.title }}</h2>
      <button type="button" class="close" aria-label="{% trans 'Close' %}">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="info-video" class="pod-info-video">
    {% include 'videos/video-info.html'%}
  </div>
  </div>

</div>
{% block more_script %}
{% if not form %}
{% include 'videos/video-script.html'%}
<script>
  player.videoJsInfo();

  function setOnPlayerPlayPause() {
    player.on('play',function() {
      isPlaying = true;
      document.getElementById('div-video-wrapper').setAttribute('class','')
    })
    player.on('pause',function() { isPlaying = false; })
  }
  {% if video.is_video %}
    document.getElementById('div-video-wrapper').append('<div id="overlay-footer"></div>');
    player.ready(function() {
      const btinfo = document.querySelector('.vjs-info-button:eq(0)')
      document.getElementById("overlay-footer").appendChild(btinfo.cloneNode())
      document.querySelector('#overlay-footer .vjs-info-button').addEventListener("click", function(){btinfo.click()})
    })
  {% endif %}
  document.addEventListener('click', '.close', function() {
    if (!e.target.matches('.close')) return;
    show_info_video()
   });

  // Responsive
  const hdres = 1920/1080;
  let isPlaying = false, wasPlaying = false
  setOnPlayerPlayPause()
  function resizeInfo() {
    const ihead = document.querySelector('#info-video-wrapper > .iframe-header')
        , ph = player.el().offsetHeight
        , pb = parseInt(player.el().style.top) + ph - 30
        , pw = ph*hdres//$('#podvideoplayer .vjs-poster').width()
    document.getElementById('info-video').style.top = ihead.offsetHeight+'px'
    // console.log('MTop: '+player.el().style.top+'\nleft: '+player.el().offsetLeft+'\nwidth: '+player.el().offsetWidth+'\nheight: '+player.el().offsetHeight+' /// '+pb)
    document.getElementById('info-video-wrapper').style =  
    `top: ${:player.el().style.top}; left: 50%; width: ${pw}px; height: ${(ph - 30)}px; margin-left: ${-pw/2}px;`
    
    
   
    document.getElementById('overlay-footer').style.top = pb+'px'
  }
  function resizeVideoJs(){
    const width = document.getElementById(player.id()).parentElement.offsetWidth
        , height = document.getElementById(player.id()).parentElement.offsetHeight
        , ratio = width/height;
    let margintop = 0
    if(ratio<hdres) {
      player.width(width);
      player.height(width / hdres);
      margintop = parseInt((height - player.height())/2);
      document.getElementById("podvideoplayer").style.top = margintop+"px";
    } else {
      player.height(height);
      player.width(height*hdres);
      document.getElementById("podvideoplayer").style.top = "0";
    }
    resizeInfo()
  }
  resizeVideoJs(); // Initialize the function right now
  window.onresize = resizeVideoJs; // Call the function on resize

  var show_info_video = function() { // Call by videojs-controllbar
    let video_wrapper = document.getElementById('div-video-wrapper')
    const hasStarted = player.el().classList.contains('vjs-has-started')
        , isOverlayed = video_wrapper.classList.contains('overlay')
        , isInfoOverlayed = isOverlayed && video_wrapper.classList.contains('info')
        , cls = 'overlay info'
    if(!isOverlayed) { // No overlay is displayed
      wasPlaying = isPlaying;
      player.pause();
      video_wrapper.setAttribute('class', cls)
      resizeInfo()
    } else if(!isInfoOverlayed) { // One overlay is displayed but not Info
      video_wrapper.setAttribute('class', cls)
      resizeInfo()
    } else { // Info overlay is displayed => close
      video_wrapper.setAttribute('class', (hasStarted ? '' : 'vjs-not-started'))
      if(wasPlaying) player.play();
    }
  }

  document.querySelector('#video-meta .tab-pane').classList.add('show').style.display = "block";
  </script>
{% endif %}
{% endblock more_script %}
{% if TRACKING_TEMPLATE %}{% include TRACKING_TEMPLATE %}{% endif %}
{% endblock page_content %}
</body>
</html>
