{% load i18n %}
{% if disable %}
  <div class="comment_disable">{% trans "Comments have been disabled for this video." %}</div>
{% else %}
<div class="comment_main">
  <div class="comment_container">
    <div class="comment_content">
      <div class="inline_flex_space comment_counter_container">
        <h2 class="comment_title">{% trans "Comments" %}</h2>
      </div>
      {% if is_auth %}
        <form class="add_comment add_parent_comment">
          <div class="form-wrapper form-group">
            <label class="comment_label" for="comment">{% trans "Your comment" %}</label>
            <textarea class="form-control new_comment new_parent_comment" name="new_parent_comment" id="comment" placeholder='{% trans "Add a public comment" %}'></textarea>
          </div>
          <div class="add_comment_footer">
              <button type="submit" class="add_comment_btn btn btn-primary">{% trans "Comment!" %}</button>
          </div>
        </form>
      {% endif %}
      <div class="comment-loader text-center d-none"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">{% trans "Loading…" %}</span></div></div>
    </div>
    <confirm-modal id="custom_element_confirm_modal" confirm_title='{% trans "Delete comment" %}' message='{% trans "Permanently delete your comment?" %}'></confirm-modal>
  </div>
</div>
{% endif %}
