{% load i18n %}
<video id="podvideoplayer" class="video-js vjs-default-skin {% if not request.GET.is_iframe %}vjs-16-9{% endif %} vjs-big-play-centered vjs-show-big-play-button-on-pause" {% if request.GET.is_iframe %}preload="none"{% else %}preload="auto"{% endif %} {% if not request.GET.is_iframe %}height="{{video.get_player_height}}"{% endif %}
poster="{{video.get_thumbnail_url}}" {% spaceless %}
{% if request.GET.nocontrol and request.GET.nocontrol == 'true' %}
  autoplay muted
{% else %}
  controls
  {% if request.GET.autoplay and request.GET.autoplay == 'true' %} autoplay muted {% endif %}
  {% if playlist_in_get %} autoplay {% endif %}
{% endif %}
{% if request.GET.loop and request.GET.loop == 'true' %} loop {% endif %} {% endspaceless %}
>
  <!-- <source src="{{ video.get_playlist_master.source_file.url }}" type="{{ video.get_playlist_master.encoding_format }}"> -->
  <p class="vjs-no-js">
    {%blocktrans%}To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>{%endblocktrans%}
  </p>
  {% block extratrack %} {% endblock extratrack %}
  {% for track in video.track_set.all%}
    <track id="track_{{ track.id }}" kind="{{ track.kind }}" src="{{ track.src.file.url }}?{% now 'U' %}" srclang="{{ track.lang }}" label="{{track.get_label_lang}}" {% if forloop.first %}default{% endif %}>
  {%endfor%}
</video>
<form method="post" action="{% url 'video:video_count' id=video.id %}" id="video_count_form" aria-hidden="true">
  {% csrf_token %}
</form>
{% if video.overlay_set.all %}
  <ul id="overlays" style="display: none">
    {% for overlay in video.overlay_set.all %}
      <li data-timestart="{{overlay.time_start}}"
          data-timeend="{{overlay.time_end}}"
          data-content="{{overlay.content}}"
          data-position="{{overlay.position}}"
          data-background="{{overlay.background|lower}}">
      </li>
    {% endfor %}
  </ul>
{% endif %}
<div id="chapter-for-playlist">
  {% if video.chapter_set.all %}
  <div class="chapters-list inactive">
    <h6><span class="vjs-icon-chapters"></span>{% trans "Chapters" %}</h6>
    <ol id="chapters-list"></ol>
  </div>
  <ul id="chapters">
    {% for chapter in video.chapter_set.all %}
      <li data-start="{{chapter.time_start}}"
        data-id="{{chapter.id}}"
        data-title="{{chapter.title}}">
        {{chapter.title}}
      </li>
    {% endfor %}
  </ul>
{% endif %}
</div>
