{% load i18n %}
{% spaceless %}
<div class="row infinite-container" id="videos_list">
{% for video in videos %}
<div class="infinite-item col-12 col-md-6 col-lg-3 mb-2 card-group" style="min-width: 12rem; min-height: 11rem;"> <!-- min-width: 15rem; -->
{% include "videos/card.html" %}
</div>
{% empty %}
<div class="col-12 col-md-6 col-lg-3 mb-2">
<p>{% trans "Sorry, no video found" %}</p>
</div>
{% endfor %}
</div>
{% if videos.has_next %}
<a class="infinite-more-link" href="{{ full_path }}{% if '?' in full_path %}&{% else %}?{%endif%}page={{ videos.next_page_number }}">More</a>
{% endif %}
<div class="infinite-loading" style="display: none;">
Loading...
</div>
{% endspaceless %}