{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tagging_tags %}

{% block page_extra_head %}
{% endblock page_extra_head %}


{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'video:my_videos' %}">{% trans 'My videos' %}</a></li>
  {% if form.instance.title and form.instance.slug != '' %}
    <li class="breadcrumb-item"><a href="{% url 'video:video' slug=form.instance.slug %}" title="{{form.instance.title}}">{{form.instance.title|title|truncatechars:45}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Add a new video" %}</li>
  {% endif %}
{% endblock %}

{% block page_title %}{% if form.instance.title %}{% trans "Editing the video" %} "{{form.instance.title}}"{% else %}{% trans "Add a new video" %}{% endif %}{% endblock %}

{% block collapse_page_aside %}
  {% if access_not_allowed == True %}

  {% else %}
    {{block.super}}
  {% endif %}
{% endblock collapse_page_aside %}


{% block page_content %}
{% spaceless %}
  <h1 class="h2">
    {% if form.instance.title and form.instance.slug != '' %}
      {% trans "Editing the video" %} "{{form.instance.title}}"
      <span>
        <a href="{% url 'video:video' slug=form.instance.slug %}" class="btn btn-primary btn-sm m-2">
          <i class="bi bi-film"></i>&nbsp;{% trans "View the video" %}
        </a>
        {% if video.encoded and video.encoding_in_progress is False %}
        <a href="{% url 'video:video_delete' slug=form.instance.slug %}" class="btn btn btn-danger btn-sm m-2">
          <i class="bi bi-trash"></i>&nbsp;{% trans "Delete the video" %}
        </a>
        {% endif %}
      </span>
    {% else %}{% trans "Add a new video" %}{% endif %}
  </h1>
  {% if access_not_allowed == True %}
    <p class="text-info-emphasis">
      <i class="bi bi-info-circle"></i>&nbsp;{% trans "Access to adding video has been restricted. If you want to add videos on the platform, please" %} <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
    </p>
  {% else %}
    <form id="video_form" method="post"
      {% if form.instance.slug and form.instance.slug != '' %}
        action="{% url 'video:video_edit' slug=form.instance.slug %}"
      {% else %}
        action="{% url 'video:video_edit' %}"
      {% endif %}
      accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate data-morecheck="videocheck">
      {% csrf_token %}
      <!--<div class="group-video-edit">-->

      {% if form.errors %}
        <div class="text-danger">
          <p>{% trans "One or more errors have been found in the form." %}</p>
          {{form.errors}}
        </div>
      {% endif %}

      {% if form.instance.id and form.instance.get_encoding_step == "" %}
        <div class="alert alert-warning" role="alert">
          {% trans "The video is currently waiting for encoding." %}
        </div>
      {% endif %}

      {% if form.instance.encoding_in_progress %}
        <div class="alert alert-warning" role="alert">
          {% trans "The video is currently being encoded." %}
        </div>
      {% endif %}

      {% if form.instance.get_encoding_step == "5 : transcripting audio" %}
        <p class="text-info-emphasis">
          {% trans "The video is currently being transcripted." %}
        </p>
      {% endif %}

      {% for field_hidden in form.hidden_fields %}
        {{field_hidden}}
      {% endfor %}

      <div class="accordion">
      {% for fieldset in form.fieldsets %}
        {% with options=fieldset|last name=fieldset|first%}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button{% if "show" in options.classes %}" aria-expanded="true{% else %} collapsed{% endif %}"
                    data-bs-toggle="collapse" data-bs-target="#videoEditCollapse{{forloop.counter}}"
                    type="button" aria-controls="videoEditCollapse{{forloop.counter}}">
              {{ options.legend|safe }}
            </button>
          </h2>
          <div id="videoEditCollapse{{forloop.counter}}" class="accordion-collapse collapse {{ options.classes }}">
        <div class="accordion-body">
        <fieldset id="video_edit_{{fieldset|first}}_{{forloop.counter}}">
          {% if options.legend %}
            <legend>{{ options.legend|safe }}</legend>
          {% endif %}


      {% for field in form.visible_fields %}
        {% if field.name in options.fields %}
        <div class="mt-3 {% if 'description_' in field.name or 'title_'  in field.name %}collapse ms-4{% endif %}{% if 'description_' in field.name %} description{% endif %}{% if 'title_' in field.name %} title{% endif %}{% with 'is_restricted restrict_access_to_groups password' as res %} {% if field.name in res.split %}collapse restricted_access{% endif %}{% endwith %}">
          <div class="form-group{% if field.field.required %} form-group-required{% endif %}{% if field.errors %} errors{% endif %}{% if "form-control-file" in field.field.widget.attrs.class and form.instance.video %} pod-largelink{% endif %}">
            {% if "form-check-input" in field.field.widget.attrs.class %}
              <div class="form-check">
                {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
              </div>
            {% else %}
              {% if field.label %}
                {% if "thumbnail" in field.name %}
                  <label for="btn-fileinput_id_{{ field.name }}">{{ field.label }}</label>
                {% else %}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
              {% endif %}
              {{ field }}
              <ul class="errorlist">
                {% for error in field.errors.get_json_data %}
                  <li class="{{error.code}}">{{error.message}}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if field.help_text %}
              <small id="{{field.id_for_label}}Help" class="form-text"> {{ field.help_text|safe }}</small>
              {% if field.name == "transcript"  %}
                {% if form.instance.id and form.instance.get_encoding_step == ""  or form.instance.encoding_in_progress %}
                {% else %}
                  {% if form.instance.slug != '' and form.instance.get_encoding_step == '0 : end of encoding' %}
                    <a class="btn btn-primary btn-sm ps-2 pe-2 m-1" type="button" href="{% url 'video:video_transcript' form.instance.slug %}">
                      <i class="bi bi-translate" aria-hidden="true"></i>
                      {% trans "Restart transcription" %}
                    </a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
            {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>{% endif %}
            {% if field.name in "description,title" %}
              <div class="mt-2">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target=".{{field.name}}" aria-expanded="false">
                  <i class="bi bi-translate" aria-hidden="true"></i>
                  {% trans "Other(s) language(s)" %}
                </button>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </fieldset>
      </div>
      </div>
      </div>
      {% endwith %}
      {% endfor %}
      </div>

      <div class="card d-none" id='js-process' >
        <div class="card-body">
          <h2 class="h4 card-title pod-card__title">{% trans "Sending, please wait." %}</h2>
          <div class="spinner-border hidespinner" role="status">
            <span class="visually-hidden">{% trans "Loading…" %}</span>
          </div>
        </div>
        <div class="card-footer">
          {% trans "The page will refresh after the upload completes." %}
        </div>
        <div id="progress-box" class="not-visible"></div>
      </div>

      <!--</div>-->
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-sm m-2" name="_continue" value="">{% trans 'Save and continue editing' %}</button>
        {% if form.instance.title and form.instance.slug != '' %}<button type="submit" class="btn btn-primary btn-sm m-2" name="_saveandsee" value="{{form.instance.get_full_url}}">{% trans 'Save and see' %}</button> {% endif %}
        <a href="{% url 'video:my_videos' %}" class="btn btn-secondary btn-sm m-2">{% trans 'Back to my videos' %}</a>
      </div>
    </form>
  {% endif %}
{% endspaceless %}
{% endblock page_content %}

{% block page_aside %}
  {% if access_not_allowed == True %}
  {% else %}
  {% if form.instance.title and form.instance.slug != '' %}
    <div class="card" id="card-managevideo">
      <h2 class="card-header card-title pod-card__title h4"><i class="bi bi-gear"></i>&nbsp;{% trans "Manage video" %}</h2>
      <div class="card-body card-text text-center">
        {% include "videos/link_video.html" with video=form.instance hide_favorite_link=True %}
      </div>
    </div>
    {% if form.instance.slug != '' and request.user.is_staff or request.user.is_superuser or perms.video.change_video %}
      {% if THIRD_PARTY_APPS|length > 0 %}
        <div class="card" id="card-alternativeversion">
          <h2 class="h4 card-header card-title pod-card__title ps-2">{% trans "Staff" %} - {% trans "Alternative version" %}</h2>
          <div class="card-body card-text">
            <p>{% trans 'As a staff member you can create other version of your video.' %}</p>
            <div class="input-group-button">
              {% for app in THIRD_PARTY_APPS %}{% if app != "live" %}{% with urledit=app|add:':edit_'|add:app %}<a href="{% url urledit slug=form.instance.slug %}" title="{% blocktrans %}Edit the {{app}}{% endblocktrans %}" class="btn btn-link p-0 ps-1"><i class="bi bi-file-plus"></i>&nbsp;{% trans app|capfirst %}</a> {% endwith %}{% endif %}{% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="card" id="card-sharedraftversion">
        <h2 class="h4 card-header card-title pod-card__title ps-2">{% trans 'Embed/Share (Draft Mode)' %}</h2>
        <div class="card-body card-text">
          <label class="form-label" for="txtpartageprive">{% trans 'Use this link to share the video in draft mode' %}</label>
          <div class="input-group">
            <input class="form-control form-control-sm form-control-plaintext" type="text" name="txtpartageprive" id="txtpartageprive" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/video/{{ form.instance.slug }}/{{ form.instance.get_hashkey }}/" readonly>
            <div class="input-group-button">
              <clipboard-copy aria-label="Copy to clipboard" class="btn pod-btn-social" tabindex="0" role="button" id="btnpartageprive">
                <i class="bi bi-clipboard"></i>
              </clipboard-copy>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  <div class="card">
    <h2 class="h4 card-header card-title pod-card__title ps-2">{% trans "Uploading" %}</h2>
    <div class="card-body card-text">
      <p>{% blocktrans with form.VIDEO_MAX_UPLOAD_SIZE as video_max_upload_size %}The file size must be lower than {{video_max_upload_size}} Go.{% endblocktrans %}</p>
      <p>{% trans "The sending time depends on the size of your file and your upload speed. This can be quite long." %}</p>
      <p>{% trans "While sending your file, do not close your browser until you have received a message of success or failure." %}</p>
      <p>{% trans "An email will be sent to you when all encoding tasks are completed." %}
      <p>
    </div>
  </div>
  <div class="card" id="card-mandatoryfields">
    <h2 class="h4 card-header card-title pod-card__title ps-2">{% trans "Mandatory fields" %}</h2>
    <div class="card-body card-text">
      <p>
        <span class="required_star">*</span>
        {% trans "Fields marked with an asterisk are mandatory." %}
      </p>
    </div>
  </div>
  <div class="card" id="card-helpfields">
    <h2 class="h4 card-header card-title pod-card__title ps-2">{% trans "Help for form fields" %}</h2>
    <div class="card-body" id="formfields">
      {% for title, values in form.VIDEO_FORM_FIELDS_HELP_TEXT.items %}
      <div class="card">
        <button class="btn btn-link" id="heading-{{forloop.counter}}" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
          {% trans title %}
        </button>
        <div id="collapse-{{forloop.counter}}" class="card-body collapse card-text small" aria-labelledby="heading-{{forloop.counter}}" data-parent="#formfields">
          {% for value in values %}
          <p>{{value|safe}}</p>
          {%endfor%}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% endblock page_aside %}


{% block more_script %}
  <script src="/admin/jsi18n/"></script>
  <script src="{% static 'admin/js/core.js' %}?ver={{VERSION}}"></script>
  <script>
    var listTheme = {{listTheme | safe}};
  </script>
  <script defer src="{% static 'js/video_edit.js' %}?ver={{VERSION}}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{VERSION}}">
  {{form.media}}

  <script>
    var slug = "{{ form.instance.slug }}";
    let id_video = document.getElementById("id_video")
    if (id_video) {
      id_video.addEventListener("click",function (event) {
        location.href = "{% url 'video:video_add' %}?slug=" + slug
        event.preventDefault();
      });
    }
    var VIDEO_MAX_UPLOAD_SIZE = {{ form.VIDEO_MAX_UPLOAD_SIZE }};
    var video_max_upload_size = VIDEO_MAX_UPLOAD_SIZE * 1024 * 1024 * 1024;
    var listext = "{% for ext in form.VIDEO_ALLOWED_EXTENSIONS%} {{ext|safe}}{%endfor%}";
    const max_duration_date_delete = {{ form.max_duration_date_delete }};
  </script>
  <script defer src="{% static 'js/validate-date_delete-field.js' %}?ver={{VERSION}}"></script>

{% endblock more_script %}
