{% load i18n %}
{% load favorites_playlist %}
{% load playlist_buttons %}
{% load video_tags %}

{% spaceless %}
  {% if playlist %}
    {% load playlist_buttons %}
    {% can_see_playlist_video video playlist as can_see_video %}
  {% endif %}
  <div class="checked_overlay">
    <span class="card-selected" title="{% trans 'Selected' %}">
      <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
    </span>
  </div>
  <!-- video as row -->
  <div class="col-1 thumbnail-item-video-row">
    <img class="pod-thumbnail" src="{{ video.get_thumbnail_url }}" alt="" loading="lazy">
  </div>
  <span class="col-3 title-item-video-row dashboard-video-title" title="{{ video.title|capfirst }}">
    {{ video.title|capfirst|truncatechars:20 }}
  </span>
  <span class="col-2" title="{% trans 'Duration' %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <span class="visually-hidden">{% trans 'Duration' %}</span>
    <i class="bi bi-clock text-muted" aria-hidden="true"></i>&nbsp;{{ video.duration_in_time }}
  </span>
  <span class="col-3" title="{% trans 'Date added' %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <span class="visually-hidden">{% trans 'Date added' %}</span>
    <i class="bi bi-calendar-check text-muted" aria-hidden="true"></i>&nbsp;{{ video.date_added }}
  </span>

  <div class="col-2 me-auto">
    {% get_video_infos video as video_infos %}

    <span title="{{ video_infos.password.translation }}"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom">
      <i
        {% if video_infos.password.status %}
          class="bi bi-lock text-success"
        {% else %}
          class="bi bi-unlock"
        {% endif %}
        aria-hidden="true"></i>
    </span>

    <span title="{{ video_infos.draft.translation }}"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom">
      <i
        {% if video_infos.draft.status %}
          class="bi bi-incognito"
        {% else %}
          class="bi bi-globe text-success"
        {% endif %}
        aria-hidden="true"></i>
    </span>

    <span title="{{ video_infos.chaptered.translation }}"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom">
      <i
        {% if video_infos.chaptered.status %}
          class="bi bi-card-checklist text-success"
        {% else %}
          class="bi bi-card-list text-muted"
        {% endif %}
        aria-hidden="true"></i>
    </span>

    {% if video.is_video %}
      <span title="{% trans 'Video content.' %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="bi bi-film" aria-hidden="true"></i>
      </span>
    {% else %}
      <span title="{% trans 'Audio content.' %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="bi bi-soundwave" aria-hidden="true"></i>
      </span>
    {% endif %}
  </div>
  <div id="more-btn-group-{{ video.id }}" class="btn-group ms-auto" role="group">
    <button id="more-actions-row-btn-{{ video.id }}" type="button" class="btn btn-link"
            data-bs-toggle="dropdown" aria-expanded="false" title="{% trans 'Toggle actions menu' %}">
      <i class="bi bi-three-dots more-actions-row-i" aria-hidden="true"></i>
    </button>
    {% include 'videos/link_video_dropdown_menu.html' %}
  </div>
{% endspaceless %}

