{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
    <div class="list-group">
        <fieldset>
            <legend>{% trans "Video extension" %}</legend>
            <div class="list-group-item">
                <div class="form-group form-group-required ">
                    {% trans "The video life span was extended to" %} {{ new_date_delete }}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="text-center mt-1">
        <a href="/" class="btn btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% trans "Return to homepage" %}">
            {% trans "Return to homepage" %}
        </a>
    </div>
{% endblock page_content %}
