{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item"><a href="{% url 'my_channels' %}" title="{% trans 'My channels' %}">{% trans 'My channels' %}</a><li class="breadcrumb-item active" aria-current="page">{% if form.instance.title %}{{form.instance.title}}{%endif%}</li>{% endblock %}

{% block page_title %}
{% if form.instance.title %}{% trans "Editing the channel" %} "{{form.instance.title}}"{%endif%}
{% endblock %}


{% block page_content %}
<h3>{% if form.instance.title %}{% trans "Editing the channel" %} "{{form.instance.title}}"{%endif%}</h3>
{% if form.instance.slug %}
<form id="video_form" method="post"
    action="{% url 'channel_edit' slug=form.instance.slug %}"
    accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate>
{% endif %}
    {% csrf_token %}
    <div class="list-group">
        {% if form.errors %}
        <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p>
        {% endif %}
        {% for field in form %}
        {% if field.is_hidden %} {{field}}
        {% else %}
        <div class="form-group list-group-item ">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label> {{field}}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</form>
{% endblock page_content %}

{% block collapse_page_aside %}
{{ block.super }}
{% endblock collapse_page_aside %}

{% block page_aside %}

{% endblock page_aside %}

{% block more_script %}

{% endblock more_script %}