{# HTML for theme list. Don't use this file alone: it must be integrated into another template! #}
{% load i18n %}
<div class="container">

  <div class="table-responsive" style="max-height:400px;">
    <table class="table table-sm table-striped table-hover table-bordered" id="table_list_theme">
      <caption class="h3" style="caption-side:top">{% trans 'List of themes' %}&nbsp;({{list_theme|length}})</caption>
      <thead>
        <tr>
          <th scope="col" class="theme_title">{% trans 'Title' %}</th>
          <th scope="col" class="theme_description">{% trans 'Description' %}</th>
          <th scope="col" class="theme_headband">{% trans 'Headband' %}</th>
          <th scope="col">{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for theme in list_theme %}
          <tr id="theme_{{theme.id}}">
            <td class="theme_title">{{theme.title}}</td>
            <td class="theme_description">{{theme.description|striptags|truncatewords:6 }}</td>
            <td class="theme_headband">{{theme.headband}}</td>
            <td class="text-center">
              <form class="get_form_theme d-inline-block" action="{% url 'channels:theme_edit' slug=channel.slug %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="modify">
                <input type="hidden" name="id" value="{{theme.id}}">
                <input type="submit" title="{% trans 'Edit the theme' %}" value="{% trans 'Modify' %}" class="btn btn-primary btn-sm my-1">
              </form>
              <form class="get_form_theme d-inline-block" action="{% url 'channels:theme_edit' slug=channel.slug %}" method="POST"
              data-title="{{theme.title}}">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="id" value="{{theme.id}}">
                <input type="submit" title="{% trans 'Delete the theme' %}" value="{% trans 'Delete' %}" class="btn btn-danger btn-sm my-1">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-center">
              <form class="get_form_theme d-inline-block" method="POST"
                    action="{% url 'channels:theme_edit' slug=channel.slug %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="new">
                <input type="hidden" name="id" value="{{theme.id}}">
                <button type="submit" class="btn btn-primary btn-sm my-1"><i class="bi bi-plus pod-add" aria-hidden="true"></i>&nbsp;{% trans 'Add new theme' %}</button>
              </form>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
