{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans 'My channels' %}</li>{% endblock %}

{% block page_title %}
{% trans 'My channels' %}
{% endblock %}


{% block page_content %}
<ul class="list-group">
  {% if channels|length > 0 %}
    {% for channel in channels %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <a href="{% url 'channels:channel_edit' slug=channel.slug %}" title="{% trans 'Edit the channel'%}" class="btn pod-btn-social"><i class="bi bi-pencil-square" aria-hidden="true"></i></a>
          <a href="{% url 'channel-video:channel' slug_c=channel.slug %}" title="{{ channel.title }}" class="btn-link">
            {% if channel.headband %}<!-- <img src="{{channel.headband.file.url}}" class="rounded img-thumbnail" alt="{{channel.title}}" loading="lazy"> -->
              {% thumbnail channel.headband.file "x34" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='rounded' alt="" loading="lazy">
              {% endthumbnail %}
            {% endif %}
            {{ channel.title }}
          </a>
        </span>
        <span class="badge text-bg-primary rounded-pill" title="{% trans 'Number of video inside the channel' %}">{{channel.video_count}}</span>
      </li>
    {% endfor %}
  {% endif %}
</ul>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
{% endblock more_script %}
