{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My channels" %}</li>{% endblock %}

{% block page_title %}
{% trans "My channels" %}
{% endblock %}


{% block page_content %}
<h3>{% trans "My Channels"%}</h3>
<ul class="list-group">
{% if channels|length > 0 %}
{% for channel in channels %}
<li class="list-group-item d-flex justify-content-between align-items-center">
<span>
  <a href="{% url 'channel_edit' slug=channel.slug %}" title="{% trans "Edit the channel"%}" class="btn btn-light btn-sm"><i data-feather="edit"></i>&nbsp;</a>
<a href="{% url 'channel' slug_c=channel.slug %}" title="{{channel.title}}">
{% if channel.headband %}<!-- <img src="{{channel.headband.file.url}}" class="rounded img-thumbnail" alt="{{channel.title}}"> -->
{% thumbnail channel.headband.file "x34" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='rounded' alt="{{channel.title}}">
{% endthumbnail %}
{% endif %}
{{channel.title}}</a>
</span>
<span class="badge badge-primary badge-pill" title="{% trans "Number of video inside the channel"%}">{{channel.video_count}}</span>
</li>
{% endfor %}
{% endif %}
</ul>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}

{% endblock more_script %}