{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block page_extra_head %}
<style>
{{channel.style}}
{% if channel.color %}
body {
  background-color: {{form.instance.color}};
}
{%endif%}
</style>
{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }} 
<li class="breadcrumb-item"><a href="{% url 'my_channels' %}" title="{% trans 'My channels' %}">{% trans 'My channels' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{channel.title}}</li>{% endblock %}

{% block page_title %}
{% trans "Editing the channel's themes" %} "{{channel.title}}"
{% endblock %}


{% block page_content %}
<h3>{% trans "Editing the channel's themes" %} {{channel.title}}
<span class="float-right">
    <a href="{% url 'channel' slug_c=channel.slug %}" title="{% trans "View the channel"%}" class="btn btn btn-outline-primary btn-sm">
        <i data-feather="youtube"></i>&nbsp;{% trans "View the channel"%}
    </a>
    <a href="{% url 'channel_edit' slug=channel.slug %}" title="{% trans "Edit the themes"%}" class="btn btn btn-outline-primary btn-sm">
        <i data-feather="edit"></i>&nbsp;{% trans "Edit the channel"%}
    </a>
</span>
</h3>
<div id="list_theme" >
    {% include 'channel/list_theme.html' with list_theme=channel.themes.all %}
</div>
<p><hr/></p>
<div id="div_form_theme">
    {% if form_theme %}
        {% include 'channel/form_theme.html' %}
    {% else %}
        <form id="theme_form_new" class="get_form_theme" action="{% url 'theme_edit' slug=channel.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="new"/>
            <input type="submit" value="{% trans 'Add a new theme' %}" class="btn btn-primary"/>
        </form>
    {% endif %}
</div>
<form id="theme_form_new" class="get_form_theme" action="{% url 'theme_edit' slug=channel.slug %}" method="POST"  {% if form_theme %}style="display:none;"{%endif%}>
    {% csrf_token %}
    <input type="hidden" name="action" value="new"/>
    <input type="submit" value="{% trans 'Add a new theme' %}" class="btn btn-primary"/>
</form>
{% endblock page_content %}

{% block collapse_page_aside %}
{{ block.super }}
{% endblock collapse_page_aside %}

{% block page_aside %}
<div class="card card-body">
    <h5 class="card-title">{% trans "Mandatory fields" %}</h5>
    <div class="card-text" >
        <p>{% trans "Fields marked with an asterisk are mandatory."%}</p>
    </div>
</div>
<div class="card card-body">
    <h5 class="card-title">{% trans "Form fields"%}</h5>
    <div class="card-text" id="formfields">
        {% for title, values in form_theme.THEME_FORM_FIELDS_HELP_TEXT.items %}
            <div class="card card-body p-1">
                <button class="btn btn-sm-light" id="heading-{{forloop.counter}}" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
                    {{title}}
                </button>
                <div id="collapse-{{forloop.counter}}" class="collapse hide card-text small" aria-labelledby="heading-{{forloop.counter}}" data-parent="#formfields">
                    {% for value in values %}
                    <p>{{value}}</p>
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock page_aside %}

{% block more_script %}

{% endblock more_script %}