{# HTML for overlay form. Don't use this file alone it must be integrated into another template! #}
{% load i18n %}
<div class="card card-body">
<form id="form_overlay" action="{% url 'video:completion:video_completion_overlay' slug=video.slug %}" method="POST" class="completion">
	{% csrf_token %}
	<div id="form_content" class="container">
		{% if form_overlay.errors or form_overlay.non_field_errors %}
			<div class="alert alert-danger">
				{% trans 'Your form contains errors:' %}<br>
				{% for error in form_overlay.non_field_errors %}
					- {{error}}<br>
				{% endfor %}
			</div>
		{% endif %}
		{% for field_hidden in form_overlay.hidden_fields %}
			{{field_hidden}}
		{% endfor %}
		{% for field in form_overlay.visible_fields %}
			<div class="mb-2">
				<label for="{{field.auto_id}}" class="form-label">{{field.label}}</label>
				{{field}}
			</div>
		{% endfor %}
		{% if form_overlay.instance %}
			<input type="hidden" id="id_overlay" name="overlay_id" value="{{form_overlay.instance.id}}">
		{% endif %}
		<input type="hidden" name="action" value="save">
		<input type="submit" id="save_overlay" value="{% trans 'Save' %}" class="btn btn-primary">
		<a class="btn btn-secondary" action="cancel" id="cancel_document" href="{% url 'video:completion:video_completion' slug=video.slug %}">{% trans 'Cancel' %}</a>
	</div>
</form>
</div>
