/*****************************
	Editorial
******************************/

.video_time,
.time {
  display: flex !important;
  align-items: center;
}
.video_time:before,
.time:before {
  content: "\f293";
  font-family: bootstrap-icons;
  margin-right: 10px;
}

/* Carousel*/

.edito-carousel .carousel-caption.d-md-block {
  text-align: left;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 40%);
  padding: 5em 3em 3em 3em;
}

.edito-carousel .video-title {
  font-size: 36px;
  font-family: var(--bs-body-font-family);
}
.edito-carousel .video-title:after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: var(--pod-primary);
  margin-top: 15px;
}
.edito-carousel .video_time {
  font-size: 18px;
  font-weight: 700;
  color: #fff !important;
}
.edito-carousel .video_time:before {
  color: var(--pod-primary);
}

.edito-carousel .carousel-indicators [data-bs-target] {
  border: 3px solid #fff;
  height: 15px;
  width: 15px;
  background: none;
  border-radius: 100%;
}

.edito-carousel .carousel-indicators button:hover,
.edito-carousel .carousel-indicators button:focus {
  border-color: var(--pod-primary);
  opacity: 1;
}

/* Multiple carousel */

.edito-multi-carousel .carousel-control-next,
.edito-multi-carousel .carousel-control-prev {
  width: 2%;
  height: 185px;
}
.edito-multi-carousel .carousel-control-prev {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3) 40%
  );
}
.edito-multi-carousel .carousel-control-next {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3) 40%
  );
}

.edito-multi-carousel .carousel-inner .carousel-item.active,
.edito-multi-carousel .carousel-inner .carousel-item-next,
.edito-multi-carousel .carousel-inner .carousel-item-prev {
  display: flex;
}

.edito-multi-carousel .carousel-item .card {
  margin-right: 20px;
}

.edito-multi-carousel .carousel-item .col-md-4 {
  background-color: #fafafa;
}

.edito-multi-carousel .carousel-item .col-md-3:last-child .card,
.edito-multi-carousel .carousel-item .col-md-4:last-child .card {
  margin: 0;
}

.edito-multi-carousel img {
  height: 185px;
  object-fit: cover;
  width: 100%;
}
.edito-multi-carousel .carousel-caption {
  position: initial;
  color: #000;
  padding: 1rem 0;
  background-color: #fafafa;
}
.edito-multi-carousel a {
  text-decoration: none;
}
.edito-multi-carousel .video_desc {
  display: none;
}
.edito-multi-carousel .video_time {
  justify-content: center;
}

/* Multiple carousel */
@media (min-width: 768px) {
  .edito-multi-carousel .carousel-inner .carousel-item-end.active,
  .edito-multi-carousel .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .edito-multi-carousel .carousel-inner .carousel-item-start.active,
  .edito-multi-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }

  .edito-multi-carousel .carousel-inner .carousel-item-end,
  .edito-multi-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .edito-multi-carousel .carousel-inner .carousel-item > div {
    display: none;
  }
  .edito-multi-carousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
