/** iframe .css **/
body {
    padding: 0 !important;
    margin: 0 !important;
}
nav {
    display:none !important;
}
#mainbreadcrumb {
    display:none !important;
}
#navbar_collapse {
    display:none !important;
}
#collapseAside {
    display:none !important;
}
#navbar-video {
    display:none !important;
}
footer {
    display:none !important;
}

