body {
/*min-height: 75rem;*/
padding-top: 5rem;
}
.pod-mt-7{
    margin-top: 5rem;
}
#listeChaines{
    max-height: 30rem;
    overflow: auto;
}
.liste-collapse{
    z-index: 900;
}
.flex-1{
    flex: 1;
    justify-content: center;
}
.octicon{
    height: 1.5rem;
    width: auto;
}
.card-header {
    position:absolute; 
    width:100%; 
    background: rgba(0, 0, 0, 0.6);
    padding: 0 0.25rem;
    
}
.card-header .text-muted {
    color:white !important; 
}
/* menu channels */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover {
    background-color: white;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* menu user */

/* vignettes video */
@media (max-width: 575.98px) {
    .pod-flex-direction{
        flex-direction: column;
    }
}
@media screen and (min-width:768px){
      .card-img-top {
        max-height:184.13px;
      }
}
@media screen and (min-width:992px){
      .card-img-top {
        max-height:195.36px;
      }
}