@media (prefers-color-scheme: dark) {
    .select2-container--default .select2-selection--multiple, .select2-dropdown,
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #121212 !important;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid white 1px !important;
    }
    .select2-search__field {
        color: white !important;
    }
}