/*** Esup Pod main CSS ***/

:root {
  /* COMMON COLORS */
  --color-transparent: transparent;
  --color-white: white;
  --color-black: black;
  --color-alto: #ddd;
  --color-sisal: rgba(218,208,190,1);
  --color-black-alpha: rgba(0, 0, 0, .6);
  --color-silver: #ccc;
  --color-fuzzy-wuzzy-brown: rgba(201, 76, 76, .3);
  --color-silver-chalice: #aaa;
  --color-outer-space: rgba(40,48,56, .5);
  --color-red: #FF0000;
  --color-mine-shaft: #222;

  /*****************
   * CUSTOM COLORS *
   *****************/
  --bg-color: var(--color-white);
  --font-color: var(--color-mine-shaft);

  /* BOOTSTRAP COLORS */
  /* primary color is defined in bootstrap-$theme$.css */
  --primary2: var(--primary);
  --light: #f8f9fa;
  --dark: #343a40;
  --color-formfields: #f1f1f1;
}
.table,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-toggler {
  color: var(--font-color);
}
.table-hover tbody tr{
  transition: background-color .5s;
}
.table-hover tbody tr:hover{
  color: var(--font-color);
  background-color: var(--bg-color);
}

.navbar-toggler:focus,
.navbar-toggler:hover{
  color: var(--primary);
  border-color: var(--primary);
}
.navbar-light .navbar-brand{
  color: var(--color-black-alpha)
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: var(--color-black)
}
.btn-lang:focus,
.btn-lang:hover,
.btn-lang:active {
  box-shadow: 0 0 3px var(--primary);
}

.nav-link-icone {
  color: var(--link-color);
}
.nav-link:focus .nav-link-icone,
.nav-link:hover .nav-link-icone{
  color: var(--activelink-color);
}
/*.btn-primary {
  color: var(--font-color);
  background-color: var(--primary);
  border-color: var(--primary);
}*/

.modal-title svg {
  color: var(--primary)!important;
}

.bg-light {
  background-color: var(--light)!important;
}

.bg-dark {
  background-color: var(--gray-dark)!important;
}

.tab-title {
  font-size: 1.5rem;
}
.meta-title {
  font-size: 1.2rem;
  margin: .5em 0 .2rem 0;
}

.btn-link {
  font-weight: 400;
  color: var(--primary);
  text-decoration: none;
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

a.btn-outline-primary:not(:hover) svg{
  fill:var(--primary)
}
a.btn-outline-primary svg.feather {
  fill: transparent;
}
.social_links a svg.feather{
  fill: var(--primary);
}

#collapseAside .card>.btn {
  white-space: normal !important;
  word-wrap: break-word;
  word-break: normal;
  padding: 1rem;
}

.submit-row a.deletelink {
  height: 35px;
}

.select2-container {
  position: static !important;
  height:auto;
}

tr,.rowl {
  display: table-row !important;
}

body[data-admin-utc-offset] {
  padding-top: 0;
}

body {
  padding-top: 3.5rem;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--font-family-sans-serif);
}
.jumbotron {
    padding: 1rem 2rem;
}
h1 {
  font-size: 2rem;
}
label {
  font-variant: small-caps;
}
.pod-mt-7 {
  margin-top: 3.5rem;
}
.breadcrumb, .jumbotron {
  background: var(--light);
}
.list-group-item {
  background: var(--bg-color);
  padding: .25rem 1.25rem;
}

.container-pod {
  max-width: 1400px;
}

  /*** video ***/
#myTabContent #info p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
#share legend {
  /* align text with feather-icon */
  line-height: 1em;
}

.hidespinner {
  display: none;
}

.link-center-pod {
  margin-left: auto;
  margin-right: auto;
}
.link-center-pod, .file-image {
  display: block;
  overflow: hidden;
}

/*** navbar **/
.btn-lang {
  padding: .2rem .25rem;
  width: 100%;
  text-align: left;
}
.btn-lang-active {
  background: var(--bg-color);
  color: var(--font-color);
}
.navbar-inner-pod {
  position: relative;
}
.navbar-toggler {
  padding: .5rem;
  line-height: inherit;
  font-size: 1rem;
}

.userpicture {
  height: 34px;
}

/** modal **/
.modal-title svg {
  height: 40px;
  width: 40px;
  /*color:var(--primary);*/
}

.modal-content {
  background-color: var(--bg-color);
}

.modal-title {
  display: flex;
  align-items: center;
}

.modal-pod-full .close {
  font-size: 3rem;
}

.title-chaine {
  margin-right: .5rem;
  font-weight: 600;
}
#listeChaines {
  max-height: 30rem;
  overflow: auto;
  border-bottom: 1px solid var(--color-black);
}
.liste-collapse {
  z-index: 900;
}
/**end modal **/
/*** tab **/
.tab-content>.active {
  border: 1px solid var(--color-alto);
  padding: 1.5rem;
  background: var(--bg-color);
}
.nav-tabs {
  border: 0;
}

.dropdown-menu {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--color-silver-chalice);
}
.dropdown-header{
  color: var(--color-black);
}

/***aside ***/
.open-aside {
  margin-right: 15px;
}
#card-takenote .dropdown-menu {
  border: none;
}
/*** modif taille logo ***/
@media (max-width: 576px ) {
  .navbar-brand img {
    height: 35px;
  }
  .navbar-brand, .nav-item>.btn {
    font-size: .9rem;
  }
}
@media (max-width: 992px) {
  .langs {
    border-top: 1px solid var(--color-silver);
  }
  .langs .active{
    background:var(--primary);
    color: var(--white);
  }

  .navbar-items-pod {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: var(--light);
    box-shadow: 1px 1px 3px gray;
    z-index: 100;
  }
  .navbar-nav .login .dropdown-menu {
    position: absolute;
    float: left;
  }
  #s:not(:focus)::placeholder {
    color: var(--white);
  }
  #s {
    border-radius: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: height .5s;
  }
  #s:not(:focus) {
    width: 1px;
    height: 1px;
    box-shadow: none;
    outline: none;
    border: 0;
    opacity: 0;
  }
  #s:focus {
    width: 100%;
    opacity: 1;
    display: inline-block;
    /*background: var(--primary) !important;*/
    padding: .5rem 1rem;
    z-index: 99;
    height: 3rem;
  }
  #nav-search label:hover .nav-link-icone,
  #nav-search label:focus .nav-link-icone{
    color:var(--activelink-color);
  }
  .navbar label {
    padding-left: 1px;
    display: inline-block;
    /*margin-top: .3em;*/
    color: var(--color-sisal);
    text-shadow: 0 0 .1em var(--color-mine-shaft);
    position: relative;
    left: .1em;
    cursor: pointer;
  }

}
/*** end MQueries **/

.login>.initials {
  border-radius: 50%;
  font-weight: 600;
  height: 3rem;
  width: 3rem;
}
.nav-link {
  padding: .25rem .5rem;
}
button.nav-link {
  background: none;
  border: none;
  cursor: pointer;
}
button:hover .userpicture,
button:focus .userpicture{
  opacity: .8;
}

/*** CARD ***/
.infinite-item .card-body {
  padding: .9rem;
  height: 3.5rem;
  overflow: hidden;
}
.infinite-item .card-header .octicon {
  height: .9rem;
  margin: .1rem;
}

#videos_list .card-header,
.playlist-videos .card-header {
/*position: absolute;
  width: 100%;
  background: var(--color-black-alpha);
  padding: 0 .25rem;
  z-index: 9;*/
  padding: .4rem;
}
/*#videos_list .card-header .text-muted {
  color: var(--white) !important;
}*/

#videos_list .video-title {
  line-height: 1.2;
  display: inline-block;
}

div.video-card .d-flex {
  min-height: 70%;
  /*position:relative;*/
  top: 0;
}

a:hover, a:focus {
  color: var(--activelink-color);
}

div.card a img {
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease
}
div.card a:hover>img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 0;
}

/*.card {
  background-color: var(--bg-color);
  border-color: var(--color-silver-chalice);
}*/

.card-footer-pod {
  position: absolute;
  bottom: 57px;
  right: 2px;
  border: none;
}
.card-footer .feather,
.card-header .feather {
  height: 1rem;
}

/** menu channels **/
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover {
  background-color: var(--white);
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: var(--color-transparent);
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: var(--color-silver);
  margin-top: 5px;
  margin-right: -10px;
}

/** aside list video **/
#filterType       div.collapse:not(.show),
#filterDiscipline div.collapse:not(.show),
#filterTag        div.collapse:not(.show) {
  height: 148px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#filterType       div.collapsing,
#filterDiscipline div.collapsing,
#filterTag        div.collapsing{
  min-height: 148px !important;
}

#filterType       a.collapsed:after,
#filterDiscipline a.collapsed:after,
#filterTag        a.collapsed:after {
  content: '+';
}

#filterType       a:not(.collapsed):after,
#filterDiscipline a:not(.collapsed):after,
#filterTag        a:not(.collapsed):after {
  content: '-';
}
/** ckeditor **/
.django-ckeditor-widget {
  width: 100%;
}
/** video form **/
.required {
  color: var(--primary);
  font-size: 1.3rem;
}

.form-group-required .errors {
  background-color: var(--color-fuzzy-wuzzy-brown);
}
#base-message-alert,
#formalertdiv {
  position: fixed;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

/** channel form **/

#channel_form .selector,
#enrichment_group_form .selector {
  width: 100%;
}
#channel_form .selector select,
#enrichment_group_form .selector select {
  width: 100%;
}
#channel_form .selector-available,
#channel_form .selector-chosen,
#enrichment_group_form .selector-available,
#enrichment_group_form .selector-chosen {
  width: 88%;
}
@media screen and (min-width:992px) {
  #channel_form .selector-available,
  #channel_form .selector-chosen,
  #enrichment_group_form .selector-available,
  #enrichment_group_form .selector-chosen {
    width: 47%;
  }
}
#channel_form .selector .selector-available input,
#enrichment_group_form .selector .selector-available input{
  width: 90%;
}
#channel_form .selector .selector-filter label
#enrichment_group_form .selector .selector-filter label {
  margin-top: 0;
}
#channel_form .selector-available h2,
#channel_form .selector-chosen h2,
#enrichment_group_form .selector-available h2,
#enrichment_group_form .selector-chosen h2 {
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
}

/** vignettes video **/
@media (max-width: 575.98px) {
  .pod-flex-direction {
    flex-direction: column;
  }
}
/*@media screen and (min-width:768px) {
  .card-img-top {
    max-height: 184.13px;
  }
}*/
@media screen and (min-width:992px) {
  .card-img-top {
    max-height: 195.36px;
  }
  .flex-2{
    flex: 2;
  }
}

/*** footer **/
footer {
  color: var(--color-silver-chalice);
}
footer a,
footer a:hover {
  color: var(--white);
}

.footer_links {
  list-style:none;
}
.footer_links>li:before {
  margin-right: .5em;
  content: ">";
  font-weight: bold;
}

.top_link:before {
  content: "\21E7";
  padding-right: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

/*** Useful for additional owners ***/
input.select2-input {
  width: 100% !important;
}

#view-counter-icon {
  color: var(--primary);
}

#viewers-list {
  position: absolute;
  right: 0;
  margin-right: 80px;
  color: var(--white);
  text-align: center;
  font-size: 20px;
  background-color: var(--color-outer-space);
  padding: 10px 0;
  z-index: 2147483647;
  bottom: 100px;
  display: none;
}

.live-video {
  z-index: 1;
}

#viewers-ul {height:200px; list-style-type: none; padding-left: 0;}
#viewers-ul {overflow:hidden; overflow-y:scroll;}

/* use to hide valid human chekbox in contact form to prevent spam */
#contact_us .valid_human {
  display: block;
  overflow: hidden;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
}

