.submit-row a.deletelink {
  height: 35px;
}

.select2-container{
  position: static !important;
}

tr ,.rowl{
  display: table-row !important;
}
body[data-admin-utc-offset]
{
  padding-top: 0;
}
body {
padding-top: 3.5rem;
}
.jumbotron {
    padding: 1rem 2rem;
}
h1{
	font-size: 2rem;
}
.pod-mt-7{
    margin-top: 3.5rem;
}
.breadcrumb, .jumbotron{
	background: #f8f9fa!important;
}
.list-group-item{
padding:.25rem 1.25rem;
}
.badge-primary{
	background: #fff;
	color:#ae2573;
	border: 1px solid #ae2573;
	font-weight: 400;
}
.container-pod{
	max-width: 1400px;
}

/*** navbar **/
.nav-link.btn-connexion{
  background: #b03c7e;
  color: white !important;
}
.btn-lang{
  padding: 0.2rem 0.25rem;
  background: transparent;
  width: 100%;
  text-align: left;
}
.btn-lang-active{
  background: white;
}
.navbar-inner-pod{
  position: relative;
}
.navbar-toggler{
  padding: 0.5rem;
  line-height: inherit;
  font-size: 1rem;
}

/** modal **/
.modal-content{
  min-height: 90vh;
  border:none;
  width: 100%;
  border-radius: 0;
}
.modal-title svg {
    height: 40px;
    width: 40px;
    color:#b03c7e;
}

.modal-title{
	display: flex;
    align-items: center;
}

.modal-pod-full {
    max-width: 90%;
}
.modal-pod-full .close{
font-size:3rem;
}
.modal-pod-full .modal-title{
  font-size: 2.5rem;
}
.title-chaine{
	margin-right: 0.5rem;
	font-weight: 600;
}
#listeChaines{
    max-height: 30rem;
    overflow: auto;
    border-bottom: 1px solid black;
}
.liste-collapse{
    z-index: 900;
}
/**end modal **/
/*** tab **/
.tab-content>.active{
  border: 1px solid #ddd;
  padding: 1.5rem;
  background: white;
}
.nav-tabs{
	border: 0;
}

/***aside ***/
.open-aside{
	margin-right: 15px;
}
/*** modif taille logo ***/
@media (max-width: 576px ){
    .navbar-brand img{
    height: 35px;
  }
  .navbar-brand{
    font-size: 0.9rem;
  }
}
@media (max-width: 992px){
  .langs{
    border-top: 1px solid silver;
  }
  .langs .active{
    background:#b03c7e; 
    border: none;
    color: white;
  }
  .btn-connexion{
    font-size: 0.9rem;
  }
  .navbar-items-pod{
  position: absolute;
  top:53px;
  left:0;
  padding: 1rem;
  width: 100%;
}
  .navbar-nav .login .dropdown-menu {
    position: absolute;
    float: left;
}
  #s::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#s::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#s:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#s:-moz-placeholder { /* Firefox 18- */
  color: white;
} 
  #s{
  width:1px;
  border-radius:0;
  box-shadow:none;
  outline: none;
  padding:0;
  margin:0;
  border:0;
  background-color: transparent;
  opacity:0;
    position: absolute;
}
#s:focus{
  width:100%;
  opacity:1;
display: inline-block !important;
  position: absolute;
  background: #b03c7e !important;
  padding: 0.5rem 1rem;
  left: 0;
  top:0;
  z-index: 99;
  color:white !important;
  height: 74px;
}
.navbar label{
  padding-left: 1px;
  display:inline-block;
  margin-top:0.3em;
  color:rgba(218,208,190,1);
  text-shadow:0 0 0.1em rgba(60,60,60,0.3);
  position: relative;
  left:0.1em;
  cursor:pointer;
} 

}
/*** end MQueries **/

.login > .initials{
  border-radius: 50%;
  background: #b03c7e;
  color: white !important;
  font-weight: 600;
    height: 3rem;
    width: 3rem;
}
.nav-link{
  padding: 0.25rem 0.5rem;
}
button.nav-link{
  background: none;
  border: none;
  cursor: pointer;
}
.nav-link-icone{
  color: #b03c7e !important;
}


/*** CARD ***/
.infinite-item .card-body {
    padding: 1.1rem;
    height: 3.5rem;
    overflow: hidden;
}
.infinite-item .card-header .octicon {
    height:0.9rem;
    margin:0.1rem;
}

.card-header {
    position:absolute; 
    width:100%; 
    background: rgba(0, 0, 0, 0.6);
    padding: 0 0.25rem;
    
}
.card-header .text-muted {
    color:white !important; 
}
div.video-card .d-flex {
    min-height:70%;
    /*position:relative;*/
    top:0;
}
div.card a{
 overflow:hidden;
}
div.card a img {
 transition:-webkit-transform .5s ease;
 transition:transform .5s ease;
 transition:transform .5s ease, -webkit-transform .5s ease
}
div.card a:hover>img {
 -webkit-transform:scale(1.1);
 transform:scale(1.1);
 z-index:0;
}
.card-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    /*width: 100%;
    text-align: center;*/
    border:none;
    /*background: rgba(220,220,220);*/
    /*height: 1rem;*/
}
.card-footer .feather, .card-header .feather{
    height: 1rem;
}
/* menu channels */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover {
    background-color: white;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/** aside list video **/
#filterType div.collapse:not(.show), #filterDiscipline div.collapse:not(.show), #filterTag div.collapse:not(.show) {
    height: 148px !important;
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#filterType div.collapsing, #filterDiscipline div.collapsing, #filterTag  div.collapsing{
    min-height: 148px !important;
}

#filterType a.collapsed:after, #filterDiscipline a.collapsed:after, #filterTag a.collapsed:after {
    content: '+';
}

#filterType a:not(.collapsed):after, #filterDiscipline a:not(.collapsed):after, #filterTag  a:not(.collapsed):after {
    content: '-';
}
/** ckeditor **/
.django-ckeditor-widget {
    width: 100%;
}
/** video form **/
.required { color:red;}
.form-group-required {
    border-left: 3px solid rgba(201, 76, 76, 0.3);
    padding-left : 5px;
}
.form-group-required .errors {
    background-color: rgba(201, 76, 76, 0.3);
}
#base-message-alert, #formalertdiv{
    position:fixed;
    top:50%;
    text-align: center;
    margin:0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    z-index:1000;
}

/** channel form **/
#channel_form .selector, #enrichment_group_form .selector{
    width: 100% !important;
}
#channel_form .selector select, #enrichment_group_form .selector select {
    width:100% !important;
}
#channel_form .selector-available, #channel_form .selector-chosen, #enrichment_group_form .selector-available, #enrichment_group_form .selector-chosen {
    width: 47% !important;
}
#channel_form .selector-available h2, #channel_form .selector-chosen h2, #enrichment_group_form .selector-available h2, #enrichment_group_form .selector-chosen h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
}

/* vignettes video */
@media (max-width: 575.98px) {
    .pod-flex-direction{
        flex-direction: column;
    }
}
@media screen and (min-width:768px){
      .card-img-top {
        max-height:184.13px;
      }
}
@media screen and (min-width:992px){
      .card-img-top {
        max-height:195.36px;
      }
	.flex-2{
    flex: 2;
	}
}
/*** footer **/
footer{
	color:#aaa;
}
footer a, footer a:hover{
	color: white;
}
/*** Useful for additional owners ***/
input.select2-input{
	width: 100% !important;
}