{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'import_video:external_recordings' %}">{% trans "My external videos" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">
  {% if form.instance.id and form.instance.id != '' %}
    {% trans "Edit the external video" %} "{{form.instance.name}}"
  {% else %}
    {% trans "Create an external video" %}
  {% endif %}
</li>
{% endblock %}

{% block page_content %}
{% if access_not_allowed == True %}
  <p class="text-info-emphasis">
    <i class="bi bi-info-circle"></i>&nbsp;{% trans "Access to adding external recording has been restricted. If you want to add external recordings on the platform, please" %} <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
  </p>
{% else %}
  <div class="pod-first-content">
    <p>
      {% trans "To centralize Big Blue Button, PeerTube, video file, Youtube recordings on this platform, first, please enter the information below." %}<br>
      {% trans "Then you can import this video to Pod." %}
    </p>
  </div>

  {% if form.instance.id and form.instance.id != '' %}
    <form id="external_recording_form" method="post" action="{% url 'import_video:edit_external_recording' form.instance.id %}" accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate>
  {% else %}
    <form id="external_recording_form" method="post" action="{% url 'import_video:add_external_recording' %}" accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate>
  {% endif %}

    {% csrf_token %}
    <div class="list-group">
      {% if form.errors %}
        <p class="text-danger">{% trans "One or more errors have been found in the form." %}<br>
          {% for error in form.non_field_errors %}
          <span> - {{ error }}</span> <br>
          {% endfor %}
        </p>
      {% endif %}
      {% for field_hidden in form.hidden_fields %}
        {{field_hidden}}
      {% endfor %}

      {% for fieldset in form.fieldsets %}
      {% with options=fieldset|last name=fieldset|first%}
      {% if "collapse" in options.classes %}
        <div class="mb-3">
          <div class="list-group-item">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#import_video_form_{{fieldset|first}}_{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="">
              {{ options.legend|safe }}
            </a>
          </div>
        </div>
      {% endif %}
      {% if name != "modal" %}
      <fieldset class="{{ options.classes }}" id="import_video_form_{{fieldset|first}}_{{forloop.counter}}" >
        {% if options.legend %}
          <legend>{{ options.legend|safe }}</legend>
        {% endif %}
        {% if name == "input-group" %}
        <div class="list-group-item mb-3">
          <div class="input-group">
        {% endif %}
        {% for field in form.visible_fields %}
          {% if field.name in options.fields %}
            {% spaceless %}
            {% if name != "input-group" %}
              <div class="mb-3 {% if "restrict_access_to_groups" in field.name %}collapse restricted_access{% endif %}">
                <div class="list-group-item">
            {% else %}
              <div class="m-1">
            {% endif %}
                  <div class="{% if field.name == "owners" or field.name == "users" %}form-row {% endif %}form-group {% if field.field.required %}form-group-required {% endif %}">
                    {{ field.errors }}
                    {% if "form-check-input" in field.field.widget.attrs.class %}
                      <div class="form-check">
                        {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                      </div>
                    {% else %}
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                      <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>{% endif %}
                  </div>
            {% if name != "input-group" %}
                </div>
              </div>
            {% else %}
              </div>
            {% endif %}
            {% endspaceless %}
          {% endif %}
        {% endfor %}
        <div class="d-flex align-items-center">
        {{ options.additional_data|safe }}
        </div>
        {% if name == "input-group" %}
          </div> <!-- end list-group-item -->
        </div>
        {% endif %}
      </fieldset>
      {% endif %}
      {% if name == "modal" %}
      <div class="modal fade" id="{{options.id}}" tabindex="-1" aria-labelledby="{{ options.legend|safe|striptags }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ options.legend|safe }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% if options.template %}
                {% include options.template %}
              {% else %}
                {% for field in form.visible_fields %}
                  {% if field.name in options.fields %}
                  <div class="{% if field.name == "owners" or field.name == "users" %}form-row {% endif %}form-group {% if field.field.required %}form-group-required {% endif %}">
                    {{ field.errors }}
                    {% if "form-check-input" in field.field.widget.attrs.class %}
                      <div class="form-check">
                        {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                      </div>
                    {% else %}
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                      <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>{% endif %}
                  </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Save" %}</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endwith %}
      {% endfor %}

    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
  </form>
{% endif %}
{% endblock page_content %}

{% block collapse_page_aside %}
  {{ block.super }}
{% endblock collapse_page_aside %}

{% block page_aside %}
<div class="card">
  <h2 class="h4 card-header card-title pod-card__title ps-2">{% trans "Uploading" %}</h2>
  <div class="card-body card-text">
    <p>{% trans "To retrieve recordings from other interfaces, just copy the link to the Big Blue Button, PeerTube, Youtube or other video from the app." %}</p>
    <p>{% trans "All you have to do is paste this link in the 'Address of the recording to download' field, and enter the additional information." %}</p>
    <p>
      {% trans "Once the entry is made, you will be able - if the original application allows it and if the video is publicly available - to upload the video to this platform." %}
      {% trans "To do this, please use the 'Upload to Pod as video' button in the list." %}
    </p>
    <p>
      {% trans "You will then be able to find the encoded video directly in the My videos tab after a while." %}
      {% trans "An email will be sent to you when all encoding tasks are completed." %}
    </p>
  </div>
</div>

<div class="card" id="card-helpfields">
  <h2 class="card-header card-title pod-card__title h4">{% trans "Terms of Service"%}</h2>
  <div class="card-body" id="formfields">
    <p>{% trans "It is necessary to respect the terms of use of the various services before being able to upload a video from their site to this platform." %}</p>

    <div class="card">
      <button class="btn btn-link" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
        {% trans "Big Blue Button" %}
      </button>
      <div id="collapse-1" class="card-body collapse card-text small" aria-labelledby="heading-1" data-bs-parent="#formfields">
        <p><a href="https://docs.bigbluebutton.org/support/faq/" target="_blank">{% trans "More infomations on Big Blue Button" %}</a></p>
      </div>
    </div>

    <div class="card">
      <button class="btn btn-link" id="heading-2" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
        {% trans "PeerTube" %}
      </button>
      <div id="collapse-2" class="card-body collapse card-text small" aria-labelledby="heading-2" data-bs-parent="#formfields">
        <p><a href="https://joinpeertube.org/fr/faq" target="_blank">{% trans "More infomations on PeerTube" %}</a></p>
      </div>
    </div>

    <div class="card">
      <button class="btn btn-link" id="heading-3" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
        {% trans "YouTube" %}
      </button>
      <div id="collapse-3" class="card-body collapse card-text small" aria-labelledby="heading-3" data-bs-parent="#formfields">
        <p>{% trans "Their terms of service state that you are not allowed to download any content unless permitted by YouTube or the person who owns the copyright to the content." %}</p>
        <p><a href="https://www.youtube.com/t/terms#e8b39011d8" target="_blank">{% trans "YouTube's Terms of Service" %}</a></p>
      </div>
    </div>

  </div>
</div>
{% endblock page_aside %}

{% block more_script %}
<script src="/admin/jsi18n/"></script>
<script src="{% static 'admin/js/core.js' %}?ver={{VERSION}}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{VERSION}}">
{{form.media}}
<script>
  /** Restrict access **/
/** restrict access to group */
var is_restricted_elt;
var restrict_access_to_groups = function () {
  //here we call our getParents function
  const parents = getParents(document.getElementById("id_restrict_access_to_groups"), document.querySelector(".restricted_access"))
  if (is_restricted_elt.checked) {
    parents[parents.length-1].style.display = 'block';
  } else {
    Array.from(document.getElementById("id_restrict_access_to_groups").options).forEach(function (option) {
      option.selected = false;
    });
    parents[parents.length-1].style.display = 'none';
  }
};
is_restricted_elt = document.getElementById("id_is_restricted");
if (is_restricted_elt !== null) {
  window.addEventListener('load', function(event) {
    is_restricted_elt.addEventListener('clicked',function (event) {
      restrict_access_to_groups();
    });
    restrict_access_to_groups();
  });
}
</script>
{% endblock more_script %}
