{% extends 'videos/video.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
<style>
#h5pcontent {
    margin: auto;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 480px;
}
#icontent {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
</style>
{% endblock page_extra_head %}


{% block breadcrumbs %}{{ block.super }} 
{% endblock %}

{% block page_title %}{%if channel %}{{channel.title}} - {%endif%}{%if theme %}{{theme.title}} - {%endif%}({% trans 'Interactive video' %}) {{video.title}}{% endblock %}

{% block video-element %}

{% if form %}

{% include 'videos/video-form.html' %}

{% else %}
<div id="h5pcontent">
    <iframe id="icontent" src="{% url 'h5pp:h5pcontent' %}?contentId={{more_data.h5p.content_id}}&is_iframe=true" style="display:none;" frameBorder="0" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
</div>

<form method="post" action="{% url 'video_count' id=video.id %}" id="video_count_form">
{% csrf_token %}
</form>
    
<h1 class="pt-2">
{% if video.licence %}<a href="https://creativecommons.org/licenses/{{video.licence}}/4.0" title="{{video.get_licence}}" target="_blank"><img src="https://licensebuttons.net/l/{{video.licence}}/4.0/88x31.png"></a>{% endif %} {{video.title|title}}
{% if video.date_evt %}<small>[{{ video.date_evt }}]</small>{% endif %}
  <a href="{% url 'contact_us' %}?video={{video.id}}&subject=inappropriate_content" title="{% trans "Report the video"%}" >
      <i data-feather="alert-octagon"></i>
  </a>
</h1>

<div class="pl-0 pr-0">
  <div class="navbar d-flex flex-row-reverse p-0" >
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-selected="true" title="{% trans 'Summary' %}">
        <i data-feather="align-justify"></i>&nbsp;<span class="sr-only">{% trans 'Summary' %}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false" title="{% trans 'Infos' %}">
        <i data-feather="info"></i>&nbsp;<span class="sr-only">{% trans 'Infos' %}</span>
      </a>
    </li>
    {% if video.allow_downloading or video.document_set.all %}
    <li class="nav-item">
      <a class="nav-link" id="downloads-tab" data-toggle="tab" href="#downloads" role="tab" aria-controls="downloads" aria-selected="false" title="{% trans 'Downloads' %}">
        <i data-feather="download"></i>&nbsp;<span class="sr-only">{% trans 'Downloads' %}</span>
      </a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" id="share-tab" data-toggle="tab" href="#share" role="tab" aria-controls="share" aria-selected="false" title="{% trans 'Embed/Share' %}">
        <i data-feather="share-2"></i><span class="sr-only">{% trans 'Embed/Share' %}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="score-tab" data-toggle="tab" href="#score" role="tab" aria-controls="score" aria-selected="false" title="{% trans 'Scoreboard' %}">
        <i data-feather="star"></i><span class="sr-only">{% trans 'Scoreboard' %}</span>
      </a>
    </li>

    <li class="nav-item dropdown" id="list_third_apps">
      <a  href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{% trans 'Other versions' %}">
        <i data-feather="layers"></i>&nbsp;<span class="sr-only">{% trans 'Other versions' %}</span>
      </a>
      <div class="dropdown-menu" >
        <a href="{% url 'video' slug=video.slug %}?redirect=false" title="no enrichment" class="dropdown-item" target="_blank">{% trans 'Original version' %}</a>
      </div>
    </li>
    {% if request.user.playlist_set.all and video.is_draft == False %}
    <li class="nav-item dropdown dropright">
      <a  href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{% trans "Add the video to a playlist"%}">
        <i data-feather="play-circle"></i>&nbsp;<span class="sr-only">{% trans 'My playlists' %}</span>
      </a>
      <div class="dropdown-menu">
      {% csrf_token %}
      <ul class="list-group">
      {% for playlist in request.user.playlist_set.all %}
        {% if video in playlist.videos %}
          <li class="dropdown-item disabled py-0" data-slug="{{playlist.slug}}">{{playlist.title}}
            <i data-feather="check"></i>
          </li>
        {% else %}
          <li class="dropdown-item playlist-item py-0" data-slug="{{playlist.slug}}">{{playlist.title}}</li>
        {% endif %}
      {% endfor %}
      </ul>
      </div>
    </li>
    {% endif %}

  </ul>
  </div>
 
  {% include 'videos/video-info.html' with interactive=True %}
  
  <div class="tab-pane fade" id="score" role="tabpanel" aria-labelledby="score-tab">
    <h5><i data-feather="star"></i>&nbsp;{% trans 'Scoreboard' %}</h5>
    <i>{% trans 'Click below to refresh the information.' %}</i>
    <button type="submit" class="btn btn-primary btn-sm" id="refresh-score" ><i data-feather="refresh-cw"></i></button>
    <br>
    {% if more_data.score and request.user == video.owner or request.user.is_superuser or request.user in video.additional_owners.all %}
    <i>{% trans 'The scoreboard displays the users who viewed your interactive video and their results.' %}</i>
    <table class="table">
    <thead>
        <tr>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'Points' %}</th>
            <th>{% trans 'started' %}</th>
            <th>{% trans 'finished' %}</th>
        </tr>
    </thead>
    <tbody id="user-score">
    {% for user in more_data.score %}
        {% if user.max_points and user.max_points != ".." %}
        <tr>
            <td>{{user.user}}</td>
            <td>{{user.points}} / {{user.max_points}}</td>
            <td>{{user.date_started}}</td>
            <td>{{user.date_finished}}</td>
        </tr>
        {% else %}
        <tr>
            <td>{{user.user}}</td><td>{% trans 'No score available' %}</td>
            <td>{{user.date_started}}</td>
            <td>{{user.date_finished}}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>
    {% elif request.user.is_authenticated %}
    <div id="personnal-score">
        {% if more_data.score %}
        {% with more_data.score|first as userscore %}
            {% trans 'You got the following score on this video' %}: {{userscore.points}} / {{userscore.max_points}}
        {% endwith %}
        {% else %}
            {% trans "no score found" %}
        {% endif %}
    </div>
    {% else %}
    <div id="personnal-score">
        <p>{% trans 'You are watching this video as anonymous user'%}</p>
        {% if more_data.score %}
        {% with more_data.score|first as userscore %}
            {% trans 'You got the following score on this video' %}: {{userscore.points}} / {{userscore.max_points}}
        {% endwith %}
        {% else %}
            {% trans "no score found" %}
        {% endif %}
    </div>
    {% endif %}
  </div>
  
</div>
<!-- -->
{%endif%}

{% endblock video-element %}

{% block page_aside %}
    {{ block.super }} 
{% endblock page_aside %}

{% block more_script %}
<script>
    var video_height = 0;
    $('#icontent').on('load',function() {
        $('#icontent').fadeIn('slow', function(){
            video_height = $('#icontent').contents().find("#h5p-iframe-{{more_data.h5p.content_id}}").height();
            $("#h5pcontent").height(video_height);
        });
    });
    $("#collapseAside").on('shown.bs.collapse', function () {
        setTimeout(function (){
          video_height = $('#icontent').contents().find("#h5p-iframe-{{more_data.h5p.content_id}}").height();
          $("#h5pcontent").height(video_height);
        }, 500);
    });
    $("#collapseAside").on('hidden.bs.collapse', function () {
        setTimeout(function (){
          video_height = $('#icontent').contents().find("#h5p-iframe-{{more_data.h5p.content_id}}").height();
          $("#h5pcontent").height(video_height);
        }, 500);
    });
    $(document).on('click', '#refresh-score', function() {
    $.ajax({
        url: '{% url "h5pp:h5pajax" %}?user-scores={{more_data.h5p.content_id}}',
        type: 'GET',
        success: function(list) {
            var table = $('#user-score');
            if (!table.length) {
                var personnal = $('#personnal-score')[0];
                for (i = 0; i < list.length; i++) {
                    if (list[i].fields.uid == '{{ request.user.username }}' && list[i].fields.max_points != "..") {
                        personnal.innerHTML = "{% trans 'You got the following score on this video' %}: " + list[i].fields.points + ' / ' + list[i].fields.max_points;
                    }
                }
            } else {
                console.log("table exist");
                var html = ''
                for (i = 0; i < list.length; i++) {
                    html = html + '<tr>';
                    if (list[i].fields.max_points != "..") {
                        html = html + '<td>' + list[i].fields.user + '</td><td>' + list[i].fields.points + ' / ' + list[i].fields.max_points + '</td><td>'+ list[i].fields.date_started + '</td><td> '+ list[i].fields.date_finished + '</td>';
                    } else {
                        html = html + '<td>' + list[i].fields.user + '</td><td>{% trans "No score available" %}</td><td>'+ list[i].fields.date_started + '</td><td> '+ list[i].fields.date_finished + '</td>';
                    }
                    html = html + '</tr>';
                }
                table.html(html);
            }
        }
      });
    });
    
    // Add dynamically the scoreboard to the panel
    var $myTabContent = $("#myTabContent");
    var divScore = document.getElementById("score");
    $myTabContent.append(divScore);
</script>
{% endblock more_script %}

