{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block page_extra_head %}
{% endblock page_extra_head %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    {{ page_title }}
  </li>
{% endblock %}

{% block page_content %}
  <div class="table-responsive">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addSpeakerModal">
        Add Speaker
    </button>
  <table class="table table-sm table-striped table-bordered text-center" summary="{% trans 'List of speakers I can manage.' %}">
    <caption class="caption-top">{% trans 'List of speakers' %}</caption>
    <thead>
      <tr>
        <th scope="col">{% trans 'Firstname' %}</th>
        <th scope="col">{% trans 'Lastname' %}</th>
        <th scope="col">{% trans 'Job' %}</th>
        <th scope="col" class="text-center" aria-label="{% trans 'Actions' %}"></th>
      </tr>
    </thead>
    <tbody>
      {% for speaker in speakers %}
        <tr>
          <td>{{ speaker.firstname }}</td>
          <td>{{ speaker.lastname }}</td>
          <td>
            <ul>
                {% for job in speaker.job_set.all %}
                    <li>{{ job.title }}</li>
                {% empty %}
                    <li>No jobs assigned</li>
                {% endfor %}
            </ul>
        </td>
        <td class="text-center align-middle">
          <a title="Edit speaker" role="button" class="btn btn-link pod-btn-social edit-speaker-field"><i class="bi bi-pencil-square" aria-hidden="true"></i></a>
          {% trans "Please confirm you want to delete the speaker" as confirmDelete %}
          <form method="post" action="{% url 'speaker:speaker_management' %}" onsubmit="return confirm('{{ confirmDelete|escapejs }}');" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete" />
            <input type="hidden" name="speakerid" value="{{ speaker.id }}" />
            <button type="submit" class="btn btn-danger pod-btn-primary btn-sm" title="{% trans 'Delete the speaker' %}" data-bs-toggle="tooltip" data-bs-placement="top">
              <i class="bi bi-trash3" aria-hidden="true"></i>
            </button>
          </form>
        </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="11">{% trans 'No speakers found.' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  {% include "speaker_modal.html" %}
{% endblock page_content %}

{% block collapse_page_aside %}{% endblock collapse_page_aside %}
{% block page_aside %}{% endblock page_aside %}
{% block more_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Function to add a new job field
        function addJobField() {
            var jobFieldHtml = `
                <div class="input-group mb-2">
                    <input type="text" class="form-control ms-2" name="jobs[]" placeholder="Job Title">
                    <a title="Remove job" role="button" class="btn btn-link pod-btn-social remove-job-field"><i class="bi bi-trash"></i></a>
                </div>
            `;
            document.getElementById('jobFieldsContainer').insertAdjacentHTML('beforeend', jobFieldHtml);
        }

        // Add job field on button click
        document.addEventListener('click', function(event) {
            if (event.target && event.target.closest('.add-job-field')) {
                addJobField();
            }
        });

        // Remove job field on button click
        document.addEventListener('click', function(event) {
            if (event.target && event.target.closest('.remove-job-field')) {
                event.target.closest('.input-group').remove();
            }
        });

        // Set speaker ID in add job modal
        document.querySelectorAll('.add-job-btn').forEach(button => {
            button.addEventListener('click', function() {
                var speakerId = this.getAttribute('data-speaker-id');
                document.getElementById('jobSpeakerId').value = speakerId;
            });
        });
    });
</script>
{% endblock more_script %}
