{% extends "admin/change_list.html" %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'custom/assets/css/change_video_owner.css' %}">
{% endblock %}
{% block title %}Modifier propriétaire vidéo{% endblock %}
{% block content_title %}<h1 class="text-center">Changer le propriétaire de la vidéo</h1>{% endblock %}
{% block content %}
    <div class="main">
        <div class="container">
            <div class="form">
                <form method="post">
			{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="oldlogin" class="label-control">Ancien propriétaire<i class="required">*</i></label>
                                <input type="text" class="form-control" name="oldlogin" placeholder="Identifiant ancien propriétaire" required id="oldlogin">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="newlogin" class="label-control">Nouveau propriétaire<i class="required">*</i></label>
                                <input type="text" class="form-control" name="newlogin" placeholder="Identifiant nouveau propriétaire" required id="newlogin">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="label-control">Cocher la/les vidéo(s) à modifier<i class="required">*</i></label>
                                <div class="row">
                                    
                                    <div class="list_videos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group all_video">
                                            <input name="all" placeholder="Filtrer par titre" type="text" id="list_videos__search" class="list_videos__search" >
                                        </div>
                                        <!-- DYNAMIC DATA -->
                                        <!-- <div class="form-group list_videos__data">
                                            <input type="checkbox" id="video1" name="videos[]" >
                                            <label for="video1">Title video 1</label>
                                        </div>
                                        <div class="form-group list_videos__data">
                                            <input type="checkbox" id="video2" name="videos[]" >
                                            <label for="video2">Title video 2</label>
                                        </div>
                                        <div class="form-group list_videos__data">
                                            <input type="checkbox" id="video3" name="videos[]" >
                                            <label for="video3">Title video 3</label>
                                        </div>
                                        <div class="form-group list_videos__data">
                                            <input type="checkbox" id="video4" name="videos[]" >
                                            <label for="video4">Title video 4</label>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" text-center">
                            <input type="submit" class="btn btn-primary max100" id="changeownerjs" value="Modifier le propriétaire">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block  footer %} 
    {# Javascript #}
    <script type="text/javascript">  var data = {{data | safe }}; </script>
    <script type="text/javascript" src="{% static "custom/assets/js/change_video_owner.js" %}"></script>
{% endblock %}
