{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'meeting:my_meetings' %}">{% trans 'My meetings' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% if form.instance.meeting_id and form.instance.meeting_id != '' %}
  {% trans "Edit the meeting" %} "{{form.instance.name}}"
  {% else %}
  {% trans "Add a new meeting" %}
  {% endif %}</li>
{% endblock %}

{% block page_content %}
{% if access_not_allowed == True %}
<p class="text-info">
  <i class="bi bi-info-circle"></i>&nbsp;{% trans "Access to adding meeting has been restricted. If you want to add meetings on the platform, please" %} <a href="{% url 'contact_us' %}">{% trans 'contact us' %}</a>
</p>
{% else %}
<h1 class="page_title">{% if form.instance.meeting_id and form.instance.meeting_id != '' %}
  {% trans "Edit the meeting" %} <b>{{form.instance.name}}</b>
  {% else %}
  {% trans "Add a new meeting" %}
  {% endif %}</h1>
{% if form.instance.meeting_id and form.instance.meeting_id != '' %}
<form id="meeting_form" method="post" action="{% url 'meeting:edit' form.instance.meeting_id %}" accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate>
{% else %}
<form id="meeting_form" method="post" action="{% url 'meeting:add' %}" accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate>
{% endif %}
    {% csrf_token %}
    <div class="list-group">
      {% if form.errors %}
        <p class="text-danger">{% trans "One or more errors have been found in the form." %}<br/>
          {% for error in form.non_field_errors %} 
          <span> - {{ error }}</span> <br/>
          {% endfor %}
        </p>
      {% endif %}
      {% for field_hidden in form.hidden_fields %}
        {{field_hidden}}
      {% endfor %}

      {% for fieldset in form.fieldsets %}
      {% with last=fieldset|last %}
      {% if "collapse" in last.classes %}
      <div class="mb-3">
        <div class="list-group-item">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#meeting_form_{{fieldset|first}}{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="">
            {{ last.legend }}
          </a>
        </div>
      </div>
      {% endif %}
      <fieldset class="{{ last.classes }}" id="meeting_form_{{fieldset|first}}{{forloop.counter}}" >
      {% if last.legend %}
          <legend>{{ last.legend }}</legend>
      {% endif %}
      {% for field in form.visible_fields %}
      {% if field.name in last.fields %}
      {% spaceless %}
      <div class="mb-3 {% if "restrict_access_to_groups" in field.name %}collapse restricted_access{% endif %}">
        <div class="list-group-item">
          <div class="{% if field.name == "owners" or field.name == "users" %}form-row {%endif%}form-group {% if field.field.required %}form-group-required {%endif%}">
            {{ field.errors }}
            {% if "form-check-input" in field.field.widget.attrs.class %}
              <div class="form-check">
                {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
              </div>
            {% else %}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            {% endif %}
            {% if field.help_text %}
              <small id="{{field.id_for_label}}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
            {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field" %}.</div>{%endif%}
          </div>
        </div>
      </div>
      {% endspaceless %}
      {% endif %}
      {% endfor %}
      {% endwith %}
      </fieldset>
      {% endfor %}
      
    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
  </form>
{% endif %}
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
<script src="/admin/jsi18n/"></script>
<script src="{% static 'admin/js/core.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}?ver={{VERSION}}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}?ver={{VERSION}}" />
{{form.media}}
<script>
  /** Restrict access **/
/** restrict access to group */
$("#id_is_restricted").change(function () {
  restrict_access_to_groups();
});
var restrict_access_to_groups = function () {
  if ($("#id_is_restricted").prop("checked")) {
    $("#id_restrict_access_to_groups").parents(".restricted_access").show();
  } else {
    $("#id_restrict_access_to_groups option:selected").prop("selected", false);
    $("#id_restrict_access_to_groups").parents(".restricted_access").hide();
  }
};
restrict_access_to_groups();
</script>
{% endblock more_script %}