{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'meeting:my_meetings' %}">{% trans 'My meetings' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'meeting:edit' meeting.meeting_id %}">{{meeting.name}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Delete" %}</li>
{% endblock %}

{% block page_title %}
  {% blocktrans with name=meeting.name %}Delete the meeting <b>{{name}}</b>{% endblocktrans %}
{% endblock %}

{% block page_content %}
  <h3>{% blocktrans with name=meeting.name %}Delete the meeting <b>{{name}}</b>{% endblocktrans %}
    <span class="float-end">
        <a href="{% url 'meeting:my_meetings' %}" title="{% trans 'Back to my meetings' %}" class="btn btn-secondary btn-sm">
            <i class="bi bi-person-video"></i>&nbsp;{% trans "Back to my meetings" %}
        </a>
    </span>
  </h3>
  <p>{% trans 'To delete the meeting, please check the box in and click delete.' %}</p>
  <form method="post" action="{{ request.get_full_path }}" id="meeting_delete_form" class='needs-validation' novalidate>
    {% csrf_token %}
    <div class="list-group">
      <fieldset>
        <legend>{% trans 'Agreement required' %}</legend>
        {% if form.errors %}
          <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p>
        {% endif %}
        {% for field_hidden in form.hidden_fields %}
          {{field_hidden}}
        {% endfor %}
        {% for field in form.visible_fields %}
          {% spaceless %}
          <div class="list-group-item">
            <div class="form-group {% if field.field.required %}form-group-required {% endif %}" >
              {{ field.errors }}
              {% if "form-check-input" in field.field.widget.attrs.class %}
                <div class="form-check">
                  {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label" >{{ field.label }}</label>
                </div>
              {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
              {% endif %}
              {% if field.help_text %}
                <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
              {% endif %}
              {% if field.field.required %}<div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>{% endif %}
            </div>
          </div>
          {% endspaceless %}
        {% endfor %}
        <div class="text-center mt-1">
          <button type="submit" class="btn btn-secondary btn-sm btn-danger">{% trans "Delete" %}</button>
          <a href="{% url 'meeting:my_meetings' %}" title="{% trans 'Back to my meetings' %}" class="btn btn-secondary btn-sm">
            <i class="bi bi-person-video"></i>&nbsp;{% trans "Back to my meetings" %}
          </a>
        </div>
      </fieldset>
    </div>
  </form>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
{% endblock more_script %}