{% extends 'base.html' %}
{% load i18n l10n %}
{% load static %}
{% load thumbnail %}

{% block more_style %}
  <link href="{% static 'css/meeting.css' %}?ver={{ VERSION }}" rel="stylesheet">
{% endblock more_style %}


{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'meeting:my_meetings' %}">{% trans "My meetings" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Meeting recordings" %}</li>
{% endblock %}

{% block page_content %}
  <div id="recording-loader" class="recording-loader">
    <div class="recording-loading"></div>
    {% trans "Do not leave the page until the video upload to Pod is complete." %}
  </div>

  <div>
    <p>
      {% trans "After recording a Big Blue Button meeting, recordings of that meeting will be available at that level after a while." %}<br>
      <p class="text-info-emphasis">
        <i class="bi bi-info-circle" aria-hidden="true"></i> {% trans "When a new recording is available at this level, you will receive an email to inform you." %}
      </p>
    </p>
  </div>

  <table class="table align-middle table-sm table-bordered table-striped caption-top" id="recordings">
    <thead>
      <tr>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col">{% trans "State" %}</th>
        <th scope="col">{% trans "Date" %}</th>
        <th scope="col">{% trans "Playback" %}</th>
        <th scope="col">{% trans "Toolbar" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for record in recordings %}
        <tr class="recordings_list_item">
            <td class="recording_name"> {{ record.name }} </td>
            <td>
              {# trans record.state|title #}
              {% if not record.uploadedToPodBy %}
                {% trans "Video file not uploaded to Pod" %}
              {% else %}
                {% trans "Video file already uploaded to Pod" %}
                {% if request.user != record.uploadedToPodBy %}
                  {% trans "by"%} {{ record.uploadedToPodBy.first_name }} {{ record.uploadedToPodBy.last_name }}
                {% endif %}
              {% endif %}
            </td>
            <td> {{ record.get_start_time }} </td>
            <td>
                {% if record.presentationUrl != "" %}
                  <a id="{{ record.id }}-presentation" class="btn btn-primary pod-btn-primary btn-sm" href="javascript:void(0);" onclick="manageLink('presentation', this);" title="{% trans 'Display the recording in presentation format'%}" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-pod-meeting-id="{{ meeting.meeting_id }}" data-pod-recording-id="{{ record.id }}" data-pod-recording-presentation-url="{{ record.presentationUrl }}">
                    <i class="bi bi-file-earmark-play" aria-hidden="true"></i>
                  </a>
                {% endif %}
                {% if record.videoUrl != "" %}
                  <a id="{{ record.id }}-video" class="btn btn-primary pod-btn-primary btn-sm" href="javascript:void(0);" onclick="manageLink('video', this);" title="{% trans 'Display the recording in video format'%}" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-pod-meeting-id="{{ meeting.meeting_id }}" data-pod-recording-id="{{ record.id }}" data-pod-recording-video-url="{{ record.videoUrl }}">
                    <i class="bi bi-camera-video" aria-hidden="true"></i>
                  </a>
                {% endif %}
            </td>
            <td>
                {% if record.canUpload %}
                  {% trans "Please confirm you want to upload the recording To Pod" as confirmUpload %}
                  <form method="post" action="{% url "meeting:upload_internal_recording_to_pod" recording_id=record.id meeting_id=meeting.meeting_id %}" onsubmit="return confirmUploadToPod('{{ confirmUpload|escapejs }}');" style="display: inline;">
                    <input type="hidden" name="recording_name" value="{{ record.name }}" >
                    <input type="hidden" name="start_timestamp" value="{{ record.startTime }}" >
                    <input type="hidden" name="end_timestamp" value="{{ record.endTime }}" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary pod-btn-secondary btn-sm" title="{% trans 'Upload to Pod as a video'%}" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bi bi-upload pod-add" aria-hidden="true"></i></button>
                  </form>
                {% endif %}
                {% if record.canDelete %}
                  {% trans "Please confirm you want to delete the recording" as confirmDelete %}
                  <form method="post" action="{% url "meeting:delete_internal_recording" meeting_id=meeting.meeting_id recording_id=record.id %}" onsubmit="return confirm('{{ confirmDelete|escapejs }}');" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger pod-btn-primary btn-sm" title="{% trans 'Delete the recording'%}" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bi bi-trash3 pod-add" aria-hidden="true"></i></button>
                  </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock page_content %}

{% block collapse_page_aside %}
  {{ block.super }}
{% endblock collapse_page_aside %}

{% block page_aside %}
  {% include 'meeting/filter_aside_recording.html' %}
{% endblock page_aside %}

{% block more_script %}
<script>
  // Filter recordings
  let searchRecInput = document.querySelector(
    "#recordings_filter #searchrecordings"
  );
  let searchRecHandler = (s) => {
    let recs = document.querySelectorAll(
      ".recordings_list_item"
    );
    if (s.length >= 3) {
      // Display only recordings matching the filter
      recs.forEach((rec) => {
        if (!rec.innerHTML.trim().toLowerCase().includes(s)) {
          rec.style.visibility = 'collapse';
        }
        else rec.style.visibility = 'visible';
      });
    } else {
      // Display all recordings
      recs.forEach((rec) => {
        rec.style.visibility = 'visible';
      });
    }
  };
  searchRecInput.addEventListener("input", (e) => {
    searchRecHandler(searchRecInput.value.trim());
  });

  // Manage the upload To Pod: confirm and loader
  function confirmUploadToPod(message) {
    const answer=confirm(message);
    if(answer){
     document.getElementById("recording-loader").style.display = "block";
    }
    return answer;
  }

  /**
   * Function that allow to manage the link of recordings (video and presentation playback) to take into account the single-use token.
   **/
  function manageLink(type, element) {
    // Get important information from element
    let meetingId = element.dataset.podMeetingId;
    let recordingId = element.dataset.podRecordingId;
    let url = element.getAttribute("data-pod-recording-" + type + "-url");
    // Open presentation/video recording on other window
    window.open(url, '_blank');
    // AJAX Pod server to re-request the BBB server 
    urlGetRecording = "/meeting/internal_recording/" + meetingId + "/" + recordingId + "/";

    // Get infos from the recording (new token appears here)
    fetch(urlGetRecording, {
      method: "GET",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "X-Requested-With": "XMLHttpRequest",
      },
      dataType: "html",
      cache: "no-store",
    })
      .then((response) => response.text())
      .then((data) => {
        // Get new playback URL
        let jsonData = JSON.parse(data);
        var urlNew;
        if (type == "presentation") {
          urlNew = jsonData.presentationUrl;
        } else {
          urlNew = jsonData.videoUrl;
        }
        // Modify element
        element.setAttribute("data-pod-recording-" + type + "-url", urlNew);
      })
      .catch((error) => {
        console.debug(error);
        // Reload the whole page
        location.reload();
      });
  }
</script>
{% endblock more_script %}
