{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My meetings" %}</li>{% endblock %}

{% block page_title %}
{% trans "My meetings" %}
{% endblock %}


{% block page_content %}
<a class="initials btn pod-btn-primary btn-sm d-flex justify-content-center align-items-center" href="{% url 'meeting:add' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% trans "Add a meeting" %}"><i class="bi bi-plus pod-add"></i><span>{% trans "Add a meeting" %}</span></a>
<table class="table">
  <thead></thead>
  <tbody>
    {% for meeting in meetings %}
    <tr>
      <th scope="row">{{meeting.name}}</th>
      <td>{{meeting.start_at}}</td>
      <td>{{meeting.end_at}}</td>
      <td><a href="{% url 'meeting:join' meeting.meeting_id %}" title="{% trans 'Join the meeting'%}" class="btn pod-btn-social"><i class="bi bi-link" aria-hidden="true"></i></a></td>
      <td><a href="{% url 'meeting:edit' meeting.meeting_id %}" title="{% trans 'Edit the meeting'%}" class="btn pod-btn-social"><i class="bi bi-pencil-square" aria-hidden="true"></i></a></td>
      <td><a href="{% url 'meeting:delete' meeting.meeting_id %}" title="{% trans 'Edit the meeting'%}" class="btn pod-btn-social"><i class="bi bi-trash" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
{% endblock more_script %}
