{% extends 'base.html' %}
{% load i18n l10n %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}{{ block.super }} 
<li class="breadcrumb-item"><a href="{% url 'meeting:my_meetings' %}">{% trans "My meetings" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Meeting recordings" %}</li>
{% endblock %}

{% block page_content %}
<table class="table table-striped align-middle table-sm table-bordered caption-top">
    <thead>
      <tr>
        <th scope="col">{% trans "Playback" %}</th>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col">{% trans "State" %}</th>
        <th scope="col">{% trans "Date" %}</th>
        <th scope="col">{% trans "Duration" %}</th>
        <th scope="col">{% trans "Toolbar" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for record in recordings %}
        <tr>
            <td> {% for type, url in record.playback.items %}<a class="initials btn btn-primary pod-btn-primary btn-sm" href="{{url}}" target="_blank">{{type}}</a> {% endfor %}</td>
            <td> {{ record.name }}</td>
            <td> {{ record.state }}</td>
            <td> {{ record.get_start_time }}</td>
            <td> {{ record.get_duration }} </td>
            <td> 
                <form method="post" action="{% url "meeting:delete_recording" meeting_id=meeting.meeting_id recording_id=record.recordID %}" onsubmit="return confirm('{% trans "Please confirm you want to delete the recording" %}');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary pod-btn-primary btn-sm"><i class="bi bi-trash3 pod-add"></i></button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}

{% endblock more_script %}