<div class="mb-3" id="repeat_recurring">
<div class="list-group-item">
    <div class="row g-3 align-items-center m-1">
        <div class="col-auto">Répéter tou(te)s les</div>
        <div class="col-auto">{{ form.frequency }}</div>
        <div class="col-auto">{{ form.recurrence }}</div>
    </div>
</div>
</div>
<div class="mb-3" id="weekdays_recurring">
<div class="list-group-item">
    <div class="row g-3 align-items-center m-1">
    <div class="col-auto">Répéter le ou les : </div>
    <div class="col-auto ">
        {% for day in form.days_of_week %}
        <div class="form-check form-check-inline">
        {{day}}
        </div>
        {% endfor %}
    </div>
    </div>
</div>
</div>
<div class="mb-3" id="monthly_recurring">
    <div class="list-group-item">
        <div class="row g-3 align-items-center m-1">
            <div class="col-auto">{{ form.monthly_type }}</div>
        </div>
    </div>
</div>
<div class="mb-3">
<div class="list-group-item">
    <div class="">Se termine : </div>
    <div class="row g-3 align-items-center m-1">
        <div class="col-auto align-items-center">
            <div class="input-group input-group-sm">
                <span class="input-group-text me-1 p-1" >Le : </span>
                <span class="align-items-center">{{ form.recurring_until }}</span>
                <span class="input-group-text ms-1 p-1" > Ou après </span>
                {{ form.nb_occurrences }}
                <span class="input-group-text p-1" > occurences</span>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    let recurrence = document.getElementById("id_recurrence");
    // recurrence.onchange = function() { console.log("Changed!" + recurrence.value);
    recurrence.addEventListener('change', function(ev) {
        console.log("Changed!" + recurrence.value);
        change_weekdays_display()
    })

    change_weekdays_display = function() {
        if (recurrence.value == "weekly") {
            document.getElementById("weekdays_recurring").style.display = 'block';
        } else {
            document.getElementById("weekdays_recurring").style.display = 'none';
        }
        if (recurrence.value == "monthly") {
            document.getElementById("monthly_recurring").style.display = 'block';
        } else {
            document.getElementById("monthly_recurring").style.display = 'none';
        }
    }

    change_weekdays_display()

</script>