{% load i18n static %}

<div >
{{input|safe}}
{% if value %}
<span id="fileinput_{{id}}">
    {% if type == "image" %}<img src="{{document.file.url}}" height="34" alt="{{document.name}}"/>&nbsp;
    {% else %}<i data-feather="file"></i>&nbsp;{%endif%}
<strong>{{document.name}}</strong>&nbsp;({{document.file_type}} - {{document.file.size|filesizeformat}})
</span>
<button type="button" class="btn btn-primary btn-fileinput" data-toggle="modal" data-target="#fileModal_{{id}}">
  {% trans 'Change file' %}
</button>
{% else %}
<span id="fileinput_{{id}}">
</span>
<button type="button" class="btn btn-primary btn-fileinput" data-toggle="modal" data-target="#fileModal_{{id}}">
{% if type == "file" %}
{% trans 'Select a file' %}
{% else %}
{% trans 'Select an image' %}
{% endif %}
</button>
{% endif%}
</div>
<!-- Select File Modal -->
<div class="modal fade" id="fileModal_{{id}}" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true" data-id="{{id}}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileModalLabel_{{id}}">
            {% if type == "file" %}{% trans 'Select a file' %}{% else %}{% trans 'Select an image' %}{% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row" id="modal-folder_{{id}}">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Select File Modal -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
var id_input="";
$('#fileModal_{{id}}').appendTo(document.body);
$('#fileModal_{{id}}').on('hide.bs.modal', function (event) {
  console.log($(this).data('id'));
    $("#modal-folder_"+$(this).data('id')).html("");
});
$('#fileModal_{{id}}').on('show.bs.modal', function (event) {
  console.log($(this).data('id'));
  id_input = $(this).data('id');
  send_form_data("{% url "podfile:folder" type=type %}", {}, "append_folder_html_in_modal", "get");
});
</script>