{% load i18n %}
<div class="list-group-item " id="editfile" >
<form method="post" enctype="multipart/form-data" id="formeditfile" action="{% url 'editimage' id=folder.id%}" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form_image }}
    {% if form_image.instance %}
    <input type="hidden" id="id_file" name="file_id" value="{{form_image.instance.id}}"/>
    {% endif %}
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="{% trans 'Upload' %}" class="btn btn-info"/>
    <input type="reset" value="{% trans 'Cancel' %}" class="btn btn-info"/>
</form>
</div>