{% load i18n %}

<div class="container-fluid h-100" id="podfile">
  <div class="open-folder p-0" id="open-folder-icon">
    <button class="navbar-toggler pod-navbar__button-toggler"
            type="button"
            aria-controls="dirs"
            aria-expanded="false"
            data-bs-toggle="collapse"
            data-bs-target="#dirs"
            title="{% trans 'Toggle folders menu' %}">
      <i class="bi bi-list" aria-hidden="true"></i>
    </button>
  </div>
  <div class="row">
    <div class="col col-md-4 collapse collapse-horizontal" id="dirs">
      {% include 'podfile/userfolder.html' %}
    </div>

    <div class="col" id="files">
      {% include 'podfile/list_folder_files.html' with folder=current_session_folder %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="folderModalCenter" tabindex="-1" role="dialog" aria-labelledby="folderModalCenter" aria-hidden="true" style="z-index:1060;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="min-height:initial !important;border:2px solid black;">
      <div class="modal-header">
        <h2 class="h4 modal-title" id="folderModalCenterTitle">
          {% trans "Enter new name of folder" %}
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">

        <form id="folderFormName" action="{% url 'podfile:editfolder' %}">
          {% csrf_token %}
          <input type="hidden" name="folderid" id="formfolderid" value="">
          <div class="form-group">
            <label for="folderInputName">{% trans "Name"%}</label>
            <input type="text" class="form-control" name="name" id="folderInputName" placeholder="{% trans 'Enter new name of folder' %}">
          </div>
        </form>

        <form method="post" enctype="multipart/form-data" id="formchangefile"
              action="{% url 'podfile:changefile'%}" class="needs-validation"
              novalidate>
            {% csrf_token %}
            {{ form_file }}
            <input type="hidden" name="file_id" value="">
            <input type="hidden" name="file_type" value="">
        </form>

        <form method="post" enctype="multipart/form-data" id="formchangeimage"
              action="{% url 'podfile:changefile'%}" class="needs-validation"
              novalidate>
            {% csrf_token %}
            {{ form_image }}
            <input type="hidden" name="file_id" value="">
            <input type="hidden" name="file_type" value="">
        </form>

        <div class="row loadingformfiles" style="display: none">
          <div class="d-flex align-items-center col">
            <strong>{% trans "Loading…" %}</strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#folderModalCenter">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" id="modalSave">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="shareModalCenter" tabindex="-1" role="dialog" aria-labelledby="shareModalCenter" aria-hidden="true" style="z-index:1060;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="min-height:initial !important;border:2px solid black;">
      <div class="modal-header">
        <h2 class="modal-title" id="shareModalCenterTitle">{% trans "Share with someone" %}</h2>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <h3 class="h5">{% trans "Already shared with:" %}</h3>

        <ul id="shared-people" class="list-group"></ul>
        <hr>
        <form id="shareFormName">
          {% csrf_token %}
          <input type="hidden" name="userid" id="formuserid" value="">
          <div class="form-group">
            <label for="userInputName">{% trans "Username"%}</label>
            <input type="text" class="form-control" name="name" id="userInputName" autocomplete="off" placeholder="{% trans 'Enter new username'%}">
            <ul id="user-search" class="list-group">
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shareModalCenter">{% trans "Close"%}</button>
      </div>
    </div>
  </div>
</div>
