{% load i18n %}
{% with urledit='podfile:edit'|add:type %}
<div class="list-group-item "><span id="current_folder_name" data-id="folder_{{current_folder.id}}">{{current_folder.name}}</span> 
    {% if request.user == current_folder.owner or request.user.is_superuser %}
    <form class="get_form_file float-right" action="{% url urledit id=current_folder.id %}" method="POST" >
    {% csrf_token %}
    <input type="hidden" name="action" value="new"/>
    <input type="hidden" name="current_folder" value="{{current_folder}}"/>
    <button type="submit" class="btn btn-info btn-sm m-0 p-0"><i data-feather="upload"></i></button>
    </form>
    {% endif %}
    <span class="float-right">{{list_file.count}} {% trans "file"%}{{ list_file.count|pluralize }}&nbsp;</span>
</div>
<div id="infinite_list_file" style="max-height:300px;overflow-y:auto;">
    <div style="" class="infinite-container" id="list_file_items">
{% for document in list_file %}
<div class="list-group-item list-group-item-action m-0 p-1 small infinite-item-files d-flex justify-content-between align-items-center">
<a href="#" class="file-name" data-id="{{document.id}}" data-name="{{folder.name}}">
    {% if type == "image" %}<img src="{{document.file.url}}" height="34" alt="{{document.name}}"/>&nbsp;{% else %}<i data-feather="file"></i>&nbsp;{% endif %}
<strong>{{document.name}}</strong>&nbsp;({{document.file_type}} - {{document.file.size|filesizeformat}})
</a>
{% if request.user == document.created_by or request.user.is_superuser %}
<div class="action" style="display: inline-flex;">
<form class="get_form_file form-inline float-right" action="{% url urledit id=current_folder.id %}" method="POST" >
    {% csrf_token %}
    <input type="hidden" name="action" value="modify"/>
    <input type="hidden" name="id" value="{{document.id}}"/>
    <input type="submit" title="{% trans 'Edit the file' %}" value="{% trans 'Modify' %}" class="btn btn-info btn-sm m-0 p-1"/>
</form>
&nbsp;
<form class="get_form_file form-inline float-right" action="{% url urledit id=current_folder.id %}" method="POST" >
    {% csrf_token %}
    <input type="hidden" name="action" value="delete"/>
    <input type="hidden" name="id" value="{{document.id}}"/>
    <input type="submit" title="{% trans 'Delete the file' %}" value="{% trans 'Delete' %}" class="btn btn-danger btn-sm m-0 p-1"/>
</form>
</div>
{%endif%}
</div>
{% endfor %}
</div>
</div>
{%endwith%}