{% load i18n static%}
<div id="list_folder" class="list-group col-4" style="max-height:377px;overflow-y:auto;">
    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if current_folder.name == "home" %} list-group-item-success{%endif%} m-0 p-0 small" id="folder_{{user_home_folder.id}}">
        <a href="{% url "get_files" type=type id=user_home_folder.id %}" title="{%trans 'home'%}" class="form_folder_files" ><i data-feather="home"></i>&nbsp;{%trans 'home'%}</a>
        <span class="float-right">{% blocktrans count counter=list_folder.paginator.count %}{{ counter }} folder{% plural %}{{ counter }} folders{% endblocktrans %}</span>
    </div>
    {% include 'podfile/infinite_folders.html' %}
    <div class="list-group-item list-group-item-dark m-0 p-1 small text-center">
        <form method="post" id="form_folder" action="{% url "folder" type=type %}" class="" style="display: inline-flex;">
        {% csrf_token %}
        <input type="hidden" id="id_folder" name="id_folder" value=""/>
        <input name="name" required="" id="id_name" maxlength="255" type="text" class="">
        <button type="submit" title='save' class="btn btn-success btn-sm m-0 p-0" ><i data-feather="save"></i></button>&nbsp;
        <button type="cancel" title='cancel' class="btn btn-warning btn-sm m-0 p-0" id="form_folder_cancel"><i data-feather="x-square"></i></button>
        </form>
    </div>
</div>
<div id="list_file" class="list-group col-8">
    {% include 'podfile/list_file.html' %}
</div>
<script>
  var infinite_folder = new Waypoint.Infinite({
    element: document.getElementById('list_folder_items'),
    container: document.getElementById('list_folder_items'), //$('#list_folder .infinite-container')[0],
    more:'#infinite-more-link-folders',
    items:'.infinite-item-folders',
    context: document.getElementById('infinite_list_folder'),
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
      feather.replace({ class: 'align-bottom'});
    }
  });
  var infinite_file = new Waypoint.Infinite({
    element: document.getElementById('list_file_items'),
    container: document.getElementById('list_file_items'), //$('#list_folder .infinite-container')[0],
    more:'#infinite-more-link-files',
    items:'.infinite-item-files',
    context: document.getElementById('infinite_list_file'),
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
      feather.replace({ class: 'align-bottom'});
    }
  });
</script>