{% load i18n static %}
<div class="dirs-nav">
    <div class="dirs-nav-container">
        <a
            href="#"
            id="folder_{{user_home_folder.id}}"
            class="{% if user_home_folder == current_session_folder%}font-weight-bold{% endif %} folder btn btn-link"
            data-id="{{user_home_folder.id}}"
            data-target="{% if type %}{% url 'podfile:get_folder_files' id=user_home_folder.id type=type %}{% else %}{% url 'podfile:get_folder_files' id=user_home_folder.id %}{% endif %}"
        >
            <i class="home-directory bi bi-house-door-fill"></i>
            {% trans "Home folder" %}
        </a>
        <button
            type="button"
            class="btn btn-link btn-sm add-folder-btn"
            data-bs-toggle="modal"
            data-bs-target="#folderModalCenter"
            data-oldname=""
            data-folderid=""
        >
            <i class="add-folder bi bi-folder-plus"></i>
            {% trans "Add new folder" %}
        </button>
    </div>
    <button id="close-folder-icon" type="button" class="btn-close" aria-label="{% trans 'Close' %}"></button>
  </div>
  <div class="form-floating form-search-floating">
    <input type="search" class="form-control" id="folder-search" placeholder="{% trans 'Search folder' %}" name="q">
    <label for="folder-search">{% trans 'Search folder' %}</label>
  </div>

  {% if request.user.is_superuser %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <p>
        <i class="bi bi-exclamation-triangle-fill warning-icon" aria-hidden="true"></i>
        {% trans "SuperUser mode: the folders of all users are listed (the owner is noted in brackets)" %}
      </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
    </div>
  {% endif %}
<div class="flex display-vertical">
    <div class="list_folders" id="list_folders_sub" data-type="{{type}}">&nbsp;</div>
</div>
<style>
    #formalertdiv{
        z-index: 1090;
    }
</style>
<script>
function closeWarning(e){
    e.stopPropagation();
    e.target.parentNode.parentNode.removeChild(e.target.parentNode);
}
</script>
