<!-- HTML for track form. Don't use this file alone it must be integrated into another template ! -->
{% load i18n %}
{% load static %}
<div class="card card-body">
<form id="form_track" action="{% url 'video_completion_track' slug=video.slug %}" method="POST" class="completion">
	{% csrf_token %}
	<div id="form_content" class="form-container">
		{% if form_track.errors or form_track.non_field_errors %}
			{% trans 'Your form contains errors:' %}<br />
			{% for error in form_track.non_field_errors %}
				- {{error}}<br />
			{% endfor %}
		{% endif %}
		{% for field_hidden in form_track.hidden_fields %}
			{{field_hidden}}
		{% endfor %}
		{% for field in form_track.visible_fields %}
			<div class="form-group row">
				<label for="{{field.auto_id}}" class="col-sm-4 col-form-label">{{field.label}}</label>
				<div class="col-sm-10">{{field}}</div>
			</div>
		{% endfor %}
		{% if form_track.instance %}
			<input type="hidden" id="id_track" name="track_id" value="{{form_track.instance.id}}">
		{% endif %}
		<input type="hidden" name="action" value="save"/>
		<input type="submit" id="save_track" value="{% trans 'save' %}" class="btn btn-primary"/>
		<input type="reset" action="cancel" id="cancel_track" value="{% trans 'cancel' %}" class="btn btn-secondary"/>
	</div>
</form>
{{form_track.media}}
</div>
