{# HTML for track list. Don't use this file alone it must be integrated into another template! #}
{% load i18n %}


<div class="grid-list-track">
  <span class="thead-title kind">{% trans 'Kind' %}</span>
  <span class="thead-title lang">{% trans 'Language' %}</span>
  <span class="thead-title file">{% trans 'Video track file' %}</span>
  <span class="thead-title">{% trans 'Actions' %}</span>
  {% for track in list_track %}
    <p id="track_{{track.id}}" class="track-kind kind">{% trans track.kind %}</p>
    <p id="track_{{track.id}}" class="track-kind lang">{{track.lang}} </p>
    <p id="track_{{track.id}}" class="track-kind file">{{track.src.name}} ({{track.src.file_type}})</p>
    <div id="track_{{track.id}}" class="track-kind options">
      <form class="form_change completion" action="{% url 'video:completion:video_completion_track' slug=video.slug %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="modify">
        <input type="hidden" name="id" value="{{track.id}}">
        <input type="submit" title="{% blocktrans with track_name=track.src.name %}Replace the subtitle or caption file “{{ track_name }}”{% endblocktrans %}" value="{% trans 'Replace' %}" class="edt_track btn btn-primary btn-sm">
      </form>
      <a href="{% url 'video:completion:video_caption_maker' slug=video.slug %}?src={{track.src_id}}" id="modif-cap-sub-file" class="edt_track btn btn-secondary" title="{% blocktrans with track_name=track.src.name %}Modify the subtitle or caption file “{{ track_name }}”{% endblocktrans %}">{% trans 'Modify' %}</a>
      <form class="form_delete completion" action="{% url 'video:completion:video_completion_track' slug=video.slug %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="id" value="{{track.id}}">
        <input type="submit" title="{% blocktrans with track_name=track.src.name %}Remove the subtitle or caption file “{{ track_name }}”{% endblocktrans %}" value="{% trans 'Remove' %}" class="edt_track btn btn-danger btn-sm">
      </form>
      <div class="dropdown">
        <button class="dot-btn dropdown-toggle" type="button" id="track-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "menu" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="track-menu-button">
          <form class=" dropdown-item form_change completion" action="{% url 'video:completion:video_completion_track' slug=video.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="modify">
            <input type="hidden" name="id" value="{{track.id}}">
            <input type="submit" title="{% blocktrans with track_name=track.src.name %}Replace the subtitle or caption file “{{ track_name }}”{% endblocktrans %}" value="{% trans 'Replace' %}" class="edt_track btn btn-primary btn-sm">
          </form>
          <form class="dropdown-item form_modif completion" action="{% url 'video:completion:video_caption_maker' slug=video.slug %}?src={{track.src_id}}">
            <input type="submit" id="modif-cap-sub-file" class="edt_track btn btn-secondary" title="{% blocktrans with track_name=track.src.name %}Modify the subtitle or caption file “{{ track_name }}”{% endblocktrans %}" value="{% trans 'Modify' %}">
          </form>
          <form class="dropdown-item form_delete completion" action="{% url 'video:completion:video_completion_track' slug=video.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="id" value="{{track.id}}">
            <input type="submit" title="{% blocktrans with track_name=track.src.name %}Remove the subtitle or caption file “{{ track_name }}”{% endblocktrans %}" value="{% trans 'Remove' %}" class="edt_track btn btn-danger btn-sm">
          </form>
        </div>
      </div>
    </div>
    {% if not forloop.last %}
      <div class="division"></div>
    {% endif %}
  {% endfor %}
</div>
