#videoElm {
    display: block;
    border: solid 1px #999;
    width: 100%;
    min-height: 297px;
}
.videoError {
    display: block;
    background-color: #999;
    width: 100%;
    min-height: 297px;
    color: white;
    text-align: center;
    padding: 12px;
}

#videoError {
    display: none;
}
#captionTitle {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 32px;
}

#textCaptionEntry {
    width: 100%;
    height: auto;
    line-height: 19px;
    border: 1px solid #999;
    padding: 3px 8px 5px;
    text-align: center;
    min-height: 50px;
    overflow: hidden;
}

#textCaptionEntry.playing {
    border-color: #666;
    background-color: #666;
    color: white;
}

textarea {
    line-height: 16px;
    font-size: 14px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* the list of captions */
.gray_no_video{
    display: flex;
    flex-wrap: wrap;
}
.caption_content .caption_title{
   display: flex;
   position: relative;
}
.caption_content svg{
    width: 20px;
    color: var(--secondary);
    margin-left: 4px;
}
.caption_content .caption_title svg:hover + .help_text{
    display: block;
}
.caption_content .help_text{
    display: none;
    position: absolute;
    background: var(--primary);
    color: #fff;
    width: calc(100% - 110px);
    right: 0;
    padding: .4em .8em;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #ccc;
    font-size: 15px;
    line-height: 1.4;
}

.captions_editor {
    height: 442px; 
    overflow: auto; 
    resize: none; 
    width: 100%;
    padding: 0;
}

#newCaptionsEditor {
    margin-bottom: 6px;
}

.newEditorBlock > textarea {
    width: 85%;
    height: 80px;
    margin: 8px;
}

.newEditorBlock > div {
    float: right;
    line-height: 32px;
}

.newEditorBlock a {
    margin-top: 10px;
    max-width: 70px;
    display: block;
    color: #3EA6FF;
    font-weight: 400;
}

.newEditorBlock input {
    margin-top: 10px;
    max-width: 70px;
    height: 32px;
    padding: 0;
    display: block;
}

.caption_block_delete_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    transform: translate(-18px, 78px);
    border: 0;
    border-radius: 50%;
    background: #222;
}

.caption_block_delete_btn svg{
    color: #fff;
    margin: 0;
    transform: translate(0px, -4px);
}

.newEditorBlock .caption_block_delete_btn{
    visibility: hidden;
}

.newEditorBlock:hover .caption_block_delete_btn{
    visibility: visible;
}

#captionFilename {
    width: 280px;
    margin-left: 32px;
    transform: translateY(-4px);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
}

#captionLanguageSelect {
    margin-right: 10px;
    height: 31px;
    width: 150px;
}

#captionmakerModal.save > .modal-dialog {
    max-width: 1000px;
}
@media only screen and (max-width: 800px){
    .gray_no_video{
        display: flex;
	flex-direction: column;
    }
    .gray_no_video > div{
	width: 100% !important;
    }
    .gray_no_video div:first-child{
	overflow: hidden;
	margin: 0;
	margin-bottom: 1em;
	min-height: unset !important;
    }
}

.keyframe {
    position: absolute;
    z-index: 2;
    height: 11px;
}

.keyframe-left {
    transform: translate(-6px, -11px);
}

.keyframe-right {
    transform: translate(0px, -11px);
}

.regionHighligh {
    position: absolute;
    z-index: 1;
    background-color: rgba(173, 50, 122, 0.5);
    height: 3px;
}