#videoElm {
    display: block;
    border: solid 1px #999;
    width: 100%;
    min-height: 297px;
}
.videoError {
    display: block;
    background-color: #999;
    width: 100%;
    min-height: 297px;
    color: white;
    text-align: center;
    padding: 12px;
}

#videoError {
    display: none;
}
#captionTitle {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 32px;
}

#textCaptionEntry {
    width: 100%;
    height: auto;
    line-height: 19px;
    border: 1px solid #999;
    padding: 3px 8px 5px;
    text-align: center;
    min-height: 50px;
    overflow: hidden;
}

#textCaptionEntry.playing {
    border-color: #666;
    background-color: #666;
    color: white;
}

textarea {
    line-height: 16px;
    font-size: 14px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* the list of captions */
.grayNoVideo{
    display: flex;
    flex-wrap: wrap;
}
.caption_content .caption_title{
   display: flex;
   position: relative;
}
.caption_content svg{
    width: 20px;
    color: var(--secondary);
    margin-left: 4px;
}
.caption_content .caption_title svg:hover + .help_text{
    display: block;
}
.caption_content .help_text{
    display: none;
    position: absolute;
    background: var(--primary);
    color: #fff;
    width: calc(100% - 110px);
    right: 0;
    padding: .4em .8em;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #ccc;
    font-size: 15px;
    line-height: 1.4;
}

#captionmakerModal.save > .modal-dialog {
    max-width: 1000px;
}
@media only screen and (max-width: 800px){
    .grayNoVideo{
        display: flex;
	flex-direction: column;
    }
    .grayNoVideo > div{
	width: 100% !important;
    }
    .grayNoVideo div:first-child{
	overflow: hidden;
	margin: 0;
	margin-bottom: 1em;
	min-height: unset !important;
    }
}
