.form-help-inline,
.special_class {
	color: red;
}

/** Table scroll **/
table.scroll {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table.scroll .btn-sm,
table.scroll .btn-group-sm > .btn {
	border-radius: 3px;
	font-size: 12px;
	line-height: 0.5;
	padding: 5px 10px;
}
table.scroll tbody {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
table.scroll tbody td,
table.scroll thead th {
	width: 10%;
	height: 20px;
	line-height: 20px;
	border-bottom: 0;
}
table.scroll thead tr th {
	height: 27px;
	line-height: 27px;
	text-align: left;
}

/** Table contributor **/
table#table_list_contributors tbody td.contributor_name,
table#table_list_contributors thead th.contributor_name {
	width: 20%;
}

/** Accordeon for lists **/
#accordeon li,
#accordeon div {
	list-style: none;
}

/** Lists style **/
#list_contributor .panel-heading,
#list_track .panel-heading,
#list_document .panel-heading,
#list_overlay .panel-heading {
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 4px 15px;
}

#id_background {
	margin-left: 0.25rem;
	position: inherit;
}

.contenuTitre{
	display: flex;
	flex-direction: column;
}
.contenuTitre #list_track{
	order: 1;
}
.contenuTitre .breadcrumb{
	padding: 0;
}
.contenuTitre .btn{
	margin-bottom: 1rem;
	margin-right: 1rem;
}

/***** Override track list *****/

.grid-list-track .division{ grid-column: 1 / span 4; border-bottom: 1px solid #ccc;}
.grid-list-track .thead_title{
   margin: 0;
   padding-right: 20px;
   color: var(--primary);
   word-wrap: break-word;
   font-weight: 600;
}
.grid-list-track p{margin: 0;}
.grid-list-track{
    display: grid;
    grid-template-columns: max-content min-content 1fr min-content;
    grid-gap: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
}
.track_kind.options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
.track_kind.options .btn {
    margin: 0;
    padding: .2em .4em;
    font-size: 1rem;
    box-sizing: border-box;
}
@media only screen and (max-width: 920px)
{}
/** Forms **/


/** Aside **/
.info-card {
	display: none;
}

/** Filepicker override **/
div.file-picker-overlay,
div.file-picker,
ul.css-tabs a {
	box-sizing: content-box;
}
textarea#id_description {
	line-height: normal;
}

/** Bootstrap override **/
.card-title {
	margin: .45rem;
}

/** Loader ellipsis **/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

