.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.paginator {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column: 1 / -1;
}

.paginator .previous_content,
.paginator .next_content {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin: .4em .8em;
    color: var(--primary);
}

.paginator .previous_content.disable,
.paginator .next_content.disable {
    cursor: default;
    color: var(--gray);
}