
/************************************
 * Override my_videos css
 * **********************************/
#videos_list .alert-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    padding: .4em 0;
}
.hidden{
    display: none !important;
}
#video_list .infinite-item{
    transition: .3s all;
}
/************************************
 * Override modal category css
 * **********************************/
#manageCategoryModal.show{
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding: 0 !important;
    margin: 0 !important;
}
#manageCategoryModal .modal-dialog{
    width: 900px;
    max-width: calc(100% - 2em);
    margin: 0 auto;
}
#manageCategoryModal .modal-dialog .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#manageCategoryModal .category_label{
    font-variant: none;
    font-size: 15px;
    display: block;
    margin: 0;
    width: 100%;
    padding-bottom: .2em;
}
#manageCategoryModal .catTitle_input{
    width: 100%;
    font-size: 15px;
    padding: .4em .8em;
    margin-bottom: 2em;
    border-radius: none;
    border: 1px solid #ccc;
}

#manageCategoryModal .category_modal_video_list{
    width: 100%;
    max-height: 450px;
    height: 400px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: .4em .8em;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: .4em;
}
#manageCategoryModal .category_modal_video_list .infinite-item{
    padding: .2em .4em;
    min-width: 133px;
    max-width: 100%;
    position: relative;
    transition: .3s transform;
}
#manageCategoryModal .category_modal_video_list .infinite-item.selected{
    border: 2px solid rgba(249, 249, 249, 0.8);
    border-radius: 4px;
    background-color: rgba(249, 249, 249, 0.8);
}
#manageCategoryModal .category_modal_video_list .infinite-item .checked_overlay{
    display: flex;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
}
#manageCategoryModal .category_modal_video_list .infinite-item .card_selected{
    display: block;
    width: 25%;
    color: var(--primary);
    transition: all .3s;
}
#manageCategoryModal .category_modal_video_list .infinite-item:not(.selected):hover,
#manageCategoryModal .category_modal_video_list .infinite-item .checked_overlay:hover .card_selected{
    transform: scale(1.1);
}
#manageCategoryModal .category_modal_video_list .infinite-item.selected .checked_overlay{
    opacity: 1;
}

#manageCategoryModal .category_modal_video_list .modal_category_card{
    margin-bottom: .4em !important;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
#manageCategoryModal .category_modal_video_list .card-header{
    background-color: var(--primary);
    color: white;
    font-size: 14px;
    padding: .4em;
    height: 35px;
}
#manageCategoryModal .category_modal_video_list .card-header *{
    color: inherit !important;
}
#manageCategoryModal .category_modal_video_list .card-footer{
    padding: .4em;
    color: var(--primary);
    height: 40px;
    overflow: hidden;
}
#manageCategoryModal .category_modal_video_list .card-footer .video_title{
    display: inline-block;
    line-height: 1;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    color: var(--primary);
}
/************************************
 * Override filter aside category css
 * **********************************/

#my_videos_filter{ padding: 1em .8em; }	
#my_videos_filter h5.h5{ margin: 0; }
#my_videos_filter .h5{
    display: flex;
    font-weight: 600;
    flex-direction: column;
}
#my_videos_filter .h5 .align_flex{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-bottomm: .8em;
}
#my_videos_filter .h5 .align_flex:last-child{
    align-self: flex-end;
    align-items: center;
    cursor: pointer;
    color: var(--secondary);
    transition: .3s all;
    margin-top: .8em;
    padding: .2em .4em;
    border-radius: 4px;
    transition .1s transform;
}
#my_videos_filter .h5 .align_flex:last-child:hover{
    transform: scale(1.04);
}
#my_videos_filter .h5 .align_flex .add_category{
    width: 14px;
    display: block;
    color: inherit;
    margin: 0 .2em;
    flex:none;
    transform: translateY(-2px);
}
#my_videos_filter .category_icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: .4em;
    color: var(--secondary);
    flex: none;
}
#my_videos_filter .card-title{
    position: relative;
    padding-bottom: .8em;
}
#my_videos_filter .card-title::after{
    content: "";
    border-top: 1px solid #ccc !important;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#my_videos_filter .categories_list{
    padding: 0;
    padding-left: .4em;
}
#my_videos_filter .categories_list_item{
    list-style: square;
    padding: .4em;
    line-height: 1;
    color: var(--secondary);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    transition: .3s all;
}
#my_videos_filter .categories_list_item.active{
    color: #fff;
    background-color: var(--primary);
}
#my_videos_filter .categories_list_item:not(.active):hover{
    background-color: rgba(96,192,221, .09);
    border-color: rgba(96,192,221, .09);
}

#my_videos_filter .categories_list_item:last-child{ border: none;}
#my_videos_filter .categories_list_item .cat_title{
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 60px);
    word-wrap: normal;
    cursor: pointer;
    line-height: 1.8;
    border-right: 1px solid #eee8e8;
}
#my_videos_filter .categories_list_item .category_actions{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50px;
    line-height: 1.8;
}
#my_videos_filter .categories_list_item .remove_category,
#my_videos_filter .categories_list_item .edit_category{
    display: block;
    width: 20px;
    color: inherit;
    cursor: pointer;
    flex: none;
}
#my_videos_filter .categories_list_item .remove_category{width: 15px; color: var(--danger);}
