/**
 * Esup-Pod video notes styles
 */

#video_notes_form {
  padding: 0 2px;
}

#video_notes_form .text-danger {
  font-size: 11px;
  margin: 0;
}

.comments.offset {
  margin: 0 0 0 10px;
}

#id_notes small {
  font-size: 9px;
  display: inline-block;
  margin-top: 0;
  font-weight: bold;
}

/*
.bigtakenote #id_notes {
  overflow: scroll;
  height: 600px;
}

.bigtakenote #id_notes small {
  font-size: 11px;
}
*/

#id_notes .form-group {
  margin: 0;
}

#id_notes p.note.form,
#id_notes div.comment.form {
  margin: auto;
}

.mgtNote div.dropdown-menu,
.mgtComment div.dropdown-menu {
  min-width: auto;
  padding: 5px;
}

span.timestamp {
  font-size: 11px;
}

/*
.bigtakenote span.timestamp {
  font-size: 14px;
}

.bigtakenote div.mgtNotes a.open{
  display: none;
}

.view_video_notes_form,
.view_video_note_coms_form {
  cursor: ns-resize;
  /padding: 3px 0 3px 0;*
}
*/

.bigtakenote .note,
.bigtakenote .comment {
  font-size: 14px;
}

div.comment {
  flex: auto;
}

.pod-note-header {
  cursor: pointer;
  font-size: 12px;
  flex-grow: 2;
}

.pod-note-date {
  display: inline-block;
  font-size: 10px;
  max-width: 8rem;
}

.view_video_notes_form {
  flex-grow: 2;
}

.view_video_note_coms_form {
  width: 100%;
}

.pod-note-item,
.pod-note-comment {
  display: flex;
  gap: 0.3rem;
  align-items: baseline;
}

.pod-note-comment {
  flex-wrap: wrap;
}

.pod-note-item:hover,
.pod-note-comment:hover {
  background-color: var(--pod-background-neutre1-bloc);
}

/*
.pod-note-item > span,
.pod-note-item > form {
  flex: auto;
  align-self: center;
}
*/

span.user {
  font-size: 11px;
  font-weight: bold;
}

/*
.bigtakenote span.user {
  font-size: 14px;
}
*/

.pod-note-truncated {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.pod-note-truncated.pod-note-content {
  display: inline-block;
  vertical-align: bottom;
  max-width: 8em;
}

.pod-note-content.pod-callout,
.pod-comment-content.pod-callout {
  white-space: pre-wrap;
}

.pod-note-header:hover,
.pod-note-header:focus,
.pod-note-header:hover > .pod-note-truncated,
.pod-note-header:focus > .pod-note-truncated {
  text-decoration: underline;
}

textarea#id_note,
textarea#id_comment,
select#id_status {
  font-size: 11px;
  height: auto;
  padding: 5px;
}

/*
.bigtakenote textarea#id_note, .bigtakenote textarea#id_comment, .bigtakenote select#id_status {
  font-size: 14px;
}
*/

#card-takenote > div.card-text {
  width: 100%;
}

#card-takenote > div.mgtNotes > div.dropdown-menu {
  background-color: #fff5f5;
}

/*
div.mgtNotes, div.mgtNote, div.mgtComment {
  align-self: center;
}
*/

div.mgtNotes form {
  display: inline-block;
}

/*
div.mgtNotes.dropleft > button,
div.mgtNote.dropleft > button,
div.mgtComment.dropleft > button {
  border: none;
}
*/

.noNotes {
  font-size: 0.8rem;
  font-style: italic;
  margin: 5px;
}

div.note,
div.comment {
  margin: 3px 0;
}

.user-comment {
  display: flex;
}
