/**
 * Esup-Pod video-iframe styles
 */

body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
}

/* Add extra classes for a variable width / height */
#div-video-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

#podvideoplayer {
  margin-left: auto;
  margin-right: auto;
}

#info-video-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 30px;
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(250 250 250 0.9);
  z-index: 10;
}

#info-video {
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;

  /* top: 3em; */
  width: 100%;
  bottom: 0;
  z-index: 1000;
  border-radius: 0;
  margin: 0;
}

.tab-title {
  font-size: 1.5em;
}

/*
.meta-title {
  font-size: 1.2rem;
}
*/

.list-group-item {
  background-color: rgba(250 250 250 0.9) !important;
}

.iframe-header {
  padding: 0 0.5rem 0 1.25rem;
  margin: 0;
  border-radius: 0;
  overflow: hidden;
}

.iframe-header > h1 {
  display: inline-block;
  font-size: 1.25em;
  padding: 0.25em 5em 0 0;
}

.iframe-header .close {
  /*
  position: absolute;
  top: .5em;
  right: .5em;
  margin: .395em 0 0 .75em;
  padding: 0 .25em .15em;
  overflow: hidden;
  opacity: 1;
  font-size: 1.1em;
  */
  float: right;
  border: 1px solid var(--bs-light);
  color: var(--bs-light);
  background-color: var(--bs-dark);
  border-radius: 2px;
}

.iframe-header .close:hover {
  background-color: var(--bs-light);
  color: var(--bs-dark);

  /* opacity: 1; */
}

#div-video-wrapper #overlay-footer {
  /* bottom: 0; */
  position: absolute;
  background-color: #2b333f;
  background-color: rgba(43 51 63 0.7);
  z-index: 10;
  height: 30px;
  padding: 0 0.5em;
  width: 100%;
  color: #fff;
  display: none;
  text-align: right;
}

#div-video-wrapper #overlay-footer > p {
  /* margin-right: 70px; */
  float: left;
  text-align: left;
  line-height: 30px;
  max-width: calc(100% - 75px);
  overflow: auto;
  margin-left: -0.5em;
  padding: 0 0.5em;
  background-color: #343a40;
}

/* Info button with current color */
#overlay-footer .vjs-button {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  border: 0;
  box-shadow: none;
  background: transparent;
  box-sizing: border-box;
  margin: 0 -0.1em 0 0.5em;
  padding: 0;
}

#overlay-footer .vjs-button:focus,
#overlay-footer .vjs-button:active {
  outline: none;
}

#overlay-footer .vjs-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
#overlay-footer .vjs-info-button::before,
.video-js .vjs-info-button::before {
  content: '';
  display: block;width: 100%;height: 100%;
  background-color: #FFF;
  mask-size: 20px;
  -webkit-mask-size: 20px;
}
*/

/*
%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"%3E%3Cpath d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/%3E  %3Cpath d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/%3E%3C/svg%3E
*/
#div-video-wrapper #info-video-wrapper {
  display: none;
}

#div-video-wrapper.overlay.info #info-video-wrapper,
#div-video-wrapper.overlay #overlay-footer,
#div-video-wrapper.vjs-not-started #overlay-footer {
  display: block;
}

.vjs-logo-button,
.vjs-info-button {
  filter: invert(100%);
  background-size: 1.2rem !important;
}

.vjs-logo-button:hover,
.vjs-logo-button:focus,
.vjs-info-button:hover,
.vjs-info-button:focus {
  transform: rotate(30deg);
  background-color: transparent !important;
}

.video-js .vjs-info-button,
#overlay-footer .vjs-info-button {
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"%3E%3Cpath d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/%3E  %3Cpath d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
}
