{% extends 'stats/utils/base-stats.html' %}
{% load static i18n %}
{% load user_stats %}
{% load channel_stats %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'stats:general-stats'%}">
      {% trans "Statistics" %}
    </a>
  </li>
  {% if not channel%}
    <li class="breadcrumb-item active" aria-current="page">
      {% trans "Channels" %}
    </li>
  {% else %}
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{% url 'stats:channels-stats' %}">
        {% trans "Channels" %}
      </a>
    </li>
    {% if not theme %}
      <li class="breadcrumb-item active" aria-current="page">
        {{ channel.title }}
      </li>
    {% else %}
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'stats:channels-stats' channel=channel %}">
          {{ channel.title }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ theme }}
      </li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block stats_items %}
  {% if channel %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-film" label=_("Number of videos") number=videos|length %}

    {% get_number_themes as get_number_themes %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-card-list" label=_("Number of themes") number=get_number_themes %}
  {% else %}
    {% get_number_channels as get_number_channels %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-play-btn" label=_("Number of channels") number=get_number_channels %}
  {% endif %}
{% endblock stats_items %}

{% block other_stats %}
  {% if channel %}
    <div class="row">
      <div class="col-xl-6 col-12">
        {% trans "Graph of video evolution for the channel " as graph_title_prefix %}
        {% include "stats/utils/years-video-stats.html" with graph_id="videosEvolutionChart" graph_title=graph_title_prefix|add:channel %}
        </div>
      <div class="col-xl-6 col-12">
        {% trans "Breakdown of video status for the channel " as graph_title_prefix %}
        {% include "stats/utils/pie-chart.html" with graph_id="statusChart" graph_data=status_datas graph_title=graph_title_prefix|add:channel %}          </div>
    </div>
  {% else %}
    <h2 class="page_title mt-5 h2 text-center">{% trans "Statistics for playlists" %}</h2>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-10">
        {% trans "Breakdown of channels visibility status " as graph_title_prefix %}
        {% include "stats/utils/pie-chart.html" with graph_id="statusChart" graph_data=visibility_datas graph_title=graph_title_prefix %}
      </div>
    </div>
  {% endif %}
{% endblock other_stats %}
