{% extends 'base.html' %}
{% load static i18n %}
{% load user_stats %}
{% load general_stats %}
{% load favorites_playlist %}

{% block opengraph %}
  {{ block.super }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
{% endblock opengraph %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block page_extra_head %}
  <link rel="stylesheet" href="{% static 'stats/css/video_stats_view.css' %}?ver={{VERSION}}">
{% endblock page_extra_head %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'stats:general-stats'%}">
      {% trans "Statistics" %}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {% trans "My statistics" %}
  </li>
{% endblock %}

{% block page_content %}
  {% if form %}
    {% include "videos/video-form.html" %}
  {% else %}
    <h1 class="page_title h1 text-center">{{ title }}</h1>

    <div class="row">

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-film"></i>
        </div>
        <div class="label">
          <a class="" href="{% url 'video:my_videos' %}">
            {% trans 'Number of videos' %}
          </a>
        </div>
        <div class="number">{{ videos|length }}</div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-clock"></i>
        </div>
        <div class="label">
          {% trans 'Duration time of videos' %}
        </div>
        <div class="number">{% get_total_time_videos videos %}</div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-folder"></i>
        </div>
        <div class="label">
          <a class="" href="{% url 'podfile:home' %}">
            {% trans 'Number of files' %}
          </a>
        </div>
        <div class="number">{% get_number_files_user %}</div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        {% get_favorite_playlist user as playlist %}
        <div class="icon-large">
          <i class="bi bi-star"></i>
        </div>
        <div class="label">
          <a class="" href="{% url 'playlist:content' slug=playlist.slug %}">
            {% trans 'Number of videos added in favorites' %}
          </a>
        </div>
        <div class="number">{% get_number_favorites_user %}</div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-list-ul"></i>
        </div>
        <div class="label">
          <a class="" href="{% url 'playlist:list' %}">
            {% trans 'Number of playlists' %}
          </a>
        </div>
        <div class="number">{% get_number_playlist_user %}</div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-person-video"></i>
        </div>
        <div class="label">
          <a class="" href="{% url 'meeting:my_meetings' %}">
            {% trans 'Number of meetings' %}
          </a>
        </div>
        <div class="number">{% get_number_meetings_user %}</div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-book"></i>
        </div>
        <div class="label">
          {% trans 'Prefered discipline' %} 
        </div>
        <div class="value">
          {% if prefered_discipline %}
            <a class="" href="{% url 'videos:videos' %}?discipline={{ prefered_discipline.slug }}">
              {{ prefered_discipline }}
            </a>
          {% else %}
            {% trans "No prefered discipline" %}
          {% endif %}
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-tv"></i>
        </div>
        <div class="label">
          {% trans 'Prefered type' %}
        </div>
        <div class="value">
          {% if prefered_type %}
          <a class="" href="{% url 'videos:videos' %}?type={{ prefered_type.slug }}">
            {{ prefered_type }}
          </a>
        {% else %}
          {% trans "No prefered type" %}
        {% endif %}
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div class="icon-large">
          <i class="bi bi-play-btn"></i>
        </div>
        <div class="label">
          <a class="" href="{% url 'channels:my_channels' %}">
            {% trans 'Number of channels' %}
          </a>
        </div>
        <div class="number">{% get_number_channels target="user" %}</div>
      </div>
    </div>

    <h2 class="page_title h2 text-center">{% trans "Video statistics" %}</h2>

    <div class="row">
      {% with user_str=request.user|stringformat:"s" %}
      <div class="col-xl-6 col-12">
        {% trans "Graph of video evolution for the user " as graph_title_prefix %}
        {% include "stats/utils/years-video-stats.html" with graph_id="videosEvolutionChart" graph_title=graph_title_prefix|add:user_str %}
      </div>
      <div class="col-xl-6 col-12">
        {% trans "Breakdown of video status for the user " as graph_title_prefix %}
        {% include "stats/utils/pie-chart.html" with graph_id="statusChart" graph_data=status_datas graph_title=graph_title_prefix|add:user_str %}
      </div>
      {% endwith %}
    </div>

  {% endif %}
</div>
{% endblock page_content %}
{% block collapse_page_aside %}{% endblock collapse_page_aside %}
{% block page_aside %}{% endblock page_aside %}
