{% extends 'stats/utils/base-stats.html' %}

{% load static i18n %}
{% load user_stats %}
{% load general_stats %}
{% load favorites_playlist %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'stats:general-stats'%}">
      {% trans "Statistics" %}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {% trans "My statistics" %}
  </li>
{% endblock %}

{% block stats_items %}
  {% url 'video:my_videos' as url_for_videos %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-film" url=url_for_videos label=_("Number of videos") number=videos|length %}

  {% get_total_time_videos videos as get_total_time_videos %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-clock" label=_("Duration time of videos") number=get_total_time_videos %}

  {% url 'podfile:home' as url_for_podfile %}
  {% get_number_files_user as get_number_files_user %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-folder" url=url_for_podfile label=_("Number of files") number=get_number_files_user %}

  {% get_favorite_playlist user as playlist %}
  {% url 'playlist:content' slug=playlist.slug as url_for_user_favorites %}
  {% get_number_favorites_user as get_number_favorites_user %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-star" url=url_for_user_favorites label=_("Number of videos added in favorites") number=get_number_favorites_user %}

  {% url 'playlist:list' as url_for_user_playlists %}
  {% get_number_playlist_user as get_number_playlist_user %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-list-ul" url=url_for_user_playlists label=_("Number of playlists") number=get_number_playlist_user %}

  {% url 'meeting:my_meetings' as url_for_user_meetings %}
  {% get_number_meetings_user as get_number_meetings_user %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-person-video" url=url_for_user_meetings label=_("Number of meetings") number=get_number_meetings_user %}

  {% if prefered_discipline %}
    {% url 'videos:videos' as videos_url %}
    {% with url_for_prefered_discipline=videos_url|add:"?discipline="|add:prefered_discipline.slug %}
      {% include "stats/utils/stats-item.html" with icon="bi bi-book" url=url_for_prefered_discipline label=_("Prefered discipline") text=prefered_discipline %}
    {% endwith %}
  {% else %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-book" label=_("Prefered discipline") text=_("No prefered discipline") %}
  {% endif %}

  {% if prefered_type %}
    {% url 'videos:videos' as videos_url %}
    {% with url_for_prefered_type=videos_url|add:"?type="|add:prefered_type.slug %}
      {% include "stats/utils/stats-item.html" with icon="bi bi-tv" url=url_for_prefered_type label=_("Prefered type") text=prefered_type %}
    {% endwith %}
  {% else %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-tv" label=_("Prefered type") text=_("No prefered type") %}
  {% endif %}

  {% url 'channels:my_channels' as url_for_user_channels %}
  {% get_number_channels target="user" as get_number_channels %}
  {% include "stats/utils/stats-item.html" with icon="bi bi-play-btn" url=url_for_user_channels label=_("Number of channels") number=get_number_channels %}

{% endblock stats_items %}


{% block other_stats %}
  <h2 class="page_title mt-5 h2 text-center">{% trans "Statistics of your videos" %}</h2>

  <div class="row">
    {% with user_str=request.user|stringformat:"s" %}
    <div class="col-xl-6 col-12">
      {% trans "Graph of video evolution for the user " as graph_title_prefix %}
      {% include "stats/utils/years-video-stats.html" with graph_id="videosEvolutionChart" graph_title=graph_title_prefix|add:user_str %}
    </div>
    <div class="col-xl-6 col-12">
      {% trans "Breakdown of video status for the user " as graph_title_prefix %}
      {% include "stats/utils/pie-chart.html" with graph_id="statusChart" graph_data=status_datas graph_title=graph_title_prefix|add:user_str %}
    </div>
    {% endwith %}
  </div>
{% endblock other_stats %}
