{% extends 'stats/utils/base-stats.html' %}
{% load static i18n %}
{% load playlist_stats %}
{% load general_stats %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'stats:general-stats'%}">
      {% trans "Statistics" %}
    </a>
  </li>
  {% if not slug %}
    <li class="breadcrumb-item active" aria-current="page">
      {% trans "Videos" %}
    </li>
  {% else %}
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{% url 'stats:video-stats'%}">
        {% trans "Videos" %}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ video.title }}
    </li>
  {% endif %}
{% endblock %}

{% block stats_items %}
  {% if slug %}
    {% get_total_favorites_video video as get_total_favorites_video %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-star" label=_("Number of favorites") number=get_total_favorites_video %}

    {% get_count_video_added_in_playlist video as get_count_video_added_in_playlist %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-list-ul" label=_("Addition in a playlist") number=get_count_video_added_in_playlist %}

    {% include "stats/utils/stats-item.html" with icon="bi bi-eye" label=_("Number of views") number=video.get_viewcount %}

  {% else %}
    {% url 'video:my_videos' as url_for_videos %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-film" url=url_for_videos label=_("Number of videos") number=videos|length %}

    {% get_total_time_videos videos as get_total_time_videos %}
    {% include "stats/utils/stats-item.html" with icon="bi bi-clock" label=_("Duration time of videos") number=get_total_time_videos %}

    {% if prefered_discipline %}
      {% url 'videos:videos' as videos_url %}
      {% with url_for_prefered_discipline=videos_url|add:"?discipline="|add:prefered_discipline.slug %}
        {% include "stats/utils/stats-item.html" with icon="bi bi-book" url=url_for_prefered_discipline label=_("Most popular discipline") text=prefered_discipline %}
      {% endwith %}
    {% else %}
      {% include "stats/utils/stats-item.html" with icon="bi bi-book" label=_("Most popular discipline") text=_("No popular discipline") %}
    {% endif %}

    {% if prefered_type %}
      {% url 'videos:videos' as videos_url %}
      {% with url_for_prefered_type=videos_url|add:"?type="|add:prefered_type.slug %}
        {% include "stats/utils/stats-item.html" with icon="bi bi-tv" url=url_for_prefered_type label=_("Most popular video type") text=prefered_type %}
      {% endwith %}
    {% else %}
      {% include "stats/utils/stats-item.html" with icon="bi bi-tv" label=_("Most popular video type") text=_("No popular video type") %}
    {% endif %}
  {% endif %}
{% endblock stats_items %}

{% block other_stats %}
  <h2 class="page_title mt-5 h2 text-center">{% trans "Graphics of videos" %}</h2>

  {% if slug %}
    {% trans "Graph of video evolution of " as graph_title_prefix %}
    {% include "stats/utils/video-stats.html" with graph_id="videoEvolutionChart" graph_title=graph_title_prefix|add:slug %}
  {% else %}
    <div class="row">
      <div class="col-xl-6 col-12">
        {% trans "Graph of video evolution " as graph_title_prefix %}
        {% include "stats/utils/years-video-stats.html" with graph_id="videosEvolutionChart" graph_title=graph_title_prefix %}
      </div>
      <div class="col-xl-6 col-12">
        {% trans "Breakdown of video status " as graph_title_prefix %}
        {% include "stats/utils/pie-chart.html" with graph_id="statusChart" graph_data=status_datas graph_title=graph_title_prefix %}
      </div>
    </div>
  {% endif %}
{% endblock other_stats %}
