{% load i18n %}

<div id="container" style="float:center; width:100%">
    <form method="post" action="" id="live_bbb_chat_form">
        <div class="form-group">
            <h2>{% trans 'Send message' %}</h2>
            {% if user.is_authenticated %}
                {% trans 'You can send a message (100 characters maximum) to the BigBlueButton session. It will be displayed within 15 to 30 seconds on the live video.' %}
                <label for="message">{% trans "Message" %}</label>
                <textarea name="message" rows="2" cols="90" maxlength="100" class="form-control"
                          id="message"></textarea>
            {% else %}
                {% trans 'You must be authenticated to send a message.' %}
            {% endif %}
        </div>
        <div id="message_return" style="float:right; width:30%">
        </div>
        {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary send-message">{% trans 'Submit' %}</button>
        {% endif %}
    </form>
</div>