{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tagging_tags %}
{% load thumbnail %}
{% load video_filters %}
{% load video_tags %}
{% block page_title %}{% trans 'Cut the video' %} "{{video.title}}" {% endblock page_title %}
{% block page_extra_head %}


{% include 'videos/video-header.html' %}

{% endblock page_extra_head %}

{% block breadcrumbs %}
{{block.super}}
<li class="breadcrumb-item"><a href="{% url 'video:my_videos'%}">{% trans 'My videos' %}</a></li>
<li class="breadcrumb-item">
  <a href="{% url 'video:video' slug=video.slug %}" title="{{video.title}}">
    {{video.title|title|truncatechars:45}}
  </a>
</li>

<li class="breadcrumb-item active" aria-current="page">
    {% trans 'Cut the video' %}
</li>

{% endblock %}
{% block page_content %}

{% if video.encoding_in_progress %}
<div class="alert alert-warning" role="alert">
  {% trans "The video is currently being encoded." %}
</div>
{% endif %}

<span id="cut_video">
  {% include 'videos/video-element.html' %}
</span>

<div id="wrapper_cut">
  <div id="values_cut">
    <form action="{% url 'video:cut:video_cut' slug=video.slug %}" method="POST" id="time_for_cut" accept-charset="utf-8" enctype="multipart/form-data">
      {% csrf_token %}

      <i id="button_start" class="bi bi-align-start" aria-hidden="true" title="{% trans 'Get the video player time' %}"></i>
      {{ form_cut.video }}
      <div class="time_input">
        <label for="range1">{% trans "Start" %}</label>
        {{ form_cut.start }}
      </div>
      <i class="bi bi-caret-right-fill" aria-hidden="true"></i>
      <p id="total_time" title="{% trans 'Total video duration' %}">{{ video.duration_in_time }}</p>
      <i class="bi bi-caret-left-fill" aria-hidden="true"></i>
      <div class="time_input">
        <label for="range2">{% trans "End" %}</label>
        {{ form_cut.end }}
      </div>
      <i id="button_end" class="bi bi-align-end" aria-hidden="true" title="{% trans 'Get the video player time' %}"></i>
  </div>
  <div id="container_cut">
      <div class="slider-track"></div>
      <input type="range" class="pod-multi-range" name="start_slider" id="slider-1" min="0" max="{% firstof cutting.duration_in_int video.duration %}" value="{% firstof cutting.start_in_int '0' %}" oninput="slideOne()" title="{% trans 'Start' %}">
      <input type="range" class="pod-multi-range" name="end_slider" id="slider-2" min="0" max="{% firstof cutting.duration_in_int video.duration %}" value="{% firstof cutting.end_in_int video.duration %}" oninput="slideTwo()" title="{% trans 'End' %}">
  </div>
  <a id="reset" class="btn btn btn-secondary btn-sm"><i class="bi bi-arrow-clockwise"></i>&nbsp;{% trans 'Reset' %}</a>
</div>

<hr>
<div id="info_video">
  <div>
    <span class="float-end">
      <button type="button" class="btn btn-primary btn-sm m-2" data-bs-toggle="modal" data-bs-target="#ConfirmationModal"><i class="bi bi-scissors"></i>&nbsp;{% trans 'Cut' %}</button>
      <a href="{% url 'video:video' slug=video.slug %}" title="{% blocktrans with video_title=video.title %}Back to the video “{{ video_title }}”{% endblocktrans %}" class="btn btn btn-secondary btn-sm">
        <i class="bi bi-film" aria-hidden="true"></i>&nbsp;{% trans 'Back to the video' %}
      </a>
    </span>
  </div>
</div>
    </form>
<!-- modal confirmation -->
<div class="modal fade" id="ConfirmationModal" tabindex="-1" aria-labelledby="ConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ConfirmationModalLabel">{% trans 'Are you sure you want to apply these changes?' %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{% trans 'Chapters, subtitles and captions, overlays and notes will not be retained.' %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Back' %}</button>
        <button type="submit" form="time_for_cut" class="btn btn-primary">{% trans 'Confirm the cut' %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock page_content %}

{% block page_aside %}
  {% if access_not_allowed == True %}
  {% else %}
    <div class="card" id="card-managevideo">
      <h2 class="card-header card-title pod-card__title h4"><i class="bi bi-gear"></i>&nbsp;{% trans "Manage video" %}</h2>
      <div class="card-body card-text text-center">
        {% include "videos/link_video.html" with hide_favorite_link=True %}
      </div>
    </div>
  {% endif %}
  <div id="cut-info" class="card">
  <h2 class="card-header card-title pod-card__title h4">{% trans "Help"%}</h2>
  <button class="btn rounded-0 pod-btn" id="heading-0" data-bs-toggle="collapse" data-bs-target="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
    {% trans 'Cut' %}
  </button>
  <div id="collapse-0" class="card-body collapse card-text small">
    <p>{% trans 'The video cut allows you to set a start and an end to trim your video.' %}</p>
    <p>{% trans 'Your original video is kept and you can therefore modify your changes at any time.' %}</p>
    <p>{% trans 'When saving your cut, an encoding is restarted to replace the old one.' %}</p>
  </div>
</div>
{% endblock page_aside %}

{% block more_script %}
{% include 'videos/video-script.html'%}
<script src="{% static 'js/video_cut.js' %}?ver={{VERSION}}"></script>

{% endblock more_script %}