{% load webpush_notifications %}
{% load static %}
{% load i18n %}

<div class="toast-container position-fixed bottom-0 start-0 p-3">
  <div id="notification-toast" class="toast" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">{% trans "Get application notifications" %}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}" title="{% trans 'Close notification panel' %}"></button>
    </div>
    <div class="toast-body">
      <p>
        {% trans "Get notified for specific events (when one of your video encoding is completed)." %}
      </p>
      {% webpush_button with_class="d-none" %}
      <div id="notifications-preference-tips" class="alert d-none" role="alert"></div>
      <div class="mt-2 pt-2 border-top notification-buttonbar">
        <button class="btn btn-primary btn-sm" id="notification-action-button" type="button" onclick="setPushPreference('{% url "set_notifications" %}')">
          {% trans "Allow" %}
        </button>
        <div id="notifications-spinner" class="spinner-border spinner-border-sm d-none" role="status"></div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/notification-toast.js' %}?ver={{VERSION}}"></script>
