{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block opengraph %}{% load video_filters %}
  <meta name="description" content="{% blocktrans count counter=count_videos %}{{ counter }} video found{% plural %}{{ counter }} videos found{% endblocktrans %}" />
  <!-- Open Graph data -->
  <meta property="og:title" content="{% trans 'My favorite videos' %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="//{{ request.META.HTTP_HOST }}{% static LOGO_SITE %}" />
  <meta property="og:description" content="{{ DESC_SITE }} - {% blocktrans count counter=count_videos %}{{ counter }} video found{% plural %}{{ counter }} videos found{% endblocktrans %}" />
  <meta property="og:site_name" content="{{ TITLE_SITE }}" />
{% endblock %}


{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My favorite videos" %}</li>{% endblock %}

{% block page_title %}{% blocktrans count counter=count_videos %}{{ counter }} video found{% plural %}{{ counter }} videos found{% endblocktrans %}{% endblock %}

{% block main_page_title %}
  <h1 id="video_count" class="page_title">{% blocktrans count counter=count_videos %}{{ counter }} video found{% plural %}{{ counter }} videos found{% endblocktrans %}
    <form action="{% url 'favorite:save-reorganisation' %}" method="post" class="btn">
      {% csrf_token %}
      <span class="pod-float-end">
        <button id="reorganize-button" title="{% trans 'Reorganize your favorite videos'%}" class="btn btn-outline-primary btn-sm">
          <i class="bi bi-arrows-move"></i>&nbsp;<span>{% trans "Reorganize" %}</span>
        </button>
      </span>
    </form>
  </h1>
{% endblock main_page_title %}

{% block page_content %}
  {% comment %}
  <p>
    "types": request.GET.getlist('type'),
    "owners": request.GET.getlist('owner'),
    "disciplines": request.GET.getlist('discipline'),
    "tags_slug": request.GET.getlist('tag'),
  </p>
  {% endcomment %}

  {% include "favorite/favorite_video_list.html" %}

{% endblock page_content %}

{% block page_aside %}
  {% include 'videos/filter_aside.html' %}
{% endblock page_aside %}


{% block more_script %}
<script>
  const urlVideos = "{% url 'videos:videos' %}";
</script>

<script>
  var page = 1
  next_page = false

  
  {% if videos.has_next %}
    page = parseInt("{{videos.next_page_number}}")
    next_page = true
  {% endif %}


</script>
<script src="{% static 'js/infinite.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'js/filter_aside_video_list_refresh.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'js/favorite-reorganize.js' %}?ver={{VERSION}}"></script>

{% endblock more_script %}
