{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Server error (500)' %}{% endblock %}

{% block breadcrumbs %}
  {{super}}
  <li class="breadcrumb-item active">
    {% trans 'Server error (500)' %}
  </li>
{% endblock %}

{% block page_content %}
  <h1 class="page_title">{% trans 'Server Error <em>(500)</em>' %}</h1>
  <p>{% trans "There’s been an error. It’s been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}</p>
{% endblock %}
