{% load i18n %}
{% load video_tags %}
{% spaceless %}

{% if HIDE_SHARE == False %}
  <div class="card card-body p-3" id="card-share">
    <h2 class="card-title pod-card__title h4">
      <i class="bi bi-share" aria-hidden="true"></i>&nbsp;{% trans 'Share' %}
    </h2>
    <p class="card-text text-center social_links">
      <a target="_blank" href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode}}" class="btn btn-outline-primary m-1" title="{% trans 'Share on' %} Facebook" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="bi bi-facebook" aria-hidden="true"></i>
        <span class="visually-hidden">{% trans 'Share on Facebook' %}</span>
      </a>
      <a target="_blank" href="https://twitter.com/share?url={{request.build_absolute_uri|urlencode}}" class="btn btn-outline-primary m-1" title="{% trans 'Share on' %} X (Twitter)" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="bi bi-twitter" aria-hidden="true"></i>
        <span class="visually-hidden">{% trans 'Share on X (Twitter)' %}</span>
      </a>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{request.build_absolute_uri|urlencode}}" class="btn btn-outline-primary m-1" title="{% trans 'Share on' %} LinkedIn" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="bi bi-linkedin" aria-hidden="true"></i>
        <span class="visually-hidden">{% trans 'Share on LinkedIn' %}</span>
      </a>
    </p>
  </div>
{% endif %}
{% if HIDE_DISCIPLINES == False %}
  <div class="card card-body p-3" id="card-disciplines">
    <h2 class="card-title pod-card__title h4">
      <label for="discipline">
        <i class="bi bi-book"></i>&nbsp;{% trans 'Disciplines' %}
      </label>
    </h2>
    <div class="card-text">
      <form class="form" method="get">
        <select class="form-select" onchange="this.options[this.selectedIndex].getAttribute('data-value') &amp;&amp; (window.location = this.options[this.selectedIndex].getAttribute('data-value'));" name="discipline" id="discipline">
          <option value="#">{% trans 'Disciplines' %}...</option>
          {% for disc in DISCIPLINES %}
            <option value="{{disc.slug}}" data-value="{% url 'videos:videos' %}?discipline={{disc.slug}}">{{disc.title}}  ({{disc.video_count}})</option>
          {% endfor %}
        </select>
        <input value="{% trans 'Submit' %}" class="visually-hidden" type="submit">
      </form>
    </div>
  </div>
{% endif %}

{% if HIDE_TYPES == False %}
  <div class="card card-body p-3" id="card-types">
    <h2 class="card-title pod-card__title h4">
      <label for="type">
        <i class="bi bi-tv"></i>&nbsp;{% trans 'Types' %}
      </label>
    </h2>
    <div class="card-text">
      <form class="form" method="get">
        <select class="form-select" onchange="this.options[this.selectedIndex].getAttribute('data-value') &amp;&amp; (window.location = this.options[this.selectedIndex].getAttribute('data-value'));" name="type" id="type">
          <option value="#">{% trans 'Types' %}...</option>
          {% for type in TYPES %}
            <option value="{{type.slug}}" data-value="{% url 'videos:videos' %}?type={{type.slug}}">{{type.title}}  ({{type.video_count}})</option>
          {% endfor %}
        </select>
        <input value="{% trans 'Submit' %}" class="visually-hidden" type="submit">
      </form>
    </div>
  </div>
{% endif %}

{% if HIDE_TAGS == False %}
  {% tag_cloud_for_model video.Video as tagscloud with distribution=log steps=16 min_count=4 %}
  {% if tagscloud|length > 0 %}
    <div class="card card-body p-3" id="card-tags">
      <h2 class="card-title pod-card__title h4">
        <i class="bi bi-tag" aria-hidden="true"></i>&nbsp;{% trans 'Tags' %}
      </h2>
      <p class="card-text">
        {% with tagslist=tagscloud|dictsortreversed:"count"|slice:":20" %}
        {% for tag in tagslist %}
          <a href="{% url 'videos:videos' %}?tag={{ tag.name|urlencode }}" style="font-size:{{ tag.font_size }}px" title="{{tag.name}}" class="btn-link">
            {{tag.name}}&nbsp;<span class="badge rounded-pill text-bg-info align-top small">{{tag.count}}</span>
          </a>
        {% endfor %}
        {% endwith %}
      </p>
    </div>
  {% endif %}
{% endif %}
{% endspaceless %}
