{% load static i18n custom_tags %}
{% load pwa %}
{% load webpush_notifications %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>{% spaceless %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block opengraph %}
    <meta name="description" content="{{ DESC_SITE }}">
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ TITLE_SITE }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="//{{ request.META.HTTP_HOST }}{% static LOGO_SITE %}">
    <meta property="og:description" content="{{ DESC_SITE }}">
    <meta property="og:site_name" content="{{ TITLE_SITE }}">
  {% endblock %}
  {% if FAVICON %}
    <link rel="shortcut icon" href="{% static FAVICON %}?ver={{VERSION}}" sizes="any" >
  {% endif %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}?ver={{VERSION}}" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}?ver={{VERSION}}" crossorigin="anonymous">
  <!-- pod.css -->
  <link rel="stylesheet" href="{% static 'css/pod.css' %}?ver={{VERSION}}" media="screen">
  {% if DARKMODE_ENABLED == True %}
    <link rel="stylesheet" href="{% static 'css/dark.css' %}?ver={{VERSION}}" media="screen">
  {% endif %}
  {% if DYSLEXIAMODE_ENABLED == True %}
    <link rel="stylesheet" href="{% static 'css/dyslexia.css' %}?ver={{VERSION}}" media="screen">
  {% endif %}
  {% if CSS_OVERRIDE %}
    <link rel="stylesheet" href="{% static CSS_OVERRIDE %}?ver={{VERSION}}" media="screen">
  {% endif %}
  {% if SHOW_EVENTS_ON_HOMEPAGE and "live" in THIRD_PARTY_APPS %}
    <link href="{% static 'css/event.css' %}?ver={{ VERSION }}" rel="stylesheet">
  {% endif %}
  <!-- more styles for each App -->
  {% block more_style %}
  {% endblock more_style %}
  <title>{{ TITLE_SITE }} - {% block page_title %}{{page_title|striptags|capfirst}}{% endblock %}</title>  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  {% block page_extra_head %}
  {% endblock %}
  {% if request.GET.is_iframe %}
    <link rel="stylesheet" href="{% static 'css/iframe.css' %}?ver={{VERSION}}" media="screen">
  {% endif %}
  {% progressive_web_app_meta %}
  {% endspaceless %}
  {% webpush_header %}
</head>

<body>
  {% if PRE_HEADER_TEMPLATE %}{% include PRE_HEADER_TEMPLATE %}{% endif %}
  <header>
    <!-- barre nav-->
    <nav class="pod-navbar navbar fixed-top m-0 p-1 p-md-2">
      {% include 'navbar.html' %}
    </nav><!-- fin barre nav-->
    {% include 'navbar_collapse.html' %}
  </header>
  {% block content %}
  {% if request.path in "/,/authentication_login/,/accounts/login/" and MAINTENANCE_MODE %}
    {% get_maintenance_welcome as maintenance_text %}
    <div class="p-3 mt-5 bg-danger text-white">{{maintenance_text}}</div>
  {% endif %}
  <div class="container-fluid pod-container mt-sm-4 mt-5">
    <main class="mt-0 mb-3">
      <div class="pod-grid-content">
        <div class="pod-mainContent mt-2" id="pod-mainContent">
          {% if not request.GET.is_iframe %}
            <div class="pod-aside-collapse" id="collapse-button">
              {% block collapse_page_aside %}
                <a role="button" href="#collapseAside"
                class="btn btn-outline-primary collapseAside pod-aside-collapse__button"
                data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="collapseAside"
                aria-label="{% trans 'Side menu' %}" data-pod-tooltip="true"
                title="{% trans 'Toggle side menu' %}">
                  <i class="bi bi-three-dots-vertical" aria-hidden="true"></i>
                </a>
              {% endblock collapse_page_aside %}
            </div>
            {% if MAINTENANCE_SHEDULED %}
              <div class="alert alert-warning" role="alert">{{MAINTENANCE_TEXT_SHEDULED|safe}}</div>
            {% endif %}
            <nav aria-label="{% trans 'Breadcrumb' %}" class="breadcrumb d-flex justify-content-between pb-2" id="mainbreadcrumb">
              <ol class="breadcrumb p-0 mb-0">
                {% block breadcrumbs %}
                  {% if request.path == '/' %}
                    <li class="breadcrumb-item active" aria-current="page">
                      {% trans 'Home' %}
                    </li>
                  {% else %}
                    <li class="breadcrumb-item">
                      <a href="/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ TITLE_SITE }} - {% trans 'Home' %}">
                        {% trans 'Home' %}
                      </a>
                    </li>
                  {% endif %}
                {% endblock breadcrumbs %}
              </ol>
            </nav>
          {% endif %}
          <div class="container">
            <div class="pod-first-content">
              {% block main_page_title %}
                {% if page_title %}
                  <h1 class="page_title">{{page_title|capfirst}}</h1>
                {% endif %}
              {% endblock main_page_title %}
              {% block page_content %}{% endblock page_content %}
            </div>
            {% if request.path == "/" %}
              {% if SHOW_EVENTS_ON_HOMEPAGE and "live" in THIRD_PARTY_APPS %}
                {% include "live/events_next.html" %}
              {% endif %}
              {% include "videos/last_videos.html" %}
            {% endif %}
          </div>
        </div>
        {% if not request.GET.is_iframe %}
          <aside class="pod-aside collapse" id="collapseAside">
            {% block page_aside %}
              {% include 'aside.html'%}
            {% endblock page_aside %}
          </aside>
        {% endif %}
      </div>
    </main>
    {% include "notification_toast.html" %}
  </div>
  {% endblock content %}
  {% if not request.GET.is_iframe %}
    <footer class="container-fluid pod-footer-container">
      <div class="pod-footer">
        {% include 'footer.html' %}
      </div>
    </footer>
  {% endif %}

  {% if messages %}
  <div id="base-message-alert">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- COOKIES -->
  <div class="modal justify-content-center mt-5 h-100" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
            <img src="{% static 'img/cookie.svg' %}" alt="" width="50">
            <span class="mt-2">{% trans 'We use third party cookies to personalize content, manage session and analyze site traffic.' %}</span>
            {% if COOKIE_LEARN_MORE != "" %}
              <a class="d-flex align-items-center" href="{{COOKIE_LEARN_MORE}}">{% trans 'Learn more' %}<i class="bi bi-caret-right ms-2"></i></a>
            {% endif %}
            <button class="btn btn-dark mt-3 px-4" type="button" id='okcookie'>{% trans 'I understand' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Javascript migration from header to footer-->
  <!-- except for jquery, to do later ! -->
  <script src="{% static 'js-cookie/dist/js.cookie.min.js' %}?ver={{VERSION}}"></script>
  <script src="{% url 'javascript-catalog' %}"></script>
  <!-- JS -->
  <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}?ver={{VERSION}}"></script>

  <script>
    /** HIDE USERNAME **/
    const HIDE_USERNAME = {% if HIDE_USERNAME %} true {% else %} false {% endif %};
    /** USERS **/
    var urlvideos = "{% url 'videos:videos' %}";
  </script>
  <script src="{% static 'js/main.js' %}?ver={{VERSION}}"></script>
  {% if HIDE_CHANNEL_TAB == False %}
    <script>
    /**
     * URL to send a request to get the channel list for a specific channel tab.
     */
    const GET_CHANNELS_FOR_SPECIFIC_CHANNEL_TAB_REQUEST_URL = '{% url 'video:get-channels-for-specific-channel-tab' %}';

    /**
     * URL to send a request to get the channel tab list.
     */
    const GET_CHANNEL_TAGS_REQUEST_URL = '{% url 'video:get-channel-tabs' %}';

    /**
     * URL to send a request to get the theme list.
     */
    const GET_THEMES_FOR_SPECIFIC_CHANNEL_REQUEST_URL = '{% url 'video:get-themes-for-specific-channel' slug="__SLUG__" %}';
    </script>
    <script src="{% static 'js/ajax-display-channels.js' %}?ver={{VERSION}}"></script>
  {% endif %}

  <div id="more-script">
    {% block more_script %}
    {% endblock more_script %}
  </div>

  {% if DARKMODE_ENABLED == True %}
    <script>
      // Get the theme toggle input
      const themeToggle = document.querySelector(
        '.theme-switch input[type="checkbox"]'
      );
      // Get the current theme from local storage
      const currentTheme = localStorage.getItem("theme");
      // If the current local storage item can be found

      // Set the body data-theme attribute to match the local storage item
      document.documentElement.dataset.theme = currentTheme?currentTheme:"light";
      document.documentElement.dataset.bsTheme = currentTheme?currentTheme:"light";
      // If the current theme is dark, check the theme toggle
      if (currentTheme === "dark") {
        themeToggle.checked = true;
      }

      // Function that will switch the theme based on if the theme toggle is checked or not
      function switchTheme(e) {
        if (e.target.checked) {
          document.documentElement.dataset.theme = "dark";
          document.documentElement.dataset.bsTheme = "dark";
          localStorage.setItem("theme", "dark");
        } else {
          document.documentElement.dataset.theme = "light";
          document.documentElement.dataset.bsTheme = "light";
          localStorage.setItem("theme", "light");
        }
      }
      // Add an event listener to the theme toggle, which will switch the theme
      themeToggle.addEventListener("change", switchTheme, false);
    </script>
  {% endif %}
  {% if DYSLEXIAMODE_ENABLED == True %}
    <script>
      // Get the dyslexia toggle input
      const dyslexiaToggle = document.querySelector(
        '.dyslexia-switch input[type="checkbox"]'
      );
      // Get the current dyslexia from local storage
      const currentDyslexia = localStorage.getItem("dyslexia");
      // If the current local storage item can be found
      if (currentDyslexia) {
        // Set the body data-dyslexia attribute to match the local storage item
        document.documentElement.setAttribute("data-dyslexia", currentDyslexia);
        // If the current dyslexia is on, check the dyslexia toggle
        if (currentDyslexia === "on") {
          dyslexiaToggle.checked = true;
        }
      }
      // Function that will switch the dyslexia based on the if the dyslexia toggle is checked or not
      function switchDyslexia(e) {
        if (e.target.checked) {
          document.documentElement.setAttribute("data-dyslexia", "on");
          localStorage.setItem("dyslexia", "on");
        } else {
          document.documentElement.setAttribute("data-dyslexia", "off");
          localStorage.setItem("dyslexia", "off");
        }
      }
      // Add an event listener to the dyslexia toggle, which will switch the dyslexia
      dyslexiaToggle.addEventListener("change", switchDyslexia, false);
    </script>
  {% endif %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      /* Enable Bootstrap tooltips */
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"], [data-pod-tooltip="true"]');
      [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    }, false);
  </script>
  {% if POST_FOOTER_TEMPLATE %}{% include POST_FOOTER_TEMPLATE %}{% endif %}
  {% if TRACKING_TEMPLATE %}{% include TRACKING_TEMPLATE %}{% endif %}
  <script src="{% static 'js/pwa-installation.js' %}?ver={{VERSION}}"></script>
</body>

</html>

