{% load staticfiles %}
{% load i18n %}
{% spaceless %}
<div class="container container-pod">
<p class="float-right">
  <a class="top_link" href="#">Haut de page</a>
</p>
<div class="row">
  <div class="col-md-4">
    <img src="{% static LOGO_ETB %}" alt="" height="70" loading="lazy">
    <p class="footer-contact mt-3 hidden-pod">
      <span class="footer-contact-title">{{TITLE_ETB}}</span><br>
      {% for text in FOOTER_TEXT %}
      {{text|safe}}<br>
      {% endfor %}
    </p>
  </div>
  <div class="col-md-4">
    {% if LINK_FOOTER %}
      <ul class="footer_links">
      {% for link in LINK_FOOTER %}
        <li><a href="{{link.get_url}}" title="{{link.title}}">{{link.title}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col-md-4">
    <ul class="footer_links">
      <li><a href="https://www.esup-portail.org/" title="{% trans 'Esup Portal: Community of French higher education establishments for digital innovation' %}" target="_blank">{% trans "Esup Portal" %}</a></li>
      <li><a href="https://github.com/EsupPortail/Esup-Pod" target="_blank">{% trans "Pod Project" %}</a></li>
    </ul>
  </div>
</div>
<p class="hidden-pod" style="text-align:center">{{TITLE_SITE}} {% trans "video platform of" %} {{TITLE_ETB}} - <a href="https://github.com/EsupPortail/Esup-Pod/releases/tag/{{VERSION}}" target="_blank" title="GitHub">{% trans "Release" %} {{VERSION}}</a>  - {{VIDEOS_COUNT}} {% trans "videos availables" %} [ {{VIDEOS_DURATION}} ]</p>
</div>
{% endspaceless %}
