{% spaceless %}
<div class="container">
<p class="float-right">
<a href="#">Haut de page</a>
</p>
<div class="row">
  <div class="col-md-4">
    <img src="https://www.univ-lille.fr/typo3conf/ext/ul2fpfb/Resources/Public/assets/img/UL-BLANC-2014.svg" alt="" height="71" width="215">
    <p class="footer-contact">
      <span class="footer-contact-title">Université de Lille</span><br>
      42, rue Paul Duez<br>
      59000 Lille - France
    </p>
  </div>
  <div class="col-md-4">
    <a href="/contact_us/" title="Contactez nous" >
    &gt;  Contactez nous
    </a><br>
    <a href="https://github.com/esupportail/pod/wiki/Foire-Aux-Questions" title="Foire aux questions">
    &gt;  Foire aux questions
    </a><br>
    <a href="/credits/" title="Crédits">
    &gt; Crédits
    </a><br>
    <a href="/mentions/" title="Mentions légales">
    &gt;  Mentions légales
    </a><br>
  </div>
  <div class="col-md-4">
    <a href="https://www.esup-portail.org/" title="Esup Portail : Communauté d'établissements francais d'enseignement supérieur pour l'innovation numérique" target="_blank">&gt;  <abbr title="Esup Portail : Communauté d'établissements francais d'enseignement supérieur pour l'innovation numérique">Esup Portail</abbr></a><br>
    <a href="https://github.com/EsupPortail/pod" target="_blank">&gt;  Projet Pod (Github)</a><br>
    <a href="http://www.univ-lille1.fr" title="Université Lille1">&gt; Université de Lille, sciences et technologies</a><br>
  </div>
</div>
<p>Pod plateforme de vidéo de l'unviersité de Lille - <a href="https://github.com/EsupPortail/podv2" target="_blank" title="GitHub">Release 2.1</a></p>
</div>
{% endspaceless %}