{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tagging_tags %}
{% load thumbnail %}
{% load video_filters %}
{% load video_tags %}


{% block page_content %}

  <div class="p-3 mb-2 bg-danger text-white">{{text}}</div>
  <a href="/" type="button" class="btn btn-primary" data-bs-dismiss="modal">{%trans "Return to homepage"%}</a>
  <a href="{% url 'contact_us' %}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{%trans "Contact us"%}</a>
{%endblock page_content%}
