{% load i18n %}
{% load thumbnail %}
{% load custom_tags %}
{% spaceless %}

<div class="modal fade chaines-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-pod-full">
    <div class="modal-content">
      <div class="modal-header">
        {# suppression temp du |get_type == 'int' dans le if #}
        {% if CHANNELS.count %}
          <h2 class="modal-title"><i class="bi bi-play-btn"></i>&nbsp;{% blocktrans count counter=CHANNELS.count %}{{ counter }} Channel{% plural %}{{ counter }} Channels{% endblocktrans %}</h2>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <ul class="clist-group list-group-flush p-0" id="list-channels">
          {% for channel in CHANNELS %}
            <li class="list-group-item list-group-item-action" data-id="{{channel.id}}">
              <div class="d-flex justify-content-between align-items-center">
                <span class="d-flex align-items-center title-chaine">
                  {% if channel.headband %}
                    {% thumbnail channel.headband.file "x34" as im %}
                    <img src="{{ im.url }}" height="34" class='rounded' alt="" loading="lazy">
                    {% endthumbnail %}
                  {% else %}<i class="bi bi-play-btn pod-channel__item"></i>{% endif %}
                  <a href="{% url 'channel-video:channel' slug_c=channel.slug%}" id="channel-title_{{channel.id}}">
                  {{channel.title}}</a></span>
                <span class="text-nowrap">
                  {% if channel.themes.all.count > 0 %}
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseThemes{{channel.id}}" aria-expanded="false" aria-controls="collapseThemes{{channel.id}}">
                    {% blocktrans count counter=channel.themes.all.count %}{{counter}} Theme{% plural %}{{counter}} Themes{% endblocktrans %} <i class="bi bi-chevron-down"></i>
                    </button>
                  {% endif %}
                  <span class="badge text-bg-primary rounded-pill">{% blocktrans count counter=channel.video_count %}{{counter}} video{% plural %}{{counter}} videos{% endblocktrans %}</span>
                </span>
              </div>
              <div id="collapseThemes{{channel.id}}" class="collapse collapsibleThemes" aria-labelledby="channel-title_{{channel.id}}" data-bs-parent="#list-channels" data-id="{{channel.id}}"></div>
            </li>
          {% empty %}
            <li class="list-group-item"> {% trans "No channels found" %} </li>
          {%endfor%}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'%}</button>
      </div>
    </div>
  </div>
</div>
{% for add_channel_tab in ADD_CHANNELS_TAB %}
<div class="modal fade chaines-modal-{{add_channel_tab.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-pod-full">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><i class="bi bi-play-btn"></i>&nbsp;{% blocktrans count counter=add_channel_tab.channel_set.all.count %}{{ counter }} Channel{% plural %}{{ counter }} Channels{% endblocktrans %}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body row">
        <ul class="col-12 list-group list-group-flush" id="list-add-channels">
          {% for channel in add_channel_tab.channel_set.all %}
            <li class="list-group-item list-group-item-action" data-id="{{channel.id}}">
              <div class="d-flex justify-content-between align-items-center">
                <span class="d-flex align-items-center title-chaine">
                  {% if channel.headband %}
                    {% thumbnail channel.headband.file "x34" as im %}
                    <img src="{{ im.url }}" height="34" class='rounded' alt="" loading="lazy">
                    {% endthumbnail %}
                  {% else %}<i class="bi bi-play-btn" style="height:34px"></i>{% endif %}
                  <a href="{% url 'channel-video:channel' slug_c=channel.slug%}" id="channel-title_{{channel.id}}">
                  {{channel.title}}</a></span>
                <span class="text-nowrap">
                  {% if channel.themes.all.count > 0 %}
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseThemes{{channel.id}}" aria-expanded="false" aria-controls="collapseThemes{{channel.id}}">
                    {% blocktrans count counter=channel.themes.all.count %}{{counter}} Theme{% plural %}{{counter}} Themes{% endblocktrans %} <i class="bi bi-chevron-down" class="chevron-down m-0 p-0"></i>
                    </button>
                  {% endif %}
                  <span class="badge text-bg-primary rounded-pill">{% blocktrans count counter=channel.video_count %}{{counter}} video{% plural %}{{counter}} videos{% endblocktrans %}</span>
                </span>
              </div>
              <div id="collapseThemes{{channel.id}}" class="collapse collapsibleThemes" aria-labelledby="channel-title_{{channel.id}}" data-bs-parent="#list-add-channels" data-id="{{channel.id}}"></div>
            </li>
          {% empty %}
            <li class="list-group-item"> {% trans "No channels found" %} </li>
          {%endfor%}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'%}</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<div class="modal fade types-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-pod-full">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><i class="bi bi-tv"></i>&nbsp;{% trans 'Types of videos'%}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <ul class="row list-unstyled" id="list-types">
          {% for type in TYPES %}
          <li class="col-3"><a class="btn btn-sm btn-outline-secondary mb-1 col-12 text-left text-truncate" href="{% url 'videos:videos' %}?type={{type.slug}}">
          {% if type.icon %}<img src="{{type.icon.file.url}}" alt="" style="max-height:32px; max-width:32px;" loading="lazy">{% else %}<i class="bi bi-fonts" aria-hidden="true"></i>{% endif %}&nbsp;{{type.title}} ({{type.video_count}})</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'%}</button>
      </div>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
<div class="modal fade users-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-pod-full">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><i class="bi bi-people"></i>&nbsp;{% trans "Users"%}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <p>{% trans 'Use the input to filter user by last name.'%}</p>
                <label for="ownerboxnavbar">{% trans 'Search' %}</label>
                <input placeholder="{% trans 'Search' %}" id="ownerboxnavbar" class="form-control" type="text">
            </div>
        </div>
        <div class="row p-2">{% spaceless %}
          {% endspaceless %}</div>
          <div class="row">
            <div class="col-12" >
              <ul class="list-unstyled" id="pod_users_list" style="max-height:350px; overflow:auto">
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'%}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endspaceless %}
