{% load staticfiles i18n %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="container container-pod" id="nav-mainbar">
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i data-feather="menu" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand mr-0 mr-sm-1" href="/"><img src="{% static LOGO_SITE %}" height="48" alt="logo"/><strong>{{ TITLE_SITE }}</strong></a>
  </div>

  <div class="collapse navbar-collapse bg-light navbar-items-pod" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if HIDE_CHANNEL_TAB == False %}
      <li class="nav-item" id="nav-channels">
        <button class="nav-link" data-toggle="modal" data-target=".chaines-modal"><i data-feather="youtube" aria-hidden="true" class="nav-link-icone d-lg-none d-xl-inline"></i> {% trans "Channels" %}</button>
      </li>
      {% endif %}
      {% if HIDE_USER_TAB == False and user.is_authenticated %}
      <li class="nav-item" id="nav-users">
        <button class="nav-link" data-toggle="modal" data-target=".users-modal"><i data-feather="users" aria-hidden="true" class="nav-link-icone d-lg-none d-xl-inline"></i> {% trans "Users"%}</button>
      </li>
      {% endif %}
      {% if HIDE_TYPES_TAB == False %}
       <li class="nav-item" id="nav-types">
        <button class="nav-link" data-toggle="modal" data-target=".types-modal"><i data-feather="tv" aria-hidden="true" class="nav-link-icone d-lg-none d-xl-inline"></i> {% trans "Types"%}</button>
      </li>
      {% endif %}
      {% if "live" in THIRD_PARTY_APPS %}
      <li class="nav-item" id="nav-live">
        <a class="nav-link" href="{% url 'live:lives'%}"><i data-feather="radio" aria-hidden="true" class="nav-link-icone d-lg-none d-xl-inline"></i> {% trans "Lives"%}</a>
      </li>
      {% endif %}
      {% if HIDE_LANGUAGE_SELECTOR == False %}
      <li class="nav-item d-flex d-block d-lg-none langs pt-2 mt-2 justify-content-between" id="nav-languagechoice">
        <button class="active">{{LANGUAGE_CODE}}</button>
        {% for language in languages %}
        {% if language.code != LANGUAGE_CODE %}
        <form class="form form-inline p-0 m-0" action="/i18n/setlang/" method="post">
          {% csrf_token %}
          <input name="language" value="{{ language.code }}" type="hidden">
          <input value="{{ language.name_local }} ({{ language.code }})" class="btn btn-lang my-2 mr-sm-2" type="submit">
        </form>
        {% endif %}
        {% endfor %}
      </li>
      {% endif %}
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0 flex-2" action="{% url "search_videos" %}" id="nav-search">
    <label for="s" class="d-lg-none">
      <i data-feather="search" class="nav-link-icone"></i> <span class="sr-only">{% trans "Search" %}</span>
    </label>
    <input class="form-control mr-sm-2" id="s" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}" type="search" name="q" >
  </form>
  <ul class="navbar-nav flex-row align-items-center flex-grow-1 justify-content-between" id="nav-useraction">
     <li class="nav-item mr-2" id="nav-addvideo">
        {% if USE_CHUNKED_UPLOAD %}
        <a class="nav-link pl-2 pr-2" href="{% url 'video_add' %}"><i data-feather="plus-square" aria-hidden="true" class="nav-link-icone d-lg-none d-xl-inline"></i>  <span class="d-none d-md-inline-block">{% trans "Add a video" %}</span></a>
        {% else %}
        <a class="nav-link pl-2 pr-2" href="{% url 'video_edit' %}"><i data-feather="plus-square" aria-hidden="true" class="nav-link-icone d-lg-none d-xl-inline"></i>  <span class="d-none d-md-inline-block">{% trans "Add a video" %}</span></a>
        {% endif %}
       
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown login mr-2" id="nav-usermenu">
        <button class="{% if not request.user.owner.userpicture  %}initials {% endif %}nav-link pl-2 pr-2 dropdown-toggle d-flex justify-content-center align-items-center " id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if request.user.owner.userpicture  %}
          <img src="{{user.owner.userpicture.file.url}}" class="userpicture rounded" alt="{{user}}">
        {% endif %}
        <span class="userinitial" {% if request.user.owner.userpicture  %}style="display:none"{% endif %}>
          {% if user.first_name != '' and user.last_name != '' %}{{ user.first_name|first|upper }}{{ user.last_name|first|upper }}{% else %}{{ user.username|slice:":2"|upper}}{% endif %}
        </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" >
          <span class="dropdown-item" >{% if user.get_full_name != '' %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</span>
          <div class="dropdown-divider"></div>
          {% if request.user.is_superuser or user.owner.is_manager %}
          <a class="dropdown-item" href="{% url 'admin:index' %}"><i data-feather="cpu"></i>&nbsp;Administration</a>
          {% endif %}
          {% if request.user.is_staff or request.user.is_superuser %}
          {% if request.user.owner.userpicture  %}
          <button class="btn btn-link dropdown-item get_form_userpicture" data-url="{% url "userpicture" %}">
              <i data-feather="image"></i>&nbsp;{% trans 'Change your picture' %}</button>
          {% else %}
          <button class="btn btn-link dropdown-item get_form_userpicture"  data-url="{% url "userpicture" %}">
              <i data-feather="image"></i>&nbsp;{% trans 'Add your picture' %}</button>
          {% endif %}
          {% endif %}
          <a class="dropdown-item" href="{% url 'my_videos' %}" title="{% trans 'My videos' %}"><i data-feather="film"></i>&nbsp;{% trans 'My videos' %}</a>
          {% if request.user.owners_channels.all %}
          <a class="dropdown-item" href="{% url 'my_channels' %}" title="{% trans 'My channels' %}"><i data-feather="youtube"></i>&nbsp;{% trans 'My channels' %}</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'my_playlists' %}" title="{% trans 'My playlists' %}"><i data-feather="airplay"></i>&nbsp;{% trans 'My playlists' %}</a>
          {% if request.user.is_staff and USE_PODFILE %}
          <a class="dropdown-item" href="{% url 'podfile:home' %}" title="{% trans 'My files' %}"><i data-feather="folder"></i>&nbsp;{% trans 'My files' %}</a>
          {% endif %}
          {% if request.user.is_staff and ALLOW_MANUAL_RECORDING_CLAIMING %}
          <a class="dropdown-item" href="{% url 'claim_record' %}" title="{% trans 'Claim a record' %}"><i data-feather="share"></i>&nbsp;{% trans 'Claim a record' %}</a>
          {% endif %}
          <!-- <a class="dropdown-item" href="#">Gestion de mon compte</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'authentication_logout' %}" title="{% trans 'Log out' %}">
              <i data-feather="log-out"></i>&nbsp;{% trans 'Log out' %}</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item dropdown login mr-2" id="nav-authentication">
        <a class="btn btn-connexion nav-link pl-2 pr-2 d-flex justify-content-center" href="{% url 'authentication_login' %}?referrer={{request.build_absolute_uri|urlencode}}" >
          {% trans 'Log in' %}
        </a>
      </li>
      {% endif %}
      {% if HIDE_LANGUAGE_SELECTOR == False %}
      <li class="nav-item d-none d-lg-block" id="nav-languagechoicelg">
        <div class="btn-group"><button type="button" class="btn btn-lang btn-lang-active my-2 mr-sm-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{LANGUAGE_CODE}}
            </button>
        <div class="dropdown-menu dropdown-menu-right p-0 m-0">
        {% for language in languages %}
        {% if language.code != LANGUAGE_CODE %}
        <form class="form form-inline dropdown-item p-0 m-0" action="/i18n/setlang/" method="post">
          {% csrf_token %}
          <input name="language" value="{{ language.code }}" type="hidden">
          <input value="{{ language.name_local }} ({{ language.code }})" class="btn btn-lang my-2 mr-sm-2" type="submit">
        </form>
        {% endif %}
        {% endfor %}
        </div>
        </div>
      </li>
      {% endif %}
   </ul>
</div> <!-- FIN Container -->
{% endspaceless %}
