/**
 * Esup-Pod live event styles
 */

.current_event {
  stroke: red;
}

.video-js .vjs-time-control {
  display: block;
}

.video-js .vjs-remaining-time {
  display: none;
}

.filter-event-img {
  max-height: 32px;
  max-width: 32px;
}
