{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block more_style %}
<!-- a retirer -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
-->
{% endblock more_style %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My meetings" %}</li>{% endblock %}

{% block page_title %}
    {% trans "My meetings" %}   
{% endblock %}


{% block page_content %}

<h2 class="h4">{% trans "Meetings"%}</h2>

<div >
    <!-- a déplacer dans la barre de menu ?-->
    <a id="button" class="btn btn-sm pod-add-meeting btn-primary" href="{% url 'meetings:create' %}">{% trans "Add"%}</a>
</div>

<br>

<div class="#">
    <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
    <table with="600" class="table table-bordered table-striped" style="border-collapse: collapse;">
        <thead>
            <tr>
                <!-- a traduire -->
                <td>{% trans "Title"%}</td><td>{% trans "Start"%}</td><td>{% trans "End"%}</td>
            </tr>
        </thead>
        <tbody>
            {% for element in dataMeetings %}
            <tr>
                <td> {{ element.name }} </td>
                <td> {{ element.start_date }} </td>
                <td> {{ element.end_date }} </td>
                <td><a class="btn btn-success" href="{% url 'meetings:edit' element.meetingID %}">{% trans "Modify"%}</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-delete-meeting" data-bs-toggle="modal" data-bs-target="#delete-meeting-modal" data-meeting-id="meeting-{{element.id}}" data-action="{% url 'meetings:delete' element.meetingID%}">
                        {% trans "Delete"%}
                    </button>
                <br></br>
                <p>{% trans "Link"%} <input type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'meetings:join' element.meetingID %}" id="Input">
                    <!-- ne pas utiliser le "on click" -->
                    <button onclick="copyText()" id="Input">{% trans "Copy"%}</button>
                    <!-- à remplacer par un simple lien -->
                    <a class="btn btn-info" href="{% url 'meetings:join' element.meetingID %}">{% trans "Join"%}</a>
                </p>
                {% if element.info.end_time == "null" %}
                    {% if element.running == 'true'  %}
                        <span class="status running">{% trans "Running"%}</span>
                    {% else %}
                        <span class="status notrunning">{% trans "Not Running"%}</span>
                    {% endif %}
                {% else %}
                    <span class="status notrunning">{% trans "Ended"%}</span>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="delete-meeting-modal" tabindex="-1" aria-labelledby="deleteItemLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteItemLabel">{% trans "Are you sure you want to delete ?" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="" id="delete-item">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <input class="btn btn-danger" type="submit" value="{% trans "Delete" %}">
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock page_content %}

{% block more_script %}
<script src="{% static 'js/app.js' %}"></script>
<script>
    $(document).on('click', '#delete-item', () => {
        document.getElementById("delete-item").action = document.querySelector('#delete-item').href
    });
    // au chargement de la modal, renseigner le champ action du formulaire de la modal avec la valeur du champ data-action du bouton ayant été cliqué.
    $(".btn-delete-meeting").on("click", function() {
        $("#delete-item").attr("action", $(this).attr("data-action"));
    });
    /*
    var myModal = document.getElementById('delete-meeting-modal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        alert('coucou');
    })
    */
</script>
{% endblock more_script %}
