<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://kit.fontawesome.com/1481fe7b2b.js" crossorigin="=anonymous"></script>
</head>
<body>
    <section>
        <div class="container">
            <button id="button"><a href="add/">Ajouter une réunion</a></button>
        </div>
    </section>

    <h1>Salles de réunion :</h1>

    <div class="topnav">
        <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <table>
        <tr>
            <td>Titre</td>
            <td>Date de début</td>
            <td>Date de fin</td>
        </tr>
        <tr>
            <td>Test</td>
            <td>5 mai 2022 à 17h30</td>
            <td>5 mai 2022 à 19h00</td>
        </tr>
    </table>


</body>
</html>