{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block more_style %}
<!-- a retirer -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
-->
{% endblock more_style %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My meetings" %}</li>{% endblock %}

{% block page_title %}
    {% trans "My meetings" %}   
{% endblock %}

{% block page_content %}

<h1>{% trans "Creation of meeting room" %}</h1>

<form method="POST" class="post-form">
  {% csrf_token %}
  {{ form.as_p }}
  {% for meeting in meetings %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          {% trans "Advanced settings" %}
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <label class="form-check-label">{% trans "Auto Save" %} :</label>
          <input class="form-check-input" type="checkbox" name="enregistrement auto" value="{{meeting.auto_start_recording}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Start/Stop button for recording the meeting" %} :</label>
          <input class="form-check-input" type="checkbox" name="bouton start/stop pour l'enregistrement de la réunion" value="{{meeting.allow_start_stop_recording}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Disable the camera" %} :</label>
          <input class="form-check-input" type="checkbox" name="désactiver la caméra" value="{{meeting.lock_settings_disable_cam}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Disable the mic" %} :</label>
          <input class="form-check-input" type="checkbox" name="désactiver le micro" value="{{meeting.lock_settings_disable_mic}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Disable Private Chat" %} :</label>
          <input class="form-check-input" type="checkbox" name="désactiver le chat privé" value="{{meeting.lock_settings_disable_private_chat}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Disable Public Chat" %} :</label>
          <input class="form-check-input" type="checkbox" name="désactiver le chat publique" value="{{meeting.lock_settings_disable_public_chat}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Disable Notes" %} :</label>
          <input class="form-check-input" type="checkbox" name="désactiver les notes" value="{{meeting.lock_settings_disable_note}}">
          <br></br>
          
          <label class="form-check-label">{% trans "Blocking meeting layout" %} :</label>
          <input class="form-check-input" type="checkbox" name="blocage disposition réunion" value="{{meeting.lock_settings_locked_layout}}">
          <br></br>
  
          <label class="form-check-label">{% trans "Using a password" %} :</label>
          <input class="form-check-input" type="checkbox" name="Utilisation d'un mot de passe" value="{{meeting.ask_password}}">
          <br></br>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <br></br>
  <a id="button" class="btn btn-secondary" href="{% url 'meetings:meeting' %}">{% trans "Cancel" %}</a>
  <button type="submit" class="btn btn-info">{% trans "Record" %}</button>
</form>
{% endblock page_content %}