{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}
  {% include 'videos/video-header.html' %}
{% endblock page_extra_head %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'video:video' slug=video.slug %}" title="{{ video.title }}">
      {{ video.title|title|truncatechars:45 }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {{ page_title }}
  </li>
{% endblock %}


{% block page_content %}
  {% if form_submitted %}
    {% if percentage_score >= 75 %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "Your score is:" %} {{ percentage_score|floatformat:2 }}%</p>
        <p class="m-0">{% trans "That's great! Bravo!" %}</p>
      </div>
    {% elif percentage_score >= 45 %}
      <div class="alert alert-warning" role="alert">
        <p>{% trans "Your score is:" %} {{ percentage_score|floatformat:2 }}%</p>
        <p class="m-0">{% trans "Can do better." %}</p>
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        <p>{% trans "Your score is:" %} {{ percentage_score|floatformat:2 }}%</p>
        <p class="m-0">{% trans "It's not terrible, but there's room for improvement!" %}</p>
      </div>
    {% endif %}
  {% endif %}

  <span id="quiz-player">
    {% include 'videos/video-element.html' %}
  </span>
  <hr>

  <form method="post" id="quiz-form" action="{% url 'quiz:video_quiz' video_slug=video.slug %}">
    {% csrf_token %}

    {% for question in quiz.get_questions %}
      <fieldset class="border rounded-3 p-3 mb-3 question-container">
        <legend>
          <i class="bi bi-patch-question" aria-hidden='true'></i>&nbsp;{{ question.title }}
        </legend>
        {% with form=question.get_question_form %}
          {% for field in form.visible_fields %}
            {% spaceless %}
              <div class="mb-3">
                <div class="form-group {% if field.field.required %}form-group-required {% endif %}">
                  {{ field.errors }}
                  {% if "form-check-input" in field.field.widget.attrs.class %}
                    <div class="form-check">
                      {{ field }} <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                    </div>
                  {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                  {% endif %}
                  {% if field.help_text %}
                    <small id="{{field.id_for_label}}Help" class="form-text">{{ field.help_text|safe }}</small>
                  {% endif %}
                  {% if field.field.required %}
                    <div class="invalid-feedback">{% trans "Please provide a valid value for this field." %}</div>
                  {% endif %}
                </div>
              </div>
            {% endspaceless %}
          {% endfor %}
        {% endwith %}

        {% if form_submitted and quiz.show_correct_answers %}
          <p>{% trans "Right answer:" %} {{ question.get_answer }}</p>
          {% if question.explanation %}
            <p>{% trans "Explanation:" %} {{ question.explanation }}</p>
          {% endif %}
          {% if question.start_timestamp %}
            <a class="btn btn-primary show-response-button" start="{{ question.start_timestamp}}" end="{{ question.end_timestamp }}" role="button">
              {% trans "Show answer in the video" %}
            </a>
          {% endif %}
        {% endif %}
      </fieldset>
    {% endfor %}

    <div class="text-center mt-2">
      <button type="submit" id="quiz-submission-button" class="btn btn-primary"
              {% if form_submitted %}disabled aria-disabled="true"{% endif %}>
        {% trans "Validate" %}
      </button>
      <a href="{% url 'video:video' slug=video.slug %}" class="btn btn-secondary">{% trans "Back to video" %}</a>
    </div>
  </form>
{% endblock page_content %}

{% block page_aside %}
  {% if video.owner == request.user or request.user.is_superuser or perms.chapter.add_chapter or request.user in video.additional_owners.all %}
    <div class="card" id="card-manage-video">
      <h2 class="card-header card-title pod-card__title h4"><i class="bi bi-gear"></i>&nbsp;{% trans "Manage video"%}</h2>
      <div class="card-body card-text text-center">
        {% include "videos/link_video.html" with hide_favorite_link=True %}
      </div>
    </div>
  {% endif %}
{% endblock page_aside %}

{% block more_script %}
  <script>
    const video_duration = {{ video.duration }};
  </script>
  {% include "videos/video-script.html" %}

  {% if form_submitted %}
    <script src="{% static 'quiz/js/video-quiz-submit.js' %}?ver={{VERSION}}"></script>
  {% endif %}
{% endblock more_script %}
