.icon-large {
    font-size: 3rem;
    text-align: center;
}

.number {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.value {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.label {
    text-align: center;
}