{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% block page_title %}{% trans 'My dressings' %}{% endblock page_title %}
{% block page_extra_head %}

<link rel="stylesheet" href="{% static 'css/video_dressing.css' %}?ver={{VERSION}}">

{% endblock page_extra_head %}

{% block breadcrumbs %}
{{block.super}}

<li class="breadcrumb-item active" aria-current="page">        
    {% trans 'My dressings' %}
</li>

{% endblock %}

{% block page_content %}
<table>
    <thead>
        <tr>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Owners' %}</th>
            <th>{% trans 'Users' %}</th>
            <th>{% trans 'Allow to Groups' %}</th>
            <th>{% trans 'Watermark' %}</th>
            <th>{% trans 'Position' %}</th>
            <th>{% trans 'Opacity' %}</th>
            <th>{% trans 'Opening credits' %}</th>
            <th>{% trans 'Ending credits' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for dressing in dressings %}
            <tr>
                <td>{{ dressing.title }}</td>
                <td>
                    {% for owner in dressing.owners.all %}

                    {% if owner.first_name %}
                        {{ owner.first_name }} {{ owner.last_name }}
                    {% else %}
                        {{ owner.username }}
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        {% trans 'No owners' %}
                    {% endfor %}
                </td>
                <td>
                    {% for user in dressing.users.all %}

                    {% if user.first_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        {% trans 'No users' %}
                    {% endfor %}
                </td>
                <td>
                    {% for group in dressing.allow_to_groups.all %}
                        {{ group }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        {% trans 'No groups' %}
                    {% endfor %}
                </td>
                <td>
                    {% if dressing.watermark %}
                        <img id="watermark" src="{{ dressing.watermark.file.url }}" alt="Watermark">
                    {% else %}
                        {% trans 'None' %}
                    {% endif %}
                </td>
                <td>
                    {% if dressing.watermark %}
                        {{ dressing.get_position_display }}
                    {% else %}
                    <div class="text-center">
                        <i class="bi bi-x-lg"></i>
                    </div>
                    {% endif %}
                </td>
                <td>
                    {% if dressing.watermark %}
                        {{ dressing.opacity }}
                    {% else %}
                    <div class="text-center">
                        <i class="bi bi-x-lg"></i>
                    </div>
                    {% endif %}
                </td>
                <td>
                    {% if dressing.opening_credits %}
                        <a href="../../video/{{ dressing.opening_credits|slugify }}" title="{% trans 'View the video'%}">{{ dressing.opening_credits }}</a>
                    {% else %}
                      {% trans 'None' %}
                    {% endif %}
                  </td>
                  <td>
                    {% if dressing.ending_credits %}
                        <a href="../../video/{{ dressing.ending_credits|slugify }}" title="{% trans 'View the video'%}">{{ dressing.ending_credits }}</a>
                    {% else %}
                      {% trans 'None' %}
                    {% endif %}
                  </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'dressing:dressing_edit' dressing_id=dressing.pk %}" class="btn btn-primary" title="{% trans 'Edit'%}"><i class="bi bi-pencil-square" aria-hidden="true"></i></a>
                        <a href="{% url 'dressing:dressing_delete' dressing_id=dressing.pk %}" class="btn btn-danger" title="{% trans 'Delete'%}"><i class="bi bi-trash" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="11">{% trans 'No dressings found.' %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'dressing:dressing_create' %}" class="btn btn-primary">{% trans 'Add new object' %}</a>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
{% endblock more_script %}