{% load i18n %}
<!-- Confirmation delete modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="deleteConfirmModalLabel">{% trans 'Delete?' %}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
        </div>
        <div class="modal-body" id="modalMessage">
        <!-- dynamic message -->
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton">{% trans 'Remove' %}</button>
        </div>
      </div>
    </div>
  </div>
