{# HTML for completion main page. #}
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load video_quiz %}
{% block page_extra_head %}
  <!-- media -->
  <link rel="stylesheet"
        href="{% static 'css/completion.css' %}?ver={{ VERSION }}">
{% endblock page_extra_head %}
{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'video:dashboard' %}">{% trans "Dashboard" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'video:video' slug=video.slug %}"
       title="{{ video.title }}">{{ video.title|title|truncatechars:45 }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Video additions" %}</li>
{% endblock %}
{% block page_content %}
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#compContributors"
                aria-expanded="false"
                aria-controls="compContributors">{% trans 'Contributor(s)' %}</button>
      </h2>
      <div id="compContributors" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="table-responsive" id="list-contributor">{% include 'contributor/list_contributor.html' %}</div>
          <span id="form_contributor">
            {% if form_contributor %}
              {% include 'contributor/form_contributor.html' with form_contributor=form_contributor %}
            {% endif %}
          </span>
          <form class="form_new completion"
                id="form_new_contributor"
                action="{% url 'video:completion:video_completion_contributor' slug=video.slug %}"
                method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="new">
            <input type="submit"
                   value="{% trans 'Add a new contributor' %}"
                   class="new_contributor btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    {% if request.user.is_staff %}
      {% if USE_SPEAKER %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#compSpeakers"
                    aria-expanded="false"
                    aria-controls="compSpeakers">{% trans 'Speaker(s)' %}</button>
          </h2>
          <div id="compSpeakers" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="table-responsive" id="list-speaker">{% include 'speaker/list_speaker.html' %}</div>
              <span id="form_speaker">
                {% if form_speaker %}
                  {% include 'speaker/form_speaker.html' with form_speaker=form_speaker %}
                {% endif %}
              </span>
              <form class="form_new completion"
                    id="form_new_speaker"
                    action="{% url 'video:completion:video_completion_speaker' slug=video.slug %}"
                    method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="new">
                <input type="submit"
                       value="{% trans 'Add a new speaker' %}"
                       class="new_speaker btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#compSubtitles"
                  aria-expanded="false"
                  aria-controls="compSubtitles">{% trans 'Subtitle(s) and Caption(s)' %}</button>
        </h2>
        <div id="compSubtitles" class="accordion-collapse collapse">
          <div class="accordion-body">
            <h3 class="caption">{% trans 'List of subtitle or caption files' %}&nbsp;({{ list_track|length }})</h3>
            <div class="table-responsive" id="list-track">
              {% include 'track/list_track.html' with dest='video_completion_track' %}
            </div>
            <div class="m-2">
              <a class="btn btn-secondary"
                 href="{% url 'video:completion:video_caption_maker' slug=video.slug %}">{% trans 'Video caption maker' %}</a>
              <div class="form-text">{% trans 'To create your subtitles and/or caption(s) files' %}</div>
            </div>
            <span id="form_track">
              {% if form_track %}
                {% include 'track/form_track.html' with form_track=form_track %}
              {% endif %}
            </span>
            <form class="form_new completion m-2"
                  id="form_new_track"
                  action="{% url 'video:completion:video_completion_track' slug=video.slug %}"
                  method="POST">
              {% csrf_token %}
              <input type="hidden" name="action" value="new">
              <input type="submit"
                     value="{% trans 'Add a new subtitle or caption file' %}"
                     class="new_track btn btn-primary">
              <div class="form-text">{% trans 'The file must be in VTT format.' %}</div>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#compDocument"
                  aria-expanded="false"
                  aria-controls="compDocument">{% trans 'Additional resource(s)' %}</button>
        </h2>
        <div id="compDocument" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="table-responsive" id="list-document">{% include 'document/list_document.html' %}</div>
            <span id="form_document">
              {% if form_document %}
                {% include 'document/form_document.html' with form_document=form_document %}
              {% endif %}
            </span>
            <form class="form_new completion"
                  id="form_new_document"
                  action="{% url 'video:completion:video_completion_document' slug=video.slug %}"
                  method="POST">
              {% csrf_token %}
              <input type="hidden" name="action" value="new">
              <input type="submit"
                     value="{% trans 'Add a new additional resource' %}"
                     class="new_document btn btn-primary">
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#compOverlay"
                  aria-expanded="false"
                  aria-controls="compOverlay">{% trans 'Overlay(s)' %}</button>
        </h2>
        <div id="compOverlay" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="table-responsive">{% include 'overlay/list_overlay.html' %}</div>
            <span id="form_overlay">
              {% if form_overlay %}
                {% include 'overlay/form_overlay.html' with form_overlay=form_overlay %}
              {% endif %}
            </span>
            <form class="form_new completion"
                  id="form_new_overlay"
                  action="{% url 'video:completion:video_completion_overlay' slug=video.slug %}"
                  method="POST">
              {% csrf_token %}
              <input type="hidden" name="action" value="new">
              <input type="submit"
                     value="{% trans 'Add a new overlay' %}"
                     class="new_overlay btn btn-primary">
            </form>
          </div>
        </div>
      </div>
      {% if USE_QUIZ %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#compQuiz"
                    aria-expanded="false"
                    aria-controls="compQuiz">{% trans 'Quiz' %}</button>
          </h2>
          <div id="compQuiz" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% is_quiz_accessible video as is_quiz_accessible %}
              {% if is_quiz_accessible %}
                <a class="btn btn-primary btn-sm m-1"
                   href="{% url 'quiz:video_quiz' video.slug %}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{% trans "Answer the quiz" %}"
                   role="button">
                  <i class="bi bi-controller pod-nav-link-icon mx-1" aria-hidden="true"></i>
                  <span class="ms-1 d-none d-md-inline">{% trans 'Answer the quiz' %}</span>
                </a>
              {% endif %}
              {% include 'quiz/manage_quiz.html' %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% include "delete_modal.html" %}
{% endblock page_content %}
{% block page_aside %}
  {% if video.owner == request.user or request.user.is_superuser or perms.video.change_video or request.user in video.additional_owners.all %}
    <div class="card mb-2" id="card-manage-video">
      <h2 class="card-header card-title pod-card__title h4">
        <i class="bi bi-gear" aria-hidden="true"></i>&nbsp;{% trans "Manage video" %}
      </h2>
      <div class="card-body card-text text-center">{% include "videos/link_video.html" with hide_favorite_link=True %}</div>
    </div>
  {% endif %}
  <div class="card mb-2" id="card-completion-tips">
    <h2 class="card-header card-title pod-card__title h4">{% trans "Help" %}</h2>
    <div class="card-body">
      <div id="contributor-info">
        <button class="btn btn-link rounded-0 pod-btn"
                id="heading-1"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-contributor"
                aria-expanded="false"
                aria-controls="collapse-contributor">{% trans 'Contributor(s)' %}</button>
        <div id="collapse-contributor" class="collapse card-text small">
          <p>{% trans 'List of people related to this video.' %}</p>
          <p>
            {% trans 'A contributor must at least have a name and a role. You can also join the email of this contributor as well as a link (professional website for example).' %}
          </p>
        </div>
      </div>
      <!-- Speaker -->
      {% if USE_SPEAKER %}
        <div id="speaker-info">
          <button class="btn btn-link rounded-0 pod-btn"
                  id="heading-5"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-speaker"
                  aria-expanded="false"
                  aria-controls="collapse-speaker">{% trans 'Speaker(s)' %}</button>
          <div id="collapse-speaker" class="collapse card-text small">
            <p>{% trans 'List of speakers related to this video.' %}</p>
            <p>
              {% trans "You can add speakers to this video by searching by their last name, first name or job. If you can’t find the speaker, contact a super admin." %}
            </p>
          </div>
        </div>
      {% endif %}
      <div id="track-info">
        <button class="btn btn-link rounded-0 pod-btn"
                id="heading-2"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-track"
                aria-expanded="false"
                aria-controls="collapse-track">{% trans 'Subtitle(s) and Caption(s)' %}</button>
        <div id="collapse-track" class="collapse card-text small">
          <p>{% trans 'Subtitle(s) and/or captions(s) related to this video.' %}</p>
          <!-- <p>{% trans 'Several web sites allows you to subtitle or caption videos (for example: Amara)' %}</p> -->
          <p>
            {% trans 'You can add several subtitle or caption files to a single video (for example, in order to subtitle or caption this video in several languages' %}
          </p>
          <p>{% trans 'Subtitle and/or caption file(s) must be in “.vtt” format.' %}</p>
          <p>
            {% trans 'You can use' %} <a href="{% url 'video:completion:video_caption_maker' slug=video.slug %}">{% trans 'Video Caption Maker' %}</a> {% trans 'to create your subtitle(s) and/or caption(s) file(s).' %}
          </p>
          <p>
            {% trans 'You will need the URL of this video to make subtitles and/or captions. This URL is a direct access to this video. Please do not communicate it outside of this site to avoid any misuse.' %}
          </p>
          <ul class="list-group">
            {% for vid in video.get_video_mp4 %}
              <li class="list-group-item">
                <label for="vid_{{ vid.name }}">{% blocktrans with name=vid.name %}{{ name }}:{% endblocktrans %}</label>
                <input id="vid_{{ vid.name }}"
                       type="text"
                       value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{{ vid.source_file.url }}"
                       readonly>
              </li>
            {% endfor %}
            {% if video.is_video == False and video.get_video_mp3 %}
              <li class="list-group-item">
                <label for="aud_source_url">{% blocktrans with name=video.get_video_mp3.name %}{{ name }}:{% endblocktrans %}</label>
                <input id="aud_source_url"
                       type="text"
                       value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{{ video.get_video_mp3.source_file.url }}"
                       readonly>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div id="document-info">
        <button class="btn btn-link rounded-0 pod-btn"
                id="heading-3"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-document"
                aria-expanded="false"
                aria-controls="collapse-document">{% trans 'Additional resource(s)' %}</button>
        <div id="collapse-document" class="collapse card-text small">
          <p>{% trans 'Document(s) related to this video. These documents will be downloadable by users.' %}</p>
          <p>
            {% trans 'Be careful, not to be confused with enrichment. These documents are attached to the video, not integrated.' %}
          </p>
        </div>
      </div>
      <div id="overlay-info">
        <button class="btn btn-link rounded-0 pod-btn"
                id="heading-4"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-overlay"
                aria-expanded="false"
                aria-controls="collapse-overlay">{% trans 'Overlay(s)' %}</button>
        <div id="collapse-overlay" class="collapse card-text small">
          <p>
            {% trans 'Overlay allows you to display text (with ou without html tag) over the video at specific times and positions.' %}
          </p>
          <p>
            {% trans 'You can add a solid background or a transparent background to the text you want to display with the option "Show background"' %}
          </p>
        </div>
      </div>
      <!-- Quiz -->
      {% if USE_QUIZ %}
        <div id="quiz-info">
          <button class="btn btn-link rounded-0 pod-btn"
                  id="heading-5"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-quiz"
                  aria-expanded="false"
                  aria-controls="collapse-quiz">{% trans 'Quiz' %}</button>
          <div id="collapse-quiz" class="collapse card-text small">
            <p>{% trans 'A Quiz allow you to test the memorization and comprehension of your video.' %}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock page_aside %}
{% block more_script %}
  <script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}?ver={{VERSION}}"></script>
  <script src="{% static 'django_select2/django_select2.js' %}?ver={{VERSION}}"></script>
  <script src="{% static 'js/completion.js' %}?ver={{VERSION}}"></script>
{% endblock more_script %}
