{% load i18n %}
<div class="modal fade {{ req_action }}" id="captionmakerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="accordeon">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">

        {% if messages %}
        <div id="base-message-alert">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% if req_action == 'modal_save' %}
        <div class="contenuTitre">
          <span id="list_track"> {% include 'track/list_track.html' with dest='video_caption_maker' action_modify_name='form_save_modify' %} </span>
          &nbsp;
          <span id="form_track"> {% if form_track %} {% include 'track/form_track.html' with form_track=form_track %} {% endif %} </span>
          <form class="form_new completion" id="form_new_track" action="{% url 'video_caption_maker' slug=video.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="form_save_new"/>
            <input type="submit" value="{% trans 'Add a new subtitle or caption file' %}" class="new_track btn btn-info"/>
          </form>
        </div>
        {% endif %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {% if req_action == 'modal_load' %} <button type="submit" class="btn btn-primary">Save changes</button> {% endif %}
      </div>
    </form>
    </div>
  </div>
</div>