{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
	<link rel="stylesheet" href="{% static 'css/caption_maker.css' %}"/>
{% include 'videos/video-header.html' %}
{% endblock page_extra_head %}


{% block breadcrumbs %}
    {{block.super}}
    <li class="breadcrumb-item"><a href="{% url 'my_videos' %}" title="{% trans 'My videos' %}">{% trans 'My videos' %}</a></li>

    <li class="breadcrumb-item">
        <a href="{% url 'video' slug=video.slug %}" title="{{video.title}}">
            {{video.title|title|truncatechars:45}}
        </a>
    </li>
    <li class="breadcrumb-item active"  aria-current="page">
        {% trans 'Video Caption Maker' %}
    </li>
{% endblock %}

{% block page_title %}
{% trans "Video Caption Maker" %}
{% endblock %}


{% block page_content %}
<h3>{% trans "Video Caption Maker" %}</h3>

<!-- extract from https://webcache.googleusercontent.com/search?q=cache:-ebduGPpZGYJ:https://testdrive-archive.azurewebsites.net/Graphics/CaptionMaker/Default.html+&cd=1&hl=fr&ct=clnk&gl=fr -->

{% if messages %}
    <div id="base-message-alert">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <script>
        $(document).ready(function () {
            TriggerAlertClose();
        });
    </script>
    </div>
{% endif %}

<p>{% trans "Load Existing Caption File [optional]" %} :
<form method="post" action="{% url 'video_caption_maker' slug=video.slug %}" id="captionmaker_form">
    {% csrf_token %}
    <fieldset>
        {% if form_make_caption.errors %} <p class="text-danger">{% trans "One or more errors have been found in the form." %}</p> {% endif %}
        {% comment %} {% for field_hidden in form_make_caption.hidden_fields %} {{field_hidden}} {% endfor %} {% endcomment %}
        {% comment %} {% for field in form_make_caption.visible_fields %} {% endcomment %}
        {% for field in form_make_caption.visible_fields %}
            {% if field.name == 'src' %}
            {% spaceless %}
            <div class="form-group" >
                {{ field.errors }}
                {{ field }}
                {% if field.help_text %} <small id="{{field.id_for_label}}Help" class="form-text text-muted">{{ field.help_text|safe }}</small> {% endif %}
                {% if field.field.required %} <div class="invalid-feedback">{% trans "Please provide a valid value for this field" %}.</div> {%endif%}
            </div>
            {% endspaceless %}
            {% endif %}
        {% endfor %}
        {% comment %} {% endfor %} {% endcomment %}
        {% if form_make_caption.instance.id %} <input type="hidden" id="user_id" name="user_id" value="{{form_make_caption.instance.id}}"/> {% endif %}
    </fieldset>
    {{form_make_caption.media}}
</form>


<div class="grayNoVideo">
    <div style="display: inline-block; float: left; margin-right: 2%; min-height: 425px;
            width: 49%;">
        <span>{% trans "Video" %} :</span>
        {% include 'videos/video-element.html' %}
        <div id="videoError" class="videoError" style="display: none;"></div>
        <div id="captionTitle"></div>
        <div>
        <textarea id="textCaptionEntry" class="" autocomplete="off"></textarea>
        </div>
        <div >
            <button id="playButton" class="btn btn-primary btn-sm mt-1">{% trans "Play" %}</button>
            <button id="pauseButton" class="btn btn-primary btn-sm mt-1">{% trans "Pause" %}</button>
            <button id="justSaveCaption" class="btn btn-primary btn-sm mt-1">{% trans "Save" %}</button>
            <button id="saveCaptionAndPlay" class="btn btn-primary btn-sm mt-1">{% trans "Save &amp; Continue" %}</button>
        </div>
    </div>
    <div style="display: inline-block; float: left; width: 49%;">
        <span>{% trans "Caption list" %} :</span>
        <div id="display">

        </div>
        <div >
        <form class="form_save completion" id="form_save_captions" action="{% url 'video_caption_maker' slug=video.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="save"/>
            <input type="hidden" name="file_id"/>
            <input type="submit" value="{% trans 'Save Captions' %}" id="save_captions" class="btn btn-primary btn-sm mt-1"/>
            <button id="clearAllCaptions" class="btn btn-primary btn-sm mt-1">{% trans "Clear All" %}</button>
        </form>
        </div>
    </div>
    <div id="captionFileAndMarkup" style="clear: both; padding-top: 24px; padding-bottom: 24px; display: block;">
        <div style="padding-top: 6px;">
            <span class="float-right">
                <a href="{% url 'video_completion' slug=video.slug %}" title="{% trans 'View the video' %}" class="btn btn btn-secondary btn-sm">
                    <i data-feather="arrow-left"></i>&nbsp;{% trans "Back to the completion"%}
                </a>
            </span>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmSaveLabel" aria-hidden="true" id="saveCaptionsModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="min-height: auto; width: auto;">
            <div class="modal-header">
                <h2 class="modal-title">{% trans "Save captions file."%}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{% trans "You have loaded a file. Do you want to override it ?"%}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-new"> {% trans "New" %} </button>
                <button type="button" class="btn btn-primary" id="modal-btn-override"> {% trans "Override"%} </button>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
    <script>
        var current_folder = {{ home_folder.id }};
        var captionFileSourceUpdateTimer = null;
        var file_loaded = false;
        var file_loaded_id = undefined;
        var captionsArray = [];
        var autoPauseAtTime = -1;
    </script> 
    <script src="{% static 'js/caption_maker.js' %}"></script>
    <script src="{% static 'js/completion.js' %}"></script>
{% include 'videos/video-script.html'%}
{% endblock more_script %}