{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
<style>
#videoElm {
    display: block;
    border: solid 1px #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 297px;
}
.videoError {
    display: block;
    background-color: #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 297px;
    color: white;
    text-align: center;
    padding: 12px;
}

#videoError {
    display: none;
}
#captionTitle {
    padding-top: 4px;
    padding-bottom: 4px;
}

#textCaptionEntry {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    line-height: 19px;
    border: 1px solid #999;
    padding: 3px 8px 5px;
    text-align: center;
    min-height: 50px;
    overflow: hidden;
}

#textCaptionEntry.playing {
    border-color: #666;
    background-color: #666;
    color: white;
}

textarea {
    line-height: 16px;
    font-size: 14px;
}

/* the list of captions */

#display {
    border: solid 1px #999;
    height: 374px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

#display div {
    cursor: pointer;
    padding: 2px 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
}

#display div:nth-child(odd) {
    background-color: #5BC2EC;
}

#display div:nth-child(even) {
    background-color: #bef;
}

#display div:hover {
    background-color: #ECA809;
}

#display div span {
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
}

#display div span:nth-child(3) {
    font-style: italic;
}

</style>
{% endblock page_extra_head %}


{% block breadcrumbs %}
    {{block.super}}
    <li class="breadcrumb-item"><a href="{% url "my_videos"%}" title="{% trans 'My videos' %}">{% trans 'My videos' %}</a></li>
    
    <li class="breadcrumb-item">
        <a href="{% url 'video' slug=video.slug %}" title="{{video.title}}">
            {{video.title|title|truncatechars:45}}
        </a>
    </li>
    <li class="breadcrumb-item active"  aria-current="page">
        {% trans 'Video Caption Maker' %}
    </li>
{% endblock %}

{% block page_title %}
{% trans "Video Caption Maker" %}
{% endblock %}


{% block page_content %}
<h3>{% trans "Video Caption Maker" %}</h3>

<!-- extract from https://webcache.googleusercontent.com/search?q=cache:-ebduGPpZGYJ:https://testdrive-archive.azurewebsites.net/Graphics/CaptionMaker/Default.html+&cd=1&hl=fr&ct=clnk&gl=fr -->
<p>Load Existing Caption File [optional] : <input id="ttFile" accept="text/vtt" type="file"></p>

<div class="grayNoVideo">
    <div style="display: inline-block; float: left; margin-right: 2%; min-height: 425px;
            width: 49%;">
        <div style="padding-bottom: 4px;">Video:</div>
        <video id="videoElm" controls="">
            <div class="videoError">HTML5 video is not supported</div>
            {% for vid in video.get_video_mp4 %}
            <source src="{{vid.source_file.url}}" type="video/mp4">
            {% endfor %}
        </video>
        <div id="videoError" class="videoError" style="display: none;"></div>
        <div id="captionTitle"></div>
        <div>
        <textarea id="textCaptionEntry" class=""></textarea>
        </div>
        <div >
            <div style="display: inline-block; margin-left: auto; margin-right: auto;">
            <button id="playButton">Play</button>
            <button id="pauseButton" style="margin-left: 2em;">Pause</button>
            <button id="justSaveCaption" style="margin-left: 2em;">Save</button>
            <button id="saveCaptionAndPlay" style="margin-left: 2em;">Save &amp; Continue</button>
            </div>
        </div>
    </div>
    <div style="display: inline-block; float: left; width: 49%;">
        <div style="padding-bottom: 4px;">Caption list:</div>
        <div id="display">
            
        </div>
        <div style="margin-top: 6px;">
            <button id="clearAllCaptions">Clear All</button>
        </div>
    </div>
    <div id="captionFileAndMarkup" style="clear: both; padding-top: 24px; padding-bottom: 24px; display: block;">
    <div style="padding-bottom: 4px;">
        Select and copy the caption file contents below and paste into a <span id="captionFileKind">.vtt</span> file:
    </div>
    <div>
        <textarea id="captionFile" style="width: 100%;" rows="12" readonly="readonly"></textarea>
    </div>
    <div style="padding-top: 6px;">
        <button id="blobBuilderSave" style="margin-right: 2em; display: none;">
            Save to File</button>
        <button id="copyToClipboard" style="display: none;">
            Copy to Clipboard</button>
    </div>
                
            </div>
        </div>



{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
<script>
$("#videoElm").on("error", function(event) {
    var vh = $(this).height();

    // error handling straight from the HTML5 video spec (http://dev.w3.org/html5/spec-author-view/video.html)
    switch (event.originalEvent.target.error.code) {
    case event.originalEvent.target.error.MEDIA_ERR_ABORTED:
        $("#videoError").text("You aborted the video playback.");
        break;
    case event.originalEvent.target.error.MEDIA_ERR_NETWORK:
        $("#videoError").text("A network error caused the video download to fail part-way.");
        break;
    case event.originalEvent.target.error.MEDIA_ERR_DECODE:
        $("#videoError").text("The video playback was aborted due to a corruption problem or because the video used features your browser did not support.");
        break;
    case event.originalEvent.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
        $("#videoError").text("The video could not be loaded, either because the server or network failed or because the format is not supported.");
        break;
    default:
        $("#videoError").text("An unknown error occurred.");
        break;
    }

    $("#videoError").height(vh).css("display", "block");
    $(this).css("display", "none");
});

$("#clearAllCaptions").on('click', function () {
    captionsArray.length = 0;
    autoPauseAtTime = -1;
    $("#display div").remove();
    $("#captionTitle").html("&nbsp;");
    $("#textCaptionEntry").val("");
    $("#captionFormatNone").click();
});

//  index into captionsArray of the caption being displayed. -1 if none.
var captionBeingDisplayed = -1;

function DisplayExistingCaption(seconds) {
    var ci = FindCaptionIndex(seconds);
    if (ci != captionBeingDisplayed) {
        captionBeingDisplayed = ci;
        if (ci != -1) {
            var theCaption = captionsArray[ci];
            $("#captionTitle").text("Caption for segment from " + FormatTime(theCaption.start) + " to " + FormatTime(theCaption.end) + ":");
            $("#textCaptionEntry").val(theCaption.caption);
        } else {
            $("#captionTitle").html("&nbsp;");
            $("#textCaptionEntry").val("");
        }
    }
}
function existingCaptionsEndTime() {
    return captionsArray.length > 0 ? captionsArray[captionsArray.length - 1].end : 0;
}

function videoPlayEventHandler() {
    captionBeingDisplayed = -1;
    
    //  give Opera a beat before doing this
    window.setTimeout(function() {
        $("#textCaptionEntry").val("").prop("readonly", true).addClass("playing");
        $("#pauseButton").prop("disabled", false);
        $("#playButton, #justSaveCaption, #saveCaptionAndPlay").prop("disabled", true);
    }, 16);
}

function videoPauseEventHandler() {
    $("#playButton, #justSaveCaption, #saveCaptionAndPlay").prop("disabled", false);
    $("#textCaptionEntry").removeClass("playing").prop("readonly", false);
    $("#pauseButton").prop("disabled", true);

    var playTime = $("#videoElm").prop("currentTime");
    var captionsEndTime = existingCaptionsEndTime();
    if (playTime - 1 < captionsEndTime) {
        var ci = FindCaptionIndex(playTime - 1);
        if (ci != -1) {
            var theCaption = captionsArray[ci];
            $("#captionTitle").text("Edit caption for segment from " + FormatTime(theCaption.start) + " to " + FormatTime(theCaption.end) + ":");
            $("#textCaptionEntry").val(theCaption.caption);
            captionBeingDisplayed = ci;
        } else {
            $("#captionTitle").text("No caption at this time code.");
            $("#textCaptionEntry").val("");
            captionBeingDisplayed = -1;
        }
    } else {
        $("#captionTitle").text("Enter caption for segment from " + FormatTime(existingCaptionsEndTime()) + " to " + FormatTime(playTime) + ":");
        $("#textCaptionEntry").val("");
        captionBeingDisplayed = -1;
    }

    $("#textCaptionEntry").focus().get(0).setSelectionRange(1000, 1000); // set focus and selection point to end
}

function videoTimeUpdateEventHandler() {
    var playTime = $("#videoElm").prop("currentTime");

    if (autoPauseAtTime >= 0 && playTime >= autoPauseAtTime) {
        autoPauseAtTime = -1;
        $("#videoElm").get(0).pause();
        return;
    }

    var captionsEndTime = existingCaptionsEndTime();
    if (playTime < captionsEndTime) {
        DisplayExistingCaption(playTime);
    } else {
        $("#captionTitle").text("Pause to enter caption for segment from " + FormatTime(captionsEndTime) + " to " + FormatTime(playTime) + ":");
        if (captionBeingDisplayed != -1) {
            $("#textCaptionEntry").val("");
            captionBeingDisplayed = -1;
        }
    }
}

//  this enables the demo after a successful video load
function EnableDemoAfterLoadVideo() {
    $(".grayNoVideo, .grayNoVideo a").removeAttr("style");
    $(".grayNoVideo a, .grayNoVideo button, .grayNoVideo input, .grayNoVideo textarea").prop("disabled", false);
    $("#pauseButton, #saveCaptionAndPlay, #justSaveCaption").prop("disabled", true); // these are still disabled
    $("#textCaptionEntry").prop("readonly", true);
}

//  the video element's event handlers
$("#videoElm").bind({
    play: videoPlayEventHandler,
    timeupdate: videoTimeUpdateEventHandler,
    pause: videoPauseEventHandler,
    canplay: EnableDemoAfterLoadVideo,
    loadeddata: EnableDemoAfterLoadVideo    // opera doesn't appear to fire canplay but does fire loadeddata
});

$("#playButton").on('click',function() {
    $("#videoElm").get(0).play();
});

$("#pauseButton").on('click',function() {
    $("#videoElm").get(0).pause();
});

function SaveCurrentCaption() {
    var playTime = $("#videoElm").prop("currentTime");
    var captionsEndTime = existingCaptionsEndTime();
    if (playTime - 1 < captionsEndTime) {
        var ci = FindCaptionIndex(playTime - 1);
        if (ci != -1) {
            UpdateCaption(ci, $("#textCaptionEntry").val());
        }
    } else {
        AddCaption(captionsEndTime, playTime, $("#textCaptionEntry").val());
    }
}

$("#justSaveCaption").on('click',function() {
    SaveCurrentCaption();
});

$("#saveCaptionAndPlay").on('click',function() {
    SaveCurrentCaption();
    $("#videoElm").get(0).play();
});

function UpdateCaption(ci, captionText) {
    captionsArray[ci].caption = captionText;
    $("#ci" + ci.toString() + " span:last-child").html(XMLEncode(captionText).replace(/\r\n|\r|\n/g, "<br/>"));

    RefreshCaptionFileDisplay();
}

function AddCaptionListRow(ci) {
    var theId = "ci" + ci.toString();
    $("#display").append("<div id=\"" + theId + "\"><span>" + FormatTime(captionsArray[ci].start) + "</span><span>" + FormatTime(captionsArray[ci].end) + "</span><span>" + XMLEncode(captionsArray[ci].caption).replace(/\r\n|\r|\n/g, "<br/>") + "</span></div>");
    $("#" + theId).click(function () {
        PlayCaptionFromList($(this).attr("id"));
    });
}

function AddCaptionListRow(ci) {
    var theId = "ci" + ci.toString();
    $("#display").append("<div id=\"" + theId + "\"><span>" + FormatTime(captionsArray[ci].start) + "</span><span>" + FormatTime(captionsArray[ci].end) + "</span><span>" + XMLEncode(captionsArray[ci].caption).replace(/\r\n|\r|\n/g, "<br/>") + "</span></div>");
    $("#" + theId).click(function () {
        PlayCaptionFromList($(this).attr("id"));
    });
}

function AddCaption(captionStart, captionEnd, captionText) {
    captionsArray.push({ start: captionStart, end: captionEnd, caption: Trim(captionText) });
    AddCaptionListRow(captionsArray.length - 1);
    RefreshCaptionFileDisplay();
}

function SortAndDisplayCaptionList() {
    captionsArray.sort(function(a, b) {
        return a.start - b.start;
    });

    $("#display div").remove();
    for (var ci = 0; ci < captionsArray.length; ++ci) {
        AddCaptionListRow(ci);
    }

    RefreshCaptionFileDisplay();
}


function Trim(s) {
    return s.replace(/^\s+|\s+$/g, "");
}

//  parses webvtt time string format into floating point seconds
function ParseTime(sTime) {

    //  parse time formatted as hours:mm:ss.sss where hours are optional
    if (sTime) {
        var m = sTime.match( /^\s*(\d+)?:?(\d+):([\d\.]+)\s*$/ );
        if (m != null) {
            return (m[1] ? parseFloat(m[1]) : 0) * 3600 + parseFloat(m[2]) * 60 + parseFloat(m[3]);
        } else {
            m = sTime.match(/^\s*(\d{2}):(\d{2}):(\d{2}):(\d{2})\s*$/);
            if (m != null) {
                var seconds = parseFloat(m[1]) * 3600 + parseFloat(m[2]) * 60 + parseFloat(m[3]) + parseFloat(m[4]) / 30;
                return seconds;
            }
        }
    }

    return 0;
}

//  formats floating point seconds into the webvtt time string format
function FormatTime(seconds) {
    var hh = Math.floor(seconds / (60 * 60));
    var mm = Math.floor(seconds / 60) % 60;
    var ss = seconds % 60;

    return (hh == 0 ? "" : (hh < 10 ? "0" : "") + hh.toString() + ":") + (mm < 10 ? "0" : "") + mm.toString() + ":" + (ss < 10 ? "0" : "") + ss.toFixed(3);
}

//  our state
var captionsArray = [];
var autoPauseAtTime = -1;

function FindCaptionIndex(seconds) {
    var below = -1;
    var above = captionsArray.length;
    var i = Math.floor((below + above) / 2);

    while (below < i && i < above) {

        if (captionsArray[i].start <= seconds && seconds < captionsArray[i].end)
            return i;
        
        if (seconds < captionsArray[i].start) {
            above = i;
        } else {
            below = i;
        }
        
        i = Math.floor((below + above) / 2);
    }

    return -1;
}


function PlayCaptionFromList(listRowId) {
    var captionsArrayIndex = parseInt(listRowId.match(/ci(\d+)/)[1]);

    var vid = $('#videoElm').get(0);
    // vid.pause();
    vid.currentTime = captionsArray[captionsArrayIndex].start;
    autoPauseAtTime = captionsArray[captionsArrayIndex].end;
    vid.play();
}

function DisplayVTTSource() {
    var s = "WEBVTT\r\n\r\n";

    for (var i = 0; i < captionsArray.length; ++i) {
        if (captionsArray[i].caption != "") {
            s += (FormatTime(captionsArray[i].start) + " --> " + FormatTime(captionsArray[i].end) + "\r\n");
            s += captionsArray[i].caption + "\r\n\r\n";
        }
    }

    $("#captionFile").val(s);
    $("#captionFileKind").text(".vtt");
}

var captionFileSourceUpdateTimer = null;

function UpdateCaptionFileSource() {
    captionFileSourceUpdateTimer = null;
    DisplayVTTSource();
}

function RefreshCaptionFileDisplay() {
    if ($("#captionFileAndMarkup").css("display") != "none") {
        if (captionFileSourceUpdateTimer === null)
            captionFileSourceUpdateTimer = window.setTimeout(UpdateCaptionFileSource, 16);
    }
}

function XMLEncode(s) {     
    return s.replace(/\&/g, '&amp;').replace(/“/g, '&quot;').replace(/”/g,'&quot;').replace(/"/g, '&quot;').replace(/</g, '&lt;').replace(/>/g, '&gt;');   //.replace(/'/g, '&apos;').replace(/"/g, '&quot;');
}

function XMLDecode(s) {
    return s.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&apos;/g, "'").replace(/&quot;/g, '"').replace(/&amp;/g, '&');
}

function LoadCaptionFile(fileObject) {
    if (window.FileReader) {
        var reader = new window.FileReader();

        reader.onload = function() {
            ProcessProxyVttResponse({ status: "success", response: reader.result });
        };

        reader.onerror = function(evt) {
            alert("Error reading caption file. Code = " + evt.code);
        };

        try {
            reader.readAsText(fileObject);
        } catch(exc) {
            alert("Exception thrown reading caption file. Code = " + exc.code);
        }
    } else {
        alert("Your browser does not support FileReader.");
    }
}

$("#ttFile").get(0).addEventListener("change", function() {
    alert('coucou');
    var filesObject = $("#ttFile").get(0).files;
    if (filesObject && filesObject.length > 0) {
        LoadCaptionFile(filesObject[0]);
    } else {
        alert("No files collection on input[type=file] control.");
    }
}, false);

//  invoked by script insertion of proxyvtt.ashx
function ProcessProxyVttResponse(obj) {
    if (obj.status == "error")
        alert("Error loading caption file: " + obj.message);
    else if (obj.status == "success") {
        //  delete any captions we've got
        captionsArray.length = 0;
        if (obj.response.indexOf("WEBVTT") == 0) {
            ParseAndLoadWebVTT(obj.response);
        } else {
            alert("Unrecognized caption file format.");
        }
    }
}

//-----------------------------------------------------------------------------------------------------------------------------------------
//  Partial parser for WebVTT files based on the spec at http://dev.w3.org/html5/webvtt/
//-----------------------------------------------------------------------------------------------------------------------------------------

function ParseAndLoadWebVTT(vtt) {

    var rxSignatureLine = /^WEBVTT(?:\s.*)?$/;

    var vttLines = vtt.split(/\r\n|\r|\n/); // create an array of lines from our file

    if (!rxSignatureLine.test(vttLines[0])) { // must start with a signature line
        alert("Not a valid time track file.");
        return;
    }

    var rxTimeLine = /^([\d\.:]+)\s+-->\s+([\d\.:]+)(?:\s.*)?$/;
    var rxCaptionLine = /^(?:<v\s+([^>]+)>)?([^\r\n]+)$/;
    var rxBlankLine = /^\s*$/;
    var rxMarkup = /<[^>]>/g;

    var cueStart = null, cueEnd = null, cueText = null;

    function appendCurrentCaption() {
        if (cueStart && cueEnd && cueText) {
            captionsArray.push({ start: cueStart, end: cueEnd, caption: Trim(cueText) });
        }

        cueStart = cueEnd = cueText = null;
    }

    for (var i = 1; i < vttLines.length; i++) {

        if (rxBlankLine.test(vttLines[i])) {
            appendCurrentCaption();
            continue;
        }

        if (!cueStart && !cueEnd && !cueText && vttLines[i].indexOf("-->") == -1) {
            //  this is a cue identifier we're ignoring
            continue;
        }

        var timeMatch = rxTimeLine.exec(vttLines[i]);
        if (timeMatch) {
            appendCurrentCaption();
            cueStart = ParseTime(timeMatch[1]);
            cueEnd = ParseTime(timeMatch[2]);
            continue;
        }

        var captionMatch = rxCaptionLine.exec(vttLines[i]);
        if (captionMatch && cueStart && cueEnd) {
            //  captionMatch[1] is the optional voice (speaker) we're ignoring
            var capLine = captionMatch[2].replace(rxMarkup, "");
            if (cueText)
                cueText += " " + capLine;
            else {
                cueText = capLine;
            }
        }
    }

    appendCurrentCaption();

    SortAndDisplayCaptionList();
}

</script>
{% endblock more_script %}