<!-- HTML for completion main page. -->
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block page_title %}{% trans 'Completion video' %} "{{video.title}}"{% endblock page_title %}
{% block page_extra_head %}
	<!-- media -->
	<link rel="stylesheet" href="{% static 'css/filepicker.overlay.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/completion.css' %}"/>
	<script src="{% static 'js/jquery.tools.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/ajaxupload.js' %}"></script>
    <script src="{% static 'js/jquery.filepicker.js' %}"></script>
	<script src="{% static 'js/completion.js' %}"></script>
{% endblock page_extra_head %}
{% block content %}
	<article id="page-video" class="container" role="main" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
		<main role="main" class="mt-3">
			<nav aria-label="breadcrumb" class="breadcrumb d-flex justify-content-between p-0">
				<ol class="breadcrumb p-1 pl-4 mb-0">
					{% block breadcrumbs %}
						{{block.super}}
						<li class="active">&nbsp;{% trans 'Completion video' %} "{{video.title}}"</li>
					{% endblock breadcrumbs %}
				</ol>
				<div class="p-0">
		            <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseAside" role="button" aria-expanded="false" aria-controls="collapseAside">
		            	<svg height="32" class="octicon octicon-grabber" viewBox="0 0 8 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 4v1H0V4h8zM0 8h8V7H0v1zm0 3h8v-1H0v1z"></path></svg>
		            </a>
		        </div>
			</nav>
			<div class="row" id="info-video">
				<div id="accordeon" class="col-sm-9">
					<li>
						<a id="section_contributor" href="#" title="{% trans 'Display &quot;Contributor(s)&quot; section' %}" class="title">
							{% trans 'Contributor(s)' %}&nbsp;<span class="glyphicon glyphicon-chevron down"></span>
						</a>
					</li>
					<li class="contenuTitre">
						<span id="list_contributor">
							{% include 'contributor/list_contributor.html' %}
						</span>
						&nbsp;
						<span id="form_contributor">
							{% if form_contributor %}
								{% include 'contributor/form_contributor.html' with form_contributor=form_contributor %}
							{% endif %}
						</span>
						<form class="form_new" id="form_new_contributor" action="{% url 'video_completion_contributor' slug=video.slug %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="action" value="new"/>
							<input type="submit" value="{% trans 'Add a new contributor' %}" class="new_contributor btn btn-info"/>
						</form>
					</li>
					&nbsp;
					{% if request.user.is_staff %}
						<li>
							<a id="section_track" href="#" title="{% trans 'Display &quot;Subtitle(s) and Caption(s) &quot; section' %}" class="title">
								{% trans 'Subtitle(s) and Caption(s)' %}&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
						</li>
						<li class="contenuTitre">
							<span id="list_track">
								{% include 'track/list_track.html' %}
							</span>
							&nbsp;
							<span id="form_track">
								{% if form_track %}
									{% include 'track/form_track.html' with form_track=form_track %}
								{% endif %}
							</span>
							<form class="form_new" id="form_new_track" action="{% url 'video_completion_track' slug=video.slug %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="action" value="new"/>
								<input type="submit" value="{% trans 'Add a new subtitle or caption file' %}" class="new_track btn btn-info"/>
							</form>
						</li>
						&nbsp;
						<li>
							<a id="section_document" href="#" title="{% trans 'Display &quot; Additional resource(s)&quot; section' %}" class="title">
								{% trans 'Additional resource(s)' %}&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
						</li>
						<li class="contenuTitre">
							<span id="list_document">
								{% include 'document/list_document.html' %}
							</span>
							&nbsp;
							<span id="form_document">
								{% if form_document %}
									{% include 'document/form_document.html' with form_document=form_document %}
								{% endif %}
							</span>
							<form class="form_new" id="form_new_document" action="{% url 'video_completion_document' slug=video.slug %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="action" value="new"/>
								<input type="submit" value="{% trans 'Add a new additional resource' %}" class="new_document btn btn-info"/>
							</form>
						</li>
						&nbsp;
						<li>
							<a id="section_overlay" href="#" title="{% trans 'Display &quot; Overlay(s)&quot; section' %}" class="title">
								{% trans 'Overlay(s)' %}&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
						</li>
						<li class="contenuTitre">
							<span id="list_overlay">
								{% include 'overlay/list_overlay.html' %}
							</span>
							&nbsp;
							<span id="form_overlay">
								{% if form_overlay %}
									{% include 'overlay/form_overlay.html' with form_overlay=form_overlay %}
								{% endif %}
							</span>
							<form class="form_new" id="form_new_overlay" action="{% url 'video_completion_overlay' slug=video.slug %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="action" value="new"/>
								<input type="submit" value="{% trans 'Add a new overlay' %}" class="new_overlay btn btn-info"/>
							</form>
						</li>
						&nbsp;
					{% endif %}
				</div>
				<aside class="collapse col-12 col-md-3 order-1 order-md-12 mb-3" id="collapseAside">
					<h4>
						<span>{% trans 'Important' %}</span>
					</h4>
					<p>{% trans 'Here you can consult the description of the different types of completion.' %}</p>
					<p>{% trans 'Open a completion form to see its description.' %}</p>
					<div id="contributor-info" class="card info-card">
						<div class="card bg-info text-white">
							<h4 class="card-title">{% trans 'Contributor(s)' %}</h4>
						</div>
						<div class="card-body">
							<p>{% trans 'List of people related to this video.' %}</p>
							<p>{% trans 'A contributor must at least have a name and a role. You can also join the email of this contributor as well as a link (professional website for example).' %}</p>
						</div>
					</div>
					&nbsp;
					<div id="track-info" class="card info-card">
						<div class="card bg-info text-white">
							<h4 class="card-title">{% trans 'Subtitle(s) and Caption(s)' %}</h4>
						</div>
						<div class="card-body">
							<p>{% trans 'Subtitle(s) and/or captions(s) related to this video.' %}</p>
							<p>{% trans 'Several web sites allows you to subtitle or caption videos (for example: Amara)' %}</p>
							<p>{% trans 'You can add several subtitle or caption files to a signle video (for example, in order to subtitle or caption this video in several languages' %}</p>
							<p>{% trans 'Subtitles and/or caption(s) files must be in ".vtt" format.' %}</p>
							<p>{% trans 'You will need the URL of this video to make subtitles and/or captions. This URL is a direct access to this video. Please do not communicate it outside of this site to avoid any misuse.' %}</p>
							<input type="text" value="http://futurelink/" readonly/>
						</div>
					</div>
					&nbsp;
					<div id="document-info" class="card info-card">
						<div class="card bg-info text-white">
							<h4 class="card-title">{% trans 'Additional resource(s)' %}</h4>
						</div>
						<div class="card-body">
							<p>{% trans 'Document(s) related to this video. These documents will be downloadable by users.' %}</p>
							<p>{% trans 'Be careful, not to be confused with enrichment. These documents are attached to the video, not integrated.' %}</p>
						</div>
					</div>
					&nbsp;
					<div id="overlay-info" class="card info-card">
						<div class="card bg-info text-white">
							<h4 class="card-title">{% trans 'Overlay(s)' %}</h4>
						</div>
						<div class="card-body">
							<p>{% trans 'Overlay allows you to display text (with ou without html tag) over the video at specific times and positions.' %}</p>
							<p>{% trans 'You can add a solid background or a transparent background to the text you want to display with the option "Show background"' %}</p>
						</div>
					</div>
				</aside>
			</div>
		</main>
	</article>
{% endblock content %}
