.vjs-slides {
	display: block;
}
.video-slides {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
}
.video-slides li {
	display: none;
	position: absolute;
	left: 50%;
	top: 25%;
	-webkit-user-select: none;
}
.video-slides li div {
	background-color: #fff;
	color: #000;
}
.video-slides li img {
	max-width: 100%;
}
.pip-slide {
	left: 80% !important;
	top: 0 !important;
}
.pip-slide img {
	height: 10%;
}
.full-slide {
	position: relative !important;
	left: 0 !important;
	top: 0 !important;
}
.full-slide img {
	height: 100%;
	width: 100%;
	padding-right: 5%;
}
.vjs-chapbar {
	color: red;
	top: -0.5rem;
	height: 100%;
	position: relative;
	background: rgba(100, 100, 100, 0.5);
}
.vjs-chapbar-holder {
	height: 100%;
}
.vjs-chapbar-chap {
	height: 100%;
	float: left;
	width: 100%;
	left: 0;
	right: 0;
	position: absolute;
	background-color: #ffe800;
}
.video_back {
	margin-left: 55%;
}