/**
 * Esup-Pod videojs-slides styles
 */

/* Main */
.vjs-poster {
  z-index: 2;
}

.vjs-wavesurfer.vjs-fluid wave.vjs-wavedisplay {
  z-index: 0;
}

.vjs-slides {
  display: block;
}

.video-slides {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 0;
  z-index: 1;
}

.video-slides > li {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  /* background-attachment: fixed; */
  display: none;
  position: absolute;
  left: 50%;
  top: 15%;
  bottom: 15%;
  width: 50%;
  padding: 0;
  border-right: 8px solid transparent;

  /* Make margin for contain background-attachment */

  /* padding-bottom: 35px; */

  /* Works but maybe not usable because plyer menu is hidden duriong playing */
}

.video-slides > li > div {
  height: 100%;
  background-color: var(--bs-light);
  color: var(--pod-font-color);
  padding: 1em;
}

.video-slides > li > .slide_embed {
  overflow: auto;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-slides > li > img {
  max-width: 100%;
  -webkit-user-select: none;
}

/* Normal screen size */

/********* Default *********/
.vjs-tech {
  width: 50% !important;
  height: 100%;
}

.video-js .vjs-tech {
  padding: 0 10px;
}

/********* To edit *********/
.vjs-tech.to-edit {
  width: 100% !important;
}

/********* Pip slide -> pip-slide *********/
.vjs-tech.pip-slide {
  width: 80% !important;
  height: 100%;
}

.video-slides li.pip-slide {
  left: 80% !important;
  top: 35% !important;
  bottom: 35% !important;
  width: 20%;
}

/*
.pip-slide img {
  height: 30% !important;
}
.pip-slide div {
  height: 50% !important;
}
*/
.video-slides li.pip-slide embed {
  position: absolute;
  right: 0;
  width: 150%;

  /* height: 50%; */
}

/********* Pip video -> big-slides *********/
.vjs-tech.big-slide {
  width: 20% !important;
  height: 100%;
}

.video-slides li.big-slide {
  position: relative !important;
  width: 80%;
  left: 20% !important;
  top: 0 !important;
  bottom: 0 !important;
}

.video-slides li.big-slide img {
  height: 100%;
  width: 100%;

  /* padding-right: 5%; */
}

.video-slides li.big-slide embed {
  position: absolute;
  height: 100%;
  width: 90%;
  left: 25px;
}

/********* Video off -> full-slide *********/
.vjs-tech.full-slide {
  display: none;
}

.video-slides li.full-slide {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.video-slides li.full-slide img {
  height: 100%;
  width: 100%;
}

.video-slides li.full-slide embed {
  position: absolute;
  height: 100%;
  width: 90%;
  left: 25px;
}

/********* Slide off -> no-slide *********/
.vjs-tech.no-slide {
  width: 100% !important;
  height: 100%;
  z-index: 1;
}

.video-slides li.no-slide {
  z-index: -1;
}

.vjs-text-track-display {
  z-index: 1;
}

/* Fullscreen */

/*
.vjs-fullscreen .video-slides img,
.vjs-fullscreen .video-slides embed {
  width: 100%;
  height: 100%;
}
.vjs-fullscreen li.pip-slide embed {
  width: 150%;
  height: 50%;
}
.vjs-fullscreen li.big-slide img {
  height: 100%;
  width: 100%;
}
.vjs-fullscreen li.big-slide embed {
  position: absolute;
  height: 100%;
  width: 90%;
  left: 50px;
}
.vjs-fullscreen li.full-slide img {
  height: 100%;
  width: 100%;
}
.vjs-fullscreen li.full-slide embed {
  position: absolute;
  height: 100%;
  width: 90%;
  left: 50px;
}
*/

/* Slide bar */
.vjs-chapbar {
  color: red;
  top: -0.5rem;
  height: 100%;
  position: relative;
  background: rgb(100 100 100 / 50%);
}

.vjs-chapbar-holder {
  height: 100%;
}

.vjs-chapbar-chap {
  height: 100%;
  float: left;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #ffe800;
}

.vjs-big-play-button {
  z-index: 2;
}

.vjs-control-bar {
  z-index: 3;
}

/* Enrich types colors */
.enrich_image {
  color: var(--bs-purple);
}

.enrich_document {
  color: var(--bs-orange);
}

.enrich_richtext {
  color: var(--bs-blue);
}

.enrich_weblink {
  color: var(--bs-red);
}

.enrich_embed {
  color: var(--bs-green);
}

li[class^="enrich_"] {
  line-height: 1.2em;
}

li[class^="enrich_"]::marker {
  font-size: 1.5em;
}
