{% load static %}
<script src="{% static 'xapi/script.js' %}?ver={{VERSION}}"></script>
<script>
    const endpoint = "{% url "xapi:statement" app="video" %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const session_id = create_UUID();
    let registration, timestamp = "";

    const object = {
        "definition": {
            "type": "https://w3id.org/xapi/video/activity-type/video",
            "name": {
                "{{video.main_lang}}": "{{video.slug|addslashes}}"
            },
            "description": {
                "{{video.main_lang}}": "{{video.description|addslashes}}"
            }
        },
        "id": "{% if request.is_secure %}https:{% else %}http:{% endif %}{{video.get_full_url}}",
        "objectType": "Activity"
    }

    let result = {}

    let context = {}

    const __XAPI_VIDEO_VERBS__ = {
        "initialized": "http://adlnet.gov/expapi/verbs/initialized",
        "played": "https://w3id.org/xapi/video/verbs/played",
        "paused": "https://w3id.org/xapi/video/verbs/paused",
        "seeked": "https://w3id.org/xapi/video/verbs/seeked",
        "interacted": "http://adlnet.gov/expapi/verbs/interacted",
        "completed": "http://adlnet.gov/expapi/verbs/completed",
        "terminated": "http://adlnet.gov/expapi/verbs/terminated",
    }

    const __XAPI_VIDEO_CONTEXT_EXTENSIONS__ = {
        "session-id": "https://w3id.org/xapi/video/extensions/session-id",
        "cc-subtitle-enabled": "https://w3id.org/xapi/video/extensions/cc-subtitle-enabled",
        "cc-subtitle-lang": "https://w3id.org/xapi/video/extensions/cc-subtitle-lang",
        "frame-rate": "https://w3id.org/xapi/video/extensions/frame-rate",
        "full-screen": "https://w3id.org/xapi/video/extensions/full-screen",
        "quality": "https://w3id.org/xapi/video/extensions/quality",
        "screen-size": "https://w3id.org/xapi/video/extensions/screen-size",
        "video-playback-size": "https://w3id.org/xapi/video/extensions/video-playback-size",
        "speed": "https://w3id.org/xapi/video/extensions/speed",
        "track": "https://w3id.org/xapi/video/extensions/track",
        "user-agent": "https://w3id.org/xapi/video/extensions/user-age",
        "volume": "https://w3id.org/xapi/video/extensions/volume",
        "length": "https://w3id.org/xapi/video/extensions/length",
        "completion-threshold": "https://w3id.org/xapi/video/extensions/completion-threshold"
    }

    const __XAPI_VIDEO_RESULT_EXTENSIONS__ = { // score, completion (only for completed statement), duration
        "time": "https://w3id.org/xapi/video/extensions/time",
        "time-from": "https://w3id.org/xapi/video/extensions/time-from",
        "time-to": "https://w3id.org/xapi/video/extensions/time-to",
        "progress": "https://w3id.org/xapi/video/extensions/progress",
        "played-segments": "https://w3id.org/xapi/video/extensions/played-segments"
    }
    
    player.on('play', function() {
        verb = "played"
        result = {
            "extensions": {
                "https://w3id.org/xapi/video/extensions/time": player.currentTime()
            }
        }
        if(registration == "") registration = create_UUID();
        context= {
            "extensions": {
                "https://w3id.org/xapi/video/extensions/session-id": session_id,
                "https://w3id.org/xapi/video/extensions/length": player.duration
            },
            "registration": registration
        }
        timestamp = new Date().toISOString();
        stmt = createStatement();
        sendStatement(stmt);
    });
    player.on('pause', function() {
        
    });
    player.on("seeked", function (e) {
        
    });
    player.on("ended", function (e) {
        
    });
    player.on("ratechange", function (e) {
        
    });
    player.on("fullscreenchange", function (e) {
        
    });
    player.on("error", function (e) {
        
    });
    player.on("loadedmetadata", function (e) {
        context["extensions"] = {
            "https://w3id.org/xapi/video/extensions/session-id": session_id,
            "https://w3id.org/xapi/video/extensions/length": player.duration
        };
        if(registration == "") registration = create_UUID();
        context["registration"] = registration;
    });

</script>