{% load i18n %}
{% spaceless %}

<div class="card-bbb card  box-shadow pod-card--bbb">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center" style="min-height: 2.4rem;">
            <small class="text-muted time">{{record.meeting_name}} ({{ record.session_date }})</small>
        </div>
    </div>
	<div class="card-body py-4">
		<div class="d-flex align-items-center">
			<a class="previewBtn link-center-pod" href="" title="{% trans 'BigBlueButton presentation preview' %}" data-bs-toggle="modal"  data-recid="{{record.recording_url}}" data-bs-target="#previewModal">
				<img class="card-img-top" src="{{record.thumbnail_url}}" alt="{% trans 'BigBlueButton presentation preview' %}" loading="lazy">
			</a>
		</div>
		<footer class="card-footer p-0 m-1">
			{% if record.encoding_step == 0 %}
				<a href="{% url 'bbb:publish_meeting' id=record.id %}" title="{% trans 'Publish the BigBlueButton presentation on this platform' %}" class="p-0 m-0 btn btn-primary btn-sm ps-1">
					{% trans "Publish this presentation"%}
				</a>
			{% endif %}
			{% if record.encoding_step == 1 %}
				<small class="form-text text-muted">{% trans "Waiting for encoding"%}</small>
			{% endif %}
			{% if record.encoding_step == 2 %}
				<small class="form-text text-muted">{% trans "Encoding in progress"%}</small>
			{% endif %}
			{% if record.encoding_step == 3 %}
				<small class="form-text text-muted">
					{% trans "Already published"%}
					{% if request.user != record.encoded_by %}
						{% trans "by"%} {{ record.encoded_by.first_name }} {{ record.encoded_by.last_name }} ({{ record.encoded_by.email }})
					{% endif %}
				</small>
			{% endif %}
		</footer>

	</div>
</div>
{% endspaceless %}