{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}
  <link rel="stylesheet" href="{% static 'css/bbb.css' %}?ver={{VERSION}}">
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
{% endblock %}

{% block page_content %}
  {% if records.paginator.count == 0 %}
    <h2 class="h3">{% trans "No BigBlueButton session in progress found"%}</h2>
  {% else %}
    <h2 class="h3">{% blocktrans count counter=records.paginator.count %}{{ counter }} BigBlueButton session in progress found{% plural %}{{ counter }} BigBlueButton sessions in progress found{% endblocktrans %}</h2>
  {% endif %}
  <p>
    {% trans "This is the list of current BigBlueButton sessions for which you are moderator. This module allows you to make a live stream from this BigBlueButton session (<em>useful if there are more than 100 users</em>)." %}
    <strong>{% trans "Remember to not use breakout rooms in this case and end the meeting once it is over." %}</strong>
  </p><p>
    {% blocktrans %}Shortly after clicking the “Perform a BigBlueButton live” button, and select the desired options, the live stream will be available to users on the <i class="bi bi-broadcast" aria-hidden="true"></i> <strong>Lives</strong> page.{% endblocktrans %}
  </p>

  {% if records.paginator.count == 0 %}
    <p class="alert alert-info" role="alert">{% trans 'There are no BigBlueButton sessions in progress.'%}</p>
  {% else %}
    {% include "bbb/live_record_list.html" %}
  {% endif %}

  <p class="form-text"><em>{% trans "Please note: this page refreshes automatically every 30 seconds." %}</em></p>
{% endblock page_content %}

{% block collapse_page_aside %}{% endblock collapse_page_aside %}
{% block page_aside %}{% endblock page_aside %}

{% block more_script %}
  <script>window.setInterval("location.reload(true)",30000);</script>
  <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}?ver={{VERSION}}"></script>
  <script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}?ver={{VERSION}}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
      $('footer.static-pod').addClass('small');
      $('footer.static-pod').addClass('fixed-bottom');
      $('footer.static-pod').attr('style','height:80px; overflow-y:auto');
      $('footer.static-pod .hidden-pod').css('display','none');
      $(window).scroll(function () {
        if ($(window).height() + $(window).scrollTop() == $(document).height())
        {
           $('footer.static-pod .hidden-pod').css('display','block');
           $('footer.static-pod').attr('style','height:auto;');
           $('footer.static-pod').removeClass('fixed-bottom');
        }
      });
    }
  });
</script>
{% endblock more_script %}
