{% load i18n %}
{% spaceless %}

<div class="card-bbb-live card box-shadow pod-card--bbb">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center" style="min-height: 2.4rem;">
      <small class="text-muted time">{{record.meeting_name}} ({{ record.session_date }})</small>
    </div>
  </div>
  <div class="card-body py-4">
    <div class="d-flex align-items-center">
      {% if not record.live %}
        <span style="width: 100%; height:96px;">
          <br/>
          {% if not max_limit_reached %}
            <a href="{% url 'bbb:live_publish_meeting' id=record.id %}" class="p-0 m-0 btn btn-primary btn-sm ps-1">
              {% trans "Perform a BigBlueButton live"%}
            </a>
          {% else %}

            <i class="bi bi-exclamation-triangle" style="color: Darkred;"></i> {% trans "Impossible to perform a BigBlueButton live for the moment (all resources are busy)"%}>
          {% endif %}
        </span>
      {% else %}
        {% if record.live.status == 0 %}
          <i class="bi bi-arrow-clockwise" style="width: 100%; height:96px;"></i>
        {% endif %}
        {% if record.live.status == 1 %}
          <i class="bi bi-play-circle" style="width: 100%; height:96px;"></i>
        {% endif %}
        {% if record.live.status == 2 %}
          <i class="bi bi-stop-circle" style="width: 100%; height:96px;"></i>
        {% endif %}
      {% endif %}
    </div>
    <footer class="card-footer p-0 m-1">
      {% if not record.live %}
        <small class="form-text text-muted">{% trans "Live not published"%}</small>
      {% else %}
        {% if record.live.status == 0 %}
          <small class="form-text text-muted">{% trans "Live not already started"%}</small>
        {% endif %}
        {% if record.live.status == 1 %}
          <small class="form-text text-muted">{% trans "Live in progress"%}</small>
        {% endif %}
        {% if record.live.status == 2 %}
          <small class="form-text text-muted">{% trans "Live stopped"%}</small>
        {% endif %}
      {% endif %}
    </footer>
  </div>
</div>
{% endspaceless %}
