{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_extra_head %}
  <link rel="stylesheet" href="{% static 'css/bbb.css' %}?ver={{VERSION}}"/>
  <script>
    window.setInterval("location.reload(true)",30000);
  </script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">{% trans 'Perform a BigBlueButton live' %}</li>
{% endblock %}

{% block page_title %}
  {% trans 'Perform a BigBlueButton live' %}
{% endblock %}

{% block page_content %}
  <h3>{% trans "Perform a BigBlueButton live" %}</h3>
  {% if records.paginator.count == 0 %}
    <h4>{% trans "No BigBlueButton session in progress found"%}</h4>
  {% else %}
    <h4>{% blocktrans count counter=records.paginator.count %}{{ counter }} BigBlueButton session in progress found{% plural %}{{ counter }} BigBlueButton sessions in progress found{% endblocktrans %}</h4>
  {% endif %}

  {% trans "This is the list of current BigBlueButton sessions for which you are moderator. This module allows you to make a live stream from this BigBlueButton session (<i>useful if there are more than 100 users</i>)." %}
  {% trans "<b>Remember to not use breakout rooms in this case and end the meeting once it is over.</b>" %}<br/>
  {% trans 'Shortly after clicking the "Perform a BigBlueButton live" button, and select the desired options, the live stream will be available to users on the <i class=\"bi bi-broadcast\"></i> <b>Lives</b> page.' %}<br/>
  <br/>

  {% if records.paginator.count == 0 %}
    <p class="alert alert-info">{% trans 'There are no BigBlueButton sessions in progress.'%}</p>
  {% else %}
    {% include "bbb/live_record_list.html" %}
  {% endif %}

  <small class="form-text text-muted"><i>{% trans "Please note: this page refreshes automatically every 30 seconds." %}</i></small>
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}?ver={{VERSION}}"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}?ver={{VERSION}}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
      $('footer.static-pod').addClass('small');
      $('footer.static-pod').addClass('fixed-bottom');
      $('footer.static-pod').attr('style','height:80px; overflow-y:auto');
      $('footer.static-pod .hidden-pod').css('display','none');
      $(window).scroll(function () {
        if ($(window).height() + $(window).scrollTop() == $(document).height())
        {
           $('footer.static-pod .hidden-pod').css('display','block');
           $('footer.static-pod').attr('style','height:auto;');
           $('footer.static-pod').removeClass('fixed-bottom');
        }
      });
    }
  });
</script>
{% endblock more_script %}
