[Unit]
Description=Pod uWSGI app __NAME__
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /usr/local/django_projects/podv3/pod/custom/tenants/__NAME__/pod_uwsgi___NAME__.ini \
        --enable-threads \
        --pidfile /tmp/pod___NAME__.pid
ExecStop=/usr/local/bin/uwsgi --stop /tmp/pod___NAME__.pid
User=pod
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
