{% extends "base.html" %}
{% load i18n static custom_tags %}
{% block page_extra_head %}

{% endblock %}

{% block page_title %}{% trans 'Authentication' %}{% endblock %}

{% block page_content %}
{% get_setting "HIDE_LOCAL_LOGIN" default=False as local_login %}

<h2>{% trans 'Authentication' %}</h2>

<div class="text-center">
  {% if USE_CAS %}
  <p><a class="btn btn-primary" href="{% url 'cas-login' %}?next={{ referrer|urlencode }}"  title="{% trans "Single sign on" %} {{TITLE_ETB}}">{% trans "Single sign on" %} {{TITLE_ETB}}</a></p>
  {% endif %}
  {% if USE_SHIB %}
    <p><a class="btn btn-primary" href="{{SHIB_URL }}?target={{ referrer|urlencode }}"  title="{{ SHIB_NAME }}">{{ SHIB_NAME}}</a></p>
  {% endif %}
  {% if not local_login %}
  <p><a class="btn btn-primary" href="{% url 'local-login'%}?{% if request.GET.is_iframe %}is_iframe=true&{%endif%}next={{ referrer|urlencode }}" title="">{% trans "local sign on" %}</a></p>
  {% endif %}
</div>

{% endblock %}
