/**
 * Esup-Pod Playlist styles
 */

a.link-for-playlist {
  text-decoration: none;
}

a.link-for-playlist:hover {
  text-decoration: underline;
}

.link-playlist {
  right: 1rem;
  border-radius: 0.375rem;
}

#playlist-modal {
  font-size: 1.7em;
  gap: 1rem;
}

#playlist-modal .playlist-title {
  text-decoration: none;
  color: var(--pod-font-color);
}

#playlist-modal .playlist-title:hover {
  text-decoration: underline;
}

.remove-video-from-playlist,
.add-video-from-playlist {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  color: var(--pod-background);
  width: 40px;
  height: 40px;
}

.remove-video-from-playlist {
  background-color: #cc3434;
}

.remove-video-from-playlist:hover {
  background-color: #aa3434;
  color: var(--pod-background);
}

.add-video-from-playlist {
  background-color: rgb(45 168 45);
}

.add-video-from-playlist:hover {
  background-color: rgb(35 133 35);
  color: var(--pod-background);
}

.shake-effect {
  animation: shake 2.3s ease-in-out;
  animation-iteration-count: infinite;
  cursor: grab;
}

.shake-effect .badge {
  opacity: 1;
  display: block;
}

.shake-effect-active {
  cursor: grabbing;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

.no-click {
  pointer-events: none;
}

#sortForm.no-click,
#collapse-button.no-click {
  opacity: 0;
  transition: opacity 0.9s ease;
}

.card-hidden {
  display: none;
}

.card-footer,
.draggable-container .badge {
  transition: opacity 0.9s ease;
}

.shake-effect .card-footer,
.draggable-container .badge {
  opacity: 0;
}

.dropzone-hover {
  border: 0.2rem solid #1f7c85;
}

p.playlist-last-updated {
  font-style: italic;
}

.grayscale-image {
  filter: grayscale(100%);
}

.lock-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}

.scroll-container {
  height: 40rem;
  overflow: auto;
}

a.player-element,
a.player-element:hover {
  color: inherit;
  text-decoration: none;
  border: var(--bs-border-width) solid var(--color-alto) !important;
}

a.player-element.selected {
  background-color: #d1d1d1;
}

a.player-element:not(.disabled):hover {
  background-color: #f1f1f1;
  border: var(--bs-border-width) solid var(--pod-primary) !important;
}

a.player-element:not(.disabled).selected:hover {
  background-color: #bebebe;
}

.promoted-icon {
  color: var(--pod-primary);
}
