{# HTML for playlist element list. Don't use this file alone it must be integrated into another template! #}
{% load i18n %}
<div overflow: auto>
	<table class="table table-sm scroll" id="table_list_videos">
		<caption class="h3" style="caption-side:top">{% trans 'List of videos' %}&nbsp;({{list_videos|length}})</caption>
		<thead>
			<tr>
				<th scope="col">{% trans 'Thumbnail' %}</th>
				<th scope="col">{% trans 'Title' %}</th>
				<th scope="col">{% trans 'Owner' %}</th>
				<th scope="col">{% trans 'Duration' %}</th>
				<th scope="col">{% trans 'Position' %}</th>
				<th scope="col">{% trans 'Actions' %}</th>
			</tr>
		</thead>
		<tbody>
			{% for element in list_videos %}
				<tr class="video">
					<td class="video_thumbnail">
						<a href="{% url 'video:video' slug=element.video.slug %}">
							<img class="img-thumbnail" src="{{element.video.get_thumbnail_url}}" alt="{% trans 'Video thumbnail' %}" width="100" height="50" loading="lazy">
						</a>
					</td>
					<td class="video-title" data-slug="{{element.video.slug}}">{{element.video.title}}</td>
					<td class="video-owner">{{element.video.owner.username}}</td>
					<td class="video-duration">{{element.video.duration_in_time}}</td>
					<td class="video-position">{{element.position}}</td>
					<td>
						<button class="btn btn-sm btn-link position-up" title="{%trans 'Move up'%}">
							<i class="bi bi-arrow-up-circle"></i>
						</button>
						<button class="btn btn-sm btn-link position-down" title="{%trans 'Move down'%}">
							<i class="bi bi-arrow-down-circle"></i>
						</button>
						<button class="btn btn-sm btn-danger position-delete">{% trans 'Remove' %}</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-center">
		<button id="save-position" type="submit" class="btn btn-primary">{% trans "Save position" %}</button>
	</div>
</div>