<!-- HTML for playlist element list. Don't use this file alone it must be integrated into another template ! -->
{% load i18n %}
<div overflow: auto>
	<div class="panel-heading">
		<h4 class="card-title">{% trans 'List of videos' %}&nbsp;({{list_videos|length}})</h3>
	</div>
	<table class="table table-sm scroll" id="table_list_videos">
		<thead>
			<tr>
				<th>{% trans 'Thumbnail' %}</th>
				<th>{% trans 'Title' %}</th>
				<th>{% trans 'Owner' %}</th>
				<th>{% trans 'Duration' %}</th>
				<th>{% trans 'Position' %}</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for element in list_videos %}
				<tr class="video">
					<td class="video_thumbnail">
						<a href="{% url 'video' slug=element.video.slug %}">
							<img class="img-thumbnail" src="{{element.video.get_thumbnail_url}}" alt="{% trans 'Video thumbnail' %}" width="100" height="50">
						</a>
					</td>
					<td class="video-title" data-slug="{{element.video.slug}}">{{element.video.title}}</td>
					<td class="video-owner">{{element.video.owner.username}}</td>
					<td class="video-duration">{{element.video.duration_in_time}}</td>
					<td class="video-position">{{element.position}}</td>
					<td>
						<button class="btn btn-sm position-up">
							<svg height="32" class="octicon octicon-arrow-small-up" viewBox="0 0 6 16" version="1.1" width="12" aria-hidden="true"><path fill-rule="evenodd" d="M3 5L0 9h2v2h2V9h2L3 5z"></path></svg>
						</button>
						<button class="btn btn-sm position-down">
							<svg height="32" class="octicon octicon-arrow-small-down" viewBox="0 0 6 16" version="1.1" width="12" aria-hidden="true"><path fill-rule="evenodd" d="M4 7V5H2v2H0l3 4 3-4H4z"></path></svg>
						</button>
					</td>
					<td>
						<button class="btn btn-sm btn-danger position-delete">{% trans 'Remove' %}</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	 <div class="text-center">
        <button id="save-position" type="submit" class="btn btn-primary">{% trans "Save position" %}</button>
	</div>
</div>