{# HTML for playlist list. Don't use this file alone it must be integrated into another template! #}
{% load i18n static %}

{% if is_iframe %}
<div class="card" id="card-playlist">
  <div class="iframe-header card-title pod-card__title bg-dark text-white">
  <h2> <i class="bi bi-play-circle"></i>&nbsp;<span>{{ playlist.title }}</span> <small>(&nbsp;{{ playlist.videos|length }}&nbsp;{% trans 'Video' %}{% if playlist.videos|length > 1 %}s{% endif %}&nbsp;)</small></h2>
  <button type="button" class="close playlist hidden" aria-label="Close">
        <span aria-hidden="true">×</span>
  </button>
  {% include 'playlist/player_controls.html' %}
  </div>
{% else %}
<div class="card" id="card-playlist">
  <h2 class="card-header card-title pod-card__title h4"><i class="bi bi-play-circle"></i>&nbsp;<span>{% trans 'Playlist' %}</span> <small>(&nbsp;{{ playlist.videos|length }}&nbsp;{% trans 'Video' %}{% if playlist.videos|length > 1 %}s{% endif %}&nbsp;)</small>
  {% include 'playlist/player_controls.html' %}
  </h2>
{% endif %}
  <div class="card-body playlist-videos">
    <div class="row">
      {% with pllength=playlist.videos|length %}
      {% for pvideo in playlist.videos %}
      <div class="card-group{% if pvideo.id == video.id %} on{% endif %}">
        {% include 'playlist/playlist_video_card.html' with video=pvideo playlist=playlist position=forloop.counter %}
      </div>
      {% endfor %}
      {% endwith %}
    </div>
  </div>
</div>

<script type="text/JavaScript">
  {% if request.GET.is_iframe and request.GET.is_iframe == 'true' %}
  const formctn = $('body')
      , vtitleselector = '.playlist-video-title'
      , is_iframe = true
  {% else %}
  const formctn = $('#mainContent')
      , vtitleselector = '.playlist-video-title'
      , is_iframe = false
  {% endif %}
  $(window).ready(function() {
    const length = parseInt({{playlist.videos|length}});
    const current_position = parseInt($('.playlist-videos div.row .on').index()) + 1;
    PlaylistPlayer.init({
      length: length,
      is_iframe: is_iframe,
      formctn: formctn,
      vtitlectns: $(vtitleselector),
      current_position: parseInt($('.playlist-videos div.row .on').index()) + 1,
      elements: $('.playlist-videos div.row .video-card'),
      baseurl: '{% if request.is_secure %}https://{%else%}http://{% endif %}{{request.get_host}}',
      slug: '{{ playlist.slug }}',
      controls: {loop:$('#pl_loop')[0],auto:$('#pl_auto')[0]},
      head_files: {
        overlay: {
          js:'{% static 'js/videojs-overlay.js' %}?ver={{VERSION}}',
          css: '{% static 'css/videojs-overlay.css' %}?ver={{VERSION}}'},
        enrichment: {
          js: '{% static 'js/videojs-slides.js' %}?ver={{VERSION}}',
          css: '{% static 'css/videojs-slides.css' %}?ver={{VERSION}}'},
        overview: {
          js: '{% static 'videojs-vtt-thumbnails/dist/videojs-vtt-thumbnails.min.js' %}?ver={{VERSION}}',
          css: '{% static 'videojs-vtt-thumbnails/dist/videojs-vtt-thumbnails.css' %}?ver={{VERSION}}'},
        chapter: {
          js:'{% static 'js/videojs-chapters.js' %}?ver={{VERSION}}',
          css: '{% static 'css/videojs-chapters.css' %}?ver={{VERSION}}'},
        vr360: {
          js:'{% static 'videojs-vr/videojs-vr.js' %}?ver={{VERSION}}',
          css: '{% static 'videojs-vr/videojs-vr.css' %}?ver={{VERSION}}'},
      },
      strings:{invalid_feedback_value:'{% trans "Please provide a valid value for this field" %}'
              ,invalid_feedback_password:'{% trans "The password is incorrect." %}'}
    })
  });
</script>
