{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block opengraph %}
{% endblock %}

{% block page_extra_head %}
<link rel="stylesheet" href="{% static 'css/favorites-list.css' %}?ver={{VERSION}}">
{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My playlists" %}</li>{% endblock %}

{% block page_content %}
  <div class="row videos-list-header">
    <h2 class="page_title col-xxl-4 mb-2">{% trans "My playlists" %}</h2>
    {% comment "" %}TODO Ajouter un if count playlist = 0 ...{% endcomment %}
  </div>
  {% include "favorite/favorite_video_list.html" %}
{% endblock page_content %}

{% block page_aside %}
{% endblock page_aside %}


{% block more_script %}
{% endblock more_script %}
