{# HTML for playlist controls. Don't use this file alone, it must be integrated into another template! #}
{% load i18n static %}
<div class="card-controls">
  <a id="pl_loop" class="playlist-options btn btn-outline-primary"
     title="{% trans 'Repeat the playlist' %}"
     role="switch">
    <i class="bi bi-arrow-repeat" aria-hidden="true"></i>
  </a>
  <a id="pl_auto" class="playlist-options btn btn-outline-primary"
     title="{% trans 'Switch to next video automatically' %}"
     role="switch">
    <i class="bi bi-arrow-bar-right" aria-hidden="true"></i>
  </a>
</div>
