{% load i18n %}
{% spaceless %}
<div class="playlist-video-card">
    <h2 class="playlist-card-title">{{ video.title }}</h2>
    <div class="playlist-card-content">
        <div class="d-flex flex-row align-items-center gap-3">
            <a href="">
                <i class="bi bi-play-fill"></i>
            </a>
            {{ video.get_thumbnail_card|safe }}
            <div class="d-flex flex-column align-items-center">
                <p>{{ video.owner }}</p>
                <p> - </p>
                <p><small class="text-muted time">{{video.duration_in_time}}</small></p>
            </div>
        </div>

        <p>{{ video.description|truncatechars:255 }}</p>

        <div class="playlist-card-buttons">
            <a href="">
                <i class="bi bi-trash-fill"></i>
            </a>
        </div>
    </div>
</div>
 {% endspaceless %}
