{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block opengraph %}
{% endblock %}

{% block page_title %}{{page_title|striptags|capfirst}}{% endblock %}

{% block page_extra_head %}
<link rel="stylesheet" href="{% static 'css/playlist.css' %}?ver={{VERSION}}">
{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }} <li class="breadcrumb-item active" aria-current="page">{% trans "My playlists" %}</li>{% endblock %}

{% block page_content %}
  <div class="tabs">
    <ul class="tabs-menu" role="tablist">
      <li id="is-active" data-target="tab-my-playlists" role="tab">
        <a href="#my-playlists">{% trans "My playlists" %}</a>
      </li>
      <li data-target="tab-public-playlists" role="tab">
        <a href="#public-playlists">{% trans "Public playlists" %}</a>
      </li>
      <li data-target="tab-add-playlist" role="tab">
        <a href="#add-playlist">{% trans "Add playlist" %}</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" aria-labelledby="tab-my-playlists" role="tabpanel" id="tab-my-playlists">
    {% with my_playlists as playlists %}
      {% include "playlist/playlist_list.html" %}
    {% endwith %}
  </div>
  <div class="tab-content" aria-labelledby="tab-public-playlists" role="tabpanel" id="tab-public-playlists">
    {% with public_playlists as playlists %}
      {% include "playlist/playlist_list.html" %}
    {% endwith %}  </div>
  <div class="tab-content" aria-labelledby="tab-add-playlist" role="tabpanel" id="tab-add-playlist">
    {% with my_playlists as playlists %}
      {% include "playlist/playlist_list.html" %}
    {% endwith %}  </div>
{% endblock page_content %}

{% block page_aside %}
{% endblock page_aside %}


{% block more_script %}
  <script src="{% static 'js/tabs.js' %}?ver={{VERSION}}"></script>
{% endblock more_script %}
