{% load i18n l10n %}
{% load playlist_buttons %}
{% load favorites_playlist %}
{% spaceless %}
    {% user_can_edit_or_remove playlist as can_edit_or_remove %}
    <div class="card box-shadow pod-card--video meeting-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <a
                    class="link"
                    href="{% url 'playlist:content' playlist.slug %}"
                    title="{% if playlist.description %}{% get_playlist_description playlist %}{% else %}{% get_playlist_name playlist %}{% endif %}"
                    aria-label="{{ playlist.name }}"
                >
                    <small class="text-muted time">
                        {% get_playlist_name playlist as playlist_name %}
                        <b>{{ playlist_name|capfirst|truncatechars:20 }}</b>
                        <br>
                        {{ playlist.get_number_video }}
                        {% if playlist.get_number_video > 1 %}
                            {% trans "videos" %}
                        {% else %}
                            {% trans "video" %}
                        {% endif %}
                    </small>
                </a>
                {% include "playlist/playlist_visibility_icon.html" with playlist=playlist %}
            </div>
        </div>
        <div class="card-thumbnail">
            <a
                class="link-center-pod"
                href="{% url 'playlist:content' playlist.slug %}"
                title="{{ playlist.name }}"
                aria-label="{{ playlist.name }}"
            >
                {% if playlist.get_number_video > 0 %}
                    <span class="card-img-top">
                        <img class="card-img-top" src="{{ playlist.get_first_video.get_thumbnail_url }}" alt="{% trans "Playlist image" %}" loading="lazy">
                    </span>
                {% else %}
                    <img class="card-img-top" src="{{ DEFAULT_PLAYLIST_THUMBNAIL }}" alt="{% trans "Playlist image" %}" loading="lazy">
                {% endif %}
            </a>
        </div>
        <div class="card-body px-3 py-2">
            {% if can_edit_or_remove %}
                <footer class="card-footer card-footer-pod p-0 m-0 link-center-pod link-playlist">
                    {% include "playlist/playlist_link.html" %}
                </footer>
            {% endif %}
            {% include "playlist/button_start_playlist.html" %}
        </div>
    </div>
{% endspaceless %}
