<!-- HTML for playlist element list. Don't use this file alone it must be integrated into another template ! -->
{% load i18n %}
{% load staticfiles %}
<div overflow: auto>
	<div class="panel-heading">
		<h4 class="card-title">{% trans 'List of videos' %}&nbsp;({{list_videos|length}})</h3>
	</div>
	<table class="table table-sm scroll" id="table_list_videos">
		<thead>
			<tr>
				<th>{% trans 'Thumbnail' %}</th>
				<th>{% trans 'Title' %}</th>
				<th>{% trans 'Owner' %}</th>
				<th>{% trans 'Duration' %}</th>
				<th>{% trans 'Position' %}</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for element in list_videos %}
				<tr class="video">
					<td class="video_thumbnail">
						<a href="{% url 'video' slug=element.video.slug %}">
							<img class="img-thumbnail" src="{{element.video.get_thumbnail_url}}" alt="{% trans 'Video thumbnail' %}" width="100" height="50">
						</a>
					</td>
					<td class="video-title">{{element.video.title}}</td>
					<td class="video-owner">{{element.video.owner.username}}</td>
					<td class="video-duration">{{element.video.duration_in_time}}</td>
					<td class="video-position">
						<p class="current-position">{{element.position}}</p>
						<select class="select-position form-control">
							{% for other in list_videos %}
								{% if element.position == other.position %}
									<option value="{{other.position}}" selected>{{other.position}}</option>
								{% else %}
									<option value="{{other.position}}">{{other.position}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>
						
					</td>
					<td>
						
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	 <div class="text-center">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
	</div>
</div>
<link href="{% static 'css/playlist.css' %}" rel="stylesheet">
<script src="{% static 'js/playlist.js' %}"></script>