
:root {
  --bs-primary-rgb: 21, 129, 158;
  --bs-link-color-rgb: 21, 129, 158;
  --bs-link-color: #15819e;
  --bs-code-color: #BE3E84;
}

.btn-primary {
  --bs-btn-bg: #9C5514;
  --bs-btn-border-color: #9C5514;
  --bs-btn-hover-bg: #473321;
  --bs-btn-hover-border-color: #473321;
  --bs-btn-active-bg: #473321;
  --bs-btn-active-border-color: #9C5514;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #15819e;
}

[data-bs-theme="dark"] .btn-outline-primary {
  --bs-btn-color: #FFF;
  --bs-btn-border-color: #FFF;
  --bs-btn-hover-bg: #9C5514;
  --bs-btn-hover-border-color: #473321;
  --bs-btn-active-bg: #9C5514;
  --bs-btn-active-border-color: #473321;
  --bs-btn-disabled-color: #9C5514;
  --bs-btn-disabled-border-color: #473321;
}

blockquote {
  padding: .75rem 1.25rem;
  border-radius: calc(var(--bs-border-radius) - 1px);
  background-color: #FEFAFE;
  border-left: .25rem solid #a3864e;
}

.navbar {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

footer {
  border-top: 1px solid #ddd;
}

[data-bs-theme="dark"] {
  --bs-heading-color: var(--bs-body-color);
}

.main-grid {
  display: grid;
  grid-template: "intro   toc" auto / 4fr 1fr;
}

img {
  max-width: 100%;
}

.w-400 {
    width: 400px;
    height: auto;
}
