
:root {
  --bs-primary-rgb: 21,129,158;
}

.btn-primary{
  --bs-btn-bg: #9C5514;
  --bs-btn-border-color: #9C5514;
  --bs-btn-hover-bg: #473321;
  --bs-btn-hover-border-color: #473321;
  --bs-btn-active-bg: #473321;
  --bs-btn-active-border-color: #9C5514;
}

[data-bs-theme="dark"] .btn-outline-primary {
  --bs-btn-color: #FFF;
  --bs-btn-border-color: #FFF;
  --bs-btn-hover-bg: #9C5514;
  --bs-btn-hover-border-color: #473321;
  --bs-btn-active-bg: #9C5514;
  --bs-btn-active-border-color: #473321;
  --bs-btn-disabled-color: #9C5514;
  --bs-btn-disabled-border-color: #473321;
}

.navbar {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

footer {
  border-top: 1px solid #ddd;
}

[data-bs-theme="dark"] {
  --bs-heading-color: var(--bs-body-color);
}

.main-grid {
  display: grid;
  grid-template-areas: "intro   toc";
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
}
