---
---

@import "rouge";

.highlight {
  border-left: 3px solid var(--bs-gray-500);
}

pre.highlight{
  padding: 1rem;
}

.highlight .bp {
  color: #7B7070;
}

.highlight .mi {
  color: #237F7B;
}

.highlight .nv,
.highlight .na {
  color: #027F88
}

.highlight .nb {
  color: #0B7AAC;
}

/* Commentaires */
.highlight .c1 {
  color: #73736B;
}
.highlight .c,
.highlight .cd {
  color: #767453;
}
