<!-- HTML for chapter main page. -->
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block page_title %}{% trans 'Chapter video' %} "{{video.title}}" {% endblock page_title %}
{% block page_extra_head %}
	<!-- media -->
	<link href="{% static 'video-js-6.8.0/video-js.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/quality-selector.css' %}" rel="stylesheet">
	<link href="{% static 'css/chapters.css' %}" rel="stylesheet">
	<script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'video-js-6.8.0/ie8/videojs-ie8.min.js' %}"></script>
	<script src="{% static 'video-js-6.8.0/video.min.js' %}"></script>
	<script src="{% static 'js/silvermine-videojs-quality-selector.min.js' %}"></script>
	<script src="{% static 'js/videojs-http-streaming.min.js' %}"></script>
	<script src="{% static 'js/videojs-contrib-quality-levels.min.js' %}"></script>
	<script src="{% static 'js/videojs-hls-quality-selector.min.js' %}"></script>
	<script src="{% static 'video-js-6.8.0/lang/fr.js' %}"></script>
	<script src="{% static 'video-js-6.8.0/lang/nl.js' %}"></script>
    <script src="{% static 'js/chapters.js' %}"></script>
    {% if video.chapter_set.all %}
    	<link href="{% static 'css/videojs-chapters.css' %}" rel="stylesheet">
    	<script src="{% static 'js/videojs-chapters.js' %}"></script>
    {% endif %}
    <script>
		var video_duration = {{video.duration}}
	</script>
{% endblock page_extra_head %}
{% block content %}
	<article id="page-video" class="container" role="main" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
		<main role="main" class="mt-3">
			<nav aria-label="breadcrumb" class="breadcrumb d-flex justify-content-between p-0">
				<ol class="breadcrumb p-1 p1-4 mb-0">
					{% block breadcrumbs %}
						{{block.super}}
						<li class="active">&nbsp;{% trans 'Chapter video' %} "{{video.title}}"</li>
					{% endblock breadcrumbs %}
				</ol>
				<div class="p-0">
					<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseAside" role="button" aria-expanded="false" aria-controls="collapseAside">
						<svg height="32" class="octicon octicon-grabber" viewBox="0 0 8 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 4v1H0V4h8zM0 8h8V7H0v1zm0 3h8v-1H0v1z"></path></svg>
					</a>
				</div>
			</nav>
			<span id="chapter_player">
				<video id="podvideoplayer" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" height="360"
				poster="{{video.get_thumbnail_url}}" data-setup='{}'>
					<p class="vjs-no-js">
					  To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video>
				{% if video.chapter_set.all %}
					<div class="chapters-list inactive" role="menu">
						<h6>Chapters</h6>
						<ol id="chapters-list"></ol>
					</div>
					<ul id="chapters">
						{% for chapter in video.chapter_set.all %}
							<li data-start="{{chapter.time_start}}"
								data-id="{{chapter.id}}"
								data-title="{{chapter.title}}">
								{{chapter.title}}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</span>
			<hr/>
			<div class="row" id="info_video">
				<div class="col-sm-9">
					<div id="list_chapter">
						{% include 'chapter/list_chapter.html' %}
					</div>
					<div id="form_chapter">
						{% if form_chapter %}
							{% include 'chapter/form_chapter.html' with form_chapter=form_chapter %}
						{% endif %}
					</div>
					{% if not form_chapter %}
						<form id="form_new" class="get_form" action="{% url 'video_chapter' slug=video.slug %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="action" value="new"/>
							<input type="submit" id="add_new_chapter" value="{% trans 'Add a new chapter' %}" class="btn btn-info"/>
						</form>
					{% endif %}
				</div>
				<aside class="collapse col-12 col-md-3 order-1 order-md-12 mb-3" id="collapseAside">
					<div class="widget user-tools">
						<h4>
							{% trans 'Edit the video' %}
						</h4>
					</div>
					<div class="card info-card">
						<div class="card bg-info text-white">
							<h4 class="card-title">{% trans 'Chapters' %}</h4>
						</div>
						<div class="card-body">
							<p>{% trans '"Add a new chapter" allows you to add a new chapter, "modify" allows you to modify it and "delete" allows you to remove the chapter.' %}</p>
							<p>{% trans 'Start playback of the video, pause the video and click on "Get time from the player" to fill in the field untitled "Start time".' %}</p>
							<p>{% trans 'The chapters cannot start at the same time.' %}</p>
							<p>{% trans 'You must save your chapters to view the result.' %}</p>
						</div>
					</div>
				</aside>
			</div>
		</main>
	</article>
{% endblock content %}
{% block more_script %}
<script>
	var options = {
	  notSupportedMessage: "Please use different browser (Mozzila Firefox, Google Chrome, Safari, Microsoft Edge)",
	  language: "fr", //en or nl
	  fluid: true, 
	  playbackRates: [0.5, 1, 1.5, 2]
	}
	var player = videojs('podvideoplayer', options, function(){});

	{% if video.is_video %}
	  /** get all mp4 format **/
	  var mp4_sources = {{video.get_video_mp4_json|safe}};
	  
	  {% if video.get_playlist_master %}
	    var srcOptions = {
	      src: '{{video.get_playlist_master.source_file.url}}',
	      type: '{{video.get_playlist_master.encoding_format}}',
	    };
	    player.on('loadedmetadata', function() {
	      console.log('LOADEDMETADATA');
	      var qualityLevels = this.qualityLevels();
	    });
	    //Add source to player
	    player.src(srcOptions);
	    //add quality selector to player
	    player.hlsQualitySelector();
	    player.on("error", function(e){
	      e.stopImmediatePropagation();
	      var error = player.error();
	      if(error.code == 3) {
	        //console.log('error!', error.code, error.type , error.message);
	        if(player.src().indexOf("m3u8")!=-1){
	          //alert("change source to mp4");
	          player.src(mp4_sources);
	          player.controlBar.addChild('QualitySelector');
	          player.play();
	        }
	      }
	    });
	  {% else %}
	    player.src(mp4_sources);
	    player.controlBar.addChild('QualitySelector');
	  {% endif %}

	  
	{% else %}
	  {% if video.get_video_m4a %}
	    var srcOptions = {
	      src: '{{video.get_video_m4a.source_file.url}}',
	      type: '{{video.get_video_m4a.encoding_format}}',
	    };
	    //Add source to player
	    player.src(srcOptions);
	  {% endif %}
	{% endif %}
	{% if video.chapter_set.all %}
		player.videoJsChapters();
		$('.vjs-big-play-button').css('z-index', 2)
		$('.vjs-control-bar').css('z-index', 3);
	{% endif %}
</script>
{% endblock more_script %}
