.chapters-list.inactive,
.chapters-list.active {
	position: absolute;
	right: 0;
	top: 10%;
	background-color: rgba(43,51,63,0.7);
	margin: 0;
	width: 20%;
	height: 80%;
	font-size: .9rem;
	color: #666;
	overflow-y: auto;
}
.chapters-list.inactive {
	display: none;
}
.chapters-list.active {
	display: block;
}
.chapters-list.active p,
.chapters-list.inactive p {
	text-align: center;
	background-color: #000;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}
.chapters-list ol {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.chapters-list ol li {
	display: list-item;
	list-style-type: circle;
	text-align: -webkit-match-parent;
}
.chapters-list ol li:first-child {
	border-top: 1px solid #000;
}
.chapters-list ol li a:hover,
.chapters-list ol li a.current {
	background-color: #555;
	color: white;
	cursor: pointer;
}
.chapters-list ol li a {
	display: block;
	padding: .7rem 1rem;
	border-bottom: 1px solid #000;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	transition: .3s;
	color: #fff;
	text-align: left;
	line-height: 1.2;
}