{% extends "admin/base.html" %}
{% load i18n static %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/pod-admin.css' %}?ver={{VERSION}}" media="screen">
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js-cookie/dist/js.cookie.min.js' %}?ver={{VERSION}}"></script>
  {% if max_duration_date_delete %}
    <script> var max_duration_date_delete = {{max_duration_date_delete}};</script>
  {% endif %}
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
