{% extends "admin/base.html" %}
{% load i18n static %}
{% block extrastyle %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script> var max_duration_date_delete = {{max_duration_date_delete}};</script>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
