a.link {
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

.link-playlist {
    right: 1rem;
}

#playlist-list {
    font-size: 1.7em;
    gap: 1rem;
}

#playlist-list .playlist-title {
    text-decoration: none;
    color: var(--pod-font-color);
}

#playlist-list .playlist-title:hover {
    text-decoration: underline;
}

.remove-video-from-playlist, .add-video-from-playlist {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    color: var(--pod-background);
    width: 40px;
    height: 40px;
}

.remove-video-from-playlist {
    background-color: #CC3434;
}

.remove-video-from-playlist:hover {
    background-color: #AA3434;
    color: var(--pod-background);
}

.add-video-from-playlist {
    background-color: rgb(45, 168, 45);
}

.add-video-from-playlist:hover {
    background-color: rgb(35, 133, 35);
    color: var(--pod-background);
}
