.playlist-card {
    background: var(--pod-background);
    border-radius: 0;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    margin: 3rem auto;
    padding: 1rem;
}

.playlist-card:hover {
    border: solid 1px var(--pod-primary);
}

.playlist-card-container a {
    color: var(--pod-font-color);
    text-decoration: none;
}

.playlist-card {
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.playlist-card-header {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.playlist-card-title {
    font-weight: 750;
    font-size: 2em;
}

.playlist-card .bi {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3em;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto .3rem;
}

.playlist-card .bi:hover {
    background-color: var(--pod-background-neutre2-bloc);
}

.playlist-card .bi.bi-pencil-square {
    font-size: 2em;
}

.playlist-card .bi.bi-trash-fill {
    background-color: #CC3434;
    color: white;
    font-size: 2em;
}

.playlist-card .bi.bi-trash-fill:hover {
    background-color: #AA3434;
    color: white;
    font-size: 2em;
}
