#overlay-footer .vjs-playlist-button::before,
.video-js .vjs-playlist-button::before{
  content: '';display: block;width: 100%;height: 100%;
  background-color: #FFF;
  mask-size: 20px;
  -webkit-mask-size: 20px;
}

.playlist-videos .card-header { /* in pod.css */
    padding: .4rem;
}

#card-playlist {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 30px;
  z-index: 3;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.75) !important;
  border-radius: 0;
  border:0;
}

#card-playlist .playlist-videos {
    position: absolute;
    /* top: auto; */
    bottom: 0px;
    overflow: auto;
    width: 100%;
}
/* #card-playlist .btn.btn-primary { float: right} */

#div-video-wrapper #podvideoplayer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}
#div-video-wrapper.overlay #podvideoplayer.vjs-has-started .vjs-control-bar {
/*#div-video-wrapper.overlay #podvideoplayer .vjs-control-bar {*/
  opacity: 1;
  z-index: 5;
}
#div-video-wrapper.overlay  #podvideoplayer .vjs-big-play-centered,
#div-video-wrapper.overlay  #podvideoplayer .vjs-big-play-button {
  display: none;
}
.vjs-big-play-button {z-index: 5}


#div-video-wrapper #card-playlist > .card-header {padding: 0 1.25rem; margin: 0;border-radius: 0}
#div-video-wrapper #card-playlist > .card-header > h5 {
  display: inline-block;
  font-size: 1.25em;
  padding: .25em 5em 0 0;
}

#div-video-wrapper #card-playlist,
#div-video-wrapper.overlay.info #overlay-footer p.playlist-video-title {display: none}
#div-video-wrapper.overlay.playlist #card-playlist {display: block}

.card-controls > .playlist-options > .fill-color-pod {height:1.65em}

#div-video-wrapper #card-playlist > .playlist-videos > .row {
  justify-content: space-between;
}
#div-video-wrapper #card-playlist > .playlist-videos > .row > .card-group {
  margin: 2% 5%;
}

#card-playlist .card-group {
  width: 15rem;
}

.card-controls > .playlist-options > .fill-color-pod{
	fill:var(--bs-light);
}
