.select-position {
	display: none;
}
/*.playlist-delete {
	position: absolute;
	left: 95%;
	bottom: 95%;
	color: #df0000;
}
.playlist-delete:hover {
	color: #ff0000;
}*/
.pod-playlist-visibility {
	position: absolute;
	right: 5px;
	font-size: 2em;
}

.pod-playlist-card .card-img{
	background-image: url('/static/img/default.svg');
	background-blend-mode: luminosity;
	background-position: center;
	background-color: var(--pod-background-neutre2-bloc);
	aspect-ratio: 16/9;
}

.fill-color-pod{
	fill:white;
}

#dropmenu-playlist .selected:after{
	display: inline-block;
	margin-left: 1em;
	font-family: bootstrap-icons;
	content: "\f272";
	line-height: 1;
	vertical-align: -.125em;
}
