.card-link, .card-link:link, .card-link:hover {
    text-decoration: none;
    color: black;
}
.playlist-video-card {
    padding: 2rem;
}

.playlist-card-title {
    font-weight: 750;
    font-size: 2em;
    margin-bottom: 2rem;
}

.playlist-video-card a {
    color: var(--pod-font-color);
    text-decoration: none;
}

.playlist-video-card i {
    font-size: 2em;
}

.playlist-video-card .bi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    line-height: 50px;
    height: 50px;
    margin: auto 0.3rem;
}

.playlist-video-card .bi:hover {
    background-color: var(--pod-background-neutre2-bloc);
}
.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.draggable-container {
    border-radius: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    border: solid 1px transparent;
}

.draggable-container:hover {
    border: solid 1px var(--pod-primary);
}

.playlist-video-card h2 {
    text-align: center;
}

.playlist-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.playlist-video-card .thumbnail-image {
    height: auto;
}

.bi.bi-trash-fill {
    background-color: #CC3434;
    color: white;
    font-size: 2em;
}

.bi.bi-trash-fill:hover {
    background-color: #AA3434;
}

.bi.bi-play-fill {
    font-size: 3rem;
}
