.playlist-item:hover:not(.disabled) {
	background-color: #007bff;
	color: white;
	cursor: pointer;
}
.playlist-elements {
	background-color: rgba(0, 0, 0, 0.2);
	margin: 10px;
}
.playlist-videos {
	overflow-y: auto;
}
.playlist-videos p {
	position: relative;
	right: 90px;
	top: 40px;
	display: inline-block;
	font-size: small;
}
.playlist-videos p svg {
	width: 70%;
}
.playlist-videos .card {
	margin-top: 1.5rem;
	margin-left: 2.3rem;
	display: inline-block;
	width: 15%;
}
.playlist-videos .card .card-footer,
.playlist-videos .card .text-muted.small {
	display: none;
}
.playlist-control {
	background-color: rgba(0, 0, 0, 0.1);
}
.playlist-counter {
	/*text-align: right;
	font-size: small;
	display: flex;*/
	color:white;
}
.playlist-options:hover {
	color: #007bff !important;
	cursor: pointer;
}