h1{
    font-size: 30px;
}

section{
    margin-left: 100px;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    margin-top: 50px;
}
td
{
    border: 1px solid black;
}