{% load i18n %}
<div class="card card-body">
  <form id="form-hyperlink" action="{% url 'video:completion:video_completion_hyperlink' slug=video.slug %}" method="POST" class="completion">
    {% csrf_token %}
    <div id="form-content" class="container">
      {% if form_hyperlink.errors or form_hyperlink.non_field_errors %}
        {% trans 'Your form contains errors:' %}<br>
        {% for error in form_hyperlink.non_field_errors %}
          - {{error}}<br>
        {% endfor %}
      {% endif %}
      {% for field_hidden in form_hyperlink.hidden_fields %}
        {{field_hidden}}
      {% endfor %}
      {% for field in form_hyperlink.visible_fields %}
        <div class="form-group row">
          <label for="{{field.auto_id}}" class="col-sm-4 col-form-label">{{field.label}}</label>
          <div class="col-sm-10">{{field}}</div>
        </div>
      {% endfor %}
      {% if form_hyperlink.instance %}
        <input type="hidden" id="id-hyperlink" name="hyperlink_id" value="{{form_hyperlink.instance.id}}">
      {% endif %}
      <input type="hidden" name="action" value="save">
      <div class="mt-3">
        <input type="submit" id="save-hyperlink" value="{% trans 'Save' %}" class="btn btn-primary">
        <a class="btn btn-secondary" action="cancel" id="cancel-document" href="{% url 'video:completion:video_completion' slug=video.slug %}">{% trans 'Cancel' %}</a>
      </div>
    </div>
  </form>
</div>
{% block more_script %}
{{ form_hyperlink.media }}
{% endblock more_script %}
