{% load i18n %}
{% spaceless %}
  {% if request.user.is_superuser or perms.recording.delete_recording  %}
    <a href="{% url 'record:delete_record' id=record.id %}" class="p-0 m-1 btn btn-primary btn-sm ps-0 pb-1" title="{% trans 'Delete this record.' %}">
      <i class="bi bi-trash"></i></a>
  {% endif %}
  {% if USE_RECORD_PREVIEW%}
    <button type="button" class="previewBtn p-0 m-1 btn btn-primary btn-sm ps-0 pb-1" data-bs-toggle="modal" data-recid="{{ record.publicfileurl }}" data-bs-target="#previewModal" title="{% trans 'Preview record.' %}">
      <i class="bi bi-eye"></i>
    </button>
{% endif %}
<a href="{% url 'record:add_recording' %}?mediapath={{ record.file }}&recorder={{ record.recorder.id }}&course_title={{ record.filename}}" class="p-0 m-0 btn btn-primary btn-sm ps-1">
  {% trans "Claim the record" %}<i class="bi bi-plus"></i>
</a>

{%endspaceless%}
