{% load i18n %}
{% spaceless %}
  {% if USE_RECORD_PREVIEW%}
    <button type="button" class="previewBtn m-1 btn btn-primary btn-sm pb-1"
            data-bs-toggle="modal" data-recid="{{ record.publicfileurl }}"
            data-bs-target="#previewModal"
            title="{% blocktrans with title=record.filename %}Preview the record “{{title}}”{% endblocktrans %}">
      <i class="bi bi-eye" aria-hidden="true"></i>
    </button>
  {% endif %}

  {% if request.user.is_superuser or perms.recording.delete_recording  %}
    <a href="{% url 'record:delete_record' id=record.id %}"
      class="m-1 btn btn-primary btn-sm pb-1"
      title="{% blocktrans with title=record.filename %}Delete the record “{{title}}”{% endblocktrans %}">
      <i class="bi bi-trash" aria-hidden="true"></i>
    </a>
  {% endif %}

  <a href="{% url 'record:add_recording' %}?mediapath={{ record.file }}&recorder={{ record.recorder.id }}&course_title={{ record.filename}}"
     class="btn btn-primary btn-sm ps-1"
     title="{% blocktrans with title=record.filename %}Claim the record “{{title}}”{% endblocktrans %}">
    <i class="bi bi-plus" aria-hidden="true"></i>
    {% trans "Claim the record" %}
  </a>
{%endspaceless%}
