{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
<style>
  #rootAA header {display:none;}
  /* Studio height */
  #root > div {
    min-height: 600px;
  }
</style>

{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">{% trans "Studio" %}</li>
{% endblock %}

{% block page_title %}
  {% trans "Studio" %}
{% endblock %}

{% block page_content %}
{{body|safe}}
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
{% endblock more_script %}