{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_extra_head %}
<style>
  #root header {display:none;}
  /* Studio height */
  #root > div {
    min-height: 600px;
  }
</style>

{% endblock page_extra_head %}

{% block breadcrumbs %}{{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">{% trans "Studio" %}</li>
{% endblock %}

{% block page_title %}
  {% trans "Studio" %}
{% endblock %}

{% block page_content %}
{{body|safe}}
{% endblock page_content %}

{% block collapse_page_aside %}
{% endblock collapse_page_aside %}

{% block page_aside %}
{% endblock page_aside %}

{% block more_script %}
<script>
  //Create array of options to be added
  const list_value = [["50/50", "50/50 - Ecran et caméra de même taille"],["Pip", "Pip - Caméra inscrustée dans l'écran"]];

  //Create and append select list
  var selectList = document.createElement("select");
  selectList.id = "input_presenter";
  selectList.name = "presenter_list";
  //myParent.appendChild(selectList);

  //Create and append the options
  for (var i = 0; i < list_value.length; i++) {
      var option = document.createElement("option");
      option.value = list_value[i][0];
      option.text = list_value[i][1];
      selectList.appendChild(option);
  }
  const input_presenter = "input[name='presenter'][type='text']";
 $(document).on('DOMSubtreeModified', '#root>div>main', function(){
    if($(input_presenter).html() === "" && $(input_presenter).length){
      //console.log("check ! : "+$("#root video").length);
      $(input_presenter).css('display','none');
      $(input_presenter).attr("type","hidden");
      if($("#root video").length == 2 ) {
        $("input[name='presenter'][type='hidden']").first().parent("div").parent("label").show();
        $("input[name='presenter'][type='hidden']").first().parent("div").append(selectList);
        $("input[name='presenter'][type='hidden']").first().val(list_value[0][0]);
        //console.log($('#input_presenter').val());
      } else {
        $(input_presenter).first().parent("div").parent("label").hide();
      }
    }
  });
  $(document).on('change', '#input_presenter', function(){
    $("input[name='presenter'][type='hidden']").val($('#input_presenter').val());
  });
</script>
{% endblock more_script %}