{% load i18n %}
{% spaceless %}
<div class="pod-infinite-container infinite-container" id="videos_list">
  {% for record in records %}
    <div class="infinite-item">
      {% include "recorder/card.html" %}
    </div>
  {% empty %}
    <div>
      <p>{% trans "Sorry, no record found" %}</p>
    </div>
  {% endfor %}
</div>
{% if records.has_next %}
  <a class="infinite-more-link" href="{{ full_path }}{% if '?' in full_path %}&{% else %}?{% endif %}page={{ records.next_page_number }}">{% trans "More" %}</a>
{% endif %}
<div class="infinite-loading" style="display: none;">
  {% trans "Loading…" %}
</div>
{% endspaceless %}
