name: Code Formatting

on:
  push:
    branches: [master, develop]

jobs:
  code-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: set git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Running prettier
        run: npx prettier --write pod/*/static/**/*.js

      - name: Check for modified files
        id: prettier-git-check
        run: echo modified=$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi) >> $GITHUB_OUTPUT

      - name: Push changes
        if: steps.prettier-git-check.outputs.modified == 'true'
        run: git commit -am "Fixup: format code with Prettier"

      - name: Install Black
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Running Black
        run: black . -l 90

      - name: Check for modified files
        id: black-git-check
        run: echo modified=$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi) >> $GITHUB_OUTPUT

      - name: Commit changes
        if: steps.black-git-check.outputs.modified == 'true'
        run: git commit -am "Fixup: format code with Black"

      - name: Generate configuration doc in fr
        run: python manage.py createconfiguration fr

      - name: Check for modified files
        id: config-git-check
        run: echo modified=$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi) >> $GITHUB_OUTPUT

      - name: Commit changes
        if: steps.config-git-check.outputs.modified == 'true'
        run: git commit -am "Auto-update configuration files"

      - name: Push changes
        run: |
          git commit -am "Auto-update configuration files"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git push
