name: Prettier

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: ["*"]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: prettier
        run: npx prettier --write pod/*/static/**/*.js
      - name: Check for modified files
        id: git-check
        run: echo ::set-output name=modified::$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi)
      - name: Push changes
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'Eliam LOTONGA'
          git config --global user.email 'e.m.lotonga@gmail.com'
          git config --global push.default current
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git commit -am "Fixup: format code with Prettier"
